@import '../../../env'

$notification-title-content-gap = 6px

$notification-close-size = floor($font-size-default * $ui-multiple-line-height)
$notification-close-size-with-title = floor($font-size-large * $ui-multiple-line-height)

$notification-icon-gap = 8px
$notification-icon-top = 2px

$notification-icon-gap-with-title = 10px
$notification-icon-top-with-title = 2px

notification-brand-style(style)
  > {$selector-class-prefix + '-notification-icon'}
    ui-set('color', style['color'])

{$selector-class-prefix + '-notification'}
  position fixed
  opacity 0
  display none
  z-index $zindex-notification
  line-height $ui-multiple-line-height
  padding $layout-child-padding-vertical $layout-padding-horizontal
  border-radius $border-radius-default
  box-sizing border-box
  box-shadow $brand-message-shadow
  background-color $brand-bg
  transform translateX(100%)
  transition opacity .15s, top .2s, transform .2s

  ui-connect(
    hash: $status-brand-hash,
    each: notification-brand-style
  )

{$selector-class-prefix + '-notification-visible'}
  display block

{$selector-class-prefix + '-notification-fade'}
  opacity 1
  transform translateX(0)

{$selector-class-prefix + '-notification-with-icon'}
  padding-left $layout-padding-horizontal + $message-status-icon-size-default + $notification-icon-gap

{$selector-class-prefix + '-notification-with-title'}
  &{$selector-class-prefix + '-notification-with-icon'}
    padding-left $layout-padding-horizontal + $message-status-icon-size-large + $notification-icon-gap-with-title

  > {$selector-class-prefix + '-notification-icon'}
    top $layout-child-padding-vertical + $notification-icon-top-with-title
    font-size $message-status-icon-size-large

  > {$selector-class-prefix + '-notification-close'}
    height $notification-close-size-with-title
    min-width $notification-close-size-with-title

{$selector-class-prefix + '-notification-title'}
  ui-ellipsis()
  color $brand-title
  font-size $font-size-large
  margin-right $notification-close-size-with-title + $ui-icon-text-gap

  + {$selector-class-prefix + '-notification-content'}
    margin-top $notification-title-content-gap
    margin-right 0

{$selector-class-prefix + '-notification-content'}
  color $brand-content
  font-size $font-size-default
  margin-right $notification-close-size + $ui-icon-text-gap

{$selector-class-prefix + '-notification-icon'}
  position absolute
  left $layout-padding-horizontal
  top $layout-child-padding-vertical + $notification-icon-top
  font-size $message-status-icon-size-default

{$selector-class-prefix + '-notification-close'}
  position absolute
  right $layout-padding-horizontal
  top $layout-child-padding-vertical

  color $brand-close-color
  font-size $font-size-small
  height $notification-close-size
  min-width $notification-close-size

  display flex
  justify-content flex-end
  align-items center

  transition color $form-control-transition-duration
  user-select none
  ui-clickable()

  &:hover
    color $brand-close-color-hover

{$selector-class-prefix + '-notification-close-icon'}
  font-size $message-close-icon-size
