@import '../../../env'

$notification-wrapper-top = 15px

$notification-vertical-gap = 15px

$notification-padding-vertical = 18px
$notification-padding-horizontal = 16px

$notification-title-content-gap = 8px

$notification-icon-gap = 8px
$notification-icon-size = 22px
$notification-icon-top = 17px

$notification-close-icon-top = 21px
$notification-close-icon-right = 12px

$notification-icon-gap-with-title = 8px
$notification-icon-size-with-title = 30px
$notification-icon-top-with-title = 15px
$notification-close-icon-top-with-title = 18px

notification-brand-style(style)
  > {$selector-prefix + '-notification-icon'}
    ui-set('color', style['color'])

{$selector-id-prefix + '-notification-wrapper'}
  position fixed
  right 0
  top $notification-wrapper-top
  z-index $zindex-notification

{$selector-prefix + '-notification'}
  position relative
  opacity 0
  padding $notification-padding-vertical $notification-padding-horizontal
  border-radius $border-radius-default
  box-sizing border-box
  box-shadow $brand-message-shadow
  background-color $brand-bg
  transform translateX(100%)
  transition opacity .2s, transform .2s

  ui-connect(
    hash: $status-brand-hash,
    each: notification-brand-style
  )

  + {$selector-prefix + '-notification'}
    margin-top $notification-vertical-gap

{$selector-prefix + '-notification-with-icon'}
  padding-left $notification-padding-horizontal + $notification-icon-size + $notification-icon-gap

{$selector-prefix + '-notification-with-close'}
  padding-right $notification-close-icon-right + $close-icon-size

{$selector-prefix + '-notification-with-title'}
  &{$selector-prefix + '-notification-with-icon'}
    padding-left $notification-padding-horizontal + $notification-icon-size-with-title + $notification-icon-gap-with-title

  {$selector-prefix + '-notification-icon'}
    top $notification-icon-top-with-title
    font-size $notification-icon-size-with-title

  {$selector-prefix + '-notification-close'}
    top $notification-close-icon-top-with-title

{$selector-prefix + '-notification-visible'}
  opacity 1
  transform translateX(0)

{$selector-prefix + '-notification-title'}
  ui-ellipsis()
  color $brand-title
  font-size $font-size-large
  line-height $ui-single-line-height

  + {$selector-prefix + '-notification-content'}
    margin-top $notification-title-content-gap

{$selector-prefix + '-notification-content'}
  color $brand-content
  font-size $font-size-default
  line-height $ui-multiple-line-height

{$selector-prefix + '-notification-icon'}
  position absolute
  left $notification-padding-horizontal
  top $notification-icon-top
  font-size $notification-icon-size

{$selector-prefix + '-notification-close'}
  position absolute
  right $notification-close-icon-right
  top $notification-close-icon-top
  font-size $close-icon-size
  text-align center
  color $brand-close-color
  transition color .3s
  ui-clickable()

  &:hover
    color $brand-close-color-hover
