@import '../../../env'

$description-title-font-size = 20px
$description-header-body-gap = 16px

$description-size-hash = {
  default: {
    padding-horizontal: 20px,
    padding-vertical: 12px,
  },
  large: {
    padding-horizontal: 24px,
    padding-vertical: 16px,
  },
  small: {
    padding-horizontal: 16px,
    padding-vertical: 8px,
  }
}

description-size-style(size)
  {$selector-class-prefix + '-description-cell'}
    ui-set('padding', size['padding-vertical'] size['padding-horizontal'])

{$selector-class-prefix + '-description'}
  width 100%
  box-sizing border-box

  ui-connect(
    hash: $description-size-hash,
    each: description-size-style
  )

{$selector-class-prefix + '-description-header'}
  display flex
  flex-direction row
  align-items center
  margin-bottom $description-header-body-gap

{$selector-class-prefix + '-description-title'},
{$selector-class-prefix + '-description-extra'}
  white-space nowrap

{$selector-class-prefix + '-description-title'}
  color $brand-title
  font-size $description-title-font-size
  font-weight 500
  line-height $ui-single-line-height
  width 100%

{$selector-class-prefix + '-description-table'}
  color $brand-title
  font-size $font-size-default
  ui-table()

{$selector-class-prefix + '-description-simple'}
  {$selector-class-prefix + '-description-cell'}
    padding 0

  {$selector-class-prefix + '-description-item-label'}:after
    content ':'
    position relative
    margin 0 $ui-horizontal-gap 0 2px

{$selector-class-prefix + '-description-bordered'}
  {$selector-class-prefix + '-description-table'}
    border 1px solid $brand-border

  tr + tr
    border-top 1px solid $brand-divider

  td + td
    border-left 1px solid $brand-divider

  {$selector-class-prefix + '-description-item-label'}
    background-color $brand-bg-light

{$selector-class-prefix + '-description-cell'}
  vertical-align top
  line-height $ui-multiple-line-height

{$selector-class-prefix + '-description-item-wrapper'}
  display flex
  padding-bottom $description-header-body-gap

{$selector-class-prefix + '-description-item-label'}
  white-space nowrap

{$selector-class-prefix + '-description-item-content'}
  flex 1
  word-break break-all