<div class="${prefix}list-item
{{#if clickable}} ${prefix}list-item-clickable{{/if}}
{{#if className}} {{className}}{{/if}}"

{{#if style}}
  style="{{style}}"
{{/if}}

{{#if clickable}}
  on-click="click.listItem"
{{/if}}
>

  {{#if hasSlot('header')}}
    <div class="${prefix}list-item-header">
      <slot name="header" />
    </div>
  {{/if}}

  {{#if hasSlot('footer')}}
    <div class="${prefix}list-item-footer">
      <slot name="footer" />
    </div>
  {{/if}}

  {{#if hasSlot('children')}}
    <div class="${prefix}list-item-text">
      <slot name="children" />
    </div>
  {{/if}}

</div>