<li
class="${prefix}list-item
  {{#if className}} {{className}}{{/if}}
  {{#if hasSlot('header')}} ${prefix}list-item-has-header{{/if}}
  {{#if hasSlot('footer')}} ${prefix}list-item-has-footer{{/if}}
"
on-click="itemClick(hasSlot('nested'))"
{{#if style}} style="{{style}}"{{/if}}
>

  <div class="${prefix}list-item-content
    {{#if !disableHover}} ${prefix}list-item-content-hover{{/if}}
    {{#if active}} ${prefix}active{{/if}}
  ">
    {{#if hasSlot('header')}}
    <div class="${prefix}list-item-header">
      <slot name="header" />
    </div>
    {{/if}}

    {{#if hasSlot('footer')}}
    <div class="${prefix}list-item-footer">
      <slot name="footer" />
    </div>
    {{/if}}

    {{#if hasSlot('children')}}
    <div class="${prefix}list-item-text">
      <slot name="children" />
    </div>
    {{/if}}
  </div>

  {{#if hasSlot('nested')}}
  <div class="${prefix}list-item-nested{{#if nestedIsShow}} ${prefix}show{{/if}}">
    <slot name="nested" />
  </div>
  {{/if}}

</li>