<div class="${prefix}list
{{#if size}} ${prefix}list-{{size}}{{/if}}

{{#if simple}} ${prefix}list-simple
{{else}} ${prefix}list-bordered
{{/if}}

{{#if className}} {{className}}{{/if}}"

{{#if style}}
  style="{{style}}"
{{/if}}
>
  {{#if hasSlot('header')}}
    <div class="${prefix}list-header">
      <slot name="header" />
    </div>
  {{/if}}

  {{#if loading}}
    <Spin size="large" fixed />
  {{/if}}

  <slot name="children">
    <div class="${prefix}list-empty">
      <slot name="empty">
        <Empty>
          暂无数据
        </Empty>
      </slot>
    </div>
  </slot>
</div>