<div class="${prefix}list
{{#if size}} ${prefix}list-{{size}}{{/if}}
{{#if simple}} ${prefix}list-simple
{{else}} ${prefix}list-bordered
{{/if}}
{{#if className}} {{className}}{{/if}}"

{{#if style}}
  style="{{style}}"
{{/if}}
>
  {{#if hasSlot('header')}}
    <div class="${prefix}list-header">
      <slot name="header" />
    </div>
  {{/if}}

  {{#if loading}}
    <Spinner size="large" fix />
  {{/if}}

  <slot name="children">
    <div class="${prefix}list-empty">
      <slot name="empty">
        <p class="${prefix}list-empty-desc">
          暂无数据
        </p>
      </slot>
    </div>
  </slot>
</div>