<div
  class="${prefix}progress-track"
  style="{{inlineStyle}}"
>
  <div
    class="${prefix}progress-bar"
    style="{{barStyle}}"
  >
    {{#if inside}}
      {{#if @children}}
        <div class="${prefix}progress-text">
          <slot />
        </div>
      {{/if}}
    {{/if}}
  </div>
</div>