@import '../../../env'

$switch-bg-color = #b7b7b7
$switch-inner-shadow = inset 0 0 4px rgba(0,0,0,0.1)

// thumb 到边框的距离
$switch-thumb-gap = 2px

// 文本到两侧的距离
$switch-thumb-label-gap = 5px
$switch-label-edge-gap = 7px

$switch-size-hash = {
  default: {
    width: 44px,
    height: 22px,
  },
  small: {
    width: 28px,
    height: 16px,
  }
}

switch-size-style(size)

  $switch-thumb-width = size['height'] - 2 * $switch-thumb-gap
  $switch-thumb-height = size['height'] - 2 * $switch-thumb-gap
  $switch-active-thumb-width = $switch-thumb-width + floor($switch-thumb-width * 0.3)

  ui-set('min-width', size['width'])
  ui-set('height', size['height'])
  ui-set('padding-left', $switch-thumb-width + $switch-thumb-gap)

  &{$selector-class-prefix + '-switch-enabled'}:active
    > {$selector-class-prefix + '-switch-thumb'}
      ui-set('width', $switch-active-thumb-width)

    &{$selector-class-prefix + '-switch-checked'}
      > {$selector-class-prefix + '-switch-thumb'}
        // stylus string % operator
        left "calc(100% - %s)" % ($switch-active-thumb-width + $switch-thumb-gap)

  &{$selector-class-prefix + '-switch-checked'}
    ui-set('padding-left', 0)
    ui-set('padding-right', $switch-thumb-width + $switch-thumb-gap)

    > {$selector-class-prefix + '-switch-thumb'}
      // stylus string % operator
      left "calc(100% - %s)" % ($switch-thumb-width + $switch-thumb-gap)

  > {$selector-class-prefix + '-switch-thumb'}
    ui-set('width', $switch-thumb-width)
    ui-set('height', $switch-thumb-height)

  > {$selector-class-prefix + '-switch-thumb'}:after
    ui-set('width', $switch-thumb-width - 2 * $switch-thumb-gap)
    ui-set('height', $switch-thumb-width - 2 * $switch-thumb-gap)

{$selector-class-prefix + '-switch'}
  display inline-flex
  align-items center
  position relative
  user-select none
  box-sizing border-box
  outline 0
  padding 0
  background-color $switch-bg-color
  border-radius $border-radius-round
  box-shadow $switch-inner-shadow
  transition border-color $form-control-transition-duration,
            background-color $form-control-transition-duration,
            box-shadow $form-control-transition-duration

  &:focus
    box-shadow $switch-inner-shadow, 0 0 0 $ui-shadow-radius $brand-primary-shadow

  ui-connect(
    hash: $switch-size-hash,
    each: switch-size-style
  )

{$selector-class-prefix + '-switch-thumb'}
  position absolute
  left $switch-thumb-gap
  top $switch-thumb-gap
  display flex
  justify-content center
  align-items center
  // 给一个足够大的值就行
  border-radius 100px
  background-color $brand-white
  transition left $form-control-transition-duration, width $form-control-transition-duration
  box-shadow $brand-icon-shadow

{$selector-class-prefix + '-switch-label'}
  color $brand-white
  font-size $font-size-small
  line-height $ui-single-line-height
  margin-left $switch-thumb-label-gap
  margin-right $switch-label-edge-gap
  white-space nowrap
  transition margin $form-control-transition-duration
  text-shadow $brand-text-mask-text-shadow

{$selector-class-prefix + '-switch-checked'}
  background-color $brand-primary

  > {$selector-class-prefix + '-switch-thumb'}:after
    border-left-color $brand-primary

  > {$selector-class-prefix + '-switch-label'}
    margin-left $switch-label-edge-gap
    margin-right $switch-thumb-label-gap

{$selector-class-prefix + '-switch-enabled'}
  ui-clickable()

{$selector-class-prefix + '-switch-disabled'},
{$selector-class-prefix + '-switch-loading'}
  opacity $ui-opacity-disabled
  ui-disabled()

{$selector-class-prefix + '-switch-loading'}
  > {$selector-class-prefix + '-switch-thumb'}:after
    content ''
    border 1px solid $brand-transparent-color
    border-left-color $switch-bg-color
    box-sizing border-box
    border-radius $border-radius-circle

    animation "%s 1s linear infinite" % ($selector-animation-prefix + '-switch-loading')
    transition transform $form-control-transition-duration

@keyframes {$selector-animation-prefix + '-switch-loading'}
  0%
    transform rotate(0)

  100%
    transform rotate(360deg)

