.bell-collapse {
    overflow: hidden;
}

.bell-panel {
    border-top: 1px solid @collapse-panel-border-color;

    &:last-child {
        border-bottom: 1px solid @collapse-panel-border-color;
    }

    .bell-panel-el {
        width: 100%;
        cursor: pointer;
        user-select: none;
        font-weight: bold;

        padding: @collapse-panel-el-padding;
        font-size: @collapse-panel-el-font-size;

        .bell-panel-el-icon {
            float: right;
            font-size: @collapse-panel-el-icon-font-size;
            transition: transform 0.2s ease-in-out;
            transform-origin: left;
        }
    }
    .bell-panel-inner {
        display: none;
        transition: height 0.3s ease-in-out;
        overflow: hidden;

        font-size: @collapse-panel-inner-font-size;

        .bell-panel-content {
            padding: @collapse-panel-inner-content-padding;
        }
    }

    .bell-panel-el-open {
        > .bell-panel-el-icon {
            transform: rotate(90deg);
        }
    }

    &.bell-panel-open {
        > .bell-panel-inner {
            display: block;
        }
    }
}