.bell-datepicker {
    position: relative;
    user-select: none;
    width: 200px;
    .bell-datepicker-button {
        position: relative;
    }
    .bell-datepicker-panel {
        padding: 10px;
        position: absolute;
        top: 36px;
        z-index: 2721211;
        transition: all 0.3s;
        &.bell-hide {
            display: none;
            opacity: 0;
            top: 0;
        }
    }
}

