.bell-textarea,
.bell-input {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    width: 100%;
    border: 1px solid @input-border-color;
    border-radius: @input-border-radius;
    background-color: @input-background-color;
    overflow: hidden;

    &:hover {
        border-color: @input-hover-border-color;
    }

    &.bell-focus {
        border-color: @input-hover-border-color;
        box-shadow: @input-focus-box-shadow;
    }

    .bell-input-el {
        border: none;
        box-sizing: border-box;
        display: inline-block;
        width: 100%;
        outline: none;
        background-image: none;
        position: relative;
        cursor: text;
        background-color: transparent;

        font-size: @input-el-font-size;
        height: @input-el-height;
        line-height: @input-el-line-height;
        color: @input-el-color;
        padding: @input-el-padding;

        transition: border .2s ease-in-out,background .2s ease-in-out,box-shadow .2s ease-in-out;

    }

    &.bell-input-clearable {
        .bell-input-el {
            padding-right: @input-clearable-width;
        }

        .bell-input-clear-icon {
            position: absolute;
            right: 0;
            text-align: center;
            cursor: pointer;

            opacity: 0;

            width: @input-clearable-width;
            height: @input-el-height;
            line-height: @input-el-height;
            font-size: @input-clearable-font-size;
            color: @input-clearable-color;

            transition: opacity .2s ease-in-out;
        }

        &:hover {
            .bell-input-clear-icon {
                opacity: 1;
            }
        }
    }

    &.bell-input-disabled {
        background-color: @input-disabled-backround-color;
        cursor: not-allowed;
        .bell-input-el {
            cursor: not-allowed;
        }
        &:hover {
            border-color: @input-border-color;
        }
    }
}
.bell-input-small {
    .bell-input-el {
        height: @input-el-small-height;
        line-height: @input-el-small-line-height;
        padding: @input-el-small-padding;
    }
    &.bell-input-clearable {
        .bell-input-clear-icon {
            height: @input-el-small-height;
            line-height: @input-el-small-height;
        }
    }

}
.bell-input-large {
    .bell-input-el {
        height: @input-el-large-height;
        line-height: @input-el-large-line-height;
        padding: @input-el-large-padding;
    }
    &.bell-input-clearable {
        .bell-input-clear-icon {
            height: @input-el-large-height;
            line-height: @input-el-large-height;
        }
    }
}