.bell-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 250px;

    .bell-header {
        width: 100%;
        flex: 0 0 64px;
        background-color: @layout-header-background;
        color: @layout-header-font-color;

        display: flex;
        align-items: center;
        justify-content: center;
    }
    .bell-content {
        width: 100%;
        flex: 1;
        background-color: @layout-content-background;
        color: @layout-content-font-color;

        display: flex;
        align-items: center;
        justify-content: center;
    }
    .bell-footer {
        width: 100%;
        flex: 0 0 64px;
        background-color: @layout-footer-background;
        color: @layout-footer-font-color;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .bell-sider {
        flex: 0 0 20%;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        flex-direction: column;
        background-color: @layout-sider-background;
        color: @layout-sider-font-color;
    }

    &.bell-has-sider {
        flex-direction: row;
        align-items: stretch;
        min-height: auto;
        flex: 1;
    }
}

.bell-menu {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    color: @layout-menu-item-font-color;

    .bell-menu-item {
        flex: 1;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        display: flex;
        box-sizing: border-box;

        padding: @layout-menu-item-padding;
        border: 2px solid transparent;

        &:hover {
            color: @layout-sider-font-color;
        }
        &.bell-active {
            color: @layout-sider-font-color;
            border-bottom-color: @layout-menu-item-border-bottom;
        }
    }

    &.bell-menu-vertical {
        width: 100%;
        flex-direction: column;

        .bell-menu-item {
            width: 100%;
            justify-content: left;

            &.bell-active {
                color: @layout-sider-font-color;
                border-bottom-color: transparent;
                border-right-color: @layout-menu-item-border-bottom;
            }
        }
    }
}