.bell-layout {
    display: flex;
    flex-direction: column;

    text-align: center;
    background: @layout-body-background;
    color: @layout-body-font-color;

    .bell-footer,
    .bell-header {
        user-select: none;
        box-shadow: 0 0 5px @layout-header-shadow;
        height: @layout-header-height;
        line-height: @layout-header-height;
        background-color: @layout-header-background;
    }

    .bell-sider,
    .bell-content {
        overflow: hidden;
        background: @layout-sider-background;
    }

    .bell-content {
        overflow: auto;
        background-color: @layout-content-background;
        color: @layout-content-color;
        min-height: 100px;
    }

    &.bell-has-sider {
        display: flex;
        flex-direction: row;

        > .bell-sider,
        > .bell-content {
            display: inline-block;
            box-sizing: border-box;
        }

        > .bell-sider {
            flex: 0 0 200px;
        }

        > .bell-content,
        > .bell-layout {
            flex: 1;
        }
    }

    .bell-menu {
        display: flex;
        flex-direction: column;
        text-align: left;

        .bell-menu-item {
            box-sizing: border-box;
            cursor: pointer;
            border: 2px solid transparent;
            color: @disabledFontColor;

            &:hover{
                color: @white;
            }

            &.bell-active {
                background-color: @layout-sider-menu-item-background;
                color: @primaryColor;
                &:hover{
                    color: @primaryColor;
                }
            }
        }
    }

    .bell-header {
        display: flex;

        .bell-header-logo {
            flex: 0 0 100px;
            padding: 10px 15px;
        }

        .bell-header-title {
            flex: 0 0 auto;
        }

        .bell-menu {
            display: flex;
            flex-direction: row;
            flex: 1;
            justify-content: center;
            .bell-menu-item {
                width: auto;
                height: 100%;
                padding: 0 15px;

                &.bell-active {
                    border-bottom-color: @primaryColor;
                }
            }
        }
    }

    .bell-sider {
        user-select: none;
        .bell-menu {
            .bell-menu-item {
                width: 100%;
                padding: 10px 15px;

                &.bell-active {
                    border-right-color: @primaryColor;
                }
            }
        }
    }
}