.bell-select {
    display: inline-block;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    vertical-align: middle;
    color: @select-font-color;
    font-size: @select-font-size;
    line-height: 1.2;
    user-select: none;

    .bell-select-button {
        display: block;
        box-sizing: border-box;
        outline: 0;
        cursor: pointer;
        position: relative;

        background-color: @select-background;
        border-radius: @select-button-border-radius;
        border: 1px solid @select-button-border-color;

        height: @select-button-height;
        line-height: @select-button-height;

        transition: all .2s ease-in-out;

        &:hover {
            border-color: @select-button-border-hover-color;
        }
        &.bell-active {
            border-color: @select-button-border-active-color;
            outline: 0;
            box-shadow: @select-button-border-active-shadow;
        }

        .bell-select-value,
        .bell-select-placeholder {
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            height: @select-button-height;
            line-height: @select-button-height;
            font-size: @select-button-placeholder-font-size;
            padding: @select-button-placeholder-padding;

            color: @disabledFontColor;

            &.bell-hide {
                display: none;
            }
        }

        .bell-select-value {
            font-size: @select-font-size;
            color: @select-font-color;
        }

        .bell-select-arrow {
            position: absolute;
            top: 50%;
            right: 8px;
            line-height: 1;
            margin-top: -7px;
            font-size: 14px;
            color: #80848f;
            transition: all .2s ease-in-out;

            &:before {
                content: "\F104";
            }
        }
    }

    .bell-select-dropdown {
        width: 100%;
        overflow: auto;
        background-color: @select-background;
        box-sizing: border-box;
        box-shadow: @boxShadow;
        border-radius: @select-button-border-radius;

        position: absolute;
        left: 0;
        z-index: @zindex-select;

        max-height: @select-dropdown-height;
        top: @select-dropdown-top;

        &.bell-hide {
            display: none;
        }

        .bell-select-dropdown-list {
            list-style: none;
            padding: 0;
            margin: 0;
            padding: @select-dropdown-padding;

            .bell-select-dropdown-item {
                clear: both;
                white-space: nowrap;
                list-style: none;
                cursor: pointer;

                padding: @select-dropdown-item-padding;
                color: @contentFontColor;
                font-size: @select-dropdown-font-size;

                &:hover {
                    background-color: @select-dropdown-item-hover-background;
                }
                &.bell-focus {
                    background-color: @select-dropdown-item-hover-background;
                }
                &.bell-active {
                    color: #fff;
                    background: rgba(45,140,240,.9);
                }
            }
        }
    }
}

.bell-select-small {
    .bell-select-button {
        height: @select-small-button-height;
        line-height: @select-small-button-height;
        .bell-select-value,
        .bell-select-placeholder {
            height: @select-small-button-height;
            line-height: @select-small-button-height;
            font-size: @select-button-placeholder-font-size;
            padding: @select-small-button-placeholder-padding;
        }
    }

    .bell-select-dropdown {
        max-height: @select-small-dropdown-height;
        top: @select-small-dropdown-top;
        .bell-select-dropdown-list {
            padding: @select-small-dropdown-padding;

            .bell-select-dropdown-item {
                padding: @select-small-dropdown-item-padding;
            }
        }
    }
}

.bell-select-large {
    .bell-select-button {
        height: @select-large-button-height;
        line-height: @select-large-button-height;
        .bell-select-value,
        .bell-select-placeholder {
            height: @select-large-button-height;
            line-height: @select-large-button-height;
            font-size: @select-large-button-placeholder-font-size;
            padding: @select-large-button-placeholder-padding;
        }
        .bell-select-value {
            font-size: @select-large-button-font-size;
        }
    }

    .bell-select-dropdown {
        max-height: @select-large-dropdown-height;
        top: @select-large-dropdown-top;
        .bell-select-dropdown-list {
            padding: @select-large-dropdown-padding;

            .bell-select-dropdown-item {
                padding: @select-large-dropdown-item-padding;
                font-size: @select-large-dropdown-font-size;
            }
        }
    }
}