@import '../../../css/brand'
@import '../../../css/size'
@import '../../../css/selector'
@import '../../../css/mixin'

$dialog-padding-horizontal = 24px

$dialog-header-padding-vertical = 16px
$dialog-body-padding-vertical = 24px
$dialog-footer-padding-vertical = 10px
$dialog-footer-padding-horizontal = 16px

$dialog-close-font-size = 22px

{$selector-class-prefix + '-dialog'}
  position fixed
  top 0
  right 0
  left 0
  height 100%
  display none
  z-index $zindex-dialog

{$selector-class-prefix + '-dialog-visible'}
  display block

{$selector-class-prefix + '-dialog-fade'}
  > {$selector-class-prefix + '-dialog-wrapper'}
    margin-top 0
    opacity 1

  > {$selector-class-prefix + '-dialog-mask'}
    opacity $ui-opacity-mask

{$selector-class-prefix + '-dialog-mask'}
  position absolute
  top 0
  right 0
  bottom 0
  left 0

  opacity 0
  user-select none
  background-color #000
  transition opacity .2s

{$selector-class-prefix + '-dialog-wrapper'}
  max-height 100%
  overflow hidden
  position absolute
  left 50%
  top 50%

  transform translate(-50%, -50%)
  margin-top -20px
  opacity 0

  border-radius $border-radius-default
  background-color $brand-bg
  box-shadow $brand-dialog-shadow
  transition margin-top .6s cubic-bezier(.23,1,.32,1),
              opacity .6s cubic-bezier(.23,1,.32,1)

{$selector-class-prefix + '-dialog-header'}
  display flex
  justify-content space-between
  align-items center
  padding $dialog-header-padding-vertical $dialog-padding-horizontal
  border-bottom 1px solid $brand-divider

{$selector-class-prefix + '-dialog-title'}
  flex 1
  color $brand-title
  font-size $font-size-large
  line-height $ui-single-line-height
  font-weight 500

{$selector-class-prefix + '-dialog-close'}
  color $brand-close-color
  font-size $dialog-close-font-size
  line-height $dialog-close-font-size
  transition color $form-control-transition-duration
  user-select none
  ui-clickable()

  &:hover
    color $brand-close-color-hover

{$selector-class-prefix + '-dialog-body'}
  font-size $font-size-default
  line-height $ui-multiple-line-height
  padding $dialog-body-padding-vertical $dialog-padding-horizontal

{$selector-class-prefix + '-dialog-footer'}
  border-top 1px solid $brand-divider
  text-align right
  padding $dialog-footer-padding-vertical $dialog-footer-padding-horizontal
