$card-media-info-padding-horizontal = 12px
$card-media-sub-title-gap = 2px

{$selector-class-prefix + '-card'}
  display flex
  flex-direction column
  background-color $brand-bg
  box-sizing border-box
  border-radius $border-radius-default
  line-height $ui-multiple-line-height

{$selector-class-prefix + '-card-shadow-hover'}
  transition box-shadow $form-control-transition-duration

{$selector-class-prefix + '-card-shadow-always'},
{$selector-class-prefix + '-card-shadow-hover'}:hover
  box-shadow $brand-card-shadow

{$selector-class-prefix + '-card-bordered'}
  border 1px solid $brand-divider

{$selector-class-prefix + '-card-header'}
  display flex
  justify-content space-between
  align-items center
  padding $layout-child-padding-vertical $layout-padding-horizontal

  + {$selector-class-prefix + '-card-body'}
    border-top 1px solid $brand-divider

{$selector-class-prefix + '-card-header-title'}
  color $brand-title
  font-size $font-size-large
  font-weight $font-weight-bold

{$selector-class-prefix + '-card-media'}
  position relative

  > img
    display block
    width 100%

{$selector-class-prefix + '-card-media-info'}
  position absolute
  left 0
  right 0
  bottom 0
  padding $card-media-info-padding-horizontal $layout-padding-horizontal
  background-color $brand-text-mask-bg-color

{$selector-class-prefix + '-card-media-title'}
  color $brand-text-mask-title-color
  font-size $font-size-large
  max-width 100%
  ui-ellipsis()

{$selector-class-prefix + '-card-media-sub-title'}
  color $brand-text-mask-sub-title-color
  font-size $font-size-small
  margin-top $card-media-sub-title-gap
  max-width 100%
  ui-ellipsis()

{$selector-class-prefix + '-card-body'}
  flex 1 1 auto
  color $brand-content
  font-size $font-size-default
  padding $layout-padding-vertical $layout-padding-horizontal
  position relative

  + {$selector-class-prefix + '-card-footer'}
    padding-top 0

{$selector-class-prefix + '-card-footer'}
  color $brand-content
  font-size $font-size-default
  padding $layout-padding-vertical $layout-padding-horizontal
