<div 
class="${prefix}dialog
{{#if className}} {{className}}{{/if}}
" 
{{#if style}}style="{{style}}"{{/if}}
>
  <div class="${prefix}dialog-mask" on-click="maskClick()"></div>
  <div class="${prefix}dialog-content">
    <div class="${prefix}dialog-title">
      <slot name="title">
        温馨提示
      </slot>
      {{#if closable}}
      <Button className="${prefix}dialog-close" size="small" borderType="none" on-click="close()">
        <template slot="icon">
          <Icon size="28" name="close"></Icon>
        </template>
      </Button>
      {{/if}}
    </div>

    {{#if hasSlot('children')}}
    <div class="${prefix}dialog-body">
      <slot name="children" />
    </div>
    {{/if}}

    {{#if hasSlot('actions')}}
    <div class="${prefix}dialog-actions">
      <slot name="actions" />
    </div>
    {{/if}}
  </div>
</div>