{$selector-alert}

  user-select none
  position relative
  transition opacity .3s

  border 1px solid
  border-radius $alert-radius
  padding $alert-padding

  ui-alert()
  
  {$selector-alert-icon}
    font-size $alert-icon-size
    margin-right $alert-gap

  {$selector-alert-title}
    font-size $alert-size
    line-height $alert-icon-size

  &.bell-hide
    opacity 0

  {$selector-alert}-wrapper
    display inline-block
  

  &{$selector-alert}-center
    text-align center
  
{$selector-alert-with-content}

  {$selector-alert-title}
    font-weight bold

  {$selector-alert-content}
    font-size 12px
    line-height 1.4
    font-weight normal    
    margin-top $alert-gap

  &{$selector-alert-with-icon}
    display flex
    {$selector-alert-icon}
      line-height 2
      font-size $alert-with-content-icon-size
    
    {$selector-alert}-wrapper
      margin-left $alert-gap
      display flex
      flex-direction column
      justify-content center

{$selector-alert}-close

  text-align center
  position absolute
  right 0
  top 0
  cursor pointer
  height 100%
  display flex
  align-items center
  padding $alert-close-padding
  font-size $alert-close-size

  > {$selector-icon}
    &{$selector-hover}
      color $alert-close-hover-color
