{$selector-alert}
  border 1px solid
  position relative
  box-sizing border-box
  border-radius $border-radius-default
  line-height $ui-multiple-line-height
  padding $alert-padding-vertical $alert-padding-horizontal
  transition opacity .3s

  ui-alert()

{$selector-alert-banner}
  border 0
  border-radius 0

{$selector-alert-center}
  text-align center

{$selector-alert-icon}
  position absolute
  left $alert-padding-horizontal
  top $alert-padding-vertical + $alert-status-icon-top

{$selector-alert-status-icon}
  font-size $alert-status-icon-size

{$selector-alert-with-title}
  {$selector-alert-icon}
    top $alert-padding-vertical + $alert-status-icon-top-with-title

  {$selector-alert-status-icon}
    font-size $alert-status-icon-size-with-title

{$selector-alert-with-icon}
  padding-left $alert-padding-horizontal + $alert-status-icon-size + $alert-icon-wrapper-gap

  &{$selector-alert-with-title}
    padding-left $alert-padding-horizontal + $alert-status-icon-size-with-title + $alert-icon-wrapper-gap

{$selector-alert-title}
  white-space nowrap
  font-size $font-size-default
  font-weight bold

  + {$selector-alert-content}
    font-size $alert-content-font-size
    margin-top $alert-title-content-gap

{$selector-alert-content}
  font-size $font-size-default
  font-weight normal

{$selector-alert-close}
  position absolute
  right $alert-padding-horizontal
  top $alert-padding-vertical

  font-size $alert-close-font-size
  height $alert-close-height
  line-height $alert-close-height

  cursor $cursor-clickable
  user-select none
  text-align center
  transition color .3s

{$selector-alert-close-icon}
  display inline-block
  font-size $alert-close-icon-font-size
  width $alert-close-height

{$selector-alert-with-close}
  {$selector-alert-title},
  {$selector-alert-content}
    margin-right $alert-close-icon-font-size + $ui-icon-text-gap

  {$selector-alert-title} + {$selector-alert-content}
    margin-right 0
