{$selector-anchor-wrapper}
  overflow auto
  padding-left 4px
  margin-left -4px

  {$selector-anchor}
    position relative
    padding-left 2px

    {$selector-anchor}-link
      padding 8px 0 8px 16px
      line-height 1

      {$selector-anchor}-link-title
        display block
        position relative
        transition all .3s
        color #515a6e
        white-space nowrap
        overflow hidden
        text-overflow ellipsis
        margin-bottom 8px
        font-size 12px

    {$selector-anchor}-ink
      position absolute
      height 100%
      left 0
      top 0

      &:before
        content " "
        position relative
        width 2px
        height 100%
        display block
        background-color #e8eaec
        margin 0 auto

      {$selector-anchor}-ink-ball
        display inline-block
        vertical-align middle
        position absolute
        width 8px
        height 8px
        border-radius $border-radius-circle
        border 2px solid #2d8cf0
        background-color #fff
        left 50%
        transition top .2s ease-in-out
        transform translate(-50%, 2px)