{$selector-avatar}
  overflow hidden
  display inline-block
  text-align center
  position relative
  vertical-align middle

  background-color $avatar-bg

  ui-avatar()

  > {$selector-avatar}-image
    width 100%
    height 100%

  +{$selector-avatar}
    margin-left $avatar-margin-left

  {$selector-avatar-text}
    position absolute
    left 50%
    transform-origin 0 center
    white-space nowrap

{$selector-avatar}-round
  border-radius $avatar-border-radius

{$selector-avatar}-circle
  border-radius $radius-circle