{$selector-backtop}
  position fixed
  z-index $zindex-backtop
  background-color #000
  opacity 0
  display none
  text-align center
  box-shadow $brand-message-shadow
  width $backtop-size
  height $backtop-size
  line-height $backtop-size
  border-radius $border-radius-default
  transition opacity .3s

  ui-clickable()

{$selector-backtop-visible}
  display block

{$selector-backtop-fade}
  opacity $backtop-opacity

{$selector-backtop-icon}
  color $brand-white
  font-size $backtop-icon-size
  line-height inherit

