{$selector-backtop}
  position fixed
  z-index $zindex-backtop
  opacity 0
  display none
  text-align center
  box-shadow $brand-message-shadow
  width $backtop-size
  height $backtop-size
  line-height $backtop-size
  border-radius $border-radius-default
  transition opacity .3s
  box-sizing border-box

  ui-clickable()

  background-color $backtop-bg-color

  &{$selector-backtop-legacy}
    background-color $backtop-bg-color-legacy
    opacity $backtop-bg-opacity-legacy

{$selector-backtop-visible}
  display block

{$selector-backtop-fade}
  opacity 1

{$selector-backtop-icon}
  color $brand-white
  font-size $backtop-icon-size
  line-height inherit

