{$selector-badge}
  ui-badge()

  position relative
  display inline-block
  line-height 1

  {$selector-badge-dot}
    height $badge-dot-size
    width $badge-dot-size
    position absolute
    right - $badge-dot-size
    top 0
    transform translate(-50%, -50%)
    border-radius 100%
    z-index $zindex-badge
    box-shadow $badge-box-shadow

  {$selector-badge-count}
    white-space nowrap
    position absolute
    left 100%
    top 0
    transform translate(-50%, -50%)
    text-align center
    border-radius $badge-radius
    color $badge-color
    padding $badge-padding
    font-size $badge-font-size
    box-shadow $badge-box-shadow
    z-index $zindex-badge

  {$selector-badge-count}-alone

    position relative
    left 0

{$selector-badge-status}
  display inline-block
  position relative
  
  {$selector-badge-dot}   
    border-radius 100%
    position absolute
    height $badge-dot-size
    width $badge-dot-size
    top 50%
    transform translateY(-50%)
    z-index $zindex-badge

  {$selector-badge-count}
    padding-left 16px
    background-color transparent