{$selector-badge}

    ui-badge()

    position relative
    display inline-block
    line-height 1
    vertical-align middle

    +{$selector-badge}

        margin-left $badge-margin-left

    {$selector-badge-count}

        white-space nowrap
        position absolute
        right 0
        transform translateX(50%)
        height 20px
        top -10px
        text-align center
        border 1px solid transparent
        border-radius $badge-border-radius

        color $brand-bg
        padding $badge-padding
        font-size $badge-font-size
        z-index $zindex-badge
        box-shadow $badge-box-shadow
        transform-origin -10% center

    {$selector-badge-dot}

        border-radius 100%
        position absolute
        transform translateX(-50%)
        transform-origin 0 center
        top $badge-dot-top
        right - $badge-dot-width
        height $badge-dot-width
        width $badge-dot-width
        z-index $zindex-badge
        box-shadow $badge-box-shadow

    {$selector-badge-count}-alone

        box-sizing border-box
        top auto
        display block
        position relative
        transform translateX(0)
        box-shadow none

