{$selector-border}

    ui-border()

{$selector-rounded}

    ui-set('border-radius', .5rem, true)

{$selector-rounded}-circle

    ui-set('border-radius', 50%, true)

{$selector-rounded}-0

    ui-set('border-radius', 0, true)
