{$selector-breadcrumb}
  font-size $ui-font-size
  line-height $ui-single-line-height

{$selector-breadcrumb-separator}
  user-select none
  color $brand-border
  margin 0 $breadcrumb-separator-gap

{$selector-breadcrumb-link}
  user-select none
  color $brand-content
  transition color .3s
  ui-clickable()

  &:hover
    color $brand-link

{$selector-breadcrumb-text}
  color $brand-content
  cursor $cursor-text
  font-weight bold

{$selector-breadcrumb-item}

  {$selector-icon}
    margin-right $ui-icon-text-gap

  > a
    color $brand-content
    text-decoration none
