{$selector-button}
  display inline-block
  text-align center
  user-select none
  white-space nowrap
  border 0
  outline 0

  ui-button()

  + {$selector-button}
    margin-left $ui-horizontal-gap

{$selector-button-solid}
  border 1px solid transparent

  // 为 group 准备的
  &:before
    border-style solid

{$selector-button-dashed}
  border 1px dashed transparent

  // 为 group 准备的
  &:before
    border-style dashed

{$selector-button-normal}
  transition color .2s, border-color .2s, box-shadow .2s, background-color .2s

{$selector-button-ghost}
  color $brand-white
  border-color $brand-white
  background-color transparent
  transition color .2s, border-color .2s, box-shadow .2s

{$selector-button-circle}
  padding 0
  border-radius 50%
  ui-button-circle-size()

{$selector-button-round}
  // 给一个足够大的值就行了
  border-radius 100px

{$selector-button-enabled}
  cursor $cursor-clickable

{$selector-button-disabled}
  cursor $cursor-disabled
  opacity $ui-opacity-disabled

{$selector-button-fluid}
  ui-fluid()

{$selector-button-group}
  display inline-block
  ui-button-group()

{$selector-button-group-horizontal}
  > {$selector-button}

    + {$selector-button}
      margin-left 0
      border-left none

    &:first-child:not(:last-child)
      border-top-right-radius 0
      border-bottom-right-radius 0

    &:last-child:not(:first-child)
      border-top-left-radius 0
      border-bottom-left-radius 0

    &:not(:first-child):not(:last-child)
      border-radius 0

  > {$selector-button-enabled}
    position relative
    &:before
      content ''
      position absolute
      border-left-width 1px
      border-left-color transparent
      border-top none
      border-right none
      border-bottom none
      left -1px
      top -1px
      bottom -1px
      transition border-color .2s

    &:first-child:before
      content none

    &:hover,
    &:focus,
    &:active
      z-index 1

{$selector-button-group-vertical}
  > {$selector-button}
    display block
    width 100%

    + {$selector-button}
      margin-left 0px
      border-top none

    &:first-child:not(:last-child)
      border-bottom-left-radius 0
      border-bottom-right-radius 0

    &:last-child:not(:first-child)
      border-top-left-radius 0
      border-top-right-radius 0

    &:not(:first-child):not(:last-child)
      border-radius 0

  > {$selector-button-enabled}
    position relative
    &:before
      content ' '
      position absolute
      border-top-width 1px
      border-top-color transparent
      border-left none
      border-right none
      border-bottom none
      left -1px
      right -1px
      top -1px
      transition border-color .2s

    &:first-child:before
      content none

    &:hover,
    &:focus,
    &:active
      z-index 1

{$selector-button-group-round}
  > {$selector-button}

    // 给一个足够大的值就行了
    &:first-child:not(:last-child)
      border-top-left-radius 100px
      border-bottom-left-radius 100px

    &:last-child:not(:first-child)
      border-top-right-radius 100px
      border-bottom-right-radius 100px
