{$selector-button}

    ui-button()
    transition color .2s linear,
        background-color .2s linear,
        border .2s linear,
        box-shadow .2s linear;

    + {$selector-button}

        margin-left 10px;

    {$selector-icon}

        vertical-align middle

        + span

            margin-left 4px

{$selector-button}-long

    ui-fluid()

{$selector-buttons}

    ui-buttons()