{$selector-card}
  background $brand-bg
  border-radius $radius-base
  font-size $ui-font-size
  line-height $ui-single-line-height
  color $brand-text
  margin $card-margin

{$selector-card-hover-enabled}:hover
  box-shadow 0 1px 4px rgba(0,0,0,0.1)

{$selector-card-bordered}
  border 1px solid $brand-border

{$selector-card-header}
  position relative
  padding $card-header-padding-vertical $card-padding-horizontal

  {$selector-avatar}
    margin-right $ui-icon-text-gap
    vertical-align middle

  + {$selector-card-body}
    border-top 1px solid $brand-border

{$selector-card-header-detail}
  display inline-block
  vertical-align middle

{$selector-card-header-title}
  font-size $card-header-title-font-size
  color $brand-important
  line-height $ui-multiple-line-height

{$selector-card-header-sub-title}
  font-size $card-header-title-font-size - 1
  color $brand-muted
  line-height $ui-multiple-line-height

{$selector-card-header-extra}
  position absolute
  right $card-padding-horizontal
  top 50%
  transform translateY(-50%)

{$selector-card-media}
  position relative

  > img
    display block
    width 100%

{$selector-card-media-detail}
  position absolute
  left 0
  right 0
  bottom 0
  padding $card-media-detail-padding
  background-color $card-media-detail-bg-color

{$selector-card-media-title}
  font-size $card-media-title-font-size
  color $card-media-title-color
  line-height $ui-multiple-line-height

{$selector-card-media-sub-title}
  font-size $card-media-sub-title-font-size
  color $card-media-sub-title-color
  line-height $ui-multiple-line-height

{$selector-card-title}
  padding $card-title-padding-vertical $card-padding-horizontal

{$selector-card-title-body}
  font-size $card-title-font-size
  color $card-title-color
  line-height $ui-multiple-line-height

{$selector-card-title-sub-title}
  font-size $card-sub-title-font-size
  color $card-sub-title-color
  line-height $ui-multiple-line-height

{$selector-card-body}
  padding $card-body-padding-vertical $card-padding-horizontal
  font-size $ui-font-size
  color $brand-text
  line-height 1.5

  + {$selector-card-actions}
    padding-top 0

{$selector-card-actions}
  padding $card-actions-padding-vertical $card-padding-horizontal
