{$selector-card}

    background $brand-bg
    border-radius $radius-base
    font-size 14px
    line-height 1.2
    color $card-font-color
    margin $card-margin
    box-shadow 0 1px 4px rgba(0,0,0,0.1)

{$selector-card-header}

    padding $card-header-padding

    {$selector-avatar}

        vertical-align middle

    {$selector-card-header}-detail

        vertical-align middle
        display inline-block
        padding $card-header-detail-padding


    {$selector-card-header}-title

        font-size $card-header-title-font-size
        color $card-header-title-color
        line-height 1.6

    {$selector-card-header}-sub-title

        font-size $card-header-sub-title-font-size
        color $card-header-sub-title-color
        line-height 1.6

{$selector-card}-title-extra

    float right
    text-align right

{$selector-card-media}

    position relative

    > img
        display block
        width 100%
        max-width 100%

    {$selector-card-media}-detail

        position absolute
        right 0
        bottom 0
        left 0
        padding $card-media-detail-padding
        background-color $card-media-detail-background

    {$selector-card-media}-title

        font-size $card-media-title-font-size
        color $card-media-title-color
        line-height 1.6

    {$selector-card-media}-sub-title

        font-size $card-media-sub-title-font-size
        color $card-media-sub-title-color
        line-height 1.6

{$selector-card-title}

    padding $card-title-padding

    {$selector-card-title}-text

        font-size $card-title-font-size
        color $card-title-color
        line-height 1.6

    {$selector-card}-sub-title

        font-size $card-sub-title-font-size
        color $card-sub-title-color
        line-height 1.6

{$selector-card}-text

    padding $card-text-padding
    font-size $card-text-font-size
    color $card-text-color
    line-height 1.4

{$selector-card}-actions

    padding $card-actions-padding

    .bell-button

        +.bell-button

            margin-left 10px