{$selector-checkbox}

  user-select none
  display inline-block
  vertical-align middle
  cursor $cursor-clickable
  position relative

  ui-checkbox()

  + {$selector-checkbox}
    margin-left $checkbox-gap

  {$selector-checkbox-wrapper}
    position absolute
    white-space nowrap
    cursor pointer
    outline 0

  {$selector-checkbox-inner}
    display inline-block
    position relative
    vertical-align middle
    border-radius $radius-small
    border 1px solid $brand-border
    transition color .3s, background-color .3s, box-shadow .3s

    &:after
      display inline-block
      vertical-align middle
      content " "
      position absolute
      border 2px solid #fff
      box-sizing border-box
      border-top 0
      border-left 0

      transform rotate(45deg) scale(0)
      transition all .1s

  {$selector-checkbox-input}
    display none
    ui-fullscreen(absolute)

  {$selector-checkbox-label}
    line-height 1
    vertical-align middle

  &{$selector-checkbox}-active
    {$selector-checkbox-inner}
      &:after
        transform rotate(45deg) scale(1)

  &{$selector-checkbox}-indeterminate
    {$selector-checkbox-inner}
      &:after
        transform scale(1)
        position absolute
        height 2px

{$selector-checkbox}-disabled
  {$selector-checkbox-wrapper}
  {$selector-checkbox-inner},
  {$selector-checkbox-label},
  {$selector-checkbox-input}
    cursor not-allowed

{$selector-checkbox}-vertical
  display flex
  flex-direction column

  {$selector-checkbox}
    flex 1

    + {$selector-checkbox}
      margin-top $checkbox-gap
      margin-left 0