{$selector-checkbox}
  display inline-block
  user-select none
  position relative

  checkbox-brand-style($brand-primary, $brand-primary-shadow)

  ui-checkbox()

  + {$selector-checkbox}
    margin-left $ui-horizontal-gap

{$selector-checkbox-active}
  > {$selector-checkbox-icon}:after
    transform rotate(45deg) scale(1)

{$selector-checkbox-indeterminate}
  > {$selector-checkbox-icon}:after
    transform rotate(0deg) scale(1)
    height 1px

{$selector-checkbox-icon}
  position absolute
  left 0
  top 50%
  border-radius $border-radius-small
  box-sizing border-box
  border 1px solid $brand-border
  transition background-color 0.3s, border-color 0.3s, box-shadow 0.3s

  &:after
    content ''

    position absolute

    border 1px solid #fff
    box-sizing border-box
    border-top 0
    border-left 0

    transform scale(0)

{$selector-checkbox-input}
  position absolute
  opacity 0

{$selector-checkbox-enabled},
{$selector-checkbox-enabled} input
  cursor $cursor-clickable

{$selector-checkbox-enabled}:hover
  > {$selector-checkbox-icon}
    border-color $brand-border-hover

{$selector-checkbox-disabled},
{$selector-checkbox-disabled} input
  cursor $cursor-disabled

{$selector-checkbox-disabled}
  opacity $ui-opacity-disabled

{$selector-checkbox-vertical}
  > {$selector-checkbox}
    width 100%
    display block

    + {$selector-checkbox}
      margin-left 0
      margin-top $ui-vertical-gap