{$selector-checkbox}
  display inline-block
  user-select none
  box-sizing border-box
  vertical-align middle

  + {$selector-checkbox}
    margin-left $checkbox-gap-horizontal

{$selector-checkbox-with-label}
  position relative
  color $brand-content
  font-size $font-size-default
  line-height $ui-single-line-height
  padding-left $font-size-default + $ui-icon-text-gap

  > {$selector-checkbox-icon}
    position absolute
    left 0
    top 50%
    margin-top -0.5 * $font-size-default

{$selector-checkbox-active}
  > {$selector-checkbox-icon}:after
    transform rotate(45deg) scale(1)

{$selector-checkbox-indeterminate}
  > {$selector-checkbox-icon}:after
    transform rotate(0deg) scale(1)

    top $checkbox-indeterminate-top
    left $checkbox-indeterminate-left
    width $checkbox-indeterminate-width
    height $checkbox-indeterminate-height

{$selector-checkbox-icon}
  display inline-block
  position relative
  width $font-size-default
  height $font-size-default
  border-radius $border-radius-small
  box-sizing border-box
  border 1px solid $brand-border
  background-color $brand-bg
  transition background-color 0.3s, border-color 0.3s, box-shadow 0.3s

  &:after
    content ''

    position absolute
    top $checkbox-icon-top
    left $checkbox-icon-left
    width $checkbox-icon-width
    height $checkbox-icon-height

    border 1px solid $brand-white
    box-sizing border-box
    border-top 0
    border-left 0

    transform scale(0)


{$selector-checkbox-input}
  position absolute
  opacity 0

{$selector-checkbox-enabled},
{$selector-checkbox-enabled} input
  cursor $cursor-clickable

{$selector-checkbox-disabled},
{$selector-checkbox-disabled} input
  cursor $cursor-disabled

{$selector-checkbox-enabled}:hover
  > {$selector-checkbox-icon}
    border-color $brand-primary

{$selector-checkbox-active},
{$selector-checkbox-indeterminate}
  > {$selector-checkbox-icon}
    background-color $brand-primary
    border-color $brand-primary

{$selector-checkbox-disabled}
  color $brand-disabled

  > {$selector-checkbox-icon}
    background-color $brand-bg-disabled
    border-color $brand-border

    &:after
      border-color $brand-disabled

if $ui-shadow-radius > 0
  {$selector-checkbox-focus}
    > {$selector-checkbox-icon}
      box-shadow 0 0 0 $ui-shadow-radius $brand-primary-shadow

{$selector-checkbox-vertical}
  > {$selector-checkbox}
    width 100%
    display block

    + {$selector-checkbox}
      margin-left 0
      margin-top $ui-vertical-gap