{$selector-collapse}

    overflow hidden
    background-color $collapse-background-color
    border-radius $collapse-border-radius
    border 1px solid $collapse-border-color

{$selector-panel}

    border-bottom 1px solid $collapse-panel-border-color

    &:last-child
        border-bottom none

    {$selector-panel-header}
        width 100%
        cursor pointer
        user-select none
        font-weight bold

        padding $collapse-panel-el-padding
        font-size $collapse-panel-el-font-size

        {$selector-panel-header}-icon

            margin-right $collapse-panel-el-icon-margin-right
            transition transform 0.2s linear
            transform-origin center
            font-size $collapse-panel-el-bell-icon-font-size
            transform rotate(-90deg)

    {$selector-panel-content}

        display none
        transition height 0.1s linear
        overflow hidden
        padding $collapse-panel-content-padding
        font-size $collapse-panel-content-font-size
        background-color $collapse-panel-content-background-color

    {$selector-panel}-open

        > {$selector-panel-header}-icon

            transform rotate(0)

    &{$selector-panel}-open

        > {$selector-panel-content}

            display block