{$selector-collapse}
  overflow hidden
  border 1px solid $brand-border

  {$selector-collapse}
    margin-top $ui-vertical-gap

{$selector-collapse-simple}
  border-left 0
  border-right 0

  {$selector-collapse-content}
    padding-top 0

{$selector-collapse-bordered}
  border-radius $border-radius-default

  > {$selector-collapse-item} > {$selector-collapse-header}
    background-color $collapse-header-bg-color

  > {$selector-collapse-open} > {$selector-collapse-header}
    border-bottom 1px solid $brand-border

{$selector-collapse-item} + {$selector-collapse-item}
  border-top 1px solid $brand-border

{$selector-collapse-header}
  user-select none
  font-size $font-size-default
  line-height $ui-single-line-height
  padding $collapse-header-padding-vertical $collapse-padding-horizontal

{$selector-collapse-icon}
  margin-right $ui-icon-text-gap

{$selector-collapse-arrow-icon}
  color inherit
  font-size $collapse-arrow-icon-font-size
  transition transform .1s
  transform rotate(-90deg)

{$selector-collapse-extra}
  float right

{$selector-collapse-content}
  display none
  overflow hidden
  color $brand-text
  font-size $font-size-default
  line-height $ui-multiple-line-height
  padding $collapse-content-padding-vertical $collapse-padding-horizontal
  transition height .1s

{$selector-collapse-open}
  > {$selector-collapse-header} {$selector-collapse-arrow-icon}
    transform rotate(0)

  > {$selector-collapse-content}
    display block

{$selector-collapse-enabled}
  > {$selector-collapse-header}
    cursor $cursor-clickable
    color $brand-text-important

{$selector-collapse-disabled}
  > {$selector-collapse-header}
    cursor $cursor-disabled
    color $brand-text-disabled