{$selector-datepicker}

    position relative
    user-select none
    display inline-block

    {$selector-datepicker}-el
        display inline-block

    {$selector-datepicker}-poper

        display none
        transition all 0.3s
        position absolute
        opacity 0
        top 36px
        z-index $datepicker-innner-z-index

        &.bell-isPopuping

            display block

        &.bell-show
            display block
            opacity 1

        &.bell-isPopdowning
            opacity 0
