{$selector-datepicker}

    user-select none
    display inline-block
    box-sizing border-box
    font-size $datepicker-font-size
    min-width $datepicker-min-width

    {$selector-datepicker-el}

        display inline-block
        width 100%

    {$selector-datepicker-poper}

        position absolute
        z-index $datepicker-innner-z-index
        overflow hidden
        box-shadow 0px 0px 2px $brand-border
        margin-top $datepicker-poper-margin-gap

        max-height 0px
        transition max-height .3s

        &.bell-show

            max-height 300px
