{$selector-datepicker}

    user-select none
    display inline-block
    box-sizing border-box
    font-size $datepicker-font-size
    min-width $datepicker-min-width

    {$selector-datepicker}-dropdown
        width 100%

    {$selector-datepicker-el}

        display inline-block
        width 100%

    {$selector-datepicker-poper}
        width 100%
        z-index $datepicker-innner-z-index

        &{$selector-datepicker-poper}-with-sidebar
            padding-left 92px

    {$selector-datepicker}-sidebar
        width 92px
        position absolute
        top 0
        bottom 0
        background #f8f8f9
        border-right 1px solid #e8eaec
        border-radius 4px 0 0 4px
        overflow auto

    {$selector-datepicker}-shortcut  
        overflow hidden
        text-overflow ellipsis
        white-space nowrap
        cursor pointer
        padding 6px 15px

        &{$selector-hover}
            background-color #e8eaec
