{$selector-dialog}
  position fixed
  top 0
  left 0
  width 100%
  height 0
  z-index $dialog-z-index

  &{$selector-dialog}-open
    height 100%

    {$selector-dialog-content}
      opacity 1
      transform translate(-50%, -50%) scale(1)

    {$selector-dialog-mask}
      opacity 1
  
  &{$selector-dialog}-leave
    {$selector-dialog-content}
      opacity 0
      transform translate(-50%, -50%) scale(.4)

    {$selector-dialog-mask}
      opacity 0

{$selector-dialog-mask}
  opacity 0
  position absolute
  width 100%
  height 100%
  background-color rgba(0,0,0,.54)
  transition opacity .4s

{$selector-dialog-content}
  max-height 100%
  overflow auto
  position absolute
  left 50%
  top 50%
  transform translate(-50%, -50%) scale(.4)
  opacity 0

  min-width $dialog-min-width
  background-color $dialog-content-background
  transition transform .4s, opacity .4s 

  {$selector-dialog}-title,
  {$selector-dialog}-actions
    padding $dialog-padding

  {$selector-dialog}-title
    overflow hidden
    text-overflow ellipsis
    white-space nowrap
    font-weight 700

    border 1px solid $dialog-border-color
    font-size $dialog-title-size
    color $dialog-title-color

    {$selector-dialog}-close
      position absolute
      right 0
      top 0
      padding $dialog-close-padding

  {$selector-dialog}-body
    padding $dialog-padding
    overflow-y auto
    overflow-x hidden
    font-size 12px
    line-height 1.5

  {$selector-dialog}-actions
    border-top 1px solid $dialog-border-color
    text-align right
    padding $dialog-actions-padding


  