{$selector-dialog}
  position fixed
  top 0
  right 0
  left 0
  z-index $zindex-dialog

{$selector-dialog-visible}
  height 100%

  > {$selector-dialog-wrapper}
    opacity 1
    transform translate(-50%, -50%) scale(1)

  > {$selector-dialog-mask}
    opacity 1

{$selector-dialog-fade}
  > {$selector-dialog-wrapper}
    opacity 0
    transform translate(-50%, -50%) scale(.4)

  > {$selector-dialog-mask}
    opacity 0

{$selector-dialog-mask}
  position absolute
  top 0
  right 0
  bottom 0
  left 0

  opacity 0
  user-select none
  background-color $brand-mask
  transition opacity .3s

{$selector-dialog-wrapper}
  max-height 100%
  overflow hidden
  position absolute
  left 50%
  top 50%
  transform translate(-50%, -50%) scale(.4)
  opacity 0

  border-radius $border-radius-default
  min-width $dialog-wrapper-min-width
  background-color $dialog-wrapper-bg-color
  box-shadow $brand-card-shadow
  transition transform .3s, opacity .3s

{$selector-dialog-title}
  ui-ellipsis()

  color $dialog-title-color
  font-size $dialog-title-font-size
  padding $dialog-title-padding-vertical $dialog-padding-horizontal
  border-bottom 1px solid $brand-border

{$selector-dialog-close}
  position absolute
  right $dialog-close-right
  top $dialog-close-top
  font-size $dialog-close-font-size
  width $dialog-close-font-size
  text-align center
  cursor $cursor-clickable
  color $brand-close-color
  transition color .3s

  &:hover
    color $brand-close-color-hover

{$selector-dialog-content}
  font-size $dialog-content-font-size
  line-height $ui-multiple-line-height
  overflow-y auto
  padding $dialog-content-padding-vertical $dialog-padding-horizontal

{$selector-dialog-actions}
  border-top 1px solid $brand-border
  text-align right
  padding $dialog-actions-padding-vertical $dialog-padding-horizontal


