{$selector-drawer}
  ui-drawer()

  {$selector-drawer-content}
    position fixed
    background-color $brand-bg
    box-shadow $drawer-shadow

    {$selector-drawer-header}
      position relative
      padding $drawer-padding
      color $brand-secondary
      border-bottom 1px solid $drawer-border-color

      {$selector-drawer-title}
        font-weight 500
        color $brand-main
        font-size $drawer-title-size
    
    {$selector-drawer}-body
      padding $drawer-padding
      font-size $drawer-body-size
      line-height 1.5
      word-wrap break-word

  {$selector-drawer-mask}
    position fixed
    left 0
    right 0
    top 0
    bottom 0
    background rgba(0,0,0,.37)

  &{$selector-drawer-hidden}
    display none
