{$selector-drawer}

    ui-drawer()

    {$selector-drawer-content}

        position fixed

    {$selector-drawer-mask}

        position fixed
        left 0
        right 0
        top 0
        bottom 0
        background $brand-secondary
