{$selector-drawer}
  position fixed
  overflow hidden
  display none

{$selector-drawer-visible}
  display block

{$selector-drawer-fade}
  > {$selector-drawer-mask}
    opacity 1

{$selector-drawer-wrapper}
  position absolute
  overflow-x hidden
  overflow-y auto
  background-color $brand-bg
  box-shadow $drawer-wrapper-shadow
  transition transform .3s

{$selector-drawer-header}
  position relative
  padding $drawer-header-padding-vertical $drawer-padding-horizontal
  border-bottom 1px solid $brand-border
  color $brand-important
  font-size $drawer-header-font-size

{$selector-drawer-body}
  position relative
  padding $drawer-body-padding-vertical $drawer-padding-horizontal
  font-size $ui-font-size
  line-height $ui-multiple-line-height
  word-wrap break-word
  overflow-x hidden
  overflow-y auto
  box-sizing border-box
  height calc(100% - 51px)

{$selector-drawer-close}
  position absolute
  right $drawer-close-right
  top $drawer-close-top
  font-size $drawer-close-font-size
  width $drawer-close-font-size
  text-align center
  cursor $cursor-clickable
  color $brand-close-color
  transition color .3s

  &:hover
    color $brand-close-color-hover

{$selector-drawer-mask}
  position absolute
  left 0
  right 0
  top 0
  bottom 0
  background-color $drawer-mask-bg-color
  opacity 0
  transition opacity .3s

{$selector-drawer-left}
  top 0
  left 0
  right 0

  > {$selector-drawer-wrapper}
    transform translate(-100%)
    left 0
    top 0
    bottom 0

  &{$selector-drawer-visible}
    bottom 0

  &{$selector-drawer-fade}
    > {$selector-drawer-wrapper}
      transform translate(0)

{$selector-drawer-right}
  top 0
  left 0
  right 0

  > {$selector-drawer-wrapper}
    transform translate(100%)
    right 0
    top 0
    bottom 0

  &{$selector-drawer-visible}
    bottom 0

  &{$selector-drawer-fade}
    > {$selector-drawer-wrapper}
      transform translate(0)



{$selector-drawer-top}
  left 0
  top 0
  bottom 0

  > {$selector-drawer-wrapper}
    transform translateY(-100%)
    top 0
    left 0
    right 0

  &{$selector-drawer-visible}
    right 0

  &{$selector-drawer-fade}
    > {$selector-drawer-wrapper}
      transform translate(0)

{$selector-drawer-bottom}
  left 0
  top 0
  bottom 0

  > {$selector-drawer-wrapper}
    transform translateY(100%)
    bottom 0
    left 0
    right 0

  &{$selector-drawer-visible}
    right 0

  &{$selector-drawer-fade}
    > {$selector-drawer-wrapper}
      transform translate(0)
