{$selector-dropdown}
  display inline-block
  position relative

{$selector-dropdown-menu}
  min-width $dropdown-menu-min-width

{$selector-dropdown-item}
  ui-ellipsis()
  padding $dropdown-item-padding-vertical $dropdown-item-padding-horizontal
  transition background-color .3s, color .3s

{$selector-dropdown-item-active}
  background-color $brand-bg-active

{$selector-dropdown-item-enabled}
  color $brand-content
  ui-clickable()

  &:hover,
  &{$selector-dropdown-item-hover}
    background-color $brand-bg-hover

{$selector-dropdown-item-disabled}
  color $brand-disabled
  cursor $cursor-disabled

{$selector-dropdown-item} + {$selector-dropdown-item-divided}
  margin-top $dropdown-overlay-inset
  border-top 1px solid $brand-divider
  padding-top $dropdown-item-padding-vertical + $dropdown-overlay-inset
  position relative

  &:before
    content ''
    background-color $brand-bg
    position absolute
    top 0
    left 0
    right 0
    height $dropdown-overlay-inset

{$selector-dropdown-overlay}
  font-size $ui-font-size
  line-height $ui-single-line-height
  padding $dropdown-overlay-inset 0

  overflow-y auto
  overflow-x hidden
  user-select none
  box-sizing border-box

  position absolute
  display none

  z-index $zindex-dropdown
  transition transform .3s cubic-bezier(.23,1,.32,1),
              opacity .3s cubic-bezier(.23,1,.32,1)

  background-color $brand-bg
  border-radius $border-radius-default
  box-shadow $brand-layer-shadow

{$selector-dropdown-visible}
  > {$selector-dropdown-overlay}
    display block
    opacity 0

{$selector-dropdown-fade}
  > {$selector-dropdown-overlay}
    opacity 1

{$selector-dropdown}-top,
{$selector-dropdown}-top-start,
{$selector-dropdown}-top-end
  > {$selector-dropdown-overlay}
    bottom 100%
    margin-bottom $dropdown-trigger-overlay-gap
    transform scaleY(0)
    transform-origin center bottom

  &{$selector-dropdown-fade}
    > {$selector-dropdown-overlay}
      transform scaleY(1)

{$selector-dropdown}-top
  > {$selector-dropdown-overlay}
    left 50%

{$selector-dropdown}-top-start
  > {$selector-dropdown-overlay}
    left 0

{$selector-dropdown}-top-end
  > {$selector-dropdown-overlay}
    right 0




{$selector-dropdown}-left,
{$selector-dropdown}-left-start,
{$selector-dropdown}-left-end
  > {$selector-dropdown-overlay}
    right 100%
    margin-right $dropdown-trigger-overlay-gap
    transform scaleX(0)
    transform-origin right center

  &{$selector-dropdown-fade}
    > {$selector-dropdown-overlay}
      transform scaleX(1)

{$selector-dropdown}-left
  > {$selector-dropdown-overlay}
    top 50%

{$selector-dropdown}-left-start
  > {$selector-dropdown-overlay}
    top 0

{$selector-dropdown}-left-
  > {$selector-dropdown-overlay}
    bottom 0




{$selector-dropdown}-right,
{$selector-dropdown}-right-start,
{$selector-dropdown}-right-end
  > {$selector-dropdown-overlay}
    left 100%
    margin-left $dropdown-trigger-overlay-gap
    transform scaleX(0)
    transform-origin left center

  &{$selector-dropdown-fade}
    > {$selector-dropdown-overlay}
      transform scaleX(1)

{$selector-dropdown}-right
  > {$selector-dropdown-overlay}
    top 50%

{$selector-dropdown}-right-start
  > {$selector-dropdown-overlay}
    top 0

{$selector-dropdown}-right-end
  > {$selector-dropdown-overlay}
    bottom 0





{$selector-dropdown}-bottom,
{$selector-dropdown}-bottom-start,
{$selector-dropdown}-bottom-end
  > {$selector-dropdown-overlay}
    margin-top $dropdown-trigger-overlay-gap
    transform scaleY(0)
    transform-origin center top

  &{$selector-dropdown-fade}
    > {$selector-dropdown-overlay}
      transform scaleY(1)

{$selector-dropdown}-bottom
  > {$selector-dropdown-overlay}
    left 50%

{$selector-dropdown}-bottom-start
  > {$selector-dropdown-overlay}
    left 0

{$selector-dropdown}-bottom-end
  > {$selector-dropdown-overlay}
    right 0