{$selector-form}
  color $brand-text
  text-align left

{$selector-form-label-left},
{$selector-form-label-right}
  {$selector-form-item-label}
    padding-right $form-item-label-wrapper-gap

  {$selector-form-item} + {$selector-form-item}
    margin-top $form-item-vertical-gap

{$selector-form-label-right}
  {$selector-form-item-label}
    text-align right

{$selector-form-label-top}
  {$selector-form-item-label},
  {$selector-form-item-wrapper}
    display block

  {$selector-form-item} + {$selector-form-item}
    margin-top $form-top-item-vertical-gap

{$selector-form-item-label-required}
  &:before
    content "*"
    font-size 80%
    font-family SimSun
    color $brand-error
    margin-right $ui-icon-text-gap

{$selector-form-item-label}
  display inline-block
  font-size $ui-font-size
  height $height-default
  line-height $height-default
  white-space nowrap
  vertical-align middle

{$selector-form-item-wrapper}
  display inline-block
  font-size 0
  position relative
  vertical-align middle

{$selector-form-item-error}
  position absolute
  top 100%
  left 0
  color $brand-error
  font-size $ui-font-size - 2
  margin-top $form-item-error-gap

{$selector-form-inline}
  {$selector-form-item}
    display inline-block
    vertical-align middle

    + {$selector-form-item}
      margin-top 0
      margin-left $ui-horizontal-gap



