{$selector-form}
  {$selector-form}-item
    margin 0 0 24px
    color rgba(0,0,0,.65)
    font-size 14px
    line-height 1.5

  {$selector-form-item-label}
    white-space nowrap
    vertical-align middle
    line-height 2
        
