{$selector-form}
  color $brand-text
  text-align left

{$selector-form-label-left}
  {$selector-form-item-label}
    text-align left

{$selector-form-label-right}
  {$selector-form-item-label}
    text-align right

{$selector-form-label-top}
  {$selector-form-item-label}
    text-align right
    vertical-align top

  {$selector-form-item-wrapper}
    vertical-align top

{$selector-form-item-label-required}
  &:before
    content "*"
    font-size 80%
    font-family SimSun
    color $brand-error
    margin-right $ui-icon-text-gap

{$selector-form-item}
  font-size 0

  + {$selector-form-item}
    margin-top $form-item-vertical-gap

{$selector-form-item-label}
  display inline-block
  font-size $ui-font-size
  height $form-item-height
  line-height $form-item-height
  padding-right $form-item-label-wrapper-gap
  white-space nowrap
  vertical-align middle

{$selector-form-item-wrapper}
  display inline-block
  font-size 0
  position relative
  vertical-align middle

{$selector-form-item-error}
  position absolute
  top 100%
  left 0
  color $brand-error
  font-size $ui-font-size - 2
  margin-top $form-item-error-gap

{$selector-form-inline}
  {$selector-form-item}
    display inline-block
    vertical-align middle

    + {$selector-form-item}
      margin-top 0
      margin-left $form-item-horizontal-gap



