{$selector-input}
  display table
  ui-input()

{$selector-input-focus}
  > {$selector-input-content}
    border-color $brand-primary

    if $ui-shadow-radius > 0
      box-shadow 0 0 0 $ui-shadow-radius $brand-primary-shadow


{$selector-input-enabled}
  {$selector-input-suffix}:hover
    color $brand-close-color-hover

  {$selector-input-content}:hover
    border-color $brand-primary

{$selector-input-disabled}
  background-color $brand-bg-disabled

  > {$selector-input-content}
    border-color $brand-border-disabled

  {$selector-input-el},
  {$selector-textarea-el}
    cursor $cursor-disabled
    color $brand-text-disabled

{$selector-input-el},
{$selector-textarea-el}
  border none
  outline none
  box-sizing border-box
  width 100%
  height 100%
  cursor $cursor-text
  background-color transparent
  font-size $ui-font-size
  color $brand-important

  ui-placeholder($brand-placeholder)

{$selector-input-el}
  padding 0 $input-el-padding-horizontal

{$selector-textarea-el}
  resize none
  line-height 1.4
  padding $input-el-padding-vertical $input-el-padding-horizontal

{$selector-input-autosize}
  resize vertical
  height auto

{$selector-input-prefix},
{$selector-input-suffix}
  position absolute
  top 0
  text-align center
  color $brand-close-color

{$selector-input-prefix}
  left 0

{$selector-input-suffix}
  right 0
  cursor $cursor-clickable

{$selector-input-prepend},
{$selector-input-append}
  display table-cell
  vertical-align middle
  border 1px solid $brand-border
  font-size $input-prepend-append-font-size
  box-sizing border-box
  color $input-prepend-append-color
  background-color $input-prepend-append-bg-color
  padding 0 $input-prepend-append-padding-horizontal

  > {$selector-button-pure},
  > {$selector-button-pure}:hover
    color $brand-text
    border-color $brand-border
    background-color transparent

  {$selector-button}
    font-size $input-prepend-append-font-size
    margin-top -1px
    margin-bottom -1px

{$selector-input-prepend}
  border-right none
  border-top-left-radius $radius-base
  border-bottom-left-radius $radius-base

  {$selector-button}
    border-top-right-radius 0
    border-bottom-right-radius 0
    margin-left - $input-prepend-append-padding-horizontal - 1
    margin-right - $input-prepend-append-padding-horizontal - 1

{$selector-input-append}
  border-left none
  border-top-right-radius $radius-base
  border-bottom-right-radius $radius-base

  > {$selector-button}
    border-top-left-radius 0
    border-bottom-left-radius 0
    margin-left - $input-prepend-append-padding-horizontal - 1
    margin-right - $input-prepend-append-padding-horizontal - 1

{$selector-input-append-button}
  border none

{$selector-input-content}
  display table-cell
  position relative
  border 1px solid $brand-border
  box-sizing  border-box
  border-radius $radius-base
  transition border-color .3s, box-shadow .3s

{$selector-input-clear}
  opacity 0
  transition opacity .2s

{$selector-input-clearable}:hover
  {$selector-input-clear}
    opacity 1

{$selector-input-with-prepend}
  margin-left -1px
  border-top-left-radius 0
  border-bottom-left-radius 0

{$selector-input-with-append}
  margin-right -1px
  border-top-right-radius 0
  border-bottom-right-radius 0

