{$selector-layout}

    ui-row()
    ui-layout()
    flex 1

    {$selector-layout}-sider

        transition flex .4s
        overflow auto
        max-height 100%

    {$selector-sider}-trigger

        position absolute
        right 0
        left 0
        bottom 0
        text-align center
        padding 10px
        cursor pointer

    &{$selector-column}

        ui-column()

    &{$selector-fluid}

        width 100%


{$selector-layout-header}-left
    float left

{$selector-layout-header}-right
    float right

{$selector-layout-header}-center
    margin 0 auto
    display inline-block

{$selector-layout-fixed}

    ui-fullscreen()
    overflow hidden

{$selector-menu}

    ui-menu()

    height 62px
    line-height 62px
    font-size 14px

{$selector-menu}-sub-menu,
{$selector-menu}-item

    position relative
    padding $layout-menu-item-padding
    cursor pointer
    border-bottom 2px solid transparent
    display inline-block
    height inherit
    line-height inherit
    transition all 0.4s

{$selector-menu-vertical}

    height auto
    text-align left

    {$selector-menu}-sub-menu,
    {$selector-menu}-item

        line-height 48px
        height 48px
        overflow hidden
        display block
        border-bottom none
        border-right 2px solid transparent
        transition all 0.4s

    {$selector-menu}-sub-menu

        padding 0
        height auto

        {$selector-menu}-title
            display flex
            {$selector-menu}-title-text
                flex 1
            {$selector-menu}-title-icon
                font-weight bold
                line-height 48px
                transition transform .3s
                &{$selector-menu}-open
                    transform rotate(180deg)

        {$selector-menu}-title,
        {$selector-menu}-item

            padding 0 15px 

        {$selector-menu}-groups

            overflow hidden
            transition height 0.4s

    {$selector-menu}-group-title

        padding 17px 10px
        line-height 1

{$selector-sider-collapsed}

    {$selector-menu}-item

        text-align center
