// font-size 需要被 $selector-links 覆盖
// 因此先定义
ui-variant(
    hash: $size-hash,
    each: @(size) {
        ui-set('font-size', size['font-size'])
        ui-set('line-height', size['line-height'])

        {$select-link},
        {$select-text} {
            font inherit
        }
    }
)

a
    link-brand()
    &:hover
        link-hover()

{$selector-link}
    ui-link()

{$selector-links}
    ui-links()

    &{$selector-tight}
        ui-collection-tight(
            selector-item: $selector-link
        )

    &{$selector-justified}
        ui-justified(
            selector-item: $selector-link
        )

// color 不需要被 $selector-link 覆盖
// 因此后定义
ui-variant(
    hash: $link-brand-hash,
    each: @(brand) {
        ui-set('color', brand['color'])
        {$selector-link} {
            color inherit
        }
        &{$selector-link},
        {$selector-link} {
            {$selector-hover} {
                ui-set('color', brand['color-hover'])
            }
        }
    }
)


