a
  color $brand-primary
  link-decoration none
  transition color .2s

  &:hover
    color $brand-primary-hover

{$selector-link}
  ui-link()
  text-decoration none

{$selector-link-underline}
  text-decoration underline

{$selector-link-enabled}
  ui-clickable()

{$selector-link-disabled}
  color $brand-disabled
  cursor $cursor-disabled
