{$selector-list}

    ui-list()

    list-style none
    user-select none

    ui-set('padding', 0, true)
    ui-set('margin', 0, true)

    {$selector-list-item}

        display flex
        flex-direction row
        align-items center
