{$selector-loadingbar-wrapper}
  position fixed
  left 0
  top 0
  right 0
  z-index $zindex-loadingbar

  {$selector-loadingbar}
    background-color $loadingbar-inner-background-color
    border-radius $loadingbar-border-radius
    ui-loadingbar()

    {$selector-loadingbar-bg}
      border-radius $loadingbar-border-radius
      transition width .2s linear