{$selector-menu}
  display block
  font-size $ui-font-size
  position relative
  text-align left
  box-sizing border-box
  transition background-color .3s, width .3s, height .3s
  user-select none
  ui-menu()

{$selector-menu-item},
{$selector-menu-submenu},
{$selector-menu-submenu-title}
  position relative
  transition background-color .3s, color .3s

{$selector-menu-item},
{$selector-menu-submenu-title}

  ui-ellipsis()

  > a
    color inherit
    font-weight normal
    text-decoration none

  > {$selector-icon}:first-child
    margin-right $menu-icon-gap

{$selector-menu-submenu-title-icon}
  position absolute
  top 50%
  transform translateY(-50%)

  &:before
    transform rotate(0deg)
    transition transform .3s

{$selector-menu-dropdown},
{$selector-menu-collapsed} > {$selector-menu-open} > {$selector-menu-inline}
  position absolute
  overflow-y auto
  box-sizing border-box
  border-radius $radius-base
  box-shadow $menu-dropdown-shadow
  transition height .3s

{$selector-menu-dropdown}
  display none
  max-height 280px
  min-width 200px

{$selector-menu-open}
  {$selector-menu-dropdown}
    display block

  {$selector-menu-submenu-title-icon}:before
    transform rotate(-180deg)

{$selector-menu-item-enabled},
{$selector-menu-submenu-title}
  cursor $cursor-clickable

{$selector-menu-item-disabled}
  cursor $cursor-disabled

{$selector-menu-group-title}
  height $menu-vertical-item-height
  line-height $menu-vertical-item-height
  padding 0 $menu-vertical-padding

{$selector-menu-horizontal}

  > {$selector-menu-item},
  > {$selector-menu-submenu}
    display inline-block
    vertical-align top

  > {$selector-menu-item},
  > {$selector-menu-submenu} > {$selector-menu-submenu-title}
    height $menu-horizontal-item-height
    line-height $menu-horizontal-item-height
    padding 0 $menu-horizontal-padding

  {$selector-menu-dropdown}
    left 0
    margin-top $menu-dropdown-offset

  {$selector-menu-submenu-title-icon}
    right 0

{$selector-menu-inline},
{$selector-menu-vertical}

  > {$selector-menu-item},
  > {$selector-menu-submenu} > {$selector-menu-submenu-title}
    height $menu-vertical-item-height
    line-height $menu-vertical-item-height
    padding 0 $menu-vertical-padding

  {$selector-menu-dropdown},
  &{$selector-menu-collapsed} > {$selector-menu-open} > {$selector-menu-inline}
    top 0
    left 100%
    margin-left $menu-dropdown-offset

  {$selector-menu-submenu-title-icon}
    right $menu-vertical-padding

{$selector-menu-inline}

  {$selector-menu-submenu}

    > {$selector-menu}
      display none

    &{$selector-menu-open}
      > {$selector-menu}
        display block

  &{$selector-menu-collapsed}
    width $menu-collapsed-width

    > {$selector-menu-open} > {$selector-menu-inline}
      display block
      width 200px

{$selector-menu-collapsed}
  > {$selector-menu-item},
  > {$selector-menu-submenu} > {$selector-menu-submenu-title}
    text-align center
    > {$selector-icon}:first-child
      margin-right 0