{$selector-menu}
  display block
  font-size $ui-font-size
  position relative
  text-align left
  box-sizing border-box
  transition background-color .3s, width .3s, height .3s
  user-select none
  ui-menu()

  > {$selector-dropdown}
    display block

{$selector-menu-item},
{$selector-menu-submenu},
{$selector-menu-submenu-title}
  position relative
  transition background-color .3s, color .3s

{$selector-menu-item},
{$selector-menu-submenu-title}
  > a
    color inherit
    font-weight normal
    text-decoration none

  > {$selector-icon}:first-child
    margin-right $menu-icon-title-gap

{$selector-menu} {$selector-dropdown-overlay}
  min-width 180px

{$selector-menu-item-enabled},
{$selector-menu-submenu-title}
  cursor $cursor-clickable

{$selector-menu-item-disabled}
  cursor $cursor-disabled

{$selector-menu-group-title}
  height $menu-vertical-item-height
  line-height $menu-vertical-item-height
  padding 0 $menu-vertical-padding

{$selector-menu-submenu-arrow-icon}
  font-size $menu-arrow-icon-size
  transition transform .3s

{$selector-menu-horizontal}

  > {$selector-menu-item},
  > {$selector-menu-submenu}
    display inline-block
    vertical-align top

  {$selector-menu-item},
  {$selector-menu-submenu-title}
    height $menu-horizontal-item-height
    line-height $menu-horizontal-item-height
    padding 0 $menu-horizontal-padding

  {$selector-menu-submenu-arrow-icon}
    margin-left $menu-title-arrow-gap

{$selector-menu-inline},
{$selector-menu-vertical}

  {$selector-menu-item},
  {$selector-menu-submenu-title}
    height $menu-vertical-item-height
    line-height $menu-vertical-item-height
    padding 0 $menu-vertical-padding

  {$selector-menu-submenu-arrow-icon}
    position absolute
    top $menu-arrow-icon-top
    right $menu-vertical-padding
    transform rotate(0deg)

{$selector-menu-inline}

  {$selector-menu-submenu}

    > {$selector-menu}
      display none

    &{$selector-menu-open}
      > {$selector-menu}
        display block

  &{$selector-menu-collapsed}
    width $menu-collapsed-width

    {$selector-menu-open}
      > {$selector-menu}
        display none

{$selector-menu-open} > {$selector-menu-submenu-title} > {$selector-menu-submenu-arrow-icon},
{$selector-dropdown-fade} > {$selector-dropdown-trigger} > {$selector-menu-submenu-title} > {$selector-menu-submenu-arrow-icon}
  transform rotate(-180deg)

{$selector-menu-collapsed}
  > {$selector-menu-item},
  > {$selector-menu-submenu} > {$selector-menu-submenu-title},
  > {$selector-menu-submenu} > {$selector-dropdown} > {$selector-dropdown-trigger} > {$selector-menu-submenu-title}
    text-align center
    > {$selector-icon}:first-child
      margin-right 0
      vertical-align middle