{$selector-message}
  position fixed
  top 0
  left 50%
  opacity 0
  z-index $zindex-message
  transform translateX(-50%)

  user-select none
  background-color $brand-white
  padding $message-padding-vertical $message-padding-horizontal
  color $brand-content
  font-size $font-size-default
  line-height $ui-single-line-height
  border-radius $border-radius-default
  box-shadow $brand-message-shadow
  transition opacity .15s, top .3s

  ui-message()

{$selector-message-with-close}
  padding-right $message-close-icon-right + $close-icon-size + $ui-icon-text-gap

{$selector-message-visible}
  opacity 1

{$selector-message-center}
  text-align center

{$selector-message-icon}
  font-size $message-icon-size
  margin-right $ui-icon-text-gap
  vertical-align middle

{$selector-message-text}
  vertical-align middle

{$selector-message-close}
  position absolute
  right $message-close-icon-right
  top $message-close-icon-top

  cursor $cursor-clickable
  color $brand-close-color
  font-size $close-icon-size
  transition color .3s

  &:hover
    color $brand-close-color-hover