{$selector-message}
  position fixed
  top 0
  left 50%
  opacity 0
  z-index $zindex-message
  transform translateX(-50%)

  border none
  user-select none
  background-color $brand-white
  box-shadow $brand-layer-shadow
  transition opacity .15s, top .3s

  > {$selector-alert-wrapper}
    width auto

{$selector-message-visible}
  opacity 1

