{$selector-message}
  position fixed
  top 0
  left 50%
  opacity 0
  z-index $zindex-message

  user-select none
  transition opacity .15s, top .3s

  &.bell-show
    opacity 1

  {$selector-prefix}-alert
    border none
    background-color $brand-white
    box-shadow 0 1px 6px rgba(0,0,0,.2)

