
{$selector-modal-alert},
{$selector-modal-confirm}
  {$selector-dialog-title}
    border-bottom 0
    padding-bottom 0

  {$selector-dialog-footer}
    border-top 0
    padding-top 0
    padding-bottom $dialog-footer-padding-horizontal
