{$selector-modal}

  {$selector-dialog-header}
    border-bottom 0
    padding-bottom 0
    padding-top $dialog-padding-horizontal

  {$selector-dialog-close}
    top $dialog-padding-horizontal

  {$selector-dialog-footer}
    border-top 0
    padding 0 $dialog-padding-horizontal $dialog-padding-horizontal
