{$selector-msgbox-alert}-wrapper
  ui-fullscreen()
  text-align center
  z-index $msgbox-msg-zindex

  &{$selector-msgbox-alert}-hidden
    {$selector-msgbox-alert}
      margin-top -100px
      opacity 0

    {$selector-msgbox-mask}
      opacity 0

  {$selector-msgbox-alert}
    position absolute
    left 50%
    top 50%
    transform translate(-50%, -80%)

    max-width $msgbox-alert-max-width
    min-width $msgbox-alert-min-width
    border-radius $msgbox-alert-border-radius

    background-color $msgbox-alert-background-color
    border 1px solid $msgbox-alert-border-color
    box-shadow $msgbox-alert-box-shadow
    z-index $zindex-msgbox
    transition opacity .15s, margin-top .15s

  {$selector-msgbox-alert}-desc
    text-align left
    padding $msgbox-msg-body-padding
    line-height 1.5
    font-size $msgbox-msg-body-size

  {$selector-msgbox-alert}-footer
    padding $msgbox-msg-footer-padding
    text-align right
    border-top 1px solid #e8e8e8

  {$selector-msgbox-alert}-title
    text-align left
    font-size $msgbox-msg-header-size
    font-weight 600
    padding $msgbox-msg-header-padding
    border-bottom $msgbox-msg-border

  {$selector-msgbox-mask}
    ui-fullscreen()
    background-color $msgbox-msg-mask-background-color
    transition opacity 0.15s

  {$selector-msgbox-alert}-close
    cursor pointer
    position absolute
    right 0
    padding $msgbox-msg-close-padding
    font-size $msgbox-msg-close-size

// confirm
{$selector-msgbox-confirm}-wrapper
  ui-fullscreen()
  overflow auto
  z-index $msgbox-msg-zindex

  &{$selector-msgbox-confirm}-hidden
    {$selector-msgbox-confirm}
      margin-top -100px
      opacity 0

    {$selector-msgbox-mask}
      opacity 0

  {$selector-msgbox-confirm}
    position absolute
    left 50%
    top 50%
    transform translate(-50%, -70%)

    max-width $msgbox-confirm-max-width
    min-width $msgbox-confirm-min-width
    border-radius $msgbox-confirm-border-radius

    background-color $msgbox-confirm-background-color
    border 1px solid $msgbox-confirm-border-color
    box-shadow $msgbox-confirm-box-shadow
    z-index $zindex-msgbox
    transition opacity .15s, margin-top .15s

  {$selector-msgbox-confirm}-desc
    text-align left
    padding $msgbox-msg-body-padding
    line-height 1.5
    font-size $msgbox-msg-body-size

  {$selector-msgbox-confirm}-footer
    padding $msgbox-msg-footer-padding
    text-align right
    border-top 1px solid #e8e8e8

  {$selector-msgbox-confirm}-title
    font-size $msgbox-msg-header-size
    font-weight 600
    padding $msgbox-msg-header-padding
    border-bottom $msgbox-msg-border
    text-align left

  {$selector-msgbox-mask}
    ui-fullscreen()
    background-color $msgbox-msg-mask-background-color
    transition opacity .15s

  {$selector-msgbox-confirm}-close
    cursor pointer
    position absolute
    right 0
    padding $msgbox-msg-close-padding
    font-size $msgbox-msg-close-size