{$selector-msgbox-alert}-wrapper

    display flex
    align-items center
    justify-content center
    z-index $msgbox-alert-zindex
    text-align center

    ui-fullscreen()

    {$selector-msgbox-alert}

        text-align left
        overflow hidden
        position relative
        transition all 0.3s

        max-width $msgbox-alert-max-width
        min-width $msgbox-alert-min-width
        border-radius $msgbox-alert-border-radius

        background-color $msgbox-alert-background-color
        border 1px solid $msgbox-alert-border-color
        box-shadow $msgbox-alert-box-shadow

    {$selector-msgbox-alert}-title,
    {$selector-msgbox-alert}-desc,
    {$selector-msgbox-alert}-footer

        text-align center
        padding $msgbox-msg-body-padding

    {$selector-msgbox-mask}

        ui-fullscreen()
        background-color $msgbox-msg-mask-background-color
        z-index -1
        transition opacity 0.3s

    {$selector-msgbox-alert}-close

        cursor pointer
        position absolute
        right 0
        padding $msgbox-alert-close-padding
        font-size $msgbox-alert-close-font-size

{$selector-msgbox-alert}-hidden
    {$selector-msgbox-alert}

        margin-top -200px
        opacity 0

    {$selector-msgbox-mask}

        opacity 0


// confirm
{$selector-msgbox-confirm}-wrapper

    display flex
    align-items center
    justify-content center
    z-index $msgbox-confirm-zindex
    text-align center
    ui-fullscreen()

    {$selector-msgbox-confirm}

        text-align left
        overflow hidden
        position relative
        transition all 0.3s

        max-width $msgbox-confirm-max-width
        min-width $msgbox-confirm-min-width
        border-radius $msgbox-confirm-border-radius

        background-color $msgbox-confirm-background-color
        border 1px solid $msgbox-confirm-border-color
        box-shadow $msgbox-confirm-box-shadow

    {$selector-msgbox-confirm}-title,
    {$selector-msgbox-confirm}-desc,
    {$selector-msgbox-confirm}-footer

        text-align center
        padding $msgbox-msg-body-padding

    {$selector-msgbox-mask}

        ui-fullscreen()
        background-color $msgbox-msg-mask-background-color
        z-index -1
        transition opacity 0.3s

    {$selector-msgbox-confirm}-close

        cursor pointer
        position absolute
        right 0
        padding $msgbox-confirm-close-padding
        font-size $msgbox-confirm-close-font-size

{$selector-msgbox-confirm}-hidden
    {$selector-msgbox-confirm}

        margin-top -200px
        opacity 0

    {$selector-msgbox-mask}
        opacity 0