{$selector-notice-wrapper}
  position fixed
  right 0
  top $notice-wrapper-top
  z-index $zindex-notice

{$selector-notice}
  position relative
  overflow hidden
  opacity 0
  font-size $ui-font-size
  padding $notice-padding
  border-radius $radius-base
  box-sizing border-box
  box-shadow $notice-shadow
  background-color $brand-bg
  transform translateX(100%)
  transition opacity .3s, transform .3s

  ui-notice()

  + {$selector-notice}
    margin-top $notice-gap

  &:before
    content ' '
    position absolute
    top 0
    bottom 0
    left 0
    width $notice-type-width

{$selector-notice-visible}
  opacity 1
  transform translateX(0)

{$selector-notice-title}
  ui-ellipsis()
  color $brand-important
  line-height $ui-multiple-line-height

  + {$selector-notice-content}
    margin-top $notice-title-content-gap

{$selector-notice-content}
  font-size 90%
  color $brand-secondary
  line-height $ui-multiple-line-height

{$selector-notice-close}
  position absolute
  right $notice-close-right
  top $notice-close-top
  cursor $cursor-clickable
  font-size $notice-close-font-size
  width $notice-close-font-size
  text-align center
  color $brand-close-color
  transition color .3s

  &:hover
    color $brand-close-color-hover
