{$selector-notification-wrapper}
  position fixed
  right 0
  top $notification-wrapper-top
  z-index $zindex-notification

{$selector-notification}
  position relative
  opacity 0
  padding $notification-padding-vertical $notification-padding-horizontal
  border-radius $border-radius-default
  box-sizing border-box
  box-shadow $brand-message-shadow
  background-color $brand-bg
  transform translateX(100%)
  transition opacity .2s, transform .2s

  ui-notification()

  + {$selector-notification}
    margin-top $notification-vertical-gap

{$selector-notification-with-icon}
  padding-left $notification-padding-horizontal + $notification-icon-font-size + $ui-icon-text-gap

{$selector-notification-with-close}
  padding-right $notification-close-right + $notification-close-font-size

{$selector-notification-visible}
  opacity 1
  transform translateX(0)

{$selector-notification-title}
  ui-ellipsis()
  color $brand-text-important
  font-size $font-size-large
  line-height $ui-single-line-height

  + {$selector-notification-content}
    margin-top $notification-title-content-gap

{$selector-notification-content}
  color $brand-text
  font-size $font-size-default
  line-height $ui-multiple-line-height

{$selector-notification-icon}
  position absolute
  left $notification-padding-horizontal
  top $notification-icon-top
  font-size $notification-icon-font-size

{$selector-notification-close}
  position absolute
  right $notification-close-right
  top $notification-close-top
  cursor $cursor-clickable
  font-size $notification-close-font-size
  width $notification-close-font-size
  text-align center
  color $brand-close-color
  transition color .3s

  &:hover
    color $brand-close-color-hover
