{$selector-notification-wrapper}
  position fixed
  right 0
  top $notification-wrapper-top
  z-index $zindex-notification

{$selector-notification}
  position relative
  opacity 0
  padding $notification-padding-vertical $notification-padding-horizontal
  border-radius $border-radius-default
  box-sizing border-box
  box-shadow $brand-message-shadow
  background-color $brand-bg
  transform translateX(100%)
  transition opacity .2s, transform .2s

  ui-notification()

  + {$selector-notification}
    margin-top $notification-vertical-gap

{$selector-notification-with-icon}
  padding-left $notification-padding-horizontal + $notification-icon-size + $notification-icon-gap

{$selector-notification-with-close}
  padding-right $notification-close-icon-right + $close-icon-size

{$selector-notification-with-title}
  &{$selector-notification-with-icon}
    padding-left $notification-padding-horizontal + $notification-icon-size-with-title + $notification-icon-gap-with-title

  {$selector-notification-icon}
    top $notification-icon-top-with-title
    font-size $notification-icon-size-with-title

  {$selector-notification-close}
    top $notification-close-icon-top-with-title

{$selector-notification-visible}
  opacity 1
  transform translateX(0)

{$selector-notification-title}
  ui-ellipsis()
  color $brand-title
  font-size $font-size-large
  line-height $ui-single-line-height

  + {$selector-notification-content}
    margin-top $notification-title-content-gap

{$selector-notification-content}
  color $brand-content
  font-size $font-size-default
  line-height $ui-multiple-line-height

{$selector-notification-icon}
  position absolute
  left $notification-padding-horizontal
  top $notification-icon-top
  font-size $notification-icon-size

{$selector-notification-close}
  position absolute
  right $notification-close-icon-right
  top $notification-close-icon-top
  font-size $close-icon-size
  text-align center
  color $brand-close-color
  transition color .3s
  ui-clickable()

  &:hover
    color $brand-close-color-hover
