{$selector-page-list}
  display inline-block

{$selector-page-item}
  display inline-block
  text-align center
  outline 0
  padding 0 5px
  cursor $cursor-clickable
  border-radius $border-radius-default
  border 1px solid $brand-border
  color $brand-text
  transition color .2s, border-color .2s, box-shadow .2s, background-color .2s

  + {$selector-page-item}
    margin-left $page-item-gap

  &:disabled
    cursor $cursor-disabled
    background-color $brand-bg-disabled

  &:disabled,
  &:disabled:hover
    color $brand-text-disabled
    border-color $brand-border-disabled

{$selector-page-active}
  cursor $cursor-default

{$selector-page-item}:hover,
{$selector-page-active}
  color $brand-primary
  border-color $brand-primary

if $ui-shadow-radius > 0
  {$selector-page-item}:focus
    box-shadow 0 0 0 $ui-shadow-radius $brand-primary-shadow

  {$selector-page-custom-prev}:focus,
  {$selector-page-custom-next}:focus,
  {$selector-page-ellipsis}:focus
    box-shadow none

{$selector-page-custom-prev} + {$selector-page-item},
{$selector-page-item} + {$selector-page-custom-next}
  margin-left $page-element-gap

{$selector-page-ellipsis}
  border 0
  &:after
    content '•••'
    display block
    letter-spacing 1px
    color $brand-border
    text-align center

  > {$selector-icon}
    display none

  &:hover
    &:after
      display none

    > {$selector-icon}
      display inline-block




{$selector-page}
  user-select none
  font-size $ui-font-size
  ui-page()

  {$selector-page-custom-prev},
  {$selector-page-custom-next}
    border none
    width auto
    background-color transparent

{$selector-page-select}
  width $page-select-width
  margin-right $page-element-gap
  vertical-align top

{$selector-page-jumper}
  display inline-block
  margin-left $page-element-gap

{$selector-page-jumper-input}
  width $page-jumper-input-width
  display inline-block
  vertical-align top
  margin-right $ui-icon-text-gap

{$selector-page-simple-input}
  width $page-simple-input-width
  display inline-block
  vertical-align top

{$selector-page-total}
  margin-right $page-element-gap

{$selector-page-simple}
  display inline-block

  > {$selector-page-prev}
    margin-right $page-element-gap

  > {$selector-page-next}
    margin-left $page-element-gap

{$selector-page-separator}
  font-size 90%
  color $brand-text-muted
  margin 0 $ui-icon-text-gap
