{$selector-page-list}
  display inline-block

{$selector-page-item}
  display inline-block
  text-align center
  cursor $cursor-clickable
  border-radius $radius-base
  border 1px solid $brand-border
  color $page-item-color
  font-size $page-item-font-size
  transition all .2s ease-in-out

  + {$selector-page-item}
    margin-left $page-item-gap

{$selector-page-active}
  cursor $cursor-text

{$selector-page-item}:hover,
{$selector-page-active}
  color $brand-primary
  border-color $brand-primary

{$selector-page-disabled}
  cursor $cursor-disabled

{$selector-page-disabled},
{$selector-page-disabled}:hover
  color $brand-text-disabled
  border-color $brand-border-disabled

{$selector-page-custom-prev} + {$selector-page-item},
{$selector-page-custom-next}
  margin-left $page-element-gap

{$selector-page-item-prev},
{$selector-page-item-next}
  border none
  &:after
    content "\2022\2022\2022"
    display block
    letter-spacing 1px
    color $brand-border
    text-align center

  > {$selector-icon}
    display none

    + {$selector-icon}
      margin-left 0

  &:hover
    &:after
      display none

    > {$selector-icon}
      display inline-block




{$selector-page}
  user-select none
  font-size $ui-font-size
  ui-page()

  {$selector-page-custom-prev},
  {$selector-page-custom-next}
    border none
    width auto

{$selector-page-select}
  width $page-select-width
  margin-right $page-element-gap
  vertical-align top

{$selector-page-elevator}
  display inline-block
  margin-left $page-element-gap

{$selector-page-elevator-input}
  width $page-elevator-input-width
  display inline-block
  vertical-align top
  margin-right $ui-label-gap

{$selector-page-simple-input}
  width $page-simple-input-width
  display inline-block
  vertical-align top

{$selector-page-total}
  margin-right $page-element-gap

{$selector-page-simple}
  display inline-block

  > {$selector-page-prev}
    margin-right $page-element-gap

  > {$selector-page-next}
    margin-left $page-element-gap

{$selector-page-separator}
  font-size 90%
  color $brand-muted
  margin 0 $ui-label-gap
