{$selector-pagination-list}
  display inline-block

{$selector-pagination-hidden}
  display none

{$selector-pagination-item},
{$selector-pagination-custom-prev},
{$selector-pagination-custom-next}
  display inline-block
  text-align center
  color $brand-content
  ui-clickable()

{$selector-pagination-item}
  outline 0
  padding 0
  border-radius $border-radius-default
  border 1px solid $brand-border
  background-color $brand-bg
  transition color .2s, border-color .2s, box-shadow .2s, background-color .2s

  &:disabled
    cursor $cursor-disabled
    color $brand-disabled
    border-color $brand-border
    background-color $brand-bg-disabled

  + {$selector-pagination-item}
    margin-left $ui-horizontal-gap

{$selector-pagination-custom-prev},
{$selector-pagination-custom-next}
  border 0
  background-color transparent

{$selector-pagination-custom-disabled}
  cursor $cursor-disabled
  color $brand-disabled

{$selector-pagination-active}
  cursor $cursor-default

{$selector-pagination-item}:hover,
{$selector-pagination-active}
  color $brand-primary
  border-color $brand-primary

  &:disabled
    color $brand-disabled
    border-color $brand-border

if $ui-shadow-radius > 0
  {$selector-pagination-item}:focus
    box-shadow 0 0 0 $ui-shadow-radius $brand-primary-shadow

{$selector-pagination-custom-prev} + {$selector-pagination-item},
{$selector-pagination-item} + {$selector-pagination-custom-next}
  margin-left $pagination-element-gap

{$selector-pagination-ellipsis}
  display inline-block
  width $pagination-ellipsis-width
  text-align center
  margin 0  $ui-horizontal-gap
  ui-clickable()

  &:after
    content '•••'
    display block
    letter-spacing 1px
    color $brand-border
    text-align center

  > {$selector-icon}
    color $brand-primary
    display none

  &:hover

    &:after
      display none

    > {$selector-icon}
      display inline-block




{$selector-pagination}
  user-select none
  ui-pagination()

{$selector-pagination-select}
  width $pagination-select-width
  margin-right $pagination-element-gap
  vertical-align top

{$selector-pagination-jumper}
  display inline-block
  margin-left $pagination-element-gap

{$selector-pagination-jumper-input}
  width $pagination-jumper-input-width
  display inline-block
  vertical-align top
  margin-right $ui-icon-text-gap

{$selector-pagination-simple-input}
  width $pagination-simple-input-width
  display inline-block
  vertical-align top

{$selector-pagination-total}
  margin-right $pagination-element-gap

{$selector-pagination-simple}
  display inline-block

  > {$selector-pagination-prev}
    margin-right $pagination-element-gap

  > {$selector-pagination-next}
    margin-left $pagination-element-gap

{$selector-pagination-separator}
  color $brand-muted
  margin 0 $ui-icon-text-gap

{$selector-pagination-count}
  color $brand-content