{$selector-progress}
  ui-progress()
  vertical-align middle

{$selector-progress-track}
  background-color $progress-bg-color
  border-radius $border-radius-round

{$selector-progress-bar}
  border-radius $border-radius-round
  transition height .2s, width .2s

{$selector-progress-text}
  white-space nowrap
  color $brand-content
  font-size $font-size-default

{$selector-progress-inside}
  {$selector-progress-track}
    text-align right

  {$selector-progress-text}
    color $brand-white
    font-size 80%
    margin-right $ui-horizontal-gap

{$selector-progress-outside}
  &{$selector-progress-horizontal}
    > {$selector-progress-text}
      padding-left $ui-horizontal-gap

{$selector-progress-with-text}
  display table

{$selector-progress-block},
{$selector-progress-block} + {$selector-progress-text}
  display table-cell
  vertical-align middle

{$selector-progress-block}
  width 100%

{$selector-progress-block} + {$selector-progress-text}
  width 1px

{$selector-progress-horizontal}
  {$selector-progress-bar}
    position relative

{$selector-progress-vertical}
  height 100%
  display inline-block
  text-align center

  {$selector-progress-track}
    position relative
    height 100%
    margin 0 auto

  {$selector-progress-bar}
    position absolute
    bottom 0

  > {$selector-progress-text}
    text-align center
    margin-top $ui-horizontal-gap

{$selector-progress-active}
  {$selector-progress-bar}:before
    content ''
    opacity 0
    position absolute
    left 0
    bottom 0
    background-color $brand-white
    border-radius $border-radius-round

  &{$selector-progress-horizontal}
    {$selector-progress-bar}:before
      top 0
      animation bell-progress-horizontal-active 2s ease-in-out infinite

  &{$selector-progress-vertical}
    {$selector-progress-bar}:before
      right 0
      animation bell-progress-vertical-active 2s ease-in-out infinite


@keyframes bell-progress-horizontal-active {
  0% {
    opacity .3
    width 0
  }
  100% {
    opacity 0
    width 100%
  }
}
@keyframes bell-progress-vertical-active {
  0% {
    opacity .3
    height 0
  }
  100% {
    opacity 0
    height 100%
  }
}
