{$selector-progress}
  ui-progress()
  vertical-align middle

{$selector-progress-track}
  background-color $progress-bg-color
  border-radius 100px

{$selector-progress-bar}
  border-radius 100px
  transition height .2s, width .2s

{$selector-progress-text}
  white-space nowrap
  color $brand-text
  font-size $progress-text-font-size

{$selector-progress-inside}
  {$selector-progress-track}
    text-align right

  {$selector-progress-text}
    color $brand-white
    margin-right $ui-icon-text-gap

{$selector-progress-outside}
  &{$selector-progress-horizontal}
    > {$selector-progress-text}
      padding-left $ui-icon-text-gap

{$selector-progress-with-text}
  display table

{$selector-progress-fluid},
{$selector-progress-fluid} + {$selector-progress-text}
  display table-cell
  vertical-align middle

{$selector-progress-fluid}
  width 100%

{$selector-progress-fluid} + {$selector-progress-text}
  width 1px

{$selector-progress-horizontal}
  {$selector-progress-bar}
    position relative

{$selector-progress-vertical}
  height 100%
  display inline-block
  text-align center

  {$selector-progress-track}
    position relative
    height 100%
    margin 0 auto

  {$selector-progress-bar}
    position absolute
    bottom 0

  > {$selector-progress-text}
    text-align center
    margin-top $ui-icon-text-gap

{$selector-progress-animated}
  {$selector-progress-bar}:before
    content ''
    opacity 0
    position absolute
    left 0
    bottom 0
    background-color $brand-white
    border-radius 100px

  &{$selector-progress-horizontal}
    {$selector-progress-bar}:before
      top 0
      animation bell-progress-horizontal-animated 2s ease-in-out infinite

  &{$selector-progress-vertical}
    {$selector-progress-bar}:before
      right 0
      animation bell-progress-vertical-animated 2s ease-in-out infinite


@keyframes bell-progress-horizontal-animated {
  0% {
    opacity .3
    width 0
  }
  100% {
    opacity 0
    width 100%
  }
}
@keyframes bell-progress-vertical-animated {
  0% {
    opacity .3
    height 0
  }
  100% {
    opacity 0
    height 100%
  }
}
