{$selector-radio-button}
  display inline-block

  + {$selector-radio-button}
    margin-left $ui-horizontal-gap

  {$selector-radio-icon}
    display none

  > {$selector-radio}
    border 1px solid $brand-border
    background-color $brand-bg
    color $brand-text
    transition border-color .2s, color .2s, background-color .2s, box-shadow .2s

    &:first-child
      border-top-left-radius $border-radius-default
      border-bottom-left-radius $border-radius-default

    &:last-child
      border-top-right-radius $border-radius-default
      border-bottom-right-radius $border-radius-default

    + {$selector-radio}
      margin-left 0
      border-left none

    &{$selector-radio-active},
    &{$selector-radio-active}:hover
      color $brand-white

  > {$selector-radio-disabled}
    opacity $ui-opacity-disabled

  > {$selector-radio-enabled}

    &:before
      content ''
      position absolute
      width 1px
      left -1px
      top -1px
      bottom -1px
      transition background-color .2s

    &:first-child:before
      content none

    &{$selector-radio-active}
      z-index 1

  radio-button-group-brand-style({
    color: $brand-primary,
    shadow-color: $brand-primary-shadow
  })

  // 必须放最后
  ui-radio-button-group()