{$selector-radio-button}
  display inline-block

  + {$selector-radio-button}
    margin-left $ui-horizontal-gap

  {$selector-radio-icon}
    display none

  > {$selector-radio}
    border 1px solid
    transition border-color .2s, color .2s, background-color .2s, box-shadow .2s

    &:first-child
      border-top-left-radius $radius-base
      border-bottom-left-radius $radius-base

    &:last-child
      border-top-right-radius $radius-base
      border-bottom-right-radius $radius-base

    + {$selector-radio}
      margin-left 0
      border-left none

  > {$selector-radio-disabled}
    border-color $brand-border-disabled
    background-color $brand-bg-disabled
    color $brand-text-disabled

    &{$selector-radio-active}
      background-color $brand-bg-checked-disabled

  > {$selector-radio-enabled}
    border-color $brand-border
    background-color $brand-bg
    color $brand-text

    &:before
      content ' '
      position absolute
      width 1px
      left -1px
      top -1px
      bottom -1px
      transition background-color .2s

    &:first-child:before
      content none

    &{$selector-radio-active}
      z-index 1

  // 必须放最后
  ui-radio-button-group()