{$selector-radio-button}
    display inline-block
    user-select none
    border-radius $radio-button-radius
    font-size $radio-button-font-size

    +{$selector-radio-button}
        margin-left $radio-button-gap

    {$selector-radio}-wrapper
        display none

    {$selector-radio}
        margin-right 0
        display inline-block
        padding $radio-button-padding
        border 1px solid $radio-button-border-color
        transition all .2s ease-in-out
        cursor $cursor-clickable

        +{$selector-radio}
            margin-left -1px

        {$selector-radio}-label
            margin-left 0

        &{$selector-active}
            border-color $radio-button-active-border-color
            color $radio-button-active-color
            +{$selector-radio}
                border-left-color transparent

    {$selector-radio}:first-child
        border-radius $radio-button-radius 0 0 $radio-button-radius

    {$selector-radio}:last-child
        border-radius 0 $radio-button-radius $radio-button-radius 0

    &{$selector-radio-group}
        ui-radio-button-group()

    {$selector-radio}-disabled
        border-color $radio-button-disabled-border-color
        color $radio-button-disabled-color
        cursor $cursor-disabled

        &{$selector-active}
            border-color $radio-button-disabled-border-color
            color $radio-button-disabled-color
            background-color $radio-button-disabled-background-color