{$selector-radio-group}
  display inline-block
  ui-radio-group()

{$selector-radio}
  display inline-block
  user-select none
  position relative

  radio-brand-style($brand-primary, $brand-primary-shadow)

  ui-radio()

  + {$selector-radio}
    margin-left $ui-horizontal-gap

{$selector-radio-active}
  > {$selector-radio-icon}:after
    opacity 1
    transform scale(1)

{$selector-radio-icon}
  position absolute
  left 0
  top 50%
  border-radius 50%
  box-sizing border-box
  border 1px solid $brand-border
  transition border-color 0.3s, box-shadow 0.3s

  &:after
    content ''

    position absolute
    left 50%
    top 50%

    border-radius 50%
    background-color $brand-border

    opacity 0
    transform scale(0)
    transition transform .2s, opacity .2s


{$selector-radio-input}
  position absolute
  opacity 0

{$selector-radio-enabled},
{$selector-radio-enabled} input
  cursor $cursor-clickable

{$selector-radio-enabled}:hover
  > {$selector-radio-icon}
    border-color $brand-border-hover

{$selector-radio-disabled},
{$selector-radio-disabled} input
  cursor $cursor-disabled

{$selector-radio-disabled}
  opacity $ui-opacity-disabled

{$selector-radio-vertical}
  > {$selector-radio}
    width 100%
    display block

    + {$selector-radio}
      margin-left 0
      margin-top $ui-vertical-gap
