{$selector-select}
  display inline-block
  vertical-align middle
  user-select none
  text-align left
  width 100%
  position relative

  ui-scrollbar()

  &{$selector-active}
    {$selector-prefix}-dropdown-list
      max-height $select-dropdown-height

    {$selector-select}-arrow
      transform rotate(180deg)

  &{$selector-select}-multiple
    {$selector-select}-value,
    {$selector-select}-placeholder
      white-space normal
      line-height 1.8

      {$selector-tag}
        margin 0px 4px 3px 0

  &{$selector-select}-with-prefix
    {$selector-select-button}
      display flex
      align-items center
      justify-content center

    {$selector-select}-value,
    {$selector-select}-placeholder
      flex 1

    {$selector-select}-prefix
      display flex
      align-items center
      padding-left 8px

  {$selector-select-button}
    width 100%
    display inline-block
    vertical-align middle
    position relative
    outline 0
    cursor pointer
    border 1px solid
    border-radius $radius-base
    transition border-color .3s, box-shadow .3s

    {$selector-select}-arrow
      position absolute
      right 0
      top 0
      font-size 14px
      color $brand-muted
      transform-origin center
      padding $select-icon-padding
      transition transform .3s

    {$selector-select}-value,
    {$selector-select}-placeholder
      display block
      overflow hidden
      text-overflow ellipsis
      white-space nowrap
      color $brand-muted
      padding-right $select-padding-right
      padding-left $select-padding-left

      &{$selector-prefix}-hide
        display none

    {$selector-select}-value
      color $brand-main

  {$selector-prefix}-dropdown-list
    min-width 100%
    {$selector-select}-option
      cursor pointer
      &{$selector-active}
        font-weight bold

    {$selector-select}-option-title
      color $select-option-color

  &{$selector-select}-disabled
    {$selector-select}-button
      cursor not-allowed

      &{$selector-hover}
        border-color $brand-border

  &{$selector-select}-top
    {$selector-prefix}-dropdown-list
      top auto

    {$selector-select}-button
      {$selector-select}-arrow
        transform rotate(180deg)

    &{$selector-active}
      {$selector-select}-arrow
        transform rotate(0)

  &{$selector-select}-clearable
    {$selector-select}-clear-icon
      font-size 16px
      color #808695
      position absolute
      top 50%
      right 0
      opacity 0
      padding 0 6px
      transform translateY(-50%)
      transition opacity .3s

    {$selector-hover}
      {$selector-select}-arrow
        display none

      {$selector-select}-clear-icon
        opacity 1

  ui-select()
