{$selector-select}
  width $ui-form-element-width
  box-sizing border-box
  display inline-block
  user-select none
  text-align left
  position relative

  > {$selector-dropdown-list}
    width 100%
    max-height $select-dropdown-list-height

  {$selector-dropdown-item-active}
    color $brand-primary

  ui-select()

{$selector-select-group} + {$selector-select-group}
  border-top 1px solid $brand-divider
  margin-top $dropdown-list-inset
  padding-top $dropdown-list-inset

{$selector-select-group-title}
  color $brand-text-muted
  font-size 90%
  padding $dropdown-list-item-padding-vertical $padding-horizontal-default

{$selector-select-button-with-prefix}
  display inline-table
  width 100%

  > {$selector-select-values},
  > {$selector-select-value},
  > {$selector-select-placeholder}
    padding-left $ui-icon-text-gap

{$selector-select-prefix}
  display table-cell
  vertical-align middle
  width 1px

{$selector-select-prefix-icon}
  color $select-prefix-icon-color
  font-size $ui-icon-size

{$selector-dropdown-fade}
  {$selector-select-arrow-icon}
    transform translateY(-50%) rotate(-180deg)

{$selector-dropdown}-top,
{$selector-dropdown}-top-start,
{$selector-dropdown}-top-end
  {$selector-select-arrow-icon}
    transform translateY(-50%) rotate(-180deg)

  &{$selector-dropdown-fade}
    {$selector-select-arrow-icon}
      transform translateY(-50%) rotate(0)
