{$selector-slider}
  ui-slider()

  width 100%
  user-select none
  outline none
  cursor pointer

  &{$selector-slider-dragging}
    {$selector-slider-thumb}
      transform scale(1.5)

  &{$selector-slider}-disabled
    cursor not-allowed

    {$selector-slider-thumb}
      cursor not-allowed
      {$selector-hover}
        transform scale(1)

  {$selector-slider-bg}
    width 100%
    height $slider-height
    border-radius $border-radius-default
    background-color $brand-border-disabled
    position relative

  {$selector-slider-fill}
    position absolute
    left 0
    top 0
    height 100%
    border-radius $border-radius-default
    border-top-right-radius 0
    border-bottom-right-radius 0

  {$selector-slider-thumb}
    width $slider-thumb-size
    height $slider-thumb-size
    position absolute
    top 50%
    margin-top - $slider-height - 1
    border-radius 50%
    background-color $brand-bg
    border 2px solid transparent
    margin-left -1px
    transition transform .3s

    {$selector-hover}
      transform scale(1.5)
