{$selector-spinner}
  display inline-block
  vertical-align middle
  text-align center
  ui-spinner()

{$selector-spinner-content}
  text-align center

{$selector-spinner-dot}
  display inline-block
  border-radius 50%
  animation bell-spinner-bounce 1s 0s ease-in-out infinite

  + {$selector-spinner-text}
    margin-top $ui-icon-text-gap

{$selector-spinner-fixed}

  ui-fullscreen(absolute)
  background-color $spinner-mask-color
  z-index 1

  > {$selector-spinner-content}
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)

@keyframes bell-spinner-bounce {
  0% {
    transform scale(0)
  }
  100% {
    transform scale(1)
    opacity 0
  }
}