{$selector-spin}
  display inline-block
  text-align center
  line-height 1.7
  ui-spin()

{$selector-spin-content}
  text-align center

{$selector-spin-icon}
  vertical-align top

{$selector-spin-fixed}

  ui-fullscreen(absolute)

  z-index 1

  > {$selector-spin-content}
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)

  &{$selector-spin-light}
    background-color $brand-mask-light-color

    &{$selector-spin-legacy}
      background-color $brand-mask-light-color-legacy
      opacity $brand-mask-light-opacity-legacy

  &{$selector-spin-dark}
    background-color $brand-mask-dark-color

    &{$selector-spin-legacy}
      background-color $brand-mask-dark-color-legacy
      opacity $brand-mask-dark-opacity-legacy
