{$selector-switch}

    cursor pointer
    position relative
    user-select none
    display inline-block
    box-sizing border-box
    border 1px solid
    transition border-color .3s, background-color .3s
    font-size $switch-font-size

    ui-switch()

    +{$selector-switch}

        margin-left $switch-margin-gap

    &{$selector-active}

        {$selector-switch-button}

            {$selector-switch}-on

                display inline

            {$selector-switch}-off

                display none

            &:after

                left 100%

    {$selector-switch-button}

        display inline-block

        {$selector-switch}-on

            display none

        {$selector-switch}-off

            display inline

        {$selector-switch}-on,
        {$selector-switch}-off,

            margin-top -1px
            text-align center

        &:after

            cursor pointer
            content " "
            position absolute
            left 1px
            top 1px
            border-radius 100%
            transition left .3s, margin-left .3s

{$selector-switch}-disabled

    cursor $cursor-disabled

    {$selector-switch-button}

        cursor $cursor-disabled

        &:after

            cursor $cursor-disabled