{$selector-table},
{$selector-table-header}
  width 100%
  box-sizing border-box
  margin 0
  padding 0
  font-variant tabular-nums
  list-style none
  font-feature-settings 'tnum'
  position relative
  clear both
  background-color #fff

  td,
  th
    border none


  tr:nth-child(2n)
    background-color #fff

  color rgba(0,0,0,.65)
  font-size 14px
  line-height 1.5

{$selector-table-stripe}
  tr:nth-child(2n)
    background-color #f8f8f9

{$selector-table-border}
  td,
  th
    border 1px solid #ddd

{$selector-table-header}
  th 
    white-space nowrap
    overflow hidden
    text-align left

    height 40px
    background-color #f8f8f9

{$selector-table-body}
  td
    min-width 0
    cursor default
    box-sizing border-box
    text-align left
    text-overflow ellipsis
    vertical-align middle

    height 48px
    border-bottom 1px solid #e8eaec

   tr:hover
    background-color #ebf7ff

{$selector-table-fixed}
  position relative

  th,
  td 
    word-break keep-all
    white-space nowrap

{$selector-table-hidden}
  visibility hidden

{$selector-table-fixed-header}
  position absolute
  top 0
  z-index 1

{$selector-table-fixed-left}
  position absolute
  left 0 
  top 0
  z-index 1
  box-shadow 2px 0 6px -2px rgba(0,0,0,.2)

{$selector-table-fixed-right}
  position absolute
  right 0
  top 0
  z-index 1
  box-shadow -2px 0 6px -2px rgba(0,0,0,.2)