{$selector-table}
  width 100%
  box-sizing border-box
  background-color $brand-bg

  color $brand-text
  font-size $font-size-default
  line-height $ui-multiple-line-height

  > table
    box-sizing border-box
    width 100%
    border 0
    margin 0
    padding 0

  td
    border 0
    box-sizing border-box

  tr
    border 0
    background-color transparent


{$selector-table-stripe}
  tbody
    > tr:nth-child(2n)
      background-color $brand-bg-light

{$selector-table-bordered}
  border 1px solid $brand-border

  td + td
    border-left 1px solid $brand-divider

{$selector-table-header}
  border-bottom 1px solid $brand-divider

  td
    color $brand-text-important
    font-size $font-size-large
    line-height $ui-single-line-height
    font-weight bold
    white-space nowrap
    overflow hidden
    background-color $brand-bg-light
    padding $table-header-cell-padding-vertical $table-header-cell-padding-horizontal

{$selector-table-body}

  tr:hover
      background-color $table-row-highlight

  tr + tr
    border-top 1px solid $brand-divider

  td
    text-overflow ellipsis
    vertical-align middle
    padding $table-body-cell-padding-vertical $table-body-cell-padding-horizontal

{$selector-table-empty}
  padding $table-empty-padding-vertical 0

{$selector-table-left}
  text-align left

{$selector-table-center}
  text-align center

{$selector-table-right}
  text-align right