{$selector-tabs}
  ui-tabs()

{$selector-tabs-bar}
  border-bottom 1px solid $brand-border

  + {$selector-tabs-content}
    margin-top $tabs-nav-content-gap

{$selector-tabs-nav}
  margin-bottom -1px
  position relative
  overflow hidden
  white-space nowrap
  user-select none

{$selector-tabs-indicator}
  position absolute
  bottom 0
  height 2px
  background-color $brand-primary
  transition width .2s, left .2s

{$selector-tabs-extra}
  float right

{$selector-tabs-tab}
  display inline-block
  position relative
  box-sizing content-box

{$selector-tabs-tab-icon}
  margin-right $ui-label-gap

{$selector-tabs-tab-close-icon}
  color $tabs-close-color
  cursor $cursor-clickable
  vertical-align top
  display inline-block
  margin-right -6px
  width 0
  height $tabs-close-size
  line-height $tabs-close-size
  text-align center
  overflow hidden
  transition color .3s, width .3s

  &:hover
    color $tabs-close-color-hover

{$selector-tabs-tab-enabled}
  border-color $brand-border
  color $brand-text
  cursor $cursor-clickable

  &:hover
    color $brand-primary

{$selector-tabs-tab-disabled}
  border-color $brand-border-disabled
  color $brand-text-disabled
  cursor $cursor-disabled

{$selector-tabs-tab-active}
  color $brand-primary
  border-color $brand-primary

  &{$selector-tabs-tab-enabled}
    cursor default

  &:after
    width 100%

  {$selector-tabs-tab-close-icon}
    width $tabs-close-size

{$selector-tabs-tab-unactive}:hover
  > {$selector-tabs-tab-close-icon}
    width $tabs-close-size

{$selector-tabs-content}
  width 100%
  overflow hidden
  display flex
  flex-direction row

  ::-webkit-scrollbar
    display none

{$selector-tabs-panel}
  outline 0
  flex-shrink 0
  width 100%
  opacity 1
  transition opacity .3s

{$selector-tabs-panel-disabled}
  opacity 0

{$selector-tabs-card}

  {$selector-tabs-tab}
    border 1px solid $brand-border
    border-radius $tabs-card-border-radius $tabs-card-border-radius 0 0
    transition all .3s cubic-bezier(.645,.045,.355,1)

    + {$selector-tabs-tab}
      margin-left $tabs-card-gap

    &{$selector-tabs-tab-active}
      border-bottom-color $tabs-card-bg-color-active

    &{$selector-tabs-tab-disabled}
      border-color $brand-color-disabled
      &:after
        background-color $brand-border-disabled

    &{$selector-tabs-tab-enabled}
      background-color $tabs-card-bg-color
      &{$selector-tabs-tab-active}
        background-color $tabs-card-bg-color-active

{$selector-tabs-animated}
  {$selector-tabs-content}
    will-change transform
    transition transform .3s ease-in-out

