{$selector-tabs}
  ui-tabs()

{$selector-tabs-bar}
  border-bottom 1px solid $brand-border

  + {$selector-tabs-content}
    margin-top $tabs-nav-content-gap

{$selector-tabs-nav}
  margin-bottom -1px
  position relative
  overflow hidden
  white-space nowrap
  user-select none

{$selector-tabs-tab}
  display inline-block
  position relative
  box-sizing border-box
  vertical-align bottom

  if $tabs-indicator-height > 0
    &:after
      content ''
      position absolute
      bottom 0
      left 0
      right 0
      height 0
      background-color $brand-primary
      transition height .4s

{$selector-tabs-tab-icon}
  margin-right $ui-icon-text-gap

{$selector-tabs-tab-close-icon}
  color $brand-close-color
  cursor $cursor-clickable
  margin-right -6px
  margin-left $ui-icon-text-gap
  font-size $tabs-close-icon-size
  text-align center
  overflow hidden
  transition color .3s

  &:hover
    color $brand-close-color-hover

{$selector-tabs-tab-enabled}
  border-color $brand-border
  color $brand-content
  cursor $cursor-clickable

  &:hover
    color $brand-primary

{$selector-tabs-tab-active}
  color $brand-primary
  border-color $brand-primary

  &{$selector-tabs-tab-enabled}
    cursor $cursor-default

  if $tabs-indicator-height > 0
    &:after
      height $tabs-indicator-height

{$selector-tabs-tab-disabled}
  color $brand-disabled
  cursor $cursor-disabled

  &:after
    background-color $brand-disabled

{$selector-tabs-panel}
  display none

{$selector-tabs-panel-active}
  display block

{$selector-tabs-card}

  {$selector-tabs-tab}
    border 1px solid $brand-border
    border-left-width 0
    transition all .2s cubic-bezier(.645,.045,.355,1)

    &:first-child
      border-left-width 1px

    &:after
      display none

    &{$selector-tabs-tab-enabled}
      background-color $tabs-card-bg-color

    &{$selector-tabs-tab-active}
      border-bottom-color $tabs-card-bg-color-active
      background-color $tabs-card-bg-color-active