{$selector-tag}
  display inline-block
  position relative
  border 1px solid $brand-border
  background-color $tag-bg-color
  color $brand-content
  border-radius $border-radius-default
  box-sizing border-box
  transition background-color .3s, border-color .3s, color .3s

{$selector-tag-checkable}
  cursor $cursor-clickable
  user-select none

{$selector-tag-close-icon}
  position absolute
  top 0
  right 0
  bottom 0
  cursor $cursor-clickable
  text-align center
  color $brand-close-color
  font-size $tag-close-icon-size
  line-height inherit
  transition color .3s

  &:hover
    color $brand-close-color-hover

// 放在最后，避免被覆盖
{$selector-tag}
  ui-tag()

{$selector-tag-pure}
  border 0
  background-color transparent
  color $brand-white

  > {$selector-tag-close-icon},
  > {$selector-tag-close-icon}:hover
    color inherit