
{$selector-text}
    ui-text()

{$selector-text}-nowrap
    ui-set('white-space', nowrap, true)

{$selector-text}-truncate
    ui-ellipsis()

{$selector-text}-lowercase
    ui-set('text-transform', lowercase, true)

{$selector-text}-uppercase
    ui-set('text-transform', uppercase, true)

{$selector-text}-capitalize
    ui-set('text-transform', capitalize, true)


{$selector-text}-weight-bold
    ui-set('font-weight', 700, true)

{$selector-text}-weight-normal
    ui-set('font-weight', 400, true)

{$selector-text}-weight-light
    ui-set('font-weight', 300, true)

{$selector-text}-italic
    ui-set('font-style', italic, true)

{$selector-texts}
    ui-texts()

    &{$selector-tight}
        ui-collection-tight(
            $selector-text
        )
