{$selector-textarea}
  display inline-block
  width $ui-form-element-width
  box-sizing border-box
  ui-textarea()

{$selector-textarea-block}
  display block
  width 100%

{$selector-textarea-el}
  resize none
  // 不用 $ui-mutiple-line-height，方便计算出一个整数
  line-height 1.5
  ui-scrollbar()