{$selector-text}
  ui-text()

body
  font-family "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif

a
  color $brand-primary
  text-decoration none
  transition color .2s

  &:hover
    color $brand-primary-hover