{$selector-timeline-item}
  padding-bottom $timeline-item-gap
  position relative

  &:before
    content ' '
    height 100%
    border-left 1px solid #e8eaec
    position absolute
    left 0.5 * $timeline-dot-size
    top 0

  &:last-child
    padding-bottom 0
    &:before
      display none

{$selector-timeline-dot}
  position absolute
  width $timeline-dot-size
  height $timeline-dot-size
  background-color $timeline-dot-bg-color
  border-radius 50%
  border 1px solid

{$selector-timeline-custom}
  text-align center
  position absolute
  background-color $timeline-custom-bg-color
  width $timeline-custom-width
  left $timeline-custom-left

{$selector-timeline-content}
  position relative
  padding-left $timeline-content-padding-left
  font-size $timeline-content-font-size
  top -3px
  line-height 1.6
  p
    padding 0
    margin 0

{$selector-timeline-pending}
  {$selector-timeline-item}
    &:nth-last-of-type(2):before
      border-left-style dotted

