{$selector-tooltip}
  position relative
  display inline-block

{$selector-tooltip-arrow},
{$selector-tooltip-arrow}:before
  position absolute
  width 0
  height 0
  border $tooltip-arrow-size solid transparent

{$selector-tooltip-arrow}:before
  content ''

{$selector-tooltip-popup}
  position absolute
  font-size 0
  line-height 0
  display none
  z-index $zindex-tooltip
  transition opacity .3s

{$selector-tooltip-visible}
  display block
  opacity 0

{$selector-tooltip-fade}
  opacity 1

{$selector-tooltip-content}
  font-size $font-size-small
  line-height $ui-multiple-line-height

  text-align left
  white-space nowrap
  overflow auto

  border 1px solid transparent
  padding $tooltip-padding
  box-shadow $brand-message-shadow
  border-radius $border-radius-default
  box-sizing border-box

{$selector-tooltip-dark}
  > {$selector-tooltip-arrow}
    border-color $tooltip-dark-border-color
    &:before
      border-color $tooltip-dark-bg-color

  > {$selector-tooltip-content}
    color $tooltip-dark-color
    border-color $tooltip-dark-border-color
    background-color $tooltip-dark-bg-color

{$selector-tooltip-light}
  > {$selector-tooltip-arrow}
    border-color $tooltip-light-border-color
    &:before
      border-color $tooltip-light-bg-color

  > {$selector-tooltip-content}
    color $tooltip-light-color
    border-color $tooltip-light-border-color
    background-color $tooltip-light-bg-color


{$selector-tooltip}-bottom,
{$selector-tooltip}-bottom-start,
{$selector-tooltip}-bottom-end

  padding-top $tooltip-padding-inner

  > {$selector-tooltip-arrow},
  > {$selector-tooltip-arrow}:before
    border-top-color transparent
    border-left-color transparent
    border-right-color transparent

  > {$selector-tooltip-arrow}
    top $tooltip-arrow-offset

  > {$selector-tooltip-arrow}:before
    left -1 * $tooltip-arrow-size
    top -1 * ($tooltip-arrow-size - 1)

{$selector-tooltip}-bottom

  left 50%

  > {$selector-tooltip-arrow}
    left 50%
    margin-left - $tooltip-arrow-size

{$selector-tooltip}-bottom-start

  left 0

  > {$selector-tooltip-arrow}
    left $tooltip-arrow-gap

{$selector-tooltip}-bottom-end

  right 0

  > {$selector-tooltip-arrow}
    right $tooltip-arrow-gap




{$selector-tooltip}-top,
{$selector-tooltip}-top-start,
{$selector-tooltip}-top-end

  top 0
  padding-bottom $tooltip-padding-inner

  > {$selector-tooltip-arrow},
  > {$selector-tooltip-arrow}:before
    border-bottom-color transparent
    border-left-color transparent
    border-right-color transparent

  > {$selector-tooltip-arrow}
    bottom $tooltip-arrow-offset

  > {$selector-tooltip-arrow}:before
    left -1 * $tooltip-arrow-size
    bottom -1 * ($tooltip-arrow-size - 1)


{$selector-tooltip}-top

  left 50%

  > {$selector-tooltip-arrow}
    left 50%
    margin-left - $tooltip-arrow-size

{$selector-tooltip}-top-start

  left 0

  > {$selector-tooltip-arrow}
    left $tooltip-arrow-gap

{$selector-tooltip}-top-end

  right 0

  > {$selector-tooltip-arrow}
    right $tooltip-arrow-gap





{$selector-tooltip}-left,
{$selector-tooltip}-left-start,
{$selector-tooltip}-left-end

  left 0
  padding-right $tooltip-padding-inner

  > {$selector-tooltip-arrow},
  > {$selector-tooltip-arrow}:before
    border-top-color transparent
    border-bottom-color transparent
    border-right-color transparent

  > {$selector-tooltip-arrow}
    right $tooltip-arrow-offset

  > {$selector-tooltip-arrow}:before
    top -1 * $tooltip-arrow-size
    right -1 * ($tooltip-arrow-size - 1)

{$selector-tooltip}-left

  top 50%

  > {$selector-tooltip-arrow}
    top 50%
    margin-top - $tooltip-arrow-size

{$selector-tooltip}-left-start

  top 0

  > {$selector-tooltip-arrow}
    top $tooltip-arrow-gap

{$selector-tooltip}-left-end

  bottom 0

  > {$selector-tooltip-arrow}
    bottom $tooltip-arrow-gap



{$selector-tooltip}-right,
{$selector-tooltip}-right-start,
{$selector-tooltip}-right-end

  left 100%
  padding-left $tooltip-padding-inner

  > {$selector-tooltip-arrow},
  > {$selector-tooltip-arrow}:before
    border-top-color transparent
    border-left-color transparent
    border-bottom-color transparent

  > {$selector-tooltip-arrow}
    left $tooltip-arrow-offset

  > {$selector-tooltip-arrow}:before
    top -1 * $tooltip-arrow-size
    left -1 * ($tooltip-arrow-size - 1)


{$selector-tooltip}-right
  top 50%

  > {$selector-tooltip-arrow}
    top 50%
    margin-top - $tooltip-arrow-size

{$selector-tooltip}-right-start
  top 0

  > {$selector-tooltip-arrow}
    top $tooltip-arrow-gap

{$selector-tooltip}-right-end
  bottom 0

  > {$selector-tooltip-arrow}
    bottom $tooltip-arrow-gap
