{$selector-tooltip}
  position relative
  display inline-block

{$selector-tooltip-arrow}
  position absolute
  width 0
  height 0
  border $tooltip-arrow-size solid transparent

{$selector-tooltip-popup}
  position absolute
  font-size 0
  line-height 0
  display none
  z-index $zindex-tooltip
  transition transform .2s cubic-bezier(.23,1,.32,1),
              opacity .2s cubic-bezier(.23,1,.32,1)

  ui-scrollbar()

{$selector-tooltip-visible}
  > {$selector-tooltip-popup}
    display block
    opacity 0

{$selector-tooltip-fade}
  > {$selector-tooltip-popup}
    opacity 1

{$selector-tooltip-content}
  font-size $tooltip-font-size
  line-height $ui-single-line-height

  text-align left
  white-space nowrap
  overflow auto

  max-width $tooltip-max-width
  padding $tooltip-padding
  box-shadow $brand-layer-shadow
  border-radius $border-radius-default
  box-sizing border-box

{$selector-tooltip-dark}
  {$selector-tooltip-arrow}
    border-color $tooltip-bg-color-dark

  {$selector-tooltip-content}
    color $tooltip-color-dark
    background-color $tooltip-bg-color-dark

{$selector-tooltip-light}
  {$selector-tooltip-arrow}
    border-color $tooltip-bg-color-light

  {$selector-tooltip-content}
    color $tooltip-color-light
    background-color $tooltip-bg-color-light


{$selector-tooltip}-bottom,
{$selector-tooltip}-bottom-start,
{$selector-tooltip}-bottom-end

  > {$selector-tooltip-popup}
    padding-top $tooltip-padding-inner
    transform scaleY(0)
    transform-origin center top

    > {$selector-tooltip-arrow}
      top $tooltip-arrow-offset
      border-top-color transparent
      border-left-color transparent
      border-right-color transparent

  &{$selector-tooltip-fade}
    > {$selector-tooltip-popup}
      transform scaleY(1)

{$selector-tooltip}-bottom

  > {$selector-tooltip-popup}
    left 50%

    > {$selector-tooltip-arrow}
      left 50%
      margin-left - $tooltip-arrow-size

{$selector-tooltip}-bottom-start

  > {$selector-tooltip-popup}
    left 0

    > {$selector-tooltip-arrow}
      left $tooltip-arrow-gap

{$selector-tooltip}-bottom-end

  > {$selector-tooltip-popup}
    right 0

    > {$selector-tooltip-arrow}
      right $tooltip-arrow-gap




{$selector-tooltip}-top,
{$selector-tooltip}-top-start,
{$selector-tooltip}-top-end

  > {$selector-tooltip-popup}
    top 0
    padding-bottom $tooltip-padding-inner
    transform scaleY(0)
    transform-origin center bottom

    > {$selector-tooltip-arrow}
      bottom $tooltip-arrow-offset
      border-bottom-color transparent
      border-left-color transparent
      border-right-color transparent

  &{$selector-tooltip-fade}
    > {$selector-tooltip-popup}
      transform scaleY(1)


{$selector-tooltip}-top

  > {$selector-tooltip-popup}
    left 50%

    > {$selector-tooltip-arrow}
      left 50%
      margin-left - $tooltip-arrow-size

{$selector-tooltip}-top-start

  > {$selector-tooltip-popup}
    left 0

    > {$selector-tooltip-arrow}
      left $tooltip-arrow-gap

{$selector-tooltip}-top-end

  > {$selector-tooltip-popup}
    right 0

    > {$selector-tooltip-arrow}
      right $tooltip-arrow-gap





{$selector-tooltip}-left,
{$selector-tooltip}-left-start,
{$selector-tooltip}-left-end

  > {$selector-tooltip-popup}
    left 0
    padding-right $tooltip-padding-inner
    transform scaleX(0)
    transform-origin right center

    > {$selector-tooltip-arrow}
      right $tooltip-arrow-offset
      border-top-color transparent
      border-bottom-color transparent
      border-right-color transparent

  &{$selector-tooltip-fade}
    > {$selector-tooltip-popup}
      transform scaleX(1)

{$selector-tooltip}-left

  > {$selector-tooltip-popup}
    top 50%

    > {$selector-tooltip-arrow}
      top 50%
      margin-top - $tooltip-arrow-size

{$selector-tooltip}-left-start

  > {$selector-tooltip-popup}
    top 0

    > {$selector-tooltip-arrow}
      top $tooltip-arrow-gap

{$selector-tooltip}-left-end

  > {$selector-tooltip-popup}
    bottom 0

    > {$selector-tooltip-arrow}
      bottom $tooltip-arrow-gap



{$selector-tooltip}-right,
{$selector-tooltip}-right-start,
{$selector-tooltip}-right-end

  > {$selector-tooltip-popup}
    left 100%
    padding-left $tooltip-padding-inner
    transform scaleX(0)
    transform-origin left center

    > {$selector-tooltip-arrow}
      left $tooltip-arrow-offset
      border-top-color transparent
      border-left-color transparent
      border-bottom-color transparent

  &{$selector-tooltip-fade}
    > {$selector-tooltip-popup}
      transform scaleX(1)


{$selector-tooltip}-right

  > {$selector-tooltip-popup}
    top 50%

    > {$selector-tooltip-arrow}
      top 50%
      margin-top - $tooltip-arrow-size

{$selector-tooltip}-right-start

  > {$selector-tooltip-popup}
    top 0

    > {$selector-tooltip-arrow}
      top $tooltip-arrow-gap

{$selector-tooltip}-right-end

  > {$selector-tooltip-popup}
    bottom 0

    > {$selector-tooltip-arrow}
      bottom $tooltip-arrow-gap
