

{$selector-tooltip-hover}
  {$selector-tooltip-popper}
    display block
    opacity 0

{$selector-tooltip-visible}
  {$selector-tooltip-popper}
    display block
    opacity 1

{$selector-tooltip}
  position relative
  display inline-block

{$selector-tooltip-arrow}
  position absolute
  width 0
  height 0
  border $tooltip-arrow-border-width solid transparent

{$selector-tooltip-popper}
  position absolute
  line-height 1.2
  display none
  transition opacity 0.3s

  font-size $tooltip-font-size
  z-index $zindex-tooltip

  ui-scrollbar()

  &{$selector-tooltip-disabled}
    display none

{$selector-tooltip}-inner
  text-align left
  white-space nowrap
  overflow auto

  max-width $tooltip-max-width
  padding $tooltip-padding
  color $tooltip-color
  background-color $tooltip-bg-color
  box-shadow $tooltip-box-shadow
  border-radius $radius-base
  box-sizing border-box

{$selector-tooltip-popper}-bottom
  left 50%
  padding $tooltip-placement-bottom-padding

  {$selector-tooltip-arrow}
    top $tooltip-placement-bottom-arrow-top
    left $tooltip-placement-bottom-arrow-left
    margin-left $tooltip-placement-bottom-arrow-margin-left
    border-bottom-color $tooltip-placement-bottom-arrow-border-bottom-color

{$selector-tooltip-popper}-bottom-start
  left 0
  padding $tooltip-placement-bottom-start-padding

  {$selector-tooltip-arrow}
    top $tooltip-placement-bottom-start-arrow-top
    left $tooltip-placement-bottom-start-arrow-left
    border-bottom-color $tooltip-placement-bottom-start-arrow-border-bottom-color

{$selector-tooltip-popper}-bottom-end
  right 0
  padding $tooltip-placement-bottom-end-padding

  {$selector-tooltip-arrow}
    right $tooltip-placement-bottom-end-arrow-right
    top $tooltip-placement-bottom-end-arrow-top
    border-bottom-color $tooltip-placement-bottom-end-arrow-border-bottom-color

{$selector-tooltip-popper}-top
  left 50%
  top 0
  padding $tooltip-placement-top-padding

  {$selector-tooltip-arrow}
    left $tooltip-placement-top-arrow-left
    bottom $tooltip-placement-top-arrow-bottom
    margin-left $tooltip-placement-top-arrow-margin-left
    border-top-color $tooltip-placement-top-arrow-border-top-color

{$selector-tooltip-popper}-top-start
  left 0
  top 0
  padding $tooltip-placement-top-start-padding

  {$selector-tooltip-arrow}
    left $tooltip-placement-top-start-arrow-left
    bottom $tooltip-placement-top-start-arrow-bottom
    border-top-color $tooltip-placement-top-start-arrow-border-top-color

{$selector-tooltip-popper}-top-end
  right 0
  top 0
  padding $tooltip-placement-top-end-padding

  {$selector-tooltip-arrow}
    right $tooltip-placement-top-end-arrow-right
    bottom $tooltip-placement-top-end-arrow-bottom
    border-top-color $tooltip-placement-top-end-arrow-border-top-color

{$selector-tooltip-popper}-left
  left 0
  top 50%
  padding $tooltip-placement-left-padding

  {$selector-tooltip-arrow}
    right $tooltip-placement-left-arrow-right
    top $tooltip-placement-left-arrow-top
    margin-top $tooltip-placement-left-arrow-margin-top
    border-left-color $tooltip-placement-left-arrow-border-left-color

{$selector-tooltip-popper}-left-start
  left 0
  top 0
  padding $tooltip-placement-left-start-padding

  {$selector-tooltip-arrow}
    right $tooltip-placement-left-start-arrow-right
    top $tooltip-placement-left-start-arrow-top
    border-left-color $tooltip-placement-left-start-arrow-border-left-color

{$selector-tooltip-popper}-left-end
  left 0
  bottom 0
  padding $tooltip-placement-left-end-padding

  {$selector-tooltip-arrow}
    right $tooltip-placement-left-end-arrow-right
    bottom $tooltip-placement-left-end-arrow-bottom
    border-left-color $tooltip-placement-left-end-arrow-border-left-color

{$selector-tooltip-popper}-right
  left 100%
  top 50%
  padding $tooltip-placement-right-padding

  {$selector-tooltip-arrow}
    left $tooltip-placement-right-arrow-left
    top $tooltip-placement-right-arrow-top
    margin-top $tooltip-placement-right-arrow-margin-top
    border-right-color $tooltip-placement-right-arrow-border-left-color

{$selector-tooltip-popper}-right-start
  left 100%
  top 0
  padding $tooltip-placement-right-start-padding

  {$selector-tooltip-arrow}
    left $tooltip-placement-right-start-arrow-left
    top $tooltip-placement-right-start-arrow-top
    border-right-color $tooltip-placement-right-start-arrow-border-left-color

{$selector-tooltip-popper}-right-end
  left 100%
  bottom 0
  padding $tooltip-placement-right-end-padding

  {$selector-tooltip-arrow}
    left $tooltip-placement-right-end-arrow-left
    bottom $tooltip-placement-right-end-arrow-bottom
    border-right-color $tooltip-placement-right-end-arrow-border-left-color
