// fade
.bell-fade-enter {
    opacity: 1;
    transition-property: opacity;
    transition-duration: 0.3s;
}
.bell-fade-leave {
    opacity: 0;
}
.bell-fade-appear {
    opacity: 0;
}

.bell-fade-enter-to {
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.3s;
}
.bell-fade-leave-to {
    opacity: 1;
}
.bell-fade-appear-to {
    opacity: 1;
}

// zoom-left
.bell-zoom-left-enter {
    transform: scaleX(1);
    transform-origin: left center;
    transition-property: transform;
    transition-duration: 0.3s;
}
.bell-zoom-left-leave {
    transform: scaleX(0);
}
.bell-zoom-left-appear {
    transform: scaleX(0);
}
.bell-zoom-left-enter-to {
    transform: scaleX(0);
    transform-origin: left top;
    transition-property: transform;
    transition-duration: 0.3s;
}
.bell-zoom-left-leave-to {
    transform: scaleX(1);
}
.bell-zoom-left-appear-to {
    transform: scaleX(1);
}

// zoom-right
.bell-zoom-right-enter {
    transform: scaleX(1);
    transform-origin: right center;
    transition-property: transform;
    transition-duration: 0.3s;
}
.bell-zoom-right-leave {
    transform: scaleX(0);
}
.bell-zoom-right-appear {
    transform: scaleX(0);
}
.bell-zoom-right-enter-to {
    transform: scaleX(0);
    transform-origin: right top;
    transition-property: transform;
    transition-duration: 0.3s;
}
.bell-zoom-right-leave-to {
    transform: scaleX(1);
}
.bell-zoom-right-appear-to {
    transform: scaleX(1);
}

// zoom-top
.bell-zoom-top-enter {
    transform: scaleY(1);
    transform-origin: center top;
    transition-property: transform;
    transition-duration: 0.3s;
}
.bell-zoom-top-leave {
    transform: scaleY(0);
}
.bell-zoom-top-appear {
    transform: scaleY(0);
}
.bell-zoom-top-enter-to {
    transform: scaleY(0);
    transform-origin: top top;
    transition-property: transform;
    transition-duration: 0.3s;
}
.bell-zoom-top-leave-to {
    transform: scaleY(1);
}
.bell-zoom-top-appear-to {
    transform: scaleY(1);
}

// zoom-bottom
.bell-zoom-bottom-enter {
    transform: scaleY(1);
    transform-origin: center bottom;
    transition-property: transform;
    transition-duration: 0.3s;
}
.bell-zoom-bottom-leave {
    transform: scaleY(0);
}
.bell-zoom-bottom-appear {
    transform: scaleY(0);
}
.bell-zoom-bottom-enter-to {
    transform: scaleY(0);
    transform-origin: bottom bottom;
    transition-property: transform;
    transition-duration: 0.3s;
}
.bell-zoom-bottom-leave-to {
    transform: scaleY(1);
}
.bell-zoom-bottom-appear-to {
    transform: scaleY(1);
}


// zoom-center-y
.bell-zoom-center-y-enter {
    transform: scaleY(1);
    transform-origin: center center;
    transition-property: transform;
    transition-duration: 0.3s;
}
.bell-zoom-center-y-leave {
    transform: scaleY(0);
}
.bell-zoom-center-y-appear {
    transform: scaleY(0);
}
.bell-zoom-center-y-enter-to {
    transform: scaleY(0);
    transform-origin: center center;
    transition-property: transform;
    transition-duration: 0.3s;
}
.bell-zoom-center-y-leave-to {
    transform: scaleY(1);
}
.bell-zoom-center-y-appear-to {
    transform: scaleY(1);
}


// zoom-center-x
.bell-zoom-center-x-enter {
    transform: scaleX(1);
    transform-origin: center center;
    transition-property: transform;
    transition-duration: 0.3s;
}
.bell-zoom-center-x-leave {
    transform: scaleX(0);
}
.bell-zoom-center-x-appear {
    transform: scaleX(0);
}
.bell-zoom-center-x-enter-to {
    transform: scaleX(0);
    transform-origin: center center;
    transition-property: transform;
    transition-duration: 0.3s;
}
.bell-zoom-center-x-leave-to {
    transform: scaleX(1);
}
.bell-zoom-center-x-appear-to {
    transform: scaleX(1);
}

// collapse
.bell-collapse-enter {
    overflow: hidden;
    transition-property: height, padding-top, padding-bottom, margin;
    transition-duration: 0.3s;
}
.bell-collapse-leave {
}
.bell-collapse-appear {
    display: none;
}
.bell-collapse-enter-to {
    overflow: hidden;
    transition-property: height, padding-top, padding-bottom, margin;
    transition-duration: 0.3s;
}
.bell-collapse-leave-to {

}
.bell-collapse-appear-to {

}