@import '../../../env'

$link-brand-hash = {
  white: $brand-white,
  primary: $brand-primary,
  success: $brand-success,
  error: $brand-error,
  info: $brand-info,
  warning: $brand-warning,
  title: $brand-title,
  content: $brand-content,
  muted: $brand-muted,
}

link-brand-style(color)
  ui-set('color', color)

{$selector-class-prefix + '-link'}
  font-size $font-size-default
  line-height $ui-multiple-line-height
  text-decoration none
  outline 0
  ui-clickable()
  ui-connect(
    hash: $link-brand-hash,
    each: link-brand-style
  )

{$selector-class-prefix + '-link-small'}
  font-size $font-size-small

{$selector-class-prefix + '-link-underline'}
  text-decoration underline

{$selector-class-prefix + '-link-disabled'},
{$selector-class-prefix + '-link-disabled'}:hover
  color $brand-disabled
  ui-disabled()