@import '../../../env'

$image-picker-circle-size = 60px
$image-picker-message-action-gap = 10px
$image-picker-image-size-padding = 2px 4px

{$selector-class-prefix + '-image-picker'}
  position relative
  line-height $ui-multiple-line-height

  {$selector-class-prefix + '-image-picker-mask'}
    display flex
    flex-direction column
    justify-content center
    align-items center


{$selector-class-prefix + '-image-picker-item'}
  display block
  background-color $brand-bg-light
  box-sizing content-box
  position relative
  user-select none
  if $border-radius-default > 0
    border-radius $border-radius-default

{$selector-class-prefix + '-image-picker-card'}
  border 1px solid rgba(0,0,0,0.1)
  display flex
  justify-content center
  align-items center

  &[draggable="true"]
    cursor move

{$selector-class-prefix + '-image-picker-image'}
  if $border-radius-default > 0
    border-radius $border-radius-default
  ui-clickable()

{$selector-class-prefix + '-image-picker-image-contain'}
  max-width 100%
  max-height 100%

{$selector-class-prefix + '-image-picker-image-stretch'}
  width 100%
  height 100%

{$selector-class-prefix + '-image-picker-mask'}
  background-color $brand-text-mask-bg-color
  position absolute
  top 0
  left 0
  right 0
  bottom 0
  if $border-radius-default > 0
    border-radius $border-radius-default

  {$selector-class-prefix + '-circle-content'}
    color #fff
    font-size $font-size-small

{$selector-class-prefix + '-image-picker-image-name'}
  color $brand-content
  font-size $font-size-default
  text-align center
  width 80%
  ui-ellipsis()

{$selector-class-prefix + '-image-picker-message'}
  color $brand-text-mask-title-color
  font-size $font-size-default
  text-shadow $brand-text-mask-text-shadow
  text-align center
  width 80%

{$selector-class-prefix + '-image-picker-action'}
  color $brand-text-mask-title-color
  font-size $font-size-default
  text-align center
  margin-top $image-picker-message-action-gap

{$selector-class-prefix + '-image-picker-image-size'}
  display none
  background-color $brand-text-mask-bg-color
  color $brand-white
  font-size $font-size-small
  padding $image-picker-image-size-padding
  white-space nowrap
  position absolute
  right 0
  bottom 0
  if $border-radius-default > 0
    border-bottom-right-radius $border-radius-default

{$selector-class-prefix + '-image-picker-card-show-size-always'},
{$selector-class-prefix + '-image-picker-card-show-size-hover'}{$selector-class-prefix + '-image-picker-card-mouse-enter'}
  > {$selector-class-prefix + '-image-picker-image-size'}
    display block

{$selector-class-prefix + '-image-picker-card-mouse-enter'}
  {$selector-class-prefix + '-closable-icon'}
    display block

{$selector-class-prefix + '-image-picker-items-wrapper'}
  display inline-flex
  flex-wrap wrap

{$selector-class-prefix + '-image-picker-card-drag-enter'}
  border-color $brand-primary-active
  box-shadow 0 0 0 $ui-shadow-radius $brand-primary-shadow
  transition all 0.1s ease-in-out