@import '../../../env'

$image-picker-circle-size = 60px
$image-picker-remove-icon-size = 20px
$image-picker-message-action-gap = 10px
$image-picker-image-size-padding = 2px 4px
$image-picker-mask-bg = rgba(0,0,0,0.6)
$image-picker-mask-text = #fff
$image-picker-mask-text-shadow = rgba(200,200,200,0.5)

{$selector-class-prefix + '-image-picker'}
  position relative

  {$selector-class-prefix + '-image-picker-mask'}
    display flex
    flex-direction column
    justify-content center
    align-items center


{$selector-class-prefix + '-image-picker-item'}
  background-color $brand-bg-light
  box-sizing content-box
  position relative
  user-select none
  if $border-radius-default > 0
    border-radius $border-radius-default

{$selector-class-prefix + '-image-picker-card'}
  border 1px solid rgba(0,0,0,0.1)
  display flex
  justify-content center
  align-items center

  &[draggable="true"]
    cursor move

{$selector-class-prefix + '-image-picker-card-mouse-enter'}
  {$selector-class-prefix + '-image-picker-remove-icon'}
    display block

{$selector-class-prefix + '-image-picker-image'}
  max-width 100%
  max-height 100%
  if $border-radius-default > 0
    border-radius $border-radius-default
  ui-clickable()

{$selector-class-prefix + '-image-picker-mask'}
  background-color $image-picker-mask-bg
  position absolute
  top 0
  left 0
  right 0
  bottom 0
  if $border-radius-default > 0
    border-radius $border-radius-default

  {$selector-class-prefix + '-circle-content'}
    color #fff
    font-size $font-size-small

{$selector-class-prefix + '-image-picker-image-name'}
  color $brand-content
  font-size $ui-font-size
  line-height $ui-multiple-line-height
  text-align center
  width 80%
  ui-ellipsis()

{$selector-class-prefix + '-image-picker-message'}
  color $image-picker-mask-text
  font-size $ui-font-size
  line-height $ui-multiple-line-height
  text-shadow 1px 1px 2px $image-picker-mask-text-shadow
  text-align center
  width 80%

{$selector-class-prefix + '-image-picker-action'}
  color $image-picker-mask-text
  font-size $ui-font-size
  text-align center
  margin-top $image-picker-message-action-gap

{$selector-class-prefix + '-image-picker-image-size'}
  background-color $image-picker-mask-bg
  color #fff
  font-size $font-size-small
  padding $image-picker-image-size-padding
  white-space nowrap
  position absolute
  right 0
  bottom 0
  if $border-radius-default > 0
    border-bottom-right-radius $border-radius-default

{$selector-class-prefix + '-image-picker-remove-icon'}
  display none
  color $brand-clear-icon-color
  font-size $image-picker-remove-icon-size
  position absolute
  right -0.5 * $image-picker-remove-icon-size
  top -0.5 * $image-picker-remove-icon-size
  ui-clickable()

{$selector-class-prefix + '-image-picker-extra'}
  color $brand-muted
  font-size $font-size-small
  line-height $ui-multiple-line-height
  margin-top $ui-vertical-gap

{$selector-class-prefix + '-image-picker-items-wrapper'}
  display inline-flex
  flex-wrap wrap
  gap $ui-vertical-gap $ui-horizontal-gap

{$selector-class-prefix + '-image-picker-card-drag-enter'}
  border-color $brand-primary-active
  box-shadow 0 0 0 $ui-shadow-radius $brand-primary-shadow
  transition all 0.1s ease-in-out

{$selector-class-prefix + '-image-picker-legacy'}
  {$selector-class-prefix + '-image-picker-items-wrapper'}
    margin-bottom -1 * $ui-vertical-gap
  {$selector-class-prefix + '-image-picker-item'}
    margin-right $ui-horizontal-gap
    margin-bottom $ui-vertical-gap
