@import '../../../env'

$slider-bg-color = #e8eaec

$slider-thickness = 4px
$slider-thumb-size = 12px

{$selector-class-prefix + '-slider'}
  display inline-block
  user-select none
  box-sizing border-box

{$selector-class-prefix + '-slider-track'}
  background-color $slider-bg-color
  border-radius $border-radius-round
  position relative

{$selector-class-prefix + '-slider-bar'}
  background-color $brand-primary
  border-radius $border-radius-round
  position absolute
  left 0

{$selector-class-prefix + '-slider-stop'}
  width $slider-thickness
  height $slider-thickness
  border-radius $border-radius-circle
  background-color $brand-white
  position absolute

{$selector-class-prefix + '-slider-thumb'}
  width $slider-thumb-size
  height $slider-thumb-size
  border-radius $border-radius-circle
  background-color $brand-bg
  box-sizing border-box

  position absolute
  margin-left -0.5 * $slider-thumb-size
  border 2px solid $brand-primary
  transition transform .3s

{$selector-class-prefix + '-slider-vertical'}
  height $ui-form-element-width
  padding 0.5 * $slider-thumb-size 0.5 * ($slider-thumb-size - $slider-thickness)

  {$selector-class-prefix + '-slider-track'}
    width $slider-thickness
    height 100%

  {$selector-class-prefix + '-slider-bar'}
    width $slider-thickness
    bottom 0

  {$selector-class-prefix + '-slider-stop'}
    left 0
    margin-bottom -0.5 * $slider-thickness

  {$selector-class-prefix + '-slider-thumb'}
    left 50%
    margin-bottom -0.5 * $slider-thumb-size

{$selector-class-prefix + '-slider-horizontal'}
  width $ui-form-element-width
  padding 0.5 * ($slider-thumb-size - $slider-thickness) 0.5 * $slider-thumb-size

  {$selector-class-prefix + '-slider-track'}
    height $slider-thickness
    width 100%

  {$selector-class-prefix + '-slider-bar'}
    height $slider-thickness
    top 0

  {$selector-class-prefix + '-slider-stop'}
    top 0
    margin-left -0.5 * $slider-thickness

  {$selector-class-prefix + '-slider-thumb'}
    top 50%
    margin-top -0.5 * $slider-thumb-size

{$selector-class-prefix + '-slider-enabled'}
  {$selector-class-prefix + '-slider-track'}
    ui-clickable()

  {$selector-class-prefix + '-slider-thumb'}
    ui-clickable()

    &:hover
      transform scale(1.3)

{$selector-class-prefix + '-slider-disabled'}
  {$selector-class-prefix + '-slider-bar'}
    background-color $brand-disabled

  {$selector-class-prefix + '-slider-thumb'}
    border-color $brand-disabled
    ui-disabled()

{$selector-class-prefix + '-slider-dragging'}
  {$selector-class-prefix + '-slider-thumb'}
    transform scale(1.3)

{$selector-class-prefix + '-slider-block'}
  display block

  &{$selector-class-prefix + '-slider-horizontal'}
    width 100%