@import '../../../env'

$page-header-back-icon-size = 20px
$page-header-title-font-size = 20px

$page-header-breadcrumb-header-gap = 10px
$page-header-back-title-gap = 10px
$page-header-title-tags-gap = 12px
$page-header-header-body-gap = 16px

{$selector-class-prefix + '-page-header'}
  line-height $ui-multiple-line-height
  padding $layout-child-padding-vertical $layout-padding-horizontal

  > {$selector-class-prefix + '-breadcrumb'}
    margin-bottom $page-header-breadcrumb-header-gap

{$selector-class-prefix + '-page-header-header'}
  display flex
  flex-direction row
  align-items center

{$selector-class-prefix + '-page-header-with-back'},
{$selector-class-prefix + '-page-header-with-extra'}
  {$selector-class-prefix + '-page-header-title'}
    flex 1

{$selector-class-prefix + '-page-header-with-tags'}
  {$selector-class-prefix + '-page-header-title'}
    flex 0

{$selector-class-prefix + '-page-header-title'}
  color $brand-title
  font-size $page-header-title-font-size
  font-weight $font-weight-bold
  white-space nowrap

{$selector-class-prefix + '-page-header-back'}
  user-select none
  ui-clickable()

  color $brand-title
  font-size $page-header-back-icon-size
  padding-right $page-header-back-title-gap
  transition color $form-control-transition-duration

  // 图标有一些 padding-left
  position relative
  left -3px

  &:hover
    color $brand-primary

{$selector-class-prefix + '-page-header-tags'}
  flex 1
  margin-left $page-header-title-tags-gap
  white-space nowrap

  {$selector-class-prefix + '-tag'} + {$selector-class-prefix + '-tag'}
    margin-left $ui-horizontal-gap

{$selector-class-prefix + '-page-header-extra'}
  white-space nowrap

{$selector-class-prefix + '-page-header-body'}
  margin-top $page-header-header-body-gap
