	er]
	        name = tiva
		        email = 752990270@qq.com
[filter "lfs"]
	        required = true
		        clean = git-lfs clean -- %f
			        smudge = git-lfs smudge -- %f
				        process = git-lfs filter-process
[alias]
	        civ = commit
