<div class="${prefix}timeline-item">

  {{#if hasSlot('dot')}}
    <div class="${prefix}timeline-custom">
      <slot name="dot" />
    </div>
  {{else}}
    <div class="${prefix}timeline-dot" style="color: {{color}}">
    </div>
  {{/if}}

  <div class="${prefix}timeline-content">
    <slot name="children" />
  </div>

</div>