<div
class="${prefix}menu-group
{{#if className}} {{className}}{{/if}}"

{{#if style}}
  style="{{style}}"
{{/if}}
>
  <div class="${prefix}menu-group-title">
    {{title}}
  </div>

  {{#if @children}}
    <Menu
      inner
      mode="{{mode === 'inline' ? 'inline' : 'vertical'}}"
    >
      <slot />
    </Menu>
  {{/if}}
</div>