.bell-docsify-view-box {
    position: relative;
    box-sizing: border-box;
    display: flex;

    border: 1px solid #eee;
    border-radius: 6px;
    max-height: 200px;
    min-height: 200px;
    margin-bottom: 20px;
    padding-bottom: 15px;

    transition: all .2s ease-in-out;
}

.bell-docsify-view {
    flex: 1;
    padding: 15px;
    z-index: 1;
    overflow: auto;
}
.bell-docsify-source {
    flex: 1;
    padding: 15px;
    border-left: 1px dashed #ccc;
    overflow: auto;
}

.bell-view-full-block {
    flex-direction: column;
    min-height: 250px;
}
.bell-view-full-block .bell-docsify-source {
    padding: 0px;
    flex: 0 0 0px;
}
.bell-box-open .bell-docsify-source {
    padding: 15px;
    flex: 1;
    border-left: none;
    border-top: 1px dashed #ccc;
}

.bell-docsify-source ::-webkit-scrollbar {
  width: 2px;
}
.bell-docsify-source ::-webkit-scrollbar {
  height: 2px;
}
.bell-docsify-source ::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}
.bell-docsify-source ::-webkit-scrollbar-thumb {
  background-color: #d1d1d1;
  border-radius: 10px;
}
.bell-docsify-source ::-webkit-scrollbar-thumb:hover {
  background-color: #b3b3b3;
}
.bell-docsify-view-box ::-webkit-scrollbar {
  width: 2px;
}
.bell-docsify-view-box ::-webkit-scrollbar {
  height: 2px;
}
.bell-docsify-view-box ::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}
.bell-docsify-view-box ::-webkit-scrollbar-thumb {
  background-color: #d1d1d1;
  border-radius: 10px;
}
.bell-docsify-view-box ::-webkit-scrollbar-thumb:hover {
  background-color: #b3b3b3;
}

.bell-docsify-view-box-icon {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    cursor: pointer;
    height: 15px;
    color: #ccc;
    box-shadow: inset 0 -25px 30px #fff;
    z-index: 0;
}

.bell-docsify-view-box-icon:hover {
    color: #4279F3;
}

.bell-docsify-view-box:hover {
    box-shadow: 0 2px 7px rgba(0,0,0,.15);
    border-color: transparent;
}

.markdown-section pre {
    margin: 0;
    padding: 0;
    background: none;
}

.markdown-section pre>code {
    background: none;
    padding: 0;
}
.hljs {
    background: none;
    font-size: 16px;
    color: #3e76f6;
    padding: 0;
}
.hljs-keyword {
    color: #e96900;
}
.hljs-tag {
    font-weight: normal;
}
.hljs-name {
    font-weight: normal;
}

.hljs-string {
    color: #3e76f6;
}

.hljs-attr {
    color: #f90;
}

.bell-docsify-header {
    position: absolute;
    right: 0;
    top: 0;
    text-align: right;
    z-index: 0;
    background-color: #fff;
    padding: 10px;
    font-size: 12px;
}
.bell-docsify-header:hover {
    color: #f90;
}
