<div 
class="${prefix}input-wrapper
{{#if hasSlot('prepend')}} ${prefix}input-has-prepend{{/if}}
{{#if hasSlot('append')}} ${prefix}input-has-append{{/if}}
{{#if className}} {{className}}{{/if}}
{{#if size}} ${prefix}input-wrapper-{{size}}{{/if}}
{{#if status}} ${prefix}input-wrapper-{{status}}{{/if}}
{{#if isFocus}} ${prefix}focus{{/if}}
{{#if clearable}} ${prefix}input-wrapper-clearable{{/if}}
{{#if disabled}} ${prefix}input-wrapper-disabled{{/if}}
"
{{#if style}} style="{{style}}"{{/if}}
>

  {{#if hasSlot('prepend')}}
    <div class="${prefix}input-prepend">
      <slot name="prepend" />
    </div>
  {{/if}}

  <div class="${prefix}input{{#if type === TEXT_TYPE_TEXTAREA}} ${prefix}textarea{{/if}}">

    {{#if type === TEXT_TYPE_TEXTAREA}}

      <textarea class="${prefix}input-el"
        style="height: {{#if rows}}{{rows * 25}}{{else}}50{{/if}}px"
        {{#if rows}} rows="{{rows}}"{{/if}}
        {{#if placeholder}} placeholder="{{placeholder}}"{{/if}}
        {{#if disabled}} disabled{{/if}}
        model="value"
      >
      </textarea>

    {{else}}

      <input ref="input"
        type="{{currentType}}"
        class="${prefix}input-el
          {{#if size}} ${prefix}input-{{size}}{{/if}}
          {{#if hasSlot('prefix') || prefix}} ${prefix}input-with-prefix{{/if}}
          {{#if hasSlot('suffix') || suffix}} ${prefix}input-with-suffix{{/if}}
        "
        {{#if placeholder}} placeholder="{{placeholder}}"{{/if}}
        {{#if disabled}} disabled="disabled"{{/if}}
        model="value"
        on-blur="blur()"
        on-focus="focus()"
      />

      {{#if hasSlot('prefix') || prefix}}
      <span class="${prefix}input-prefix">
        <slot name="prefix">
          <Icon name="{{prefix}}" className="${prefix}input-prefix-icon" />
        </slot>
      </span>
      {{/if}}

      {{#if hasSlot('suffix') || suffix}}
      <span class="${prefix}input-suffix">
        <slot name="suffix">
          <Icon name="{{suffix}}" className="${prefix}input-suffix-icon" />
        </slot>
      </span>
      {{/if}}

      {{#if clearable}}
        <Icon name="close-circle" className="${prefix}input-clear-icon" on-click="clear()" />
      {{/if}}

      {{#if secure}}
        {{#if isSecure}}
          <i class="${prefix}icon
              ${prefix}icon-eye
              ${prefix}input-icon-eye
          " on-click="toggle('isSecure')"></i>
        {{else}}
          <i class="${prefix}icon
              ${prefix}icon-eye-disabled
              ${prefix}input-icon-eye
          " on-click="toggle('isSecure')"></i>
        {{/if}}
      {{/if}}

    {{/if}}

  </div>
  {{#if hasSlot('append')}}
    <div class="${prefix}input-append">
      <slot name="append" />
    </div>
  {{/if}}
</div>