{{#if @children}}

  <div
    class="${prefix}pagination-custom-next
    {{#if disabled}} ${prefix}pagination-custom-disabled{{/if}}"

    {{#if !disabled}}
      tabindex="0"
    {{/if}}
  >
    <slot />
  </div>

{{else}}

  <div
    class="${prefix}pagination-item ${prefix}pagination-next
    {{#if disabled}} ${prefix}pagination-item-disabled{{/if}}"

    {{#if !disabled}}
      tabindex="0"
    {{/if}}
  >
    <Icon
      name="arrow-right-s-line"
      className="${prefix}pagination-icon"
    />
  </div>

{{/if}}