@import '../../../env'

{$selector-class-prefix + '-dropdown-menu'}
  min-width $dropdown-menu-min-width

ui-dropdown-overlay(
  $selector-class-prefix + '-dropdown-overlay',
  $selector-class-prefix + '-dropdown-item',
  $selector-class-prefix + '-dropdown-item-active',
  $selector-class-prefix + '-dropdown-item-enabled',
  $selector-class-prefix + '-dropdown-item-disabled',
  $selector-class-prefix + '-dropdown-item-divided',
  '',
  $brand-bg-active
)