@import '../../../env'

$dropdown-trigger-overlay-gap = 5px
$dropdown-overlay-inset = 4px
$dropdown-menu-min-width = 100px

{$selector-prefix + '-dropdown'}
  display inline-block
  position relative

{$selector-prefix + '-dropdown-menu'}
  min-width $dropdown-menu-min-width

{$selector-prefix + '-dropdown-item'}
  ui-ellipsis()
  padding $dropdown-item-padding-vertical $dropdown-item-padding-horizontal
  transition background-color .3s, color .3s

{$selector-prefix + '-dropdown-item-active'}
  background-color $brand-bg-active

{$selector-prefix + '-dropdown-item-enabled'}
  color $brand-content
  ui-clickable()

{$selector-prefix + '-dropdown-item-disabled'}
  color $brand-disabled
  ui-disabled()

{$selector-prefix + '-dropdown-item'} + {$selector-prefix + '-dropdown-item-divided'}
  margin-top $dropdown-overlay-inset
  border-top 1px solid $brand-divider
  padding-top $dropdown-item-padding-vertical + $dropdown-overlay-inset
  position relative

  &:before
    content ''
    background-color $brand-bg
    position absolute
    top 0
    left 0
    right 0
    height $dropdown-overlay-inset

{$selector-prefix + '-dropdown-overlay'}
  font-size $ui-font-size
  line-height $ui-single-line-height
  padding $dropdown-overlay-inset 0

  overflow-y auto
  overflow-x hidden
  user-select none
  box-sizing border-box

  position absolute
  display none

  z-index $zindex-dropdown
  transition transform .3s cubic-bezier(.23,1,.32,1),
              opacity .3s cubic-bezier(.23,1,.32,1)

  background-color $brand-bg
  border-radius $border-radius-default
  box-shadow $brand-layer-shadow
  ui-scrollbar()

  &:hover {$selector-prefix + '-dropdown-item-active'}
    background-color transparent

  {$selector-prefix + '-dropdown-item-enabled'}:hover
    background-color $brand-bg-hover

{$selector-prefix + '-dropdown-visible'}
  > {$selector-prefix + '-dropdown-overlay'}
    display block
    opacity 0

{$selector-prefix + '-dropdown-fade'}
  > {$selector-prefix + '-dropdown-overlay'}
    opacity 1

{$selector-prefix + '-dropdown-top'},
{$selector-prefix + '-dropdown-top-start'},
{$selector-prefix + '-dropdown-top-end'}
  > {$selector-prefix + '-dropdown-overlay'}
    bottom 100%
    margin-bottom $dropdown-trigger-overlay-gap
    transform scaleY(0)
    transform-origin center bottom

  &{$selector-prefix + '-dropdown-fade'}
    > {$selector-prefix + '-dropdown-overlay'}
      transform scaleY(1)

{$selector-prefix + '-dropdown-top'}
  > {$selector-prefix + '-dropdown-overlay'}
    left 50%

{$selector-prefix + '-dropdown-top-start'}
  > {$selector-prefix + '-dropdown-overlay'}
    left 0

{$selector-prefix + '-dropdown-top-end'}
  > {$selector-prefix + '-dropdown-overlay'}
    right 0




{$selector-prefix + '-dropdown-left'},
{$selector-prefix + '-dropdown-left-start'},
{$selector-prefix + '-dropdown-left-end'}
  > {$selector-prefix + '-dropdown-overlay'}
    right 100%
    margin-right $dropdown-trigger-overlay-gap
    transform scaleX(0)
    transform-origin right center

  &{$selector-prefix + '-dropdown-fade'}
    > {$selector-prefix + '-dropdown-overlay'}
      transform scaleX(1)

{$selector-prefix + '-dropdown-left'}
  > {$selector-prefix + '-dropdown-overlay'}
    top 50%

{$selector-prefix + '-dropdown-left-start'}
  > {$selector-prefix + '-dropdown-overlay'}
    top 0

{$selector-prefix + '-dropdown-left-end'}
  > {$selector-prefix + '-dropdown-overlay'}
    bottom 0




{$selector-prefix + '-dropdown-right'},
{$selector-prefix + '-dropdown-right-start'},
{$selector-prefix + '-dropdown-right-end'}
  > {$selector-prefix + '-dropdown-overlay'}
    left 100%
    margin-left $dropdown-trigger-overlay-gap
    transform scaleX(0)
    transform-origin left center

  &{$selector-prefix + '-dropdown-fade'}
    > {$selector-prefix + '-dropdown-overlay'}
      transform scaleX(1)

{$selector-prefix + '-dropdown-right'}
  > {$selector-prefix + '-dropdown-overlay'}
    top 50%

{$selector-prefix + '-dropdown-right-start'}
  > {$selector-prefix + '-dropdown-overlay'}
    top 0

{$selector-prefix + '-dropdown-right-end'}
  > {$selector-prefix + '-dropdown-overlay'}
    bottom 0





{$selector-prefix + '-dropdown-bottom'},
{$selector-prefix + '-dropdown-bottom-start'},
{$selector-prefix + '-dropdown-bottom-end'}
  > {$selector-prefix + '-dropdown-overlay'}
    margin-top $dropdown-trigger-overlay-gap
    transform scaleY(0)
    transform-origin center top

  &{$selector-prefix + '-dropdown-fade'}
    > {$selector-prefix + '-dropdown-overlay'}
      transform scaleY(1)

{$selector-prefix + '-dropdown-bottom'}
  > {$selector-prefix + '-dropdown-overlay'}
    left 50%

{$selector-prefix + '-dropdown-bottom-start'}
  > {$selector-prefix + '-dropdown-overlay'}
    left 0

{$selector-prefix + '-dropdown-bottom-end'}
  > {$selector-prefix + '-dropdown-overlay'}
    right 0