@import '../../../env'

$dropdown-menu-min-width = 100px

{$selector-prefix + '-dropdown-menu'}
  min-width $dropdown-menu-min-width

ui-dropdown-overlay(
  $selector-prefix + '-dropdown-overlay',
  $selector-prefix + '-dropdown-item',
  $selector-prefix + '-dropdown-item-active',
  $selector-prefix + '-dropdown-item-enabled',
  $selector-prefix + '-dropdown-item-disabled',
  $selector-prefix + '-dropdown-item-divided'
)