@import '../../../env'
@import './icon/style'

{$selector-class-prefix + '-icon'}
  font-size $ui-icon-size

{$selector-class-prefix + '-icon-spin'}
  // 不加这句没法让 transform 动画生效
  display inline-block
  animation 1s linear infinite bell-icon-spin


@keyframes bell-icon-spin
  0%
    transform rotate(0)

  100%
    transform rotate(360deg)


