<div
class="${prefix}tag
{{#if border}} ${prefix}tag-border{{/if}}
{{#if dot}} ${prefix}tag-dot{{/if}}
{{#if size}} ${prefix}tag-{{size}}{{/if}}
{{#if type}} ${prefix}tag-{{type}}{{/if}}
{{#if checked}} ${prefix}tag-checked{{/if}}
{{#if closable}} ${prefix}tag-closable{{/if}}
{{#if className}} {{className}}{{/if}}"

{{#if style}} style="{{style}}"{{/if}}
on-click="click()"
>
  {{#if dot}}
    <span class="${prefix}tag-dot-inner"></span>
  {{/if}}

  <span class="${prefix}tag-text">
    <slot name="children" />
  </span>

  {{#if closable}}
    <Icon name="close" className="${prefix}tag-close-icon" on-click="close()" />
  {{/if}}
</div>