@import '../../../env'

$popover-arrow-padding-inner = 8px
$popover-arrow-offset = -1px
// 箭头与 popover 两侧的距离
$popover-arrow-gap = 10px
$popover-arrow-size = 5px

{$selector-class-prefix + '-popover'}
  position absolute
  display block
  opacity 0
  z-index $zindex-popover

  box-sizing border-box
  border-radius $border-radius-default

{$selector-class-prefix + '-popover-transition'}
  transition transform .3s cubic-bezier(.23,1,.32,1),
              opacity .3s cubic-bezier(.23,1,.32,1)

{$selector-class-prefix + '-popover-fade'}
  opacity 1




{$selector-class-prefix + '-popover-top'},
{$selector-class-prefix + '-popover-top-start'},
{$selector-class-prefix + '-popover-top-end'}
  transform scaleY(0) translateY(-100%)
  transform-origin center top

  &{$selector-class-prefix + '-popover-fade'}
    transform scaleY(1) translateY(-100%)



{$selector-class-prefix + '-popover-bottom'},
{$selector-class-prefix + '-popover-bottom-start'},
{$selector-class-prefix + '-popover-bottom-end'}
  transform scaleY(0)
  transform-origin center top

  &{$selector-class-prefix + '-popover-fade'}
    transform scaleY(1)



{$selector-class-prefix + '-popover-left'},
{$selector-class-prefix + '-popover-left-start'},
{$selector-class-prefix + '-popover-left-end'}
  transform scaleX(0) translateX(-100%)
  transform-origin left center

  &{$selector-class-prefix + '-popover-fade'}
    transform scaleX(1) translateX(-100%)



{$selector-class-prefix + '-popover-right'},
{$selector-class-prefix + '-popover-right-start'},
{$selector-class-prefix + '-popover-right-end'}
  transform scaleX(0)
  transform-origin left center

  &{$selector-class-prefix + '-popover-fade'}
    transform scaleX(1)





{$selector-class-prefix + '-popover-top'}
  transform scaleY(0) translateX(-50%) translateY(-100%)

  &{$selector-class-prefix + '-popover-fade'}
    transform scaleY(1) translateX(-50%) translateY(-100%)

{$selector-class-prefix + '-popover-top-end'}
  transform scaleY(0) translateX(-100%) translateY(-100%)

  &{$selector-class-prefix + '-popover-fade'}
    transform scaleY(1) translateX(-100%) translateY(-100%)

{$selector-class-prefix + '-popover-bottom'}
  transform scaleY(0) translateX(-50%)

  &{$selector-class-prefix + '-popover-fade'}
    transform scaleY(1) translateX(-50%)

{$selector-class-prefix + '-popover-bottom-end'}
  transform scaleY(0) translateX(-100%)

  &{$selector-class-prefix + '-popover-fade'}
    transform scaleY(1) translateX(-100%)


{$selector-class-prefix + '-popover-left'}
  transform scaleX(0) translateX(-100%) translateY(-50%)

  &{$selector-class-prefix + '-popover-fade'}
    transform scaleX(1) translateX(-100%) translateY(-50%)

{$selector-class-prefix + '-popover-left-end'}
  transform scaleX(0) translateX(-100%) translateY(-100%)

  &{$selector-class-prefix + '-popover-fade'}
    transform scaleX(1) translateX(-100%) translateY(-100%)

{$selector-class-prefix + '-popover-right'}
  transform scaleX(0) translateY(-50%)

  &{$selector-class-prefix + '-popover-fade'}
    transform scaleX(1) translateY(-50%)

{$selector-class-prefix + '-popover-right-end'}
  transform scaleX(0) translateY(-100%)

  &{$selector-class-prefix + '-popover-fade'}
    transform scaleX(1) translateY(-100%)




// 带箭头的 popover

{$selector-class-prefix + '-popover-arrow'}
  position absolute
  width 0
  height 0
  border $popover-arrow-size solid $brand-transparent-color

{$selector-class-prefix + '-popover-content'}
  line-height $ui-multiple-line-height
  box-sizing border-box

{$selector-class-prefix + '-popover-bottom'},
{$selector-class-prefix + '-popover-bottom-start'},
{$selector-class-prefix + '-popover-bottom-end'}

  &{$selector-class-prefix + '-popover-with-arrow'}
    padding-top $popover-arrow-padding-inner

  > {$selector-class-prefix + '-popover-arrow'}
    border-top-color $brand-transparent-color !important
    border-left-color $brand-transparent-color !important
    border-right-color $brand-transparent-color !important

  > {$selector-class-prefix + '-popover-arrow'}
    top $popover-arrow-offset

{$selector-class-prefix + '-popover-bottom'}
  > {$selector-class-prefix + '-popover-arrow'}
    left 50%
    margin-left - $popover-arrow-size

{$selector-class-prefix + '-popover-bottom-start'}
  > {$selector-class-prefix + '-popover-arrow'}
    left $popover-arrow-gap

{$selector-class-prefix + '-popover-bottom-end'}
  > {$selector-class-prefix + '-popover-arrow'}
    right $popover-arrow-gap




{$selector-class-prefix + '-popover-top'},
{$selector-class-prefix + '-popover-top-start'},
{$selector-class-prefix + '-popover-top-end'}

  &{$selector-class-prefix + '-popover-with-arrow'}
    padding-bottom $popover-arrow-padding-inner

  > {$selector-class-prefix + '-popover-arrow'}
    border-bottom-color $brand-transparent-color !important
    border-left-color $brand-transparent-color !important
    border-right-color $brand-transparent-color !important

  > {$selector-class-prefix + '-popover-arrow'}
    bottom $popover-arrow-offset


{$selector-class-prefix + '-popover-top'}
  > {$selector-class-prefix + '-popover-arrow'}
    left 50%
    margin-left - $popover-arrow-size

{$selector-class-prefix + '-popover-top-start'}
  > {$selector-class-prefix + '-popover-arrow'}
    left $popover-arrow-gap

{$selector-class-prefix + '-popover-top-end'}
  > {$selector-class-prefix + '-popover-arrow'}
    right $popover-arrow-gap





{$selector-class-prefix + '-popover-left'},
{$selector-class-prefix + '-popover-left-start'},
{$selector-class-prefix + '-popover-left-end'}

  &{$selector-class-prefix + '-popover-with-arrow'}
    padding-right $popover-arrow-padding-inner

  > {$selector-class-prefix + '-popover-arrow'}
    border-top-color $brand-transparent-color !important
    border-bottom-color $brand-transparent-color !important
    border-right-color $brand-transparent-color !important

  > {$selector-class-prefix + '-popover-arrow'}
    right $popover-arrow-offset

{$selector-class-prefix + '-popover-left'}
  > {$selector-class-prefix + '-popover-arrow'}
    top 50%
    margin-top - $popover-arrow-size

{$selector-class-prefix + '-popover-left-start'}
  > {$selector-class-prefix + '-popover-arrow'}
    top $popover-arrow-gap

{$selector-class-prefix + '-popover-left-end'}
  > {$selector-class-prefix + '-popover-arrow'}
    bottom $popover-arrow-gap



{$selector-class-prefix + '-popover-right'},
{$selector-class-prefix + '-popover-right-start'},
{$selector-class-prefix + '-popover-right-end'}

  &{$selector-class-prefix + '-popover-with-arrow'}
    padding-left $popover-arrow-padding-inner

  > {$selector-class-prefix + '-popover-arrow'}
    border-top-color $brand-transparent-color !important
    border-left-color $brand-transparent-color !important
    border-bottom-color $brand-transparent-color !important

  > {$selector-class-prefix + '-popover-arrow'}
    left $popover-arrow-offset


{$selector-class-prefix + '-popover-right'}
  > {$selector-class-prefix + '-popover-arrow'}
    top 50%
    margin-top - $popover-arrow-size

{$selector-class-prefix + '-popover-right-start'}
  > {$selector-class-prefix + '-popover-arrow'}
    top $popover-arrow-gap

{$selector-class-prefix + '-popover-right-end'}
  > {$selector-class-prefix + '-popover-arrow'}
    bottom $popover-arrow-gap
