<div
class="${prefix}empty
{{#if simple}} ${prefix}empty-simple{{/if}}
{{#if @children}} ${prefix}empty-with-content{{/if}}
{{#if className}} {{className}}{{/if}}"

{{#if style}}
  style="{{style}}"
{{/if}}
>
  <slot />
</div>