<div
class="${prefix}empty
{{#if simple}} ${prefix}empty-simple{{/if}}
{{#if @children}} ${prefix}empty-with-content{{/if}}
{{#if className}} {{className}}{{/if}}"

{{#if inlineStyle}}
  style="{{inlineStyle}}"
{{/if}}
>
  <slot />
</div>