{$selector-datepicker}
  width $ui-form-element-width
  display inline-block

  {$selector-dropdown-list}
    padding 0
    min-width 100%

  {$selector-datepicker-date},
  {$selector-datepicker-month},
  {$selector-datepicker-year},
  {$selector-datepicker-week}
    width $datepicker-dropdown-width
    min-width 100%

  {$selector-datepicker-daterange}
    width $datepicker-date-range-dropdown-width

  ui-datepicker()

{$selector-datepicker-separator}
  margin 0 $datepicker-separator-gap

{$selector-datepicker-shortcut}
  position absolute
  top 0
  bottom 0
  padding $datepicker-shortcut-padding-vertical 0

  box-sizing border-box
  width $datepicker-shortcut-width
  color $datepicker-item-color
  font-size $datepicker-item-font-size
  background-color $datepicker-shortcut-bg-color
  border-right 1px solid $brand-divider

{$selector-datepicker-shortcut-item}
  ui-ellipsis()
  cursor $cursor-clickable
  padding $datepicker-shortcut-item-padding

  &:hover
    color $brand-primary

{$selector-datepicker-shortcut} + {$selector-datepicker-panel},
{$selector-datepicker-shortcut} + {$selector-datepicker-daterange}
  margin-left $datepicker-shortcut-width
