{$selector-datepicker-week}
  user-select none

  {$selector-datepicker}-row
    cursor pointer
    border-radius $datepicker-date-radius
    margin-bottom $datepicker-week-margin

    &{$selector-hover}
      background-color $datepicker-item-range-background-color

    {$selector-datepicker}-col
      &{$selector-hover}
        color $brand-secondary
        background-color $datepicker-item-range-background-color
     
    &{$selector-datepicker}-row-checked
      background-color $datepicker-item-range-background-color

      {$selector-datepicker}-col
        &:first-child,
        &:last-child
          background-color $datepicker-item-checked-background-color
          color $datepicker-item-checked-color
