{$selector-datepicker-header},
{$selector-datepicker-body}
  user-select none

{$selector-datepicker-header}
  color $brand-text
  font-size $datepicker-header-font-size
  font-weight 400
  height $datepicker-header-height
  line-height $datepicker-header-height
  text-align center
  position relative

{$selector-datepicker-prev},
{$selector-datepicker-next}
  position absolute
  top 0.5 * ($datepicker-header-height - $datepicker-header-button-height)
  line-height 0

{$selector-datepicker-prev}
  left 0

{$selector-datepicker-next}
  right 0

{$selector-datepicker-header-icon}
  font-size $datepicker-header-icon-font-size

{$selector-datepicker-header-link}
  transition color .3s
  cursor $cursor-clickable
  &:hover
    color $brand-primary

  + {$selector-datepicker-header-link}
    margin-left $ui-horizontal-gap

{$selector-datepicker-header-button}
  color $brand-close-color
  cursor $cursor-clickable
  display inline-block
  width $datepicker-header-button-width
  height $datepicker-header-button-height
  line-height $datepicker-header-button-height
  transition color .3s

  &:hover
    color $brand-close-color-hover

{$selector-datepicker-weeks}
  border-bottom 1px solid $brand-divider
  height $datepicker-week-height
  line-height $datepicker-week-height

  > {$selector-datepicker-col}
    padding 0

{$selector-datepicker-row}
  margin-top $datepicker-row-gap

  &:first-child
    margin-top $datepicker-grid-gap-vertical

{$selector-datepicker-col}
  width 14.285%
  color $datepicker-item-color
  font-size $datepicker-item-font-size
  display inline-block
  box-sizing border-box
  text-align center
  padding $datepicker-item-padding

{$selector-datepicker-col-checked}
  border-radius 50px

{$selector-datepicker-col-start},
{$selector-datepicker-col-end}
  background-color $datepicker-item-range-bg-color

{$selector-datepicker-col-start}
  border-top-right-radius 0
  border-bottom-right-radius 0

{$selector-datepicker-col-end}
  border-top-left-radius 0
  border-bottom-left-radius 0

{$selector-datepicker-col-range}
  background-color $datepicker-item-range-bg-color

{$selector-datepicker-col-enabled}
  cursor $cursor-clickable
  &:hover
    color $brand-primary

{$selector-datepicker-col-disabled}
  color $brand-link-disabled
  cursor $cursor-disabled

{$selector-datepicker-text}
  border-radius 50px
  box-sizing border-box
  height $datepicker-item-height - 2 * $datepicker-item-padding
  line-height $datepicker-item-height - 2 * $datepicker-item-padding

{$selector-datepicker-col-checked}
  > {$selector-datepicker-text}
    color $datepicker-item-checked-color
    background-color $datepicker-item-checked-bg-color

{$selector-datepicker-panel}
  padding $datepicker-panel-padding
  box-sizing border-box

  + {$selector-datepicker-panel}
    position relative
    &:before
      content ''
      position absolute
      left 0
      top 0
      bottom 0
      width 1px
      background-color $brand-divider
