{$selector-datepicker-daterange}

    user-select none
    box-sizing border-box
    background-color $brand-bg
    border-radius $radius-base
    box-shadow $datepicker-box-shadow
    width $datepicker-daterange-width

    {$selector-datepicker-header}
        box-sizing border-box
        display flex
        width 100%
        padding $datepicker-daterange-header-padding
        border-bottom 1px solid $datepicker-daterange-header-border-color

        {$selector-datepicker-header}-month
            margin-right $datepicker-daterange-header-month-margin-right

        {$selector-datepicker-header}-button
            flex 1
            text-align center
            cursor pointer

            {$selector-icon}
                margin 0

                &.icon-ios-arrow-left,
                &.icon-ios-arrow-right
                    display inline-block
                    width 16px
                    vertical-align middle

                    + .icon-ios-arrow-left,
                    + .icon-ios-arrow-right
                        margin-left -10px

    {$selector-datepicker-daterange}-wrapper

        display flex

        {$selector-datepicker}-table-date

            flex 1
            font-size $datepicker-daterange-font-size

            + {$selector-datepicker}-table-date
                border-left 1px solid $datepicker-daterange-table-border-color

            {$selector-datepicker}-weeks
                display flex
                padding $datepicker-daterange-week-padding

                {$selector-datepicker}-col
                    flex 1
                    text-align center
                    line-height 1

            {$selector-datepicker}-days

                padding $datepicker-daterange-body-padding

                {$selector-datepicker}-row

                    display flex

                {$selector-datepicker}-col
                    cursor pointer
                    flex 1
                    text-align center
                    color $datepicker-daterange-item-color
                    border-radius $datepicker-daterange-item-border-radius
                    margin $datepicker-daterange-item-margin
                    padding $datepicker-daterange-item-padding

                    &-prev-month,
                    &-last-month
                        color $datepicker-daterange-item-disabled-color

                    &-current-month
                        &{$selector-hover}
                            background $datepicker-daterange-item-checked-background-color
                            color $datepicker-daterange-item-checked-color

                    &-checked
                        background $datepicker-daterange-item-checked-background-color
                        color $datepicker-daterange-item-checked-color

                    &-range
                        position relative
                        border-radius 0
                        background-color $datepicker-daterange-item-range-background-color

                        &:before
                            position absolute
                            content ' '
                            height 100%
                            top 0
                            width $datepicker-daterange-item-before-width
                            left $datepicker-daterange-item-before-z-width
                            background-color $datepicker-daterange-item-range-background-color

                        &{$selector-hover}
                            background-color $datepicker-daterange-item-range-background-color
                            color $datepicker-daterange-item-color

                        + {$selector-datepicker}-col-checked
                            position relative

                            &:before
                                position absolute
                                content ' '
                                height 100%
                                top 0
                                width $datepicker-daterange-item-before-width
                                left $datepicker-daterange-item-before-z-width
                                background-color $datepicker-daterange-item-range-background-color
