
{$selector-datepicker-week}

  {$selector-datepicker-row}
    cursor $cursor-clickable
    border-radius 50px

    &:hover
      background-color $datepicker-item-range-bg-color

  {$selector-datepicker-col-enabled}:hover
    color $datepicker-item-color

  {$selector-datepicker-col-disabled}
    cursor $cursor-clickable