{$selector-datepicker}
  user-select none
  display inline-block
  font-size $datepicker-font-size

  {$selector-datepicker}-dropdown
    width 100%

    {$selector-datepicker-el}
      width 100%

    {$selector-datepicker-poper}
      &{$selector-datepicker-poper}-with-sidebar
        padding-left $datepicker-sidebar-width

  {$selector-datepicker-sidebar}
    position absolute
    top 0
    bottom 0
    overflow auto

    width $datepicker-sidebar-width
    background-color #f8f8f9
    border-right 1px solid #e8eaec

    {$selector-datepicker-shortcut}
      overflow hidden
      text-overflow ellipsis
      white-space nowrap
      cursor pointer
      padding $datepicker-shortcut-padding

      &{$selector-hover}
        background-color #e8eaec
