<div
class="${prefix}spin
{{#if size}} ${prefix}spin-{{size}}{{/if}}
{{#if fixed}} ${prefix}spin-fixed{{/if}}
{{#if className}} {{className}}{{/if}}"

{{#if style}}
  style="{{style}}"
{{/if}}
>
  <div class="${prefix}spin-wrapper">
    <div class="${prefix}spin-dot-list">
      <i class="${prefix}spin-dot-item"></i>
      <i class="${prefix}spin-dot-item"></i>
      <i class="${prefix}spin-dot-item"></i>
      <i class="${prefix}spin-dot-item"></i>
    </div>
    {{#if text}}
      <div class="${prefix}spin-text">
        {{text}}
      </div>
    {{/if}}
  </div>
</div>