{$selector-class-prefix + '-modal'}

  {$selector-class-prefix + '-dialog-header'}
    border-bottom 0
    padding-bottom 0
    padding-top $layout-padding-vertical

  {$selector-class-prefix + '-dialog-footer'}
    border-top 0
    padding 0 $layout-padding-horizontal $layout-padding-vertical
