$modal-padding = 24px

{$selector-prefix + '-modal'}

  {$selector-prefix + '-dialog-header'}
    border-bottom 0
    padding-bottom 0
    padding-top $modal-padding

  {$selector-prefix + '-dialog-close'}
    top $modal-padding

  {$selector-prefix + '-dialog-footer'}
    border-top 0
    padding 0 $modal-padding $modal-padding
