{{#if visible}}
  <portal>
    <div
      transition="dialog"
      class="${prefix}dialog
      {{#if className}} {{className}}{{/if}}"

      {{#if style}}
        style="{{style}}"
      {{/if}}
    >

      {{#if showMask}}
        <div
          class="${prefix}dialog-mask"
          {{#if maskClosable}}
            on-click="close()"
          {{/if}}
        >
        </div>
      {{/if}}

      <div
        ref="wrapper"
        class="${prefix}dialog-wrapper"
        {{#if wrapperStyle}}
          style="{{wrapperStyle}}"
        {{/if}}
      >

        {{#if title || @title || closable}}
          <div class="${prefix}dialog-header">
            <div class="${prefix}dialog-title">
              <slot name="title">
                {{title}}
              </slot>
            </div>
            {{#if closable}}
              <Icon
                name="close-line"
                className="${prefix}dialog-close"
                on-click.native="close()"
              />
            {{/if}}
          </div>
        {{/if}}

        {{#if @content}}
          <div class="${prefix}dialog-body">
            <slot name="content" />
          </div>
        {{/if}}

        {{#if @footer}}
          <div class="${prefix}dialog-footer">
            <slot name="footer" />
          </div>
        {{/if}}

      </div>
    </div>
  </portal>
{{/if}}