<div
class="${prefix}notification
{{#if status}} ${prefix}notification-{{status}} ${prefix}notification-with-icon{{/if}}
{{#if title}} ${prefix}notification-with-title{{/if}}"
>

  {{#if status}}
    <Icon
      name="{{
        status === RAW_TYPE_SUCCESS
          ? 'checkbox-circle-fill'
          : status === RAW_TYPE_WARNING
            ? 'error-warning-fill'
            : status === RAW_TYPE_ERROR
              ? 'close-circle-fill'
              : 'information-fill'
      }}"
      className="${prefix}notification-icon"
    />
  {{/if}}

  {{#if title}}
    <div class="${prefix}notification-title">
      {{title}}
    </div>
  {{/if}}

  {{#if content}}
    <div class="${prefix}notification-content">
      {{content}}
    </div>
  {{/if}}

  <div
    class="${prefix}notification-close"
    on-click="hide()"
  >
    <Icon
      name="close-line"
      className="${prefix}notification-close-icon"
    />
  </div>

</div>