icomoon-font-path ?= "fonts"

bell-icon-celsius-fill = "\e900"
bell-icon-celsius-line = "\e901"
bell-icon-cloud-windy-fill = "\e902"
bell-icon-cloud-windy-line = "\e903"
bell-icon-cloudy-2-fill = "\e904"
bell-icon-cloudy-2-line = "\e905"
bell-icon-cloudy-fill = "\e906"
bell-icon-cloudy-line = "\e907"
bell-icon-drizzle-fill = "\e908"
bell-icon-drizzle-line = "\e909"
bell-icon-fahrenheit-fill = "\e90a"
bell-icon-fahrenheit-line = "\e90b"
bell-icon-flashlight-fill = "\e90c"
bell-icon-flashlight-line = "\e90d"
bell-icon-foggy-fill = "\e90e"
bell-icon-foggy-line = "\e90f"
bell-icon-hail-fill = "\e910"
bell-icon-hail-line = "\e911"
bell-icon-haze-fill = "\e912"
bell-icon-haze-line = "\e913"
bell-icon-heavy-showers-fill = "\e914"
bell-icon-heavy-showers-line = "\e915"
bell-icon-mist-fill = "\e916"
bell-icon-mist-line = "\e917"
bell-icon-moon-clear-fill = "\e918"
bell-icon-moon-clear-line = "\e919"
bell-icon-moon-cloudy-fill = "\e91a"
bell-icon-moon-cloudy-line = "\e91b"
bell-icon-moon-fill = "\e91c"
bell-icon-moon-foggy-fill = "\e91d"
bell-icon-moon-foggy-line = "\e91e"
bell-icon-moon-line = "\e91f"
bell-icon-rainy-fill = "\e920"
bell-icon-rainy-line = "\e921"
bell-icon-showers-fill = "\e922"
bell-icon-showers-line = "\e923"
bell-icon-snowy-fill = "\e924"
bell-icon-snowy-line = "\e925"
bell-icon-sun-cloudy-fill = "\e926"
bell-icon-sun-cloudy-line = "\e927"
bell-icon-sun-fill = "\e928"
bell-icon-sun-foggy-fill = "\e929"
bell-icon-sun-foggy-line = "\e92a"
bell-icon-sun-line = "\e92b"
bell-icon-temp-cold-fill = "\e92c"
bell-icon-temp-cold-line = "\e92d"
bell-icon-temp-hot-fill = "\e92e"
bell-icon-temp-hot-line = "\e92f"
bell-icon-thunderstorms-fill = "\e930"
bell-icon-thunderstorms-line = "\e931"
bell-icon-tornado-fill = "\e932"
bell-icon-tornado-line = "\e933"
bell-icon-windy-fill = "\e934"
bell-icon-windy-line = "\e935"
bell-icon-account-box-fill = "\e936"
bell-icon-account-box-line = "\e937"
bell-icon-account-circle-fill = "\e938"
bell-icon-account-circle-line = "\e939"
bell-icon-account-pin-box-fill = "\e93a"
bell-icon-account-pin-box-line = "\e93b"
bell-icon-account-pin-circle-fill = "\e93c"
bell-icon-account-pin-circle-line = "\e93d"
bell-icon-admin-fill = "\e93e"
bell-icon-admin-line = "\e93f"
bell-icon-contacts-fill = "\e940"
bell-icon-contacts-line = "\e941"
bell-icon-emotion-2-fill = "\e942"
bell-icon-emotion-2-line = "\e943"
bell-icon-emotion-fill = "\e944"
bell-icon-emotion-happy-fill = "\e945"
bell-icon-emotion-happy-line = "\e946"
bell-icon-emotion-line = "\e947"
bell-icon-emotion-normal-fill = "\e948"
bell-icon-emotion-normal-line = "\e949"
bell-icon-emotion-unhappy-fill = "\e94a"
bell-icon-emotion-unhappy-line = "\e94b"
bell-icon-genderless-fill = "\e94c"
bell-icon-genderless-line = "\e94d"
bell-icon-group-2-fill = "\e94e"
bell-icon-group-2-line = "\e94f"
bell-icon-group-fill = "\e950"
bell-icon-group-line = "\e951"
bell-icon-men-fill = "\e952"
bell-icon-men-line = "\e953"
bell-icon-open-arm-fill = "\e954"
bell-icon-open-arm-line = "\e955"
bell-icon-parent-fill = "\e956"
bell-icon-parent-line = "\e957"
bell-icon-robot-fill = "\e958"
bell-icon-robot-line = "\e959"
bell-icon-skull-fill = "\e95a"
bell-icon-skull-line = "\e95b"
bell-icon-travesti-fill = "\e95c"
bell-icon-travesti-line = "\e95d"
bell-icon-user-2-fill = "\e95e"
bell-icon-user-2-line = "\e95f"
bell-icon-user-3-fill = "\e960"
bell-icon-user-3-line = "\e961"
bell-icon-user-4-fill = "\e962"
bell-icon-user-4-line = "\e963"
bell-icon-user-5-fill = "\e964"
bell-icon-user-5-line = "\e965"
bell-icon-user-add-fill = "\e966"
bell-icon-user-add-line = "\e967"
bell-icon-user-fill = "\e968"
bell-icon-user-follow-fill = "\e969"
bell-icon-user-follow-line = "\e96a"
bell-icon-user-line = "\e96b"
bell-icon-user-location-fill = "\e96c"
bell-icon-user-location-line = "\e96d"
bell-icon-user-received-2-fill = "\e96e"
bell-icon-user-received-2-line = "\e96f"
bell-icon-user-received-fill = "\e970"
bell-icon-user-received-line = "\e971"
bell-icon-user-search-fill = "\e972"
bell-icon-user-search-line = "\e973"
bell-icon-user-settings-fill = "\e974"
bell-icon-user-settings-line = "\e975"
bell-icon-user-shared-2-fill = "\e976"
bell-icon-user-shared-2-line = "\e977"
bell-icon-user-shared-fill = "\e978"
bell-icon-user-shared-line = "\e979"
bell-icon-user-smile-fill = "\e97a"
bell-icon-user-smile-line = "\e97b"
bell-icon-user-star-fill = "\e97c"
bell-icon-user-star-line = "\e97d"
bell-icon-user-unfollow-fill = "\e97e"
bell-icon-user-unfollow-line = "\e97f"
bell-icon-user-voice-fill = "\e980"
bell-icon-user-voice-line = "\e981"
bell-icon-women-fill = "\e982"
bell-icon-women-line = "\e983"
bell-icon-add-box-fill = "\e984"
bell-icon-add-box-line = "\e985"
bell-icon-add-circle-fill = "\e986"
bell-icon-add-circle-line = "\e987"
bell-icon-add-fill = "\e988"
bell-icon-add-line = "\e989"
bell-icon-alarm-fill = "\e98a"
bell-icon-alarm-line = "\e98b"
bell-icon-alarm-warning-fill = "\e98c"
bell-icon-alarm-warning-line = "\e98d"
bell-icon-alert-fill = "\e98e"
bell-icon-alert-line = "\e98f"
bell-icon-apps-2-fill = "\e990"
bell-icon-apps-2-line = "\e991"
bell-icon-apps-fill = "\e992"
bell-icon-apps-line = "\e993"
bell-icon-arrow-down-circle-fill = "\e994"
bell-icon-arrow-down-circle-line = "\e995"
bell-icon-arrow-down-fill = "\e996"
bell-icon-arrow-down-line = "\e997"
bell-icon-arrow-down-s-fill = "\e998"
bell-icon-arrow-down-s-line = "\e999"
bell-icon-arrow-drop-down-fill = "\e99a"
bell-icon-arrow-drop-down-line = "\e99b"
bell-icon-arrow-drop-left-fill = "\e99c"
bell-icon-arrow-drop-left-line = "\e99d"
bell-icon-arrow-drop-right-fill = "\e99e"
bell-icon-arrow-drop-right-line = "\e99f"
bell-icon-arrow-drop-up-fill = "\e9a0"
bell-icon-arrow-drop-up-line = "\e9a1"
bell-icon-arrow-go-back-fill = "\e9a2"
bell-icon-arrow-go-back-line = "\e9a3"
bell-icon-arrow-go-forward-fill = "\e9a4"
bell-icon-arrow-go-forward-line = "\e9a5"
bell-icon-arrow-left-circle-fill = "\e9a6"
bell-icon-arrow-left-circle-line = "\e9a7"
bell-icon-arrow-left-down-fill = "\e9a8"
bell-icon-arrow-left-down-line = "\e9a9"
bell-icon-arrow-left-fill = "\e9aa"
bell-icon-arrow-left-line = "\e9ab"
bell-icon-arrow-left-s-fill = "\e9ac"
bell-icon-arrow-left-s-line = "\e9ad"
bell-icon-arrow-left-up-fill = "\e9ae"
bell-icon-arrow-left-up-line = "\e9af"
bell-icon-arrow-right-circle-fill = "\e9b0"
bell-icon-arrow-right-circle-line = "\e9b1"
bell-icon-arrow-right-down-fill = "\e9b2"
bell-icon-arrow-right-down-line = "\e9b3"
bell-icon-arrow-right-fill = "\e9b4"
bell-icon-arrow-right-line = "\e9b5"
bell-icon-arrow-right-s-fill = "\e9b6"
bell-icon-arrow-right-s-line = "\e9b7"
bell-icon-arrow-right-up-fill = "\e9b8"
bell-icon-arrow-right-up-line = "\e9b9"
bell-icon-arrow-up-circle-fill = "\e9ba"
bell-icon-arrow-up-circle-line = "\e9bb"
bell-icon-arrow-up-fill = "\e9bc"
bell-icon-arrow-up-line = "\e9bd"
bell-icon-arrow-up-s-fill = "\e9be"
bell-icon-arrow-up-s-line = "\e9bf"
bell-icon-barcode-box-fill = "\e9c0"
bell-icon-barcode-box-line = "\e9c1"
bell-icon-barcode-fill = "\e9c2"
bell-icon-barcode-line = "\e9c3"
bell-icon-base-station-fill = "\e9c4"
bell-icon-base-station-line = "\e9c5"
bell-icon-bluetooth-connect-fill = "\e9c6"
bell-icon-bluetooth-connect-line = "\e9c7"
bell-icon-bluetooth-fill = "\e9c8"
bell-icon-bluetooth-line = "\e9c9"
bell-icon-check-double-fill = "\e9ca"
bell-icon-check-double-line = "\e9cb"
bell-icon-check-fill = "\e9cc"
bell-icon-check-line = "\e9cd"
bell-icon-checkbox-blank-circle-fill = "\e9ce"
bell-icon-checkbox-blank-circle-line = "\e9cf"
bell-icon-checkbox-blank-fill = "\e9d0"
bell-icon-checkbox-blank-line = "\e9d1"
bell-icon-checkbox-circle-fill = "\e9d2"
bell-icon-checkbox-circle-line = "\e9d3"
bell-icon-checkbox-fill = "\e9d4"
bell-icon-checkbox-indeterminate-fill = "\e9d5"
bell-icon-checkbox-indeterminate-line = "\e9d6"
bell-icon-checkbox-line = "\e9d7"
bell-icon-checkbox-multiple-blank-fill = "\e9d8"
bell-icon-checkbox-multiple-blank-line = "\e9d9"
bell-icon-checkbox-multiple-fill = "\e9da"
bell-icon-checkbox-multiple-line = "\e9db"
bell-icon-close-circle-fill = "\e9dc"
bell-icon-close-circle-line = "\e9dd"
bell-icon-close-fill = "\e9de"
bell-icon-close-line = "\e9df"
bell-icon-copyright-fill = "\e9e0"
bell-icon-copyright-line = "\e9e1"
bell-icon-dashboard-fill = "\e9e2"
bell-icon-dashboard-line = "\e9e3"
bell-icon-delete-back-2-fill = "\e9e4"
bell-icon-delete-back-2-line = "\e9e5"
bell-icon-delete-back-fill = "\e9e6"
bell-icon-delete-back-line = "\e9e7"
bell-icon-delete-bin-2-fill = "\e9e8"
bell-icon-delete-bin-2-line = "\e9e9"
bell-icon-delete-bin-3-fill = "\e9ea"
bell-icon-delete-bin-3-line = "\e9eb"
bell-icon-delete-bin-4-fill = "\e9ec"
bell-icon-delete-bin-4-line = "\e9ed"
bell-icon-delete-bin-5-fill = "\e9ee"
bell-icon-delete-bin-5-line = "\e9ef"
bell-icon-delete-bin-6-fill = "\e9f0"
bell-icon-delete-bin-6-line = "\e9f1"
bell-icon-delete-bin-7-fill = "\e9f2"
bell-icon-delete-bin-7-line = "\e9f3"
bell-icon-delete-bin-fill = "\e9f4"
bell-icon-delete-bin-line = "\e9f5"
bell-icon-divide-fill = "\e9f6"
bell-icon-divide-line = "\e9f7"
bell-icon-download-2-fill = "\e9f8"
bell-icon-download-2-line = "\e9f9"
bell-icon-download-cloud-2-fill = "\e9fa"
bell-icon-download-cloud-2-line = "\e9fb"
bell-icon-download-cloud-fill = "\e9fc"
bell-icon-download-cloud-line = "\e9fd"
bell-icon-download-fill = "\e9fe"
bell-icon-download-line = "\e9ff"
bell-icon-error-warning-fill = "\ea00"
bell-icon-error-warning-line = "\ea01"
bell-icon-external-link-fill = "\ea02"
bell-icon-external-link-line = "\ea03"
bell-icon-eye-close-fill = "\ea04"
bell-icon-eye-close-line = "\ea05"
bell-icon-eye-fill = "\ea06"
bell-icon-eye-line = "\ea07"
bell-icon-eye-off-fill = "\ea08"
bell-icon-eye-off-line = "\ea09"
bell-icon-filter-2-fill = "\ea0a"
bell-icon-filter-2-line = "\ea0b"
bell-icon-filter-3-fill = "\ea0c"
bell-icon-filter-3-line = "\ea0d"
bell-icon-filter-fill = "\ea0e"
bell-icon-filter-line = "\ea0f"
bell-icon-find-replace-fill = "\ea10"
bell-icon-find-replace-line = "\ea11"
bell-icon-fingerprint-2-fill = "\ea12"
bell-icon-fingerprint-2-line = "\ea13"
bell-icon-fingerprint-fill = "\ea14"
bell-icon-fingerprint-line = "\ea15"
bell-icon-forbid-2-fill = "\ea16"
bell-icon-forbid-2-line = "\ea17"
bell-icon-forbid-fill = "\ea18"
bell-icon-forbid-line = "\ea19"
bell-icon-function-fill = "\ea1a"
bell-icon-function-line = "\ea1b"
bell-icon-gps-fill = "\ea1c"
bell-icon-gps-line = "\ea1d"
bell-icon-heart-2-fill = "\ea1e"
bell-icon-heart-2-line = "\ea1f"
bell-icon-heart-fill = "\ea20"
bell-icon-heart-line = "\ea21"
bell-icon-indeterminate-circle-fill = "\ea22"
bell-icon-indeterminate-circle-line = "\ea23"
bell-icon-information-fill = "\ea24"
bell-icon-information-line = "\ea25"
bell-icon-list-settings-fill = "\ea26"
bell-icon-list-settings-line = "\ea27"
bell-icon-loader-2-fill = "\ea28"
bell-icon-loader-2-line = "\ea29"
bell-icon-loader-3-fill = "\ea2a"
bell-icon-loader-3-line = "\ea2b"
bell-icon-loader-4-fill = "\ea2c"
bell-icon-loader-4-line = "\ea2d"
bell-icon-loader-5-fill = "\ea2e"
bell-icon-loader-5-line = "\ea2f"
bell-icon-loader-fill = "\ea30"
bell-icon-loader-line = "\ea31"
bell-icon-lock-2-fill = "\ea32"
bell-icon-lock-2-line = "\ea33"
bell-icon-lock-fill = "\ea34"
bell-icon-lock-line = "\ea35"
bell-icon-lock-password-fill = "\ea36"
bell-icon-lock-password-line = "\ea37"
bell-icon-lock-unlock-fill = "\ea38"
bell-icon-lock-unlock-line = "\ea39"
bell-icon-login-box-fill = "\ea3a"
bell-icon-login-box-line = "\ea3b"
bell-icon-login-circle-fill = "\ea3c"
bell-icon-login-circle-line = "\ea3d"
bell-icon-logout-box-fill = "\ea3e"
bell-icon-logout-box-line = "\ea3f"
bell-icon-logout-box-r-fill = "\ea40"
bell-icon-logout-box-r-line = "\ea41"
bell-icon-logout-circle-fill = "\ea42"
bell-icon-logout-circle-line = "\ea43"
bell-icon-logout-circle-r-fill = "\ea44"
bell-icon-logout-circle-r-line = "\ea45"
bell-icon-menu-2-fill = "\ea46"
bell-icon-menu-2-line = "\ea47"
bell-icon-menu-3-fill = "\ea48"
bell-icon-menu-3-line = "\ea49"
bell-icon-menu-fill = "\ea4a"
bell-icon-menu-line = "\ea4b"
bell-icon-more-2-fill = "\ea4c"
bell-icon-more-2-line = "\ea4d"
bell-icon-more-fill = "\ea4e"
bell-icon-more-line = "\ea4f"
bell-icon-notification-badge-fill = "\ea50"
bell-icon-notification-badge-line = "\ea51"
bell-icon-qr-code-fill = "\ea52"
bell-icon-qr-code-line = "\ea53"
bell-icon-qr-scan-2-fill = "\ea54"
bell-icon-qr-scan-2-line = "\ea55"
bell-icon-qr-scan-fill = "\ea56"
bell-icon-qr-scan-line = "\ea57"
bell-icon-question-fill = "\ea58"
bell-icon-question-line = "\ea59"
bell-icon-radio-button-fill = "\ea5a"
bell-icon-radio-button-line = "\ea5b"
bell-icon-refresh-fill = "\ea5c"
bell-icon-refresh-line = "\ea5d"
bell-icon-restart-fill = "\ea5e"
bell-icon-restart-line = "\ea5f"
bell-icon-rss-fill = "\ea60"
bell-icon-rss-line = "\ea61"
bell-icon-scan-2-fill = "\ea62"
bell-icon-scan-2-line = "\ea63"
bell-icon-scan-fill = "\ea64"
bell-icon-scan-line = "\ea65"
bell-icon-search-2-fill = "\ea66"
bell-icon-search-2-line = "\ea67"
bell-icon-search-eye-fill = "\ea68"
bell-icon-search-eye-line = "\ea69"
bell-icon-search-fill = "\ea6a"
bell-icon-search-line = "\ea6b"
bell-icon-settings-2-fill = "\ea6c"
bell-icon-settings-2-line = "\ea6d"
bell-icon-settings-3-fill = "\ea6e"
bell-icon-settings-3-line = "\ea6f"
bell-icon-settings-4-fill = "\ea70"
bell-icon-settings-4-line = "\ea71"
bell-icon-settings-5-fill = "\ea72"
bell-icon-settings-5-line = "\ea73"
bell-icon-settings-6-fill = "\ea74"
bell-icon-settings-6-line = "\ea75"
bell-icon-settings-fill = "\ea76"
bell-icon-settings-line = "\ea77"
bell-icon-share-box-fill = "\ea78"
bell-icon-share-box-line = "\ea79"
bell-icon-share-circle-fill = "\ea7a"
bell-icon-share-circle-line = "\ea7b"
bell-icon-share-fill = "\ea7c"
bell-icon-share-forward-2-fill = "\ea7d"
bell-icon-share-forward-2-line = "\ea7e"
bell-icon-share-forward-box-fill = "\ea7f"
bell-icon-share-forward-box-line = "\ea80"
bell-icon-share-forward-fill = "\ea81"
bell-icon-share-forward-line = "\ea82"
bell-icon-share-line = "\ea83"
bell-icon-shield-cross-fill = "\ea84"
bell-icon-shield-cross-line = "\ea85"
bell-icon-shield-fill = "\ea86"
bell-icon-shield-flash-fill = "\ea87"
bell-icon-shield-flash-line = "\ea88"
bell-icon-shield-keyhole-fill = "\ea89"
bell-icon-shield-keyhole-line = "\ea8a"
bell-icon-shield-line = "\ea8b"
bell-icon-shield-star-fill = "\ea8c"
bell-icon-shield-star-line = "\ea8d"
bell-icon-shield-user-fill = "\ea8e"
bell-icon-shield-user-line = "\ea8f"
bell-icon-shut-down-fill = "\ea90"
bell-icon-shut-down-line = "\ea91"
bell-icon-side-bar-fill = "\ea92"
bell-icon-side-bar-line = "\ea93"
bell-icon-spam-2-fill = "\ea94"
bell-icon-spam-2-line = "\ea95"
bell-icon-spam-3-fill = "\ea96"
bell-icon-spam-3-line = "\ea97"
bell-icon-spam-fill = "\ea98"
bell-icon-spam-line = "\ea99"
bell-icon-star-fill = "\ea9a"
bell-icon-star-half-fill = "\ea9b"
bell-icon-star-half-line = "\ea9c"
bell-icon-star-half-s-fill = "\ea9d"
bell-icon-star-half-s-line = "\ea9e"
bell-icon-star-line = "\ea9f"
bell-icon-star-s-fill = "\eaa0"
bell-icon-star-s-line = "\eaa1"
bell-icon-subtract-fill = "\eaa2"
bell-icon-subtract-line = "\eaa3"
bell-icon-thumb-down-fill = "\eaa4"
bell-icon-thumb-down-line = "\eaa5"
bell-icon-thumb-up-fill = "\eaa6"
bell-icon-thumb-up-line = "\eaa7"
bell-icon-time-fill = "\eaa8"
bell-icon-time-line = "\eaa9"
bell-icon-timer-2-fill = "\eaaa"
bell-icon-timer-2-line = "\eaab"
bell-icon-timer-fill = "\eaac"
bell-icon-timer-flash-fill = "\eaad"
bell-icon-timer-flash-line = "\eaae"
bell-icon-timer-line = "\eaaf"
bell-icon-toggle-fill = "\eab0"
bell-icon-toggle-line = "\eab1"
bell-icon-upload-2-fill = "\eab2"
bell-icon-upload-2-line = "\eab3"
bell-icon-upload-cloud-2-fill = "\eab4"
bell-icon-upload-cloud-2-line = "\eab5"
bell-icon-upload-cloud-fill = "\eab6"
bell-icon-upload-cloud-line = "\eab7"
bell-icon-upload-fill = "\eab8"
bell-icon-upload-line = "\eab9"
bell-icon-wifi-fill = "\eaba"
bell-icon-wifi-line = "\eabb"
bell-icon-wifi-off-fill = "\eabc"
bell-icon-wifi-off-line = "\eabd"
bell-icon-zoom-in-fill = "\eabe"
bell-icon-zoom-in-line = "\eabf"
bell-icon-zoom-out-fill = "\eac0"
bell-icon-zoom-out-line = "\eac1"
bell-icon-k-fill = "\eac2"
bell-icon-k-line = "\eac3"
bell-icon-album-fill = "\eac4"
bell-icon-album-line = "\eac5"
bell-icon-broadcast-fill = "\eac6"
bell-icon-broadcast-line = "\eac7"
bell-icon-camera-2-fill = "\eac8"
bell-icon-camera-2-line = "\eac9"
bell-icon-camera-3-fill = "\eaca"
bell-icon-camera-3-line = "\eacb"
bell-icon-camera-fill = "\eacc"
bell-icon-camera-lens-fill = "\eacd"
bell-icon-camera-lens-line = "\eace"
bell-icon-camera-line = "\eacf"
bell-icon-camera-off-fill = "\ead0"
bell-icon-camera-off-line = "\ead1"
bell-icon-camera-switch-fill = "\ead2"
bell-icon-camera-switch-line = "\ead3"
bell-icon-clapperboard-fill = "\ead4"
bell-icon-clapperboard-line = "\ead5"
bell-icon-disc-fill = "\ead6"
bell-icon-disc-line = "\ead7"
bell-icon-dv-fill = "\ead8"
bell-icon-dv-line = "\ead9"
bell-icon-dvd-fill = "\eada"
bell-icon-dvd-line = "\eadb"
bell-icon-eject-fill = "\eadc"
bell-icon-eject-line = "\eadd"
bell-icon-equalizer-fill = "\eade"
bell-icon-equalizer-line = "\eadf"
bell-icon-film-fill = "\eae0"
bell-icon-film-line = "\eae1"
bell-icon-fullscreen-exit-fill = "\eae2"
bell-icon-fullscreen-exit-line = "\eae3"
bell-icon-fullscreen-fill = "\eae4"
bell-icon-fullscreen-line = "\eae5"
bell-icon-gallery-fill = "\eae6"
bell-icon-gallery-line = "\eae7"
bell-icon-hd-fill = "\eae8"
bell-icon-hd-line = "\eae9"
bell-icon-headphone-fill = "\eaea"
bell-icon-headphone-line = "\eaeb"
bell-icon-hq-fill = "\eaec"
bell-icon-hq-line = "\eaed"
bell-icon-image-2-fill = "\eaee"
bell-icon-image-2-line = "\eaef"
bell-icon-image-fill = "\eaf0"
bell-icon-image-line = "\eaf1"
bell-icon-landscape-fill = "\eaf2"
bell-icon-landscape-line = "\eaf3"
bell-icon-mic-2-fill = "\eaf4"
bell-icon-mic-2-line = "\eaf5"
bell-icon-mic-fill = "\eaf6"
bell-icon-mic-line = "\eaf7"
bell-icon-mic-off-fill = "\eaf8"
bell-icon-mic-off-line = "\eaf9"
bell-icon-movie-2-fill = "\eafa"
bell-icon-movie-2-line = "\eafb"
bell-icon-movie-fill = "\eafc"
bell-icon-movie-line = "\eafd"
bell-icon-music-2-fill = "\eafe"
bell-icon-music-2-line = "\eaff"
bell-icon-music-fill = "\eb00"
bell-icon-music-line = "\eb01"
bell-icon-mv-fill = "\eb02"
bell-icon-mv-line = "\eb03"
bell-icon-notification-2-fill = "\eb04"
bell-icon-notification-2-line = "\eb05"
bell-icon-notification-3-fill = "\eb06"
bell-icon-notification-3-line = "\eb07"
bell-icon-notification-4-fill = "\eb08"
bell-icon-notification-4-line = "\eb09"
bell-icon-notification-fill = "\eb0a"
bell-icon-notification-line = "\eb0b"
bell-icon-notification-off-fill = "\eb0c"
bell-icon-notification-off-line = "\eb0d"
bell-icon-order-play-fill = "\eb0e"
bell-icon-order-play-line = "\eb0f"
bell-icon-pause-circle-fill = "\eb10"
bell-icon-pause-circle-line = "\eb11"
bell-icon-pause-fill = "\eb12"
bell-icon-pause-line = "\eb13"
bell-icon-pause-mini-fill = "\eb14"
bell-icon-pause-mini-line = "\eb15"
bell-icon-phone-camera-fill = "\eb16"
bell-icon-phone-camera-line = "\eb17"
bell-icon-play-circle-fill = "\eb18"
bell-icon-play-circle-line = "\eb19"
bell-icon-play-fill = "\eb1a"
bell-icon-play-line = "\eb1b"
bell-icon-play-list-add-fill = "\eb1c"
bell-icon-play-list-add-line = "\eb1d"
bell-icon-play-list-fill = "\eb1e"
bell-icon-play-list-line = "\eb1f"
bell-icon-play-mini-fill = "\eb20"
bell-icon-play-mini-line = "\eb21"
bell-icon-polaroid-2-fill = "\eb22"
bell-icon-polaroid-2-line = "\eb23"
bell-icon-polaroid-fill = "\eb24"
bell-icon-polaroid-line = "\eb25"
bell-icon-radio-2-fill = "\eb26"
bell-icon-radio-2-line = "\eb27"
bell-icon-radio-fill = "\eb28"
bell-icon-radio-line = "\eb29"
bell-icon-record-circle-fill = "\eb2a"
bell-icon-record-circle-line = "\eb2b"
bell-icon-repeat-2-fill = "\eb2c"
bell-icon-repeat-2-line = "\eb2d"
bell-icon-repeat-fill = "\eb2e"
bell-icon-repeat-line = "\eb2f"
bell-icon-repeat-one-fill = "\eb30"
bell-icon-repeat-one-line = "\eb31"
bell-icon-rewind-fill = "\eb32"
bell-icon-rewind-line = "\eb33"
bell-icon-rewind-mini-fill = "\eb34"
bell-icon-rewind-mini-line = "\eb35"
bell-icon-rhythm-fill = "\eb36"
bell-icon-rhythm-line = "\eb37"
bell-icon-shuffle-fill = "\eb38"
bell-icon-shuffle-line = "\eb39"
bell-icon-skip-back-fill = "\eb3a"
bell-icon-skip-back-line = "\eb3b"
bell-icon-skip-back-mini-fill = "\eb3c"
bell-icon-skip-back-mini-line = "\eb3d"
bell-icon-skip-forward-fill = "\eb3e"
bell-icon-skip-forward-line = "\eb3f"
bell-icon-skip-forward-mini-fill = "\eb40"
bell-icon-skip-forward-mini-line = "\eb41"
bell-icon-sound-module-fill = "\eb42"
bell-icon-sound-module-line = "\eb43"
bell-icon-speaker-2-fill = "\eb44"
bell-icon-speaker-2-line = "\eb45"
bell-icon-speaker-3-fill = "\eb46"
bell-icon-speaker-3-line = "\eb47"
bell-icon-speaker-fill = "\eb48"
bell-icon-speaker-line = "\eb49"
bell-icon-speed-fill = "\eb4a"
bell-icon-speed-line = "\eb4b"
bell-icon-speed-mini-fill = "\eb4c"
bell-icon-speed-mini-line = "\eb4d"
bell-icon-stop-circle-fill = "\eb4e"
bell-icon-stop-circle-line = "\eb4f"
bell-icon-stop-fill = "\eb50"
bell-icon-stop-line = "\eb51"
bell-icon-stop-mini-fill = "\eb52"
bell-icon-stop-mini-line = "\eb53"
bell-icon-surround-sound-fill = "\eb54"
bell-icon-surround-sound-line = "\eb55"
bell-icon-tape-fill = "\eb56"
bell-icon-tape-line = "\eb57"
bell-icon-video-fill = "\eb58"
bell-icon-video-line = "\eb59"
bell-icon-vidicon-2-fill = "\eb5a"
bell-icon-vidicon-2-line = "\eb5b"
bell-icon-vidicon-fill = "\eb5c"
bell-icon-vidicon-line = "\eb5d"
bell-icon-voiceprint-fill = "\eb5e"
bell-icon-voiceprint-line = "\eb5f"
bell-icon-volume-down-fill = "\eb60"
bell-icon-volume-down-line = "\eb61"
bell-icon-volume-mute-fill = "\eb62"
bell-icon-volume-mute-line = "\eb63"
bell-icon-volume-up-fill = "\eb64"
bell-icon-volume-up-line = "\eb65"
bell-icon-webcam-fill = "\eb66"
bell-icon-webcam-line = "\eb67"
bell-icon-anchor-fill = "\eb68"
bell-icon-anchor-line = "\eb69"
bell-icon-barricade-fill = "\eb6a"
bell-icon-barricade-line = "\eb6b"
bell-icon-bike-fill = "\eb6c"
bell-icon-bike-line = "\eb6d"
bell-icon-bus-2-fill = "\eb6e"
bell-icon-bus-2-line = "\eb6f"
bell-icon-bus-fill = "\eb70"
bell-icon-bus-line = "\eb71"
bell-icon-car-fill = "\eb72"
bell-icon-car-line = "\eb73"
bell-icon-car-washing-fill = "\eb74"
bell-icon-car-washing-line = "\eb75"
bell-icon-charging-pile-2-fill = "\eb76"
bell-icon-charging-pile-2-line = "\eb77"
bell-icon-charging-pile-fill = "\eb78"
bell-icon-charging-pile-line = "\eb79"
bell-icon-china-railway-fill = "\eb7a"
bell-icon-china-railway-line = "\eb7b"
bell-icon-compass-2-fill = "\eb7c"
bell-icon-compass-2-line = "\eb7d"
bell-icon-compass-3-fill = "\eb7e"
bell-icon-compass-3-line = "\eb7f"
bell-icon-compass-4-fill = "\eb80"
bell-icon-compass-4-line = "\eb81"
bell-icon-compass-discover-fill = "\eb82"
bell-icon-compass-discover-line = "\eb83"
bell-icon-compass-fill = "\eb84"
bell-icon-compass-line = "\eb85"
bell-icon-cup-fill = "\eb86"
bell-icon-cup-line = "\eb87"
bell-icon-direction-fill = "\eb88"
bell-icon-direction-line = "\eb89"
bell-icon-e-bike-2-fill = "\eb8a"
bell-icon-e-bike-2-line = "\eb8b"
bell-icon-e-bike-fill = "\eb8c"
bell-icon-e-bike-line = "\eb8d"
bell-icon-earth-fill = "\eb8e"
bell-icon-earth-line = "\eb8f"
bell-icon-flight-land-fill = "\eb90"
bell-icon-flight-land-line = "\eb91"
bell-icon-flight-takeoff-fill = "\eb92"
bell-icon-flight-takeoff-line = "\eb93"
bell-icon-footprint-fill = "\eb94"
bell-icon-footprint-line = "\eb95"
bell-icon-gas-station-fill = "\eb96"
bell-icon-gas-station-line = "\eb97"
bell-icon-globe-fill = "\eb98"
bell-icon-globe-line = "\eb99"
bell-icon-goblet-fill = "\eb9a"
bell-icon-goblet-line = "\eb9b"
bell-icon-guide-fill = "\eb9c"
bell-icon-guide-line = "\eb9d"
bell-icon-hotel-bed-fill = "\eb9e"
bell-icon-hotel-bed-line = "\eb9f"
bell-icon-map-2-fill = "\eba0"
bell-icon-map-2-line = "\eba1"
bell-icon-map-fill = "\eba2"
bell-icon-map-line = "\eba3"
bell-icon-map-pin-2-fill = "\eba4"
bell-icon-map-pin-2-line = "\eba5"
bell-icon-map-pin-3-fill = "\eba6"
bell-icon-map-pin-3-line = "\eba7"
bell-icon-map-pin-4-fill = "\eba8"
bell-icon-map-pin-4-line = "\eba9"
bell-icon-map-pin-5-fill = "\ebaa"
bell-icon-map-pin-5-line = "\ebab"
bell-icon-map-pin-add-fill = "\ebac"
bell-icon-map-pin-add-line = "\ebad"
bell-icon-map-pin-fill = "\ebae"
bell-icon-map-pin-line = "\ebaf"
bell-icon-map-pin-range-fill = "\ebb0"
bell-icon-map-pin-range-line = "\ebb1"
bell-icon-map-pin-time-fill = "\ebb2"
bell-icon-map-pin-time-line = "\ebb3"
bell-icon-map-pin-user-fill = "\ebb4"
bell-icon-map-pin-user-line = "\ebb5"
bell-icon-motorbike-fill = "\ebb6"
bell-icon-motorbike-line = "\ebb7"
bell-icon-navigation-fill = "\ebb8"
bell-icon-navigation-line = "\ebb9"
bell-icon-oil-fill = "\ebba"
bell-icon-oil-line = "\ebbb"
bell-icon-parking-box-fill = "\ebbc"
bell-icon-parking-box-line = "\ebbd"
bell-icon-parking-fill = "\ebbe"
bell-icon-parking-line = "\ebbf"
bell-icon-pin-distance-fill = "\ebc0"
bell-icon-pin-distance-line = "\ebc1"
bell-icon-plane-fill = "\ebc2"
bell-icon-plane-line = "\ebc3"
bell-icon-police-car-fill = "\ebc4"
bell-icon-police-car-line = "\ebc5"
bell-icon-push-pin-2-fill = "\ebc6"
bell-icon-push-pin-2-line = "\ebc7"
bell-icon-push-pin-fill = "\ebc8"
bell-icon-push-pin-line = "\ebc9"
bell-icon-restaurant-2-fill = "\ebca"
bell-icon-restaurant-2-line = "\ebcb"
bell-icon-restaurant-fill = "\ebcc"
bell-icon-restaurant-line = "\ebcd"
bell-icon-riding-fill = "\ebce"
bell-icon-riding-line = "\ebcf"
bell-icon-road-map-fill = "\ebd0"
bell-icon-road-map-line = "\ebd1"
bell-icon-roadster-fill = "\ebd2"
bell-icon-roadster-line = "\ebd3"
bell-icon-rocket-2-fill = "\ebd4"
bell-icon-rocket-2-line = "\ebd5"
bell-icon-rocket-fill = "\ebd6"
bell-icon-rocket-line = "\ebd7"
bell-icon-route-fill = "\ebd8"
bell-icon-route-line = "\ebd9"
bell-icon-run-fill = "\ebda"
bell-icon-run-line = "\ebdb"
bell-icon-sailboat-fill = "\ebdc"
bell-icon-sailboat-line = "\ebdd"
bell-icon-ship-2-fill = "\ebde"
bell-icon-ship-2-line = "\ebdf"
bell-icon-ship-fill = "\ebe0"
bell-icon-ship-line = "\ebe1"
bell-icon-signal-tower-fill = "\ebe2"
bell-icon-signal-tower-line = "\ebe3"
bell-icon-space-ship-fill = "\ebe4"
bell-icon-space-ship-line = "\ebe5"
bell-icon-steering-2-fill = "\ebe6"
bell-icon-steering-2-line = "\ebe7"
bell-icon-steering-fill = "\ebe8"
bell-icon-steering-line = "\ebe9"
bell-icon-subway-fill = "\ebea"
bell-icon-subway-line = "\ebeb"
bell-icon-taxi-fill = "\ebec"
bell-icon-taxi-line = "\ebed"
bell-icon-traffic-light-fill = "\ebee"
bell-icon-traffic-light-line = "\ebef"
bell-icon-train-fill = "\ebf0"
bell-icon-train-line = "\ebf1"
bell-icon-treasure-map-fill = "\ebf2"
bell-icon-treasure-map-line = "\ebf3"
bell-icon-truck-fill = "\ebf4"
bell-icon-truck-line = "\ebf5"
bell-icon-walk-fill = "\ebf6"
bell-icon-walk-line = "\ebf7"
bell-icon-alipay-fill = "\ebf8"
bell-icon-alipay-line = "\ebf9"
bell-icon-amazon-fill = "\ebfa"
bell-icon-amazon-line = "\ebfb"
bell-icon-android-fill = "\ebfc"
bell-icon-android-line = "\ebfd"
bell-icon-angularjs-fill = "\ebfe"
bell-icon-angularjs-line = "\ebff"
bell-icon-apple-fill = "\ec00"
bell-icon-apple-line = "\ec01"
bell-icon-baidu-fill = "\ec02"
bell-icon-baidu-line = "\ec03"
bell-icon-behance-fill = "\ec04"
bell-icon-behance-line = "\ec05"
bell-icon-bilibili-fill = "\ec06"
bell-icon-bilibili-line = "\ec07"
bell-icon-chrome-fill = "\ec08"
bell-icon-chrome-line = "\ec09"
bell-icon-codepen-fill = "\ec0a"
bell-icon-codepen-line = "\ec0b"
bell-icon-coreos-fill = "\ec0c"
bell-icon-coreos-line = "\ec0d"
bell-icon-dingding-fill = "\ec0e"
bell-icon-dingding-line = "\ec0f"
bell-icon-discord-fill = "\ec10"
bell-icon-discord-line = "\ec11"
bell-icon-douban-fill = "\ec12"
bell-icon-douban-line = "\ec13"
bell-icon-dribbble-fill = "\ec14"
bell-icon-dribbble-line = "\ec15"
bell-icon-drive-fill = "\ec16"
bell-icon-drive-line = "\ec17"
bell-icon-dropbox-fill = "\ec18"
bell-icon-dropbox-line = "\ec19"
bell-icon-edge-fill = "\ec1a"
bell-icon-edge-line = "\ec1b"
bell-icon-evernote-fill = "\ec1c"
bell-icon-evernote-line = "\ec1d"
bell-icon-facebook-box-fill = "\ec1e"
bell-icon-facebook-box-line = "\ec1f"
bell-icon-facebook-circle-fill = "\ec20"
bell-icon-facebook-circle-line = "\ec21"
bell-icon-facebook-fill = "\ec22"
bell-icon-facebook-line = "\ec23"
bell-icon-firefox-fill = "\ec24"
bell-icon-firefox-line = "\ec25"
bell-icon-github-fill = "\ec26"
bell-icon-github-line = "\ec27"
bell-icon-gitlab-fill = "\ec28"
bell-icon-gitlab-line = "\ec29"
bell-icon-google-fill = "\ec2a"
bell-icon-google-line = "\ec2b"
bell-icon-ie-fill = "\ec2c"
bell-icon-ie-line = "\ec2d"
bell-icon-instagram-fill = "\ec2e"
bell-icon-instagram-line = "\ec2f"
bell-icon-invision-fill = "\ec30"
bell-icon-invision-line = "\ec31"
bell-icon-kakao-talk-fill = "\ec32"
bell-icon-kakao-talk-line = "\ec33"
bell-icon-line-fill = "\ec34"
bell-icon-line-line = "\ec35"
bell-icon-linkedin-box-fill = "\ec36"
bell-icon-linkedin-box-line = "\ec37"
bell-icon-linkedin-fill = "\ec38"
bell-icon-linkedin-line = "\ec39"
bell-icon-mastercard-fill = "\ec3a"
bell-icon-mastercard-line = "\ec3b"
bell-icon-mastodon-fill = "\ec3c"
bell-icon-mastodon-line = "\ec3d"
bell-icon-medium-fill = "\ec3e"
bell-icon-medium-line = "\ec3f"
bell-icon-messenger-fill = "\ec40"
bell-icon-messenger-line = "\ec41"
bell-icon-mini-program-fill = "\ec42"
bell-icon-mini-program-line = "\ec43"
bell-icon-netease-cloud-music-fill = "\ec44"
bell-icon-netease-cloud-music-line = "\ec45"
bell-icon-netflix-fill = "\ec46"
bell-icon-netflix-line = "\ec47"
bell-icon-opera-fill = "\ec48"
bell-icon-opera-line = "\ec49"
bell-icon-patreon-fill = "\ec4a"
bell-icon-patreon-line = "\ec4b"
bell-icon-paypal-fill = "\ec4c"
bell-icon-paypal-line = "\ec4d"
bell-icon-pinterest-fill = "\ec4e"
bell-icon-pinterest-line = "\ec4f"
bell-icon-playstation-fill = "\ec50"
bell-icon-playstation-line = "\ec51"
bell-icon-product-hunt-fill = "\ec52"
bell-icon-product-hunt-line = "\ec53"
bell-icon-qq-fill = "\ec54"
bell-icon-qq-line = "\ec55"
bell-icon-reactjs-fill = "\ec56"
bell-icon-reactjs-line = "\ec57"
bell-icon-reddit-fill = "\ec58"
bell-icon-reddit-line = "\ec59"
bell-icon-remixicon-fill = "\ec5a"
bell-icon-remixicon-line = "\ec5b"
bell-icon-safari-fill = "\ec5c"
bell-icon-safari-line = "\ec5d"
bell-icon-skype-fill = "\ec5e"
bell-icon-skype-line = "\ec5f"
bell-icon-slack-fill = "\ec60"
bell-icon-slack-line = "\ec61"
bell-icon-snapchat-fill = "\ec62"
bell-icon-snapchat-line = "\ec63"
bell-icon-spotify-fill = "\ec64"
bell-icon-spotify-line = "\ec65"
bell-icon-stack-overflow-fill = "\ec66"
bell-icon-stack-overflow-line = "\ec67"
bell-icon-switch-fill = "\ec68"
bell-icon-switch-line = "\ec69"
bell-icon-taobao-fill = "\ec6a"
bell-icon-taobao-line = "\ec6b"
bell-icon-telegram-fill = "\ec6c"
bell-icon-telegram-line = "\ec6d"
bell-icon-trello-fill = "\ec6e"
bell-icon-trello-line = "\ec6f"
bell-icon-tumblr-fill = "\ec70"
bell-icon-tumblr-line = "\ec71"
bell-icon-twitch-fill = "\ec72"
bell-icon-twitch-line = "\ec73"
bell-icon-twitter-fill = "\ec74"
bell-icon-twitter-line = "\ec75"
bell-icon-ubuntu-fill = "\ec76"
bell-icon-ubuntu-line = "\ec77"
bell-icon-visa-fill = "\ec78"
bell-icon-visa-line = "\ec79"
bell-icon-vuejs-fill = "\ec7a"
bell-icon-vuejs-line = "\ec7b"
bell-icon-wechat-2-fill = "\ec7c"
bell-icon-wechat-2-line = "\ec7d"
bell-icon-wechat-fill = "\ec7e"
bell-icon-wechat-line = "\ec7f"
bell-icon-wechat-pay-fill = "\ec80"
bell-icon-wechat-pay-line = "\ec81"
bell-icon-weibo-fill = "\ec82"
bell-icon-weibo-line = "\ec83"
bell-icon-whatsapp-fill = "\ec84"
bell-icon-whatsapp-line = "\ec85"
bell-icon-windows-fill = "\ec86"
bell-icon-windows-line = "\ec87"
bell-icon-xbox-fill = "\ec88"
bell-icon-xbox-line = "\ec89"
bell-icon-xing-fill = "\ec8a"
bell-icon-xing-line = "\ec8b"
bell-icon-youtube-fill = "\ec8c"
bell-icon-youtube-line = "\ec8d"
bell-icon-zcool-fill = "\ec8e"
bell-icon-zcool-line = "\ec8f"
bell-icon-zhihu-fill = "\ec90"
bell-icon-zhihu-line = "\ec91"
bell-icon-door-lock-box-fill = "\ec92"
bell-icon-door-lock-box-line = "\ec93"
bell-icon-door-lock-fill = "\ec94"
bell-icon-door-lock-line = "\ec95"
bell-icon-fire-fill = "\ec96"
bell-icon-fire-line = "\ec97"
bell-icon-key-2-fill = "\ec98"
bell-icon-key-2-line = "\ec99"
bell-icon-key-fill = "\ec9a"
bell-icon-key-line = "\ec9b"
bell-icon-lightbulb-fill = "\ec9c"
bell-icon-lightbulb-flash-fill = "\ec9d"
bell-icon-lightbulb-flash-line = "\ec9e"
bell-icon-lightbulb-line = "\ec9f"
bell-icon-outlet-2-fill = "\eca0"
bell-icon-outlet-2-line = "\eca1"
bell-icon-outlet-fill = "\eca2"
bell-icon-outlet-line = "\eca3"
bell-icon-plug-2-fill = "\eca4"
bell-icon-plug-2-line = "\eca5"
bell-icon-plug-fill = "\eca6"
bell-icon-plug-line = "\eca7"
bell-icon-reserved-fill = "\eca8"
bell-icon-reserved-line = "\eca9"
bell-icon-shirt-fill = "\ecaa"
bell-icon-shirt-line = "\ecab"
bell-icon-t-shirt-fill = "\ecac"
bell-icon-t-shirt-line = "\ecad"
bell-icon-umbrella-fill = "\ecae"
bell-icon-umbrella-line = "\ecaf"
bell-icon-auction-fill = "\ecb0"
bell-icon-auction-line = "\ecb1"
bell-icon-bank-card-2-fill = "\ecb2"
bell-icon-bank-card-2-line = "\ecb3"
bell-icon-bank-card-fill = "\ecb4"
bell-icon-bank-card-line = "\ecb5"
bell-icon-bit-coin-fill = "\ecb6"
bell-icon-bit-coin-line = "\ecb7"
bell-icon-copper-coin-fill = "\ecb8"
bell-icon-copper-coin-line = "\ecb9"
bell-icon-copper-diamond-fill = "\ecba"
bell-icon-copper-diamond-line = "\ecbb"
bell-icon-coupon-2-fill = "\ecbc"
bell-icon-coupon-2-line = "\ecbd"
bell-icon-coupon-3-fill = "\ecbe"
bell-icon-coupon-3-line = "\ecbf"
bell-icon-coupon-4-fill = "\ecc0"
bell-icon-coupon-4-line = "\ecc1"
bell-icon-coupon-5-fill = "\ecc2"
bell-icon-coupon-5-line = "\ecc3"
bell-icon-coupon-fill = "\ecc4"
bell-icon-coupon-line = "\ecc5"
bell-icon-currency-fill = "\ecc6"
bell-icon-currency-line = "\ecc7"
bell-icon-exchange-box-fill = "\ecc8"
bell-icon-exchange-box-line = "\ecc9"
bell-icon-exchange-cny-fill = "\ecca"
bell-icon-exchange-cny-line = "\eccb"
bell-icon-exchange-dollar-fill = "\eccc"
bell-icon-exchange-dollar-line = "\eccd"
bell-icon-exchange-fill = "\ecce"
bell-icon-exchange-funds-fill = "\eccf"
bell-icon-exchange-funds-line = "\ecd0"
bell-icon-exchange-line = "\ecd1"
bell-icon-funds-box-fill = "\ecd2"
bell-icon-funds-box-line = "\ecd3"
bell-icon-funds-fill = "\ecd4"
bell-icon-funds-line = "\ecd5"
bell-icon-increase-decrease-fill = "\ecd6"
bell-icon-increase-decrease-line = "\ecd7"
bell-icon-money-cny-box-fill = "\ecd8"
bell-icon-money-cny-box-line = "\ecd9"
bell-icon-money-cny-circle-fill = "\ecda"
bell-icon-money-cny-circle-line = "\ecdb"
bell-icon-money-dollar-box-fill = "\ecdc"
bell-icon-money-dollar-box-line = "\ecdd"
bell-icon-money-dollar-circle-fill = "\ecde"
bell-icon-money-dollar-circle-line = "\ecdf"
bell-icon-money-euro-box-fill = "\ece0"
bell-icon-money-euro-box-line = "\ece1"
bell-icon-money-euro-circle-fill = "\ece2"
bell-icon-money-euro-circle-line = "\ece3"
bell-icon-money-pound-box-fill = "\ece4"
bell-icon-money-pound-box-line = "\ece5"
bell-icon-money-pound-circle-fill = "\ece6"
bell-icon-money-pound-circle-line = "\ece7"
bell-icon-percent-fill = "\ece8"
bell-icon-percent-line = "\ece9"
bell-icon-price-tag-2-fill = "\ecea"
bell-icon-price-tag-2-line = "\eceb"
bell-icon-price-tag-3-fill = "\ecec"
bell-icon-price-tag-3-line = "\eced"
bell-icon-price-tag-fill = "\ecee"
bell-icon-price-tag-line = "\ecef"
bell-icon-red-packet-fill = "\ecf0"
bell-icon-red-packet-line = "\ecf1"
bell-icon-refund-fill = "\ecf2"
bell-icon-refund-line = "\ecf3"
bell-icon-safe-2-fill = "\ecf4"
bell-icon-safe-2-line = "\ecf5"
bell-icon-safe-fill = "\ecf6"
bell-icon-safe-line = "\ecf7"
bell-icon-shopping-bag-2-fill = "\ecf8"
bell-icon-shopping-bag-2-line = "\ecf9"
bell-icon-shopping-bag-3-fill = "\ecfa"
bell-icon-shopping-bag-3-line = "\ecfb"
bell-icon-shopping-bag-fill = "\ecfc"
bell-icon-shopping-bag-line = "\ecfd"
bell-icon-shopping-cart-2-fill = "\ecfe"
bell-icon-shopping-cart-2-line = "\ecff"
bell-icon-shopping-cart-fill = "\ed00"
bell-icon-shopping-cart-line = "\ed01"
bell-icon-stock-fill = "\ed02"
bell-icon-stock-line = "\ed03"
bell-icon-swap-box-fill = "\ed04"
bell-icon-swap-box-line = "\ed05"
bell-icon-swap-fill = "\ed06"
bell-icon-swap-line = "\ed07"
bell-icon-trophy-fill = "\ed08"
bell-icon-trophy-line = "\ed09"
bell-icon-vip-crown-2-fill = "\ed0a"
bell-icon-vip-crown-2-line = "\ed0b"
bell-icon-vip-crown-fill = "\ed0c"
bell-icon-vip-crown-line = "\ed0d"
bell-icon-vip-diamond-fill = "\ed0e"
bell-icon-vip-diamond-line = "\ed0f"
bell-icon-vip-fill = "\ed10"
bell-icon-vip-line = "\ed11"
bell-icon-wallet-2-fill = "\ed12"
bell-icon-wallet-2-line = "\ed13"
bell-icon-wallet-3-fill = "\ed14"
bell-icon-wallet-3-line = "\ed15"
bell-icon-wallet-fill = "\ed16"
bell-icon-wallet-line = "\ed17"
bell-icon-water-flash-fill = "\ed18"
bell-icon-water-flash-line = "\ed19"
bell-icon-align-bottom = "\ed1a"
bell-icon-align-center = "\ed1b"
bell-icon-align-justify = "\ed1c"
bell-icon-align-left = "\ed1d"
bell-icon-align-right = "\ed1e"
bell-icon-align-top = "\ed1f"
bell-icon-align-vertically = "\ed20"
bell-icon-asterisk = "\ed21"
bell-icon-attachment-2 = "\ed22"
bell-icon-bold = "\ed23"
bell-icon-code-view = "\ed24"
bell-icon-double-quotes-l = "\ed25"
bell-icon-double-quotes-r = "\ed26"
bell-icon-emphasis = "\ed27"
bell-icon-font-color = "\ed28"
bell-icon-font-size-2 = "\ed29"
bell-icon-font-size = "\ed2a"
bell-icon-format-clear = "\ed2b"
bell-icon-functions = "\ed2c"
bell-icon-hashtag = "\ed2d"
bell-icon-heading = "\ed2e"
bell-icon-indent-decrease = "\ed2f"
bell-icon-indent-increase = "\ed30"
bell-icon-italic = "\ed31"
bell-icon-line-height = "\ed32"
bell-icon-link-m = "\ed33"
bell-icon-link-unlink-m = "\ed34"
bell-icon-link-unlink = "\ed35"
bell-icon-link = "\ed36"
bell-icon-list-check-2 = "\ed37"
bell-icon-list-check = "\ed38"
bell-icon-list-ordered = "\ed39"
bell-icon-list-unordered = "\ed3a"
bell-icon-number-0 = "\ed3b"
bell-icon-number-1 = "\ed3c"
bell-icon-number-2 = "\ed3d"
bell-icon-number-3 = "\ed3e"
bell-icon-number-4 = "\ed3f"
bell-icon-number-5 = "\ed40"
bell-icon-number-6 = "\ed41"
bell-icon-number-7 = "\ed42"
bell-icon-number-8 = "\ed43"
bell-icon-number-9 = "\ed44"
bell-icon-omega = "\ed45"
bell-icon-page-separator = "\ed46"
bell-icon-paragraph = "\ed47"
bell-icon-separator = "\ed48"
bell-icon-single-quotes-l = "\ed49"
bell-icon-single-quotes-r = "\ed4a"
bell-icon-space = "\ed4b"
bell-icon-strikethrough-2 = "\ed4c"
bell-icon-strikethrough = "\ed4d"
bell-icon-subscript-2 = "\ed4e"
bell-icon-subscript = "\ed4f"
bell-icon-superscript-2 = "\ed50"
bell-icon-superscript = "\ed51"
bell-icon-table-2 = "\ed52"
bell-icon-text-direction-l = "\ed53"
bell-icon-text-direction-r = "\ed54"
bell-icon-text-spacing = "\ed55"
bell-icon-text-wrap = "\ed56"
bell-icon-text = "\ed57"
bell-icon-translate-2 = "\ed58"
bell-icon-translate = "\ed59"
bell-icon-underline = "\ed5a"
bell-icon-article-fill = "\ed5b"
bell-icon-article-line = "\ed5c"
bell-icon-bill-fill = "\ed5d"
bell-icon-bill-line = "\ed5e"
bell-icon-book-2-fill = "\ed5f"
bell-icon-book-2-line = "\ed60"
bell-icon-book-3-fill = "\ed61"
bell-icon-book-3-line = "\ed62"
bell-icon-book-fill = "\ed63"
bell-icon-book-line = "\ed64"
bell-icon-book-mark-fill = "\ed65"
bell-icon-book-mark-line = "\ed66"
bell-icon-book-open-fill = "\ed67"
bell-icon-book-open-line = "\ed68"
bell-icon-book-read-fill = "\ed69"
bell-icon-book-read-line = "\ed6a"
bell-icon-clipboard-fill = "\ed6b"
bell-icon-clipboard-line = "\ed6c"
bell-icon-contacts-book-2-fill = "\ed6d"
bell-icon-contacts-book-2-line = "\ed6e"
bell-icon-contacts-book-fill = "\ed6f"
bell-icon-contacts-book-line = "\ed70"
bell-icon-file-2-fill = "\ed71"
bell-icon-file-2-line = "\ed72"
bell-icon-file-3-fill = "\ed73"
bell-icon-file-3-line = "\ed74"
bell-icon-file-4-fill = "\ed75"
bell-icon-file-4-line = "\ed76"
bell-icon-file-add-fill = "\ed77"
bell-icon-file-add-line = "\ed78"
bell-icon-file-chart-2-fill = "\ed79"
bell-icon-file-chart-2-line = "\ed7a"
bell-icon-file-chart-fill = "\ed7b"
bell-icon-file-chart-line = "\ed7c"
bell-icon-file-code-fill = "\ed7d"
bell-icon-file-code-line = "\ed7e"
bell-icon-file-copy-2-fill = "\ed7f"
bell-icon-file-copy-2-line = "\ed80"
bell-icon-file-copy-fill = "\ed81"
bell-icon-file-copy-line = "\ed82"
bell-icon-file-damage-fill = "\ed83"
bell-icon-file-damage-line = "\ed84"
bell-icon-file-download-fill = "\ed85"
bell-icon-file-download-line = "\ed86"
bell-icon-file-edit-fill = "\ed87"
bell-icon-file-edit-line = "\ed88"
bell-icon-file-excel-2-fill = "\ed89"
bell-icon-file-excel-2-line = "\ed8a"
bell-icon-file-excel-fill = "\ed8b"
bell-icon-file-excel-line = "\ed8c"
bell-icon-file-fill = "\ed8d"
bell-icon-file-forbid-fill = "\ed8e"
bell-icon-file-forbid-line = "\ed8f"
bell-icon-file-info-fill = "\ed90"
bell-icon-file-info-line = "\ed91"
bell-icon-file-line = "\ed92"
bell-icon-file-list-2-fill = "\ed93"
bell-icon-file-list-2-line = "\ed94"
bell-icon-file-list-3-fill = "\ed95"
bell-icon-file-list-3-line = "\ed96"
bell-icon-file-list-fill = "\ed97"
bell-icon-file-list-line = "\ed98"
bell-icon-file-lock-fill = "\ed99"
bell-icon-file-lock-line = "\ed9a"
bell-icon-file-mark-fill = "\ed9b"
bell-icon-file-mark-line = "\ed9c"
bell-icon-file-music-fill = "\ed9d"
bell-icon-file-music-line = "\ed9e"
bell-icon-file-paper-fill = "\ed9f"
bell-icon-file-paper-line = "\eda0"
bell-icon-file-pdf-fill = "\eda1"
bell-icon-file-pdf-line = "\eda2"
bell-icon-file-ppt-2-fill = "\eda3"
bell-icon-file-ppt-2-line = "\eda4"
bell-icon-file-ppt-fill = "\eda5"
bell-icon-file-ppt-line = "\eda6"
bell-icon-file-reduce-fill = "\eda7"
bell-icon-file-reduce-line = "\eda8"
bell-icon-file-search-fill = "\eda9"
bell-icon-file-search-line = "\edaa"
bell-icon-file-settings-fill = "\edab"
bell-icon-file-settings-line = "\edac"
bell-icon-file-shield-2-fill = "\edad"
bell-icon-file-shield-2-line = "\edae"
bell-icon-file-shield-fill = "\edaf"
bell-icon-file-shield-line = "\edb0"
bell-icon-file-shred-fill = "\edb1"
bell-icon-file-shred-line = "\edb2"
bell-icon-file-text-fill = "\edb3"
bell-icon-file-text-line = "\edb4"
bell-icon-file-transfer-fill = "\edb5"
bell-icon-file-transfer-line = "\edb6"
bell-icon-file-unknow-fill = "\edb7"
bell-icon-file-unknow-line = "\edb8"
bell-icon-file-upload-fill = "\edb9"
bell-icon-file-upload-line = "\edba"
bell-icon-file-user-fill = "\edbb"
bell-icon-file-user-line = "\edbc"
bell-icon-file-warning-fill = "\edbd"
bell-icon-file-warning-line = "\edbe"
bell-icon-file-word-2-fill = "\edbf"
bell-icon-file-word-2-line = "\edc0"
bell-icon-file-word-fill = "\edc1"
bell-icon-file-word-line = "\edc2"
bell-icon-file-zip-fill = "\edc3"
bell-icon-file-zip-line = "\edc4"
bell-icon-folder-2-fill = "\edc5"
bell-icon-folder-2-line = "\edc6"
bell-icon-folder-3-fill = "\edc7"
bell-icon-folder-3-line = "\edc8"
bell-icon-folder-4-fill = "\edc9"
bell-icon-folder-4-line = "\edca"
bell-icon-folder-5-fill = "\edcb"
bell-icon-folder-5-line = "\edcc"
bell-icon-folder-add-fill = "\edcd"
bell-icon-folder-add-line = "\edce"
bell-icon-folder-chart-2-fill = "\edcf"
bell-icon-folder-chart-2-line = "\edd0"
bell-icon-folder-chart-fill = "\edd1"
bell-icon-folder-chart-line = "\edd2"
bell-icon-folder-download-fill = "\edd3"
bell-icon-folder-download-line = "\edd4"
bell-icon-folder-fill = "\edd5"
bell-icon-folder-forbid-fill = "\edd6"
bell-icon-folder-forbid-line = "\edd7"
bell-icon-folder-info-fill = "\edd8"
bell-icon-folder-info-line = "\edd9"
bell-icon-folder-line = "\edda"
bell-icon-folder-lock-fill = "\eddb"
bell-icon-folder-lock-line = "\eddc"
bell-icon-folder-music-fill = "\eddd"
bell-icon-folder-music-line = "\edde"
bell-icon-folder-open-fill = "\eddf"
bell-icon-folder-open-line = "\ede0"
bell-icon-folder-received-fill = "\ede1"
bell-icon-folder-received-line = "\ede2"
bell-icon-folder-reduce-fill = "\ede3"
bell-icon-folder-reduce-line = "\ede4"
bell-icon-folder-settings-fill = "\ede5"
bell-icon-folder-settings-line = "\ede6"
bell-icon-folder-shared-fill = "\ede7"
bell-icon-folder-shared-line = "\ede8"
bell-icon-folder-shield-2-fill = "\ede9"
bell-icon-folder-shield-2-line = "\edea"
bell-icon-folder-shield-fill = "\edeb"
bell-icon-folder-shield-line = "\edec"
bell-icon-folder-transfer-fill = "\eded"
bell-icon-folder-transfer-line = "\edee"
bell-icon-folder-unknow-fill = "\edef"
bell-icon-folder-unknow-line = "\edf0"
bell-icon-folder-upload-fill = "\edf1"
bell-icon-folder-upload-line = "\edf2"
bell-icon-folder-user-fill = "\edf3"
bell-icon-folder-user-line = "\edf4"
bell-icon-folder-warning-fill = "\edf5"
bell-icon-folder-warning-line = "\edf6"
bell-icon-folders-fill = "\edf7"
bell-icon-folders-line = "\edf8"
bell-icon-keynote-fill = "\edf9"
bell-icon-keynote-line = "\edfa"
bell-icon-markdown-fill = "\edfb"
bell-icon-markdown-line = "\edfc"
bell-icon-newspaper-fill = "\edfd"
bell-icon-newspaper-line = "\edfe"
bell-icon-numbers-fill = "\edff"
bell-icon-numbers-line = "\ee00"
bell-icon-pages-fill = "\ee01"
bell-icon-pages-line = "\ee02"
bell-icon-sticky-note-2-fill = "\ee03"
bell-icon-sticky-note-2-line = "\ee04"
bell-icon-sticky-note-fill = "\ee05"
bell-icon-sticky-note-line = "\ee06"
bell-icon-task-fill = "\ee07"
bell-icon-task-line = "\ee08"
bell-icon-todo-fill = "\ee09"
bell-icon-todo-line = "\ee0a"
bell-icon-airplay-fill = "\ee0b"
bell-icon-airplay-line = "\ee0c"
bell-icon-battery-2-charge-fill = "\ee0d"
bell-icon-battery-2-charge-line = "\ee0e"
bell-icon-battery-2-fill = "\ee0f"
bell-icon-battery-2-line = "\ee10"
bell-icon-battery-charge-fill = "\ee11"
bell-icon-battery-charge-line = "\ee12"
bell-icon-battery-fill = "\ee13"
bell-icon-battery-line = "\ee14"
bell-icon-battery-low-fill = "\ee15"
bell-icon-battery-low-line = "\ee16"
bell-icon-cast-fill = "\ee17"
bell-icon-cast-line = "\ee18"
bell-icon-cellphone-fill = "\ee19"
bell-icon-cellphone-line = "\ee1a"
bell-icon-computer-fill = "\ee1b"
bell-icon-computer-line = "\ee1c"
bell-icon-cpu-fill = "\ee1d"
bell-icon-cpu-line = "\ee1e"
bell-icon-database-2-fill = "\ee1f"
bell-icon-database-2-line = "\ee20"
bell-icon-database-fill = "\ee21"
bell-icon-database-line = "\ee22"
bell-icon-device-fill = "\ee23"
bell-icon-device-line = "\ee24"
bell-icon-gradienter-fill = "\ee25"
bell-icon-gradienter-line = "\ee26"
bell-icon-hard-drive-2-fill = "\ee27"
bell-icon-hard-drive-2-line = "\ee28"
bell-icon-hard-drive-fill = "\ee29"
bell-icon-hard-drive-line = "\ee2a"
bell-icon-keyboard-box-fill = "\ee2b"
bell-icon-keyboard-box-line = "\ee2c"
bell-icon-keyboard-fill = "\ee2d"
bell-icon-keyboard-line = "\ee2e"
bell-icon-mac-fill = "\ee2f"
bell-icon-mac-line = "\ee30"
bell-icon-macbook-fill = "\ee31"
bell-icon-macbook-line = "\ee32"
bell-icon-mouse-fill = "\ee33"
bell-icon-mouse-line = "\ee34"
bell-icon-phone-fill = "\ee35"
bell-icon-phone-line = "\ee36"
bell-icon-radar-fill = "\ee37"
bell-icon-radar-line = "\ee38"
bell-icon-router-fill = "\ee39"
bell-icon-router-line = "\ee3a"
bell-icon-save-2-fill = "\ee3b"
bell-icon-save-2-line = "\ee3c"
bell-icon-save-3-fill = "\ee3d"
bell-icon-save-3-line = "\ee3e"
bell-icon-save-fill = "\ee3f"
bell-icon-save-line = "\ee40"
bell-icon-sd-card-fill = "\ee41"
bell-icon-sd-card-line = "\ee42"
bell-icon-sd-card-mini-fill = "\ee43"
bell-icon-sd-card-mini-line = "\ee44"
bell-icon-sensor-fill = "\ee45"
bell-icon-sensor-line = "\ee46"
bell-icon-server-fill = "\ee47"
bell-icon-server-line = "\ee48"
bell-icon-sim-card-2-fill = "\ee49"
bell-icon-sim-card-2-line = "\ee4a"
bell-icon-sim-card-fill = "\ee4b"
bell-icon-sim-card-line = "\ee4c"
bell-icon-smartphone-fill = "\ee4d"
bell-icon-smartphone-line = "\ee4e"
bell-icon-tablet-fill = "\ee4f"
bell-icon-tablet-line = "\ee50"
bell-icon-tv-2-fill = "\ee51"
bell-icon-tv-2-line = "\ee52"
bell-icon-tv-fill = "\ee53"
bell-icon-tv-line = "\ee54"
bell-icon-u-disk-fill = "\ee55"
bell-icon-u-disk-line = "\ee56"
bell-icon-braces-fill = "\ee57"
bell-icon-braces-line = "\ee58"
bell-icon-brackets-fill = "\ee59"
bell-icon-brackets-line = "\ee5a"
bell-icon-bug-2-fill = "\ee5b"
bell-icon-bug-2-line = "\ee5c"
bell-icon-bug-fill = "\ee5d"
bell-icon-bug-line = "\ee5e"
bell-icon-code-box-fill = "\ee5f"
bell-icon-code-box-line = "\ee60"
bell-icon-code-fill = "\ee61"
bell-icon-code-line = "\ee62"
bell-icon-code-s-fill = "\ee63"
bell-icon-code-s-line = "\ee64"
bell-icon-code-s-slash-fill = "\ee65"
bell-icon-code-s-slash-line = "\ee66"
bell-icon-command-fill = "\ee67"
bell-icon-command-line = "\ee68"
bell-icon-css3-fill = "\ee69"
bell-icon-css3-line = "\ee6a"
bell-icon-cursor-fill = "\ee6b"
bell-icon-cursor-line = "\ee6c"
bell-icon-git-branch-fill = "\ee6d"
bell-icon-git-branch-line = "\ee6e"
bell-icon-git-commit-fill = "\ee6f"
bell-icon-git-commit-line = "\ee70"
bell-icon-git-merge-fill = "\ee71"
bell-icon-git-merge-line = "\ee72"
bell-icon-git-pull-request-fill = "\ee73"
bell-icon-git-pull-request-line = "\ee74"
bell-icon-git-repository-commits-fill = "\ee75"
bell-icon-git-repository-commits-line = "\ee76"
bell-icon-git-repository-fill = "\ee77"
bell-icon-git-repository-line = "\ee78"
bell-icon-git-repository-private-fill = "\ee79"
bell-icon-git-repository-private-line = "\ee7a"
bell-icon-html5-fill = "\ee7b"
bell-icon-html5-line = "\ee7c"
bell-icon-parentheses-fill = "\ee7d"
bell-icon-parentheses-line = "\ee7e"
bell-icon-share-stack-fill = "\ee7f"
bell-icon-share-stack-line = "\ee80"
bell-icon-terminal-box-fill = "\ee81"
bell-icon-terminal-box-line = "\ee82"
bell-icon-terminal-fill = "\ee83"
bell-icon-terminal-line = "\ee84"
bell-icon-terminal-window-fill = "\ee85"
bell-icon-terminal-window-line = "\ee86"
bell-icon-anticlockwise-2-fill = "\ee87"
bell-icon-anticlockwise-2-line = "\ee88"
bell-icon-anticlockwise-fill = "\ee89"
bell-icon-anticlockwise-line = "\ee8a"
bell-icon-artboard-2-fill = "\ee8b"
bell-icon-artboard-2-line = "\ee8c"
bell-icon-artboard-fill = "\ee8d"
bell-icon-artboard-line = "\ee8e"
bell-icon-ball-pen-fill = "\ee8f"
bell-icon-ball-pen-line = "\ee90"
bell-icon-blur-off-fill = "\ee91"
bell-icon-blur-off-line = "\ee92"
bell-icon-brush-2-fill = "\ee93"
bell-icon-brush-2-line = "\ee94"
bell-icon-brush-3-fill = "\ee95"
bell-icon-brush-3-line = "\ee96"
bell-icon-brush-4-fill = "\ee97"
bell-icon-brush-4-line = "\ee98"
bell-icon-brush-fill = "\ee99"
bell-icon-brush-line = "\ee9a"
bell-icon-clockwise-2-fill = "\ee9b"
bell-icon-clockwise-2-line = "\ee9c"
bell-icon-clockwise-fill = "\ee9d"
bell-icon-clockwise-line = "\ee9e"
bell-icon-compasses-2-fill = "\ee9f"
bell-icon-compasses-2-line = "\eea0"
bell-icon-compasses-fill = "\eea1"
bell-icon-compasses-line = "\eea2"
bell-icon-contrast-2-fill = "\eea3"
bell-icon-contrast-2-line = "\eea4"
bell-icon-contrast-drop-2-fill = "\eea5"
bell-icon-contrast-drop-2-line = "\eea6"
bell-icon-contrast-drop-fill = "\eea7"
bell-icon-contrast-drop-line = "\eea8"
bell-icon-contrast-fill = "\eea9"
bell-icon-contrast-line = "\eeaa"
bell-icon-crop-2-fill = "\eeab"
bell-icon-crop-2-line = "\eeac"
bell-icon-crop-fill = "\eead"
bell-icon-crop-line = "\eeae"
bell-icon-drag-move-2-fill = "\eeaf"
bell-icon-drag-move-2-line = "\eeb0"
bell-icon-drag-move-fill = "\eeb1"
bell-icon-drag-move-line = "\eeb2"
bell-icon-drop-fill = "\eeb3"
bell-icon-drop-line = "\eeb4"
bell-icon-edit-2-fill = "\eeb5"
bell-icon-edit-2-line = "\eeb6"
bell-icon-edit-box-fill = "\eeb7"
bell-icon-edit-box-line = "\eeb8"
bell-icon-edit-circle-fill = "\eeb9"
bell-icon-edit-circle-line = "\eeba"
bell-icon-edit-fill = "\eebb"
bell-icon-edit-line = "\eebc"
bell-icon-eraser-fill = "\eebd"
bell-icon-eraser-line = "\eebe"
bell-icon-focus-2-fill = "\eebf"
bell-icon-focus-2-line = "\eec0"
bell-icon-focus-fill = "\eec1"
bell-icon-focus-line = "\eec2"
bell-icon-grid-fill = "\eec3"
bell-icon-grid-line = "\eec4"
bell-icon-hammer-fill = "\eec5"
bell-icon-hammer-line = "\eec6"
bell-icon-input-method-fill = "\eec7"
bell-icon-input-method-line = "\eec8"
bell-icon-layout-column-fill = "\eec9"
bell-icon-layout-column-line = "\eeca"
bell-icon-layout-fill = "\eecb"
bell-icon-layout-line = "\eecc"
bell-icon-layout-row-fill = "\eecd"
bell-icon-layout-row-line = "\eece"
bell-icon-magic-fill = "\eecf"
bell-icon-magic-line = "\eed0"
bell-icon-mark-pen-fill = "\eed1"
bell-icon-mark-pen-line = "\eed2"
bell-icon-markup-fill = "\eed3"
bell-icon-markup-line = "\eed4"
bell-icon-paint-brush-fill = "\eed5"
bell-icon-paint-brush-line = "\eed6"
bell-icon-paint-fill = "\eed7"
bell-icon-paint-line = "\eed8"
bell-icon-palette-fill = "\eed9"
bell-icon-palette-line = "\eeda"
bell-icon-pantone-fill = "\eedb"
bell-icon-pantone-line = "\eedc"
bell-icon-pen-nib-fill = "\eedd"
bell-icon-pen-nib-line = "\eede"
bell-icon-pencil-fill = "\eedf"
bell-icon-pencil-line = "\eee0"
bell-icon-pencil-ruler-2-fill = "\eee1"
bell-icon-pencil-ruler-2-line = "\eee2"
bell-icon-pencil-ruler-fill = "\eee3"
bell-icon-pencil-ruler-line = "\eee4"
bell-icon-quill-pen-fill = "\eee5"
bell-icon-quill-pen-line = "\eee6"
bell-icon-ruler-2-fill = "\eee7"
bell-icon-ruler-2-line = "\eee8"
bell-icon-ruler-fill = "\eee9"
bell-icon-ruler-line = "\eeea"
bell-icon-scissors-2-fill = "\eeeb"
bell-icon-scissors-2-line = "\eeec"
bell-icon-scissors-cut-fill = "\eeed"
bell-icon-scissors-cut-line = "\eeee"
bell-icon-scissors-fill = "\eeef"
bell-icon-scissors-line = "\eef0"
bell-icon-screenshot-2-fill = "\eef1"
bell-icon-screenshot-2-line = "\eef2"
bell-icon-screenshot-fill = "\eef3"
bell-icon-screenshot-line = "\eef4"
bell-icon-shape-2-fill = "\eef5"
bell-icon-shape-2-line = "\eef6"
bell-icon-shape-fill = "\eef7"
bell-icon-shape-line = "\eef8"
bell-icon-sip-fill = "\eef9"
bell-icon-sip-line = "\eefa"
bell-icon-slice-fill = "\eefb"
bell-icon-slice-line = "\eefc"
bell-icon-t-box-fill = "\eefd"
bell-icon-t-box-line = "\eefe"
bell-icon-table-fill = "\eeff"
bell-icon-table-line = "\ef00"
bell-icon-tools-fill = "\ef01"
bell-icon-tools-line = "\ef02"
bell-icon-chat-1-fill = "\ef03"
bell-icon-chat-1-line = "\ef04"
bell-icon-chat-2-fill = "\ef05"
bell-icon-chat-2-line = "\ef06"
bell-icon-chat-3-fill = "\ef07"
bell-icon-chat-3-line = "\ef08"
bell-icon-chat-4-fill = "\ef09"
bell-icon-chat-4-line = "\ef0a"
bell-icon-chat-check-fill = "\ef0b"
bell-icon-chat-check-line = "\ef0c"
bell-icon-chat-delete-fill = "\ef0d"
bell-icon-chat-delete-line = "\ef0e"
bell-icon-chat-download-fill = "\ef0f"
bell-icon-chat-download-line = "\ef10"
bell-icon-chat-forward-fill = "\ef11"
bell-icon-chat-forward-line = "\ef12"
bell-icon-chat-heart-fill = "\ef13"
bell-icon-chat-heart-line = "\ef14"
bell-icon-chat-new-fill = "\ef15"
bell-icon-chat-new-line = "\ef16"
bell-icon-chat-off-fill = "\ef17"
bell-icon-chat-off-line = "\ef18"
bell-icon-chat-settings-fill = "\ef19"
bell-icon-chat-settings-line = "\ef1a"
bell-icon-chat-smile-2-fill = "\ef1b"
bell-icon-chat-smile-2-line = "\ef1c"
bell-icon-chat-smile-3-fill = "\ef1d"
bell-icon-chat-smile-3-line = "\ef1e"
bell-icon-chat-smile-fill = "\ef1f"
bell-icon-chat-smile-line = "\ef20"
bell-icon-chat-upload-fill = "\ef21"
bell-icon-chat-upload-line = "\ef22"
bell-icon-chat-voice-fill = "\ef23"
bell-icon-chat-voice-line = "\ef24"
bell-icon-discuss-fill = "\ef25"
bell-icon-discuss-line = "\ef26"
bell-icon-feedback-fill = "\ef27"
bell-icon-feedback-line = "\ef28"
bell-icon-message-2-fill = "\ef29"
bell-icon-message-2-line = "\ef2a"
bell-icon-message-3-fill = "\ef2b"
bell-icon-message-3-line = "\ef2c"
bell-icon-message-fill = "\ef2d"
bell-icon-message-line = "\ef2e"
bell-icon-question-answer-fill = "\ef2f"
bell-icon-question-answer-line = "\ef30"
bell-icon-questionnaire-fill = "\ef31"
bell-icon-questionnaire-line = "\ef32"
bell-icon-video-chat-fill = "\ef33"
bell-icon-video-chat-line = "\ef34"
bell-icon-archive-drawer-fill = "\ef35"
bell-icon-archive-drawer-line = "\ef36"
bell-icon-archive-fill = "\ef37"
bell-icon-archive-line = "\ef38"
bell-icon-at-fill = "\ef39"
bell-icon-at-line = "\ef3a"
bell-icon-attachment-fill = "\ef3b"
bell-icon-attachment-line = "\ef3c"
bell-icon-award-fill = "\ef3d"
bell-icon-award-line = "\ef3e"
bell-icon-bar-chart-2-fill = "\ef3f"
bell-icon-bar-chart-2-line = "\ef40"
bell-icon-bar-chart-box-fill = "\ef41"
bell-icon-bar-chart-box-line = "\ef42"
bell-icon-bar-chart-fill = "\ef43"
bell-icon-bar-chart-grouped-fill = "\ef44"
bell-icon-bar-chart-grouped-line = "\ef45"
bell-icon-bar-chart-horizontal-fill = "\ef46"
bell-icon-bar-chart-horizontal-line = "\ef47"
bell-icon-bar-chart-line = "\ef48"
bell-icon-bookmark-2-fill = "\ef49"
bell-icon-bookmark-2-line = "\ef4a"
bell-icon-bookmark-3-fill = "\ef4b"
bell-icon-bookmark-3-line = "\ef4c"
bell-icon-bookmark-fill = "\ef4d"
bell-icon-bookmark-line = "\ef4e"
bell-icon-briefcase-2-fill = "\ef4f"
bell-icon-briefcase-2-line = "\ef50"
bell-icon-briefcase-3-fill = "\ef51"
bell-icon-briefcase-3-line = "\ef52"
bell-icon-briefcase-4-fill = "\ef53"
bell-icon-briefcase-4-line = "\ef54"
bell-icon-briefcase-5-fill = "\ef55"
bell-icon-briefcase-5-line = "\ef56"
bell-icon-briefcase-fill = "\ef57"
bell-icon-briefcase-line = "\ef58"
bell-icon-calculator-fill = "\ef59"
bell-icon-calculator-line = "\ef5a"
bell-icon-calendar-2-fill = "\ef5b"
bell-icon-calendar-2-line = "\ef5c"
bell-icon-calendar-check-fill = "\ef5d"
bell-icon-calendar-check-line = "\ef5e"
bell-icon-calendar-event-fill = "\ef5f"
bell-icon-calendar-event-line = "\ef60"
bell-icon-calendar-fill = "\ef61"
bell-icon-calendar-line = "\ef62"
bell-icon-calendar-todo-fill = "\ef63"
bell-icon-calendar-todo-line = "\ef64"
bell-icon-cloud-fill = "\ef65"
bell-icon-cloud-line = "\ef66"
bell-icon-cloud-off-fill = "\ef67"
bell-icon-cloud-off-line = "\ef68"
bell-icon-customer-service-2-fill = "\ef69"
bell-icon-customer-service-2-line = "\ef6a"
bell-icon-customer-service-fill = "\ef6b"
bell-icon-customer-service-line = "\ef6c"
bell-icon-flag-2-fill = "\ef6d"
bell-icon-flag-2-line = "\ef6e"
bell-icon-flag-fill = "\ef6f"
bell-icon-flag-line = "\ef70"
bell-icon-global-fill = "\ef71"
bell-icon-global-line = "\ef72"
bell-icon-honour-fill = "\ef73"
bell-icon-honour-line = "\ef74"
bell-icon-inbox-archive-fill = "\ef75"
bell-icon-inbox-archive-line = "\ef76"
bell-icon-inbox-fill = "\ef77"
bell-icon-inbox-line = "\ef78"
bell-icon-links-fill = "\ef79"
bell-icon-links-line = "\ef7a"
bell-icon-mail-add-fill = "\ef7b"
bell-icon-mail-add-line = "\ef7c"
bell-icon-mail-check-fill = "\ef7d"
bell-icon-mail-check-line = "\ef7e"
bell-icon-mail-close-fill = "\ef7f"
bell-icon-mail-close-line = "\ef80"
bell-icon-mail-download-fill = "\ef81"
bell-icon-mail-download-line = "\ef82"
bell-icon-mail-fill = "\ef83"
bell-icon-mail-forbid-fill = "\ef84"
bell-icon-mail-forbid-line = "\ef85"
bell-icon-mail-line = "\ef86"
bell-icon-mail-lock-fill = "\ef87"
bell-icon-mail-lock-line = "\ef88"
bell-icon-mail-open-fill = "\ef89"
bell-icon-mail-open-line = "\ef8a"
bell-icon-mail-send-fill = "\ef8b"
bell-icon-mail-send-line = "\ef8c"
bell-icon-mail-settings-fill = "\ef8d"
bell-icon-mail-settings-line = "\ef8e"
bell-icon-mail-star-fill = "\ef8f"
bell-icon-mail-star-line = "\ef90"
bell-icon-mail-unread-fill = "\ef91"
bell-icon-mail-unread-line = "\ef92"
bell-icon-pie-chart-2-fill = "\ef93"
bell-icon-pie-chart-2-line = "\ef94"
bell-icon-pie-chart-box-fill = "\ef95"
bell-icon-pie-chart-box-line = "\ef96"
bell-icon-pie-chart-fill = "\ef97"
bell-icon-pie-chart-line = "\ef98"
bell-icon-printer-fill = "\ef99"
bell-icon-printer-line = "\ef9a"
bell-icon-profile-fill = "\ef9b"
bell-icon-profile-line = "\ef9c"
bell-icon-projector-2-fill = "\ef9d"
bell-icon-projector-2-line = "\ef9e"
bell-icon-projector-fill = "\ef9f"
bell-icon-projector-line = "\efa0"
bell-icon-record-mail-fill = "\efa1"
bell-icon-record-mail-line = "\efa2"
bell-icon-reply-fill = "\efa3"
bell-icon-reply-line = "\efa4"
bell-icon-send-plane-2-fill = "\efa5"
bell-icon-send-plane-2-line = "\efa6"
bell-icon-send-plane-fill = "\efa7"
bell-icon-send-plane-line = "\efa8"
bell-icon-slideshow-2-fill = "\efa9"
bell-icon-slideshow-2-line = "\efaa"
bell-icon-slideshow-3-fill = "\efab"
bell-icon-slideshow-3-line = "\efac"
bell-icon-slideshow-4-fill = "\efad"
bell-icon-slideshow-4-line = "\efae"
bell-icon-slideshow-fill = "\efaf"
bell-icon-slideshow-line = "\efb0"
bell-icon-stack-fill = "\efb1"
bell-icon-stack-line = "\efb2"
bell-icon-window-2-fill = "\efb3"
bell-icon-window-2-line = "\efb4"
bell-icon-window-fill = "\efb5"
bell-icon-window-line = "\efb6"
bell-icon-bank-fill = "\efb7"
bell-icon-bank-line = "\efb8"
bell-icon-building-2-fill = "\efb9"
bell-icon-building-2-line = "\efba"
bell-icon-building-3-fill = "\efbb"
bell-icon-building-3-line = "\efbc"
bell-icon-building-4-fill = "\efbd"
bell-icon-building-4-line = "\efbe"
bell-icon-building-fill = "\efbf"
bell-icon-building-line = "\efc0"
bell-icon-community-fill = "\efc1"
bell-icon-community-line = "\efc2"
bell-icon-government-fill = "\efc3"
bell-icon-government-line = "\efc4"
bell-icon-home-2-fill = "\efc5"
bell-icon-home-2-line = "\efc6"
bell-icon-home-3-fill = "\efc7"
bell-icon-home-3-line = "\efc8"
bell-icon-home-4-fill = "\efc9"
bell-icon-home-4-line = "\efca"
bell-icon-home-5-fill = "\efcb"
bell-icon-home-5-line = "\efcc"
bell-icon-home-6-fill = "\efcd"
bell-icon-home-6-line = "\efce"
bell-icon-home-7-fill = "\efcf"
bell-icon-home-7-line = "\efd0"
bell-icon-home-8-fill = "\efd1"
bell-icon-home-8-line = "\efd2"
bell-icon-home-fill = "\efd3"
bell-icon-home-gear-fill = "\efd4"
bell-icon-home-gear-line = "\efd5"
bell-icon-home-heart-fill = "\efd6"
bell-icon-home-heart-line = "\efd7"
bell-icon-home-line = "\efd8"
bell-icon-home-smile-2-fill = "\efd9"
bell-icon-home-smile-2-line = "\efda"
bell-icon-home-smile-fill = "\efdb"
bell-icon-home-smile-line = "\efdc"
bell-icon-home-wifi-fill = "\efdd"
bell-icon-home-wifi-line = "\efde"
bell-icon-hospital-fill = "\efdf"
bell-icon-hospital-line = "\efe0"
bell-icon-hotel-fill = "\efe1"
bell-icon-hotel-line = "\efe2"
bell-icon-store-2-fill = "\efe3"
bell-icon-store-2-line = "\efe4"
bell-icon-store-3-fill = "\efe5"
bell-icon-store-3-line = "\efe6"
bell-icon-store-fill = "\efe7"
bell-icon-store-line = "\efe8"

