bell-icon-blaze-fill = "\e900"
bell-icon-blaze-line = "\e901"
bell-icon-celsius-fill = "\e902"
bell-icon-celsius-line = "\e903"
bell-icon-cloud-windy-fill = "\e904"
bell-icon-cloud-windy-line = "\e905"
bell-icon-cloudy-2-fill = "\e906"
bell-icon-cloudy-2-line = "\e907"
bell-icon-cloudy-fill = "\e908"
bell-icon-cloudy-line = "\e909"
bell-icon-drizzle-fill = "\e90a"
bell-icon-drizzle-line = "\e90b"
bell-icon-earthquake-fill = "\e90c"
bell-icon-earthquake-line = "\e90d"
bell-icon-fahrenheit-fill = "\e90e"
bell-icon-fahrenheit-line = "\e90f"
bell-icon-fire-fill = "\e910"
bell-icon-fire-line = "\e911"
bell-icon-flashlight-fill = "\e912"
bell-icon-flashlight-line = "\e913"
bell-icon-flood-fill = "\e914"
bell-icon-flood-line = "\e915"
bell-icon-foggy-fill = "\e916"
bell-icon-foggy-line = "\e917"
bell-icon-hail-fill = "\e918"
bell-icon-hail-line = "\e919"
bell-icon-haze-2-fill = "\e91a"
bell-icon-haze-2-line = "\e91b"
bell-icon-haze-fill = "\e91c"
bell-icon-haze-line = "\e91d"
bell-icon-heavy-showers-fill = "\e91e"
bell-icon-heavy-showers-line = "\e91f"
bell-icon-meteor-fill = "\e920"
bell-icon-meteor-line = "\e921"
bell-icon-mist-fill = "\e922"
bell-icon-mist-line = "\e923"
bell-icon-moon-clear-fill = "\e924"
bell-icon-moon-clear-line = "\e925"
bell-icon-moon-cloudy-fill = "\e926"
bell-icon-moon-cloudy-line = "\e927"
bell-icon-moon-fill = "\e928"
bell-icon-moon-foggy-fill = "\e929"
bell-icon-moon-foggy-line = "\e92a"
bell-icon-moon-line = "\e92b"
bell-icon-rainbow-fill = "\e92c"
bell-icon-rainbow-line = "\e92d"
bell-icon-rainy-fill = "\e92e"
bell-icon-rainy-line = "\e92f"
bell-icon-showers-fill = "\e930"
bell-icon-showers-line = "\e931"
bell-icon-snowy-fill = "\e932"
bell-icon-snowy-line = "\e933"
bell-icon-sun-cloudy-fill = "\e934"
bell-icon-sun-cloudy-line = "\e935"
bell-icon-sun-fill = "\e936"
bell-icon-sun-foggy-fill = "\e937"
bell-icon-sun-foggy-line = "\e938"
bell-icon-sun-line = "\e939"
bell-icon-temp-cold-fill = "\e93a"
bell-icon-temp-cold-line = "\e93b"
bell-icon-temp-hot-fill = "\e93c"
bell-icon-temp-hot-line = "\e93d"
bell-icon-thunderstorms-fill = "\e93e"
bell-icon-thunderstorms-line = "\e93f"
bell-icon-tornado-fill = "\e940"
bell-icon-tornado-line = "\e941"
bell-icon-typhoon-fill = "\e942"
bell-icon-typhoon-line = "\e943"
bell-icon-windy-fill = "\e944"
bell-icon-windy-line = "\e945"
bell-icon-account-box-fill = "\e946"
bell-icon-account-box-line = "\e947"
bell-icon-account-circle-fill = "\e948"
bell-icon-account-circle-line = "\e949"
bell-icon-account-pin-box-fill = "\e94a"
bell-icon-account-pin-box-line = "\e94b"
bell-icon-account-pin-circle-fill = "\e94c"
bell-icon-account-pin-circle-line = "\e94d"
bell-icon-admin-fill = "\e94e"
bell-icon-admin-line = "\e94f"
bell-icon-aliens-fill = "\e950"
bell-icon-aliens-line = "\e951"
bell-icon-bear-smile-fill = "\e952"
bell-icon-bear-smile-line = "\e953"
bell-icon-body-scan-fill = "\e954"
bell-icon-body-scan-line = "\e955"
bell-icon-contacts-fill = "\e956"
bell-icon-contacts-line = "\e957"
bell-icon-criminal-fill = "\e958"
bell-icon-criminal-line = "\e959"
bell-icon-emotion-2-fill = "\e95a"
bell-icon-emotion-2-line = "\e95b"
bell-icon-emotion-fill = "\e95c"
bell-icon-emotion-happy-fill = "\e95d"
bell-icon-emotion-happy-line = "\e95e"
bell-icon-emotion-laugh-fill = "\e95f"
bell-icon-emotion-laugh-line = "\e960"
bell-icon-emotion-line = "\e961"
bell-icon-emotion-normal-fill = "\e962"
bell-icon-emotion-normal-line = "\e963"
bell-icon-emotion-sad-fill = "\e964"
bell-icon-emotion-sad-line = "\e965"
bell-icon-emotion-unhappy-fill = "\e966"
bell-icon-emotion-unhappy-line = "\e967"
bell-icon-genderless-fill = "\e968"
bell-icon-genderless-line = "\e969"
bell-icon-ghost-2-fill = "\e96a"
bell-icon-ghost-2-line = "\e96b"
bell-icon-ghost-fill = "\e96c"
bell-icon-ghost-line = "\e96d"
bell-icon-ghost-smile-fill = "\e96e"
bell-icon-ghost-smile-line = "\e96f"
bell-icon-group-2-fill = "\e970"
bell-icon-group-2-line = "\e971"
bell-icon-group-fill = "\e972"
bell-icon-group-line = "\e973"
bell-icon-men-fill = "\e974"
bell-icon-men-line = "\e975"
bell-icon-mickey-fill = "\e976"
bell-icon-mickey-line = "\e977"
bell-icon-open-arm-fill = "\e978"
bell-icon-open-arm-line = "\e979"
bell-icon-parent-fill = "\e97a"
bell-icon-parent-line = "\e97b"
bell-icon-robot-fill = "\e97c"
bell-icon-robot-line = "\e97d"
bell-icon-skull-2-fill = "\e97e"
bell-icon-skull-2-line = "\e97f"
bell-icon-skull-fill = "\e980"
bell-icon-skull-line = "\e981"
bell-icon-spy-fill = "\e982"
bell-icon-spy-line = "\e983"
bell-icon-star-smile-fill = "\e984"
bell-icon-star-smile-line = "\e985"
bell-icon-team-fill = "\e986"
bell-icon-team-line = "\e987"
bell-icon-travesti-fill = "\e988"
bell-icon-travesti-line = "\e989"
bell-icon-user-2-fill = "\e98a"
bell-icon-user-2-line = "\e98b"
bell-icon-user-3-fill = "\e98c"
bell-icon-user-3-line = "\e98d"
bell-icon-user-4-fill = "\e98e"
bell-icon-user-4-line = "\e98f"
bell-icon-user-5-fill = "\e990"
bell-icon-user-5-line = "\e991"
bell-icon-user-6-fill = "\e992"
bell-icon-user-6-line = "\e993"
bell-icon-user-add-fill = "\e994"
bell-icon-user-add-line = "\e995"
bell-icon-user-fill = "\e996"
bell-icon-user-follow-fill = "\e997"
bell-icon-user-follow-line = "\e998"
bell-icon-user-heart-fill = "\e999"
bell-icon-user-heart-line = "\e99a"
bell-icon-user-line = "\e99b"
bell-icon-user-location-fill = "\e99c"
bell-icon-user-location-line = "\e99d"
bell-icon-user-received-2-fill = "\e99e"
bell-icon-user-received-2-line = "\e99f"
bell-icon-user-received-fill = "\e9a0"
bell-icon-user-received-line = "\e9a1"
bell-icon-user-search-fill = "\e9a2"
bell-icon-user-search-line = "\e9a3"
bell-icon-user-settings-fill = "\e9a4"
bell-icon-user-settings-line = "\e9a5"
bell-icon-user-shared-2-fill = "\e9a6"
bell-icon-user-shared-2-line = "\e9a7"
bell-icon-user-shared-fill = "\e9a8"
bell-icon-user-shared-line = "\e9a9"
bell-icon-user-smile-fill = "\e9aa"
bell-icon-user-smile-line = "\e9ab"
bell-icon-user-star-fill = "\e9ac"
bell-icon-user-star-line = "\e9ad"
bell-icon-user-unfollow-fill = "\e9ae"
bell-icon-user-unfollow-line = "\e9af"
bell-icon-user-voice-fill = "\e9b0"
bell-icon-user-voice-line = "\e9b1"
bell-icon-women-fill = "\e9b2"
bell-icon-women-line = "\e9b3"
bell-icon-add-box-fill = "\e9b4"
bell-icon-add-box-line = "\e9b5"
bell-icon-add-circle-fill = "\e9b6"
bell-icon-add-circle-line = "\e9b7"
bell-icon-add-fill = "\e9b8"
bell-icon-add-line = "\e9b9"
bell-icon-alarm-fill = "\e9ba"
bell-icon-alarm-line = "\e9bb"
bell-icon-alarm-warning-fill = "\e9bc"
bell-icon-alarm-warning-line = "\e9bd"
bell-icon-alert-fill = "\e9be"
bell-icon-alert-line = "\e9bf"
bell-icon-apps-2-fill = "\e9c0"
bell-icon-apps-2-line = "\e9c1"
bell-icon-apps-fill = "\e9c2"
bell-icon-apps-line = "\e9c3"
bell-icon-arrow-down-circle-fill = "\e9c4"
bell-icon-arrow-down-circle-line = "\e9c5"
bell-icon-arrow-down-fill = "\e9c6"
bell-icon-arrow-down-line = "\e9c7"
bell-icon-arrow-down-s-fill = "\e9c8"
bell-icon-arrow-down-s-line = "\e9c9"
bell-icon-arrow-drop-down-fill = "\e9ca"
bell-icon-arrow-drop-down-line = "\e9cb"
bell-icon-arrow-drop-left-fill = "\e9cc"
bell-icon-arrow-drop-left-line = "\e9cd"
bell-icon-arrow-drop-right-fill = "\e9ce"
bell-icon-arrow-drop-right-line = "\e9cf"
bell-icon-arrow-drop-up-fill = "\e9d0"
bell-icon-arrow-drop-up-line = "\e9d1"
bell-icon-arrow-go-back-fill = "\e9d2"
bell-icon-arrow-go-back-line = "\e9d3"
bell-icon-arrow-go-forward-fill = "\e9d4"
bell-icon-arrow-go-forward-line = "\e9d5"
bell-icon-arrow-left-circle-fill = "\e9d6"
bell-icon-arrow-left-circle-line = "\e9d7"
bell-icon-arrow-left-down-fill = "\e9d8"
bell-icon-arrow-left-down-line = "\e9d9"
bell-icon-arrow-left-fill = "\e9da"
bell-icon-arrow-left-line = "\e9db"
bell-icon-arrow-left-right-fill = "\e9dc"
bell-icon-arrow-left-right-line = "\e9dd"
bell-icon-arrow-left-s-fill = "\e9de"
bell-icon-arrow-left-s-line = "\e9df"
bell-icon-arrow-left-up-fill = "\e9e0"
bell-icon-arrow-left-up-line = "\e9e1"
bell-icon-arrow-right-circle-fill = "\e9e2"
bell-icon-arrow-right-circle-line = "\e9e3"
bell-icon-arrow-right-down-fill = "\e9e4"
bell-icon-arrow-right-down-line = "\e9e5"
bell-icon-arrow-right-fill = "\e9e6"
bell-icon-arrow-right-line = "\e9e7"
bell-icon-arrow-right-s-fill = "\e9e8"
bell-icon-arrow-right-s-line = "\e9e9"
bell-icon-arrow-right-up-fill = "\e9ea"
bell-icon-arrow-right-up-line = "\e9eb"
bell-icon-arrow-up-circle-fill = "\e9ec"
bell-icon-arrow-up-circle-line = "\e9ed"
bell-icon-arrow-up-down-fill = "\e9ee"
bell-icon-arrow-up-down-line = "\e9ef"
bell-icon-arrow-up-fill = "\e9f0"
bell-icon-arrow-up-line = "\e9f1"
bell-icon-arrow-up-s-fill = "\e9f2"
bell-icon-arrow-up-s-line = "\e9f3"
bell-icon-check-double-fill = "\e9f4"
bell-icon-check-double-line = "\e9f5"
bell-icon-check-fill = "\e9f6"
bell-icon-check-line = "\e9f7"
bell-icon-checkbox-blank-circle-fill = "\e9f8"
bell-icon-checkbox-blank-circle-line = "\e9f9"
bell-icon-checkbox-blank-fill = "\e9fa"
bell-icon-checkbox-blank-line = "\e9fb"
bell-icon-checkbox-circle-fill = "\e9fc"
bell-icon-checkbox-circle-line = "\e9fd"
bell-icon-checkbox-fill = "\e9fe"
bell-icon-checkbox-indeterminate-fill = "\e9ff"
bell-icon-checkbox-indeterminate-line = "\ea00"
bell-icon-checkbox-line = "\ea01"
bell-icon-checkbox-multiple-blank-fill = "\ea02"
bell-icon-checkbox-multiple-blank-line = "\ea03"
bell-icon-checkbox-multiple-fill = "\ea04"
bell-icon-checkbox-multiple-line = "\ea05"
bell-icon-close-circle-fill = "\ea06"
bell-icon-close-circle-line = "\ea07"
bell-icon-close-fill = "\ea08"
bell-icon-close-line = "\ea09"
bell-icon-dashboard-fill = "\ea0a"
bell-icon-dashboard-line = "\ea0b"
bell-icon-delete-back-2-fill = "\ea0c"
bell-icon-delete-back-2-line = "\ea0d"
bell-icon-delete-back-fill = "\ea0e"
bell-icon-delete-back-line = "\ea0f"
bell-icon-delete-bin-2-fill = "\ea10"
bell-icon-delete-bin-2-line = "\ea11"
bell-icon-delete-bin-3-fill = "\ea12"
bell-icon-delete-bin-3-line = "\ea13"
bell-icon-delete-bin-4-fill = "\ea14"
bell-icon-delete-bin-4-line = "\ea15"
bell-icon-delete-bin-5-fill = "\ea16"
bell-icon-delete-bin-5-line = "\ea17"
bell-icon-delete-bin-6-fill = "\ea18"
bell-icon-delete-bin-6-line = "\ea19"
bell-icon-delete-bin-7-fill = "\ea1a"
bell-icon-delete-bin-7-line = "\ea1b"
bell-icon-delete-bin-fill = "\ea1c"
bell-icon-delete-bin-line = "\ea1d"
bell-icon-divide-fill = "\ea1e"
bell-icon-divide-line = "\ea1f"
bell-icon-download-2-fill = "\ea20"
bell-icon-download-2-line = "\ea21"
bell-icon-download-cloud-2-fill = "\ea22"
bell-icon-download-cloud-2-line = "\ea23"
bell-icon-download-cloud-fill = "\ea24"
bell-icon-download-cloud-line = "\ea25"
bell-icon-download-fill = "\ea26"
bell-icon-download-line = "\ea27"
bell-icon-error-warning-fill = "\ea28"
bell-icon-error-warning-line = "\ea29"
bell-icon-external-link-fill = "\ea2a"
bell-icon-external-link-line = "\ea2b"
bell-icon-eye-2-fill = "\ea2c"
bell-icon-eye-2-line = "\ea2d"
bell-icon-eye-close-fill = "\ea2e"
bell-icon-eye-close-line = "\ea2f"
bell-icon-eye-fill = "\ea30"
bell-icon-eye-line = "\ea31"
bell-icon-eye-off-fill = "\ea32"
bell-icon-eye-off-line = "\ea33"
bell-icon-filter-2-fill = "\ea34"
bell-icon-filter-2-line = "\ea35"
bell-icon-filter-3-fill = "\ea36"
bell-icon-filter-3-line = "\ea37"
bell-icon-filter-fill = "\ea38"
bell-icon-filter-line = "\ea39"
bell-icon-filter-off-fill = "\ea3a"
bell-icon-filter-off-line = "\ea3b"
bell-icon-find-replace-fill = "\ea3c"
bell-icon-find-replace-line = "\ea3d"
bell-icon-forbid-2-fill = "\ea3e"
bell-icon-forbid-2-line = "\ea3f"
bell-icon-forbid-fill = "\ea40"
bell-icon-forbid-line = "\ea41"
bell-icon-function-fill = "\ea42"
bell-icon-function-line = "\ea43"
bell-icon-history-fill = "\ea44"
bell-icon-history-line = "\ea45"
bell-icon-indeterminate-circle-fill = "\ea46"
bell-icon-indeterminate-circle-line = "\ea47"
bell-icon-information-fill = "\ea48"
bell-icon-information-line = "\ea49"
bell-icon-list-settings-fill = "\ea4a"
bell-icon-list-settings-line = "\ea4b"
bell-icon-loader-2-fill = "\ea4c"
bell-icon-loader-2-line = "\ea4d"
bell-icon-loader-3-fill = "\ea4e"
bell-icon-loader-3-line = "\ea4f"
bell-icon-loader-4-fill = "\ea50"
bell-icon-loader-4-line = "\ea51"
bell-icon-loader-5-fill = "\ea52"
bell-icon-loader-5-line = "\ea53"
bell-icon-loader-fill = "\ea54"
bell-icon-loader-line = "\ea55"
bell-icon-lock-2-fill = "\ea56"
bell-icon-lock-2-line = "\ea57"
bell-icon-lock-fill = "\ea58"
bell-icon-lock-line = "\ea59"
bell-icon-lock-password-fill = "\ea5a"
bell-icon-lock-password-line = "\ea5b"
bell-icon-lock-unlock-fill = "\ea5c"
bell-icon-lock-unlock-line = "\ea5d"
bell-icon-login-box-fill = "\ea5e"
bell-icon-login-box-line = "\ea5f"
bell-icon-login-circle-fill = "\ea60"
bell-icon-login-circle-line = "\ea61"
bell-icon-logout-box-fill = "\ea62"
bell-icon-logout-box-line = "\ea63"
bell-icon-logout-box-r-fill = "\ea64"
bell-icon-logout-box-r-line = "\ea65"
bell-icon-logout-circle-fill = "\ea66"
bell-icon-logout-circle-line = "\ea67"
bell-icon-logout-circle-r-fill = "\ea68"
bell-icon-logout-circle-r-line = "\ea69"
bell-icon-menu-2-fill = "\ea6a"
bell-icon-menu-2-line = "\ea6b"
bell-icon-menu-3-fill = "\ea6c"
bell-icon-menu-3-line = "\ea6d"
bell-icon-menu-4-fill = "\ea6e"
bell-icon-menu-4-line = "\ea6f"
bell-icon-menu-5-fill = "\ea70"
bell-icon-menu-5-line = "\ea71"
bell-icon-menu-add-fill = "\ea72"
bell-icon-menu-add-line = "\ea73"
bell-icon-menu-fill = "\ea74"
bell-icon-menu-fold-fill = "\ea75"
bell-icon-menu-fold-line = "\ea76"
bell-icon-menu-line = "\ea77"
bell-icon-menu-unfold-fill = "\ea78"
bell-icon-menu-unfold-line = "\ea79"
bell-icon-more-2-fill = "\ea7a"
bell-icon-more-2-line = "\ea7b"
bell-icon-more-fill = "\ea7c"
bell-icon-more-line = "\ea7d"
bell-icon-notification-badge-fill = "\ea7e"
bell-icon-notification-badge-line = "\ea7f"
bell-icon-question-fill = "\ea80"
bell-icon-question-line = "\ea81"
bell-icon-radio-button-fill = "\ea82"
bell-icon-radio-button-line = "\ea83"
bell-icon-refresh-fill = "\ea84"
bell-icon-refresh-line = "\ea85"
bell-icon-search-2-fill = "\ea86"
bell-icon-search-2-line = "\ea87"
bell-icon-search-eye-fill = "\ea88"
bell-icon-search-eye-line = "\ea89"
bell-icon-search-fill = "\ea8a"
bell-icon-search-line = "\ea8b"
bell-icon-settings-2-fill = "\ea8c"
bell-icon-settings-2-line = "\ea8d"
bell-icon-settings-3-fill = "\ea8e"
bell-icon-settings-3-line = "\ea8f"
bell-icon-settings-4-fill = "\ea90"
bell-icon-settings-4-line = "\ea91"
bell-icon-settings-5-fill = "\ea92"
bell-icon-settings-5-line = "\ea93"
bell-icon-settings-6-fill = "\ea94"
bell-icon-settings-6-line = "\ea95"
bell-icon-settings-fill = "\ea96"
bell-icon-settings-line = "\ea97"
bell-icon-share-box-fill = "\ea98"
bell-icon-share-box-line = "\ea99"
bell-icon-share-circle-fill = "\ea9a"
bell-icon-share-circle-line = "\ea9b"
bell-icon-share-fill = "\ea9c"
bell-icon-share-forward-2-fill = "\ea9d"
bell-icon-share-forward-2-line = "\ea9e"
bell-icon-share-forward-box-fill = "\ea9f"
bell-icon-share-forward-box-line = "\eaa0"
bell-icon-share-forward-fill = "\eaa1"
bell-icon-share-forward-line = "\eaa2"
bell-icon-share-line = "\eaa3"
bell-icon-shield-check-fill = "\eaa4"
bell-icon-shield-check-line = "\eaa5"
bell-icon-shield-cross-fill = "\eaa6"
bell-icon-shield-cross-line = "\eaa7"
bell-icon-shield-fill = "\eaa8"
bell-icon-shield-flash-fill = "\eaa9"
bell-icon-shield-flash-line = "\eaaa"
bell-icon-shield-keyhole-fill = "\eaab"
bell-icon-shield-keyhole-line = "\eaac"
bell-icon-shield-line = "\eaad"
bell-icon-shield-star-fill = "\eaae"
bell-icon-shield-star-line = "\eaaf"
bell-icon-shield-user-fill = "\eab0"
bell-icon-shield-user-line = "\eab1"
bell-icon-side-bar-fill = "\eab2"
bell-icon-side-bar-line = "\eab3"
bell-icon-spam-2-fill = "\eab4"
bell-icon-spam-2-line = "\eab5"
bell-icon-spam-3-fill = "\eab6"
bell-icon-spam-3-line = "\eab7"
bell-icon-spam-fill = "\eab8"
bell-icon-spam-line = "\eab9"
bell-icon-star-fill = "\eaba"
bell-icon-star-half-fill = "\eabb"
bell-icon-star-half-line = "\eabc"
bell-icon-star-half-s-fill = "\eabd"
bell-icon-star-half-s-line = "\eabe"
bell-icon-star-line = "\eabf"
bell-icon-star-s-fill = "\eac0"
bell-icon-star-s-line = "\eac1"
bell-icon-subtract-fill = "\eac2"
bell-icon-subtract-line = "\eac3"
bell-icon-thumb-down-fill = "\eac4"
bell-icon-thumb-down-line = "\eac5"
bell-icon-thumb-up-fill = "\eac6"
bell-icon-thumb-up-line = "\eac7"
bell-icon-time-fill = "\eac8"
bell-icon-time-line = "\eac9"
bell-icon-timer-2-fill = "\eaca"
bell-icon-timer-2-line = "\eacb"
bell-icon-timer-fill = "\eacc"
bell-icon-timer-flash-fill = "\eacd"
bell-icon-timer-flash-line = "\eace"
bell-icon-timer-line = "\eacf"
bell-icon-toggle-fill = "\ead0"
bell-icon-toggle-line = "\ead1"
bell-icon-upload-2-fill = "\ead2"
bell-icon-upload-2-line = "\ead3"
bell-icon-upload-cloud-2-fill = "\ead4"
bell-icon-upload-cloud-2-line = "\ead5"
bell-icon-upload-cloud-fill = "\ead6"
bell-icon-upload-cloud-line = "\ead7"
bell-icon-upload-fill = "\ead8"
bell-icon-upload-line = "\ead9"
bell-icon-zoom-in-fill = "\eada"
bell-icon-zoom-in-line = "\eadb"
bell-icon-zoom-out-fill = "\eadc"
bell-icon-zoom-out-line = "\eadd"
bell-icon-basketball-fill = "\eade"
bell-icon-basketball-line = "\eadf"
bell-icon-bell-fill = "\eae0"
bell-icon-bell-line = "\eae1"
bell-icon-billiards-fill = "\eae2"
bell-icon-billiards-line = "\eae3"
bell-icon-boxing-fill = "\eae4"
bell-icon-boxing-line = "\eae5"
bell-icon-cactus-fill = "\eae6"
bell-icon-cactus-line = "\eae7"
bell-icon-cake-2-fill = "\eae8"
bell-icon-cake-2-line = "\eae9"
bell-icon-cake-3-fill = "\eaea"
bell-icon-cake-3-line = "\eaeb"
bell-icon-cake-fill = "\eaec"
bell-icon-cake-line = "\eaed"
bell-icon-character-recognition-fill = "\eaee"
bell-icon-character-recognition-line = "\eaef"
bell-icon-door-closed-fill = "\eaf0"
bell-icon-door-closed-line = "\eaf1"
bell-icon-door-fill = "\eaf2"
bell-icon-door-line = "\eaf3"
bell-icon-door-lock-box-fill = "\eaf4"
bell-icon-door-lock-box-line = "\eaf5"
bell-icon-door-lock-fill = "\eaf6"
bell-icon-door-lock-line = "\eaf7"
bell-icon-door-open-fill = "\eaf8"
bell-icon-door-open-line = "\eaf9"
bell-icon-football-fill = "\eafa"
bell-icon-football-line = "\eafb"
bell-icon-fridge-fill = "\eafc"
bell-icon-fridge-line = "\eafd"
bell-icon-game-fill = "\eafe"
bell-icon-game-line = "\eaff"
bell-icon-handbag-fill = "\eb00"
bell-icon-handbag-line = "\eb01"
bell-icon-key-2-fill = "\eb02"
bell-icon-key-2-line = "\eb03"
bell-icon-key-fill = "\eb04"
bell-icon-key-line = "\eb05"
bell-icon-knife-blood-fill = "\eb06"
bell-icon-knife-blood-line = "\eb07"
bell-icon-knife-fill = "\eb08"
bell-icon-knife-line = "\eb09"
bell-icon-leaf-fill = "\eb0a"
bell-icon-leaf-line = "\eb0b"
bell-icon-lightbulb-fill = "\eb0c"
bell-icon-lightbulb-flash-fill = "\eb0d"
bell-icon-lightbulb-flash-line = "\eb0e"
bell-icon-lightbulb-line = "\eb0f"
bell-icon-outlet-2-fill = "\eb10"
bell-icon-outlet-2-line = "\eb11"
bell-icon-outlet-fill = "\eb12"
bell-icon-outlet-line = "\eb13"
bell-icon-ping-pong-fill = "\eb14"
bell-icon-ping-pong-line = "\eb15"
bell-icon-plant-fill = "\eb16"
bell-icon-plant-line = "\eb17"
bell-icon-plug-2-fill = "\eb18"
bell-icon-plug-2-line = "\eb19"
bell-icon-plug-fill = "\eb1a"
bell-icon-plug-line = "\eb1b"
bell-icon-recycle-fill = "\eb1c"
bell-icon-recycle-line = "\eb1d"
bell-icon-reserved-fill = "\eb1e"
bell-icon-reserved-line = "\eb1f"
bell-icon-scales-2-fill = "\eb20"
bell-icon-scales-2-line = "\eb21"
bell-icon-scales-3-fill = "\eb22"
bell-icon-scales-3-line = "\eb23"
bell-icon-scales-fill = "\eb24"
bell-icon-scales-line = "\eb25"
bell-icon-seedling-fill = "\eb26"
bell-icon-seedling-line = "\eb27"
bell-icon-shirt-fill = "\eb28"
bell-icon-shirt-line = "\eb29"
bell-icon-sword-fill = "\eb2a"
bell-icon-sword-line = "\eb2b"
bell-icon-t-shirt-2-fill = "\eb2c"
bell-icon-t-shirt-2-line = "\eb2d"
bell-icon-t-shirt-air-fill = "\eb2e"
bell-icon-t-shirt-air-line = "\eb2f"
bell-icon-t-shirt-fill = "\eb30"
bell-icon-t-shirt-line = "\eb31"
bell-icon-umbrella-fill = "\eb32"
bell-icon-umbrella-line = "\eb33"
bell-icon-voice-recognition-fill = "\eb34"
bell-icon-voice-recognition-line = "\eb35"
bell-icon-wheelchair-fill = "\eb36"
bell-icon-wheelchair-line = "\eb37"
bell-icon-k-fill = "\eb38"
bell-icon-k-line = "\eb39"
bell-icon-album-fill = "\eb3a"
bell-icon-album-line = "\eb3b"
bell-icon-aspect-ratio-fill = "\eb3c"
bell-icon-aspect-ratio-line = "\eb3d"
bell-icon-broadcast-fill = "\eb3e"
bell-icon-broadcast-line = "\eb3f"
bell-icon-camera-2-fill = "\eb40"
bell-icon-camera-2-line = "\eb41"
bell-icon-camera-3-fill = "\eb42"
bell-icon-camera-3-line = "\eb43"
bell-icon-camera-fill = "\eb44"
bell-icon-camera-lens-fill = "\eb45"
bell-icon-camera-lens-line = "\eb46"
bell-icon-camera-line = "\eb47"
bell-icon-camera-off-fill = "\eb48"
bell-icon-camera-off-line = "\eb49"
bell-icon-camera-switch-fill = "\eb4a"
bell-icon-camera-switch-line = "\eb4b"
bell-icon-clapperboard-fill = "\eb4c"
bell-icon-clapperboard-line = "\eb4d"
bell-icon-closed-captioning-fill = "\eb4e"
bell-icon-closed-captioning-line = "\eb4f"
bell-icon-disc-fill = "\eb50"
bell-icon-disc-line = "\eb51"
bell-icon-dv-fill = "\eb52"
bell-icon-dv-line = "\eb53"
bell-icon-dvd-fill = "\eb54"
bell-icon-dvd-line = "\eb55"
bell-icon-eject-fill = "\eb56"
bell-icon-eject-line = "\eb57"
bell-icon-equalizer-fill = "\eb58"
bell-icon-equalizer-line = "\eb59"
bell-icon-film-fill = "\eb5a"
bell-icon-film-line = "\eb5b"
bell-icon-fullscreen-exit-fill = "\eb5c"
bell-icon-fullscreen-exit-line = "\eb5d"
bell-icon-fullscreen-fill = "\eb5e"
bell-icon-fullscreen-line = "\eb5f"
bell-icon-gallery-fill = "\eb60"
bell-icon-gallery-line = "\eb61"
bell-icon-gallery-upload-fill = "\eb62"
bell-icon-gallery-upload-line = "\eb63"
bell-icon-hd-fill = "\eb64"
bell-icon-hd-line = "\eb65"
bell-icon-headphone-fill = "\eb66"
bell-icon-headphone-line = "\eb67"
bell-icon-hq-fill = "\eb68"
bell-icon-hq-line = "\eb69"
bell-icon-image-2-fill = "\eb6a"
bell-icon-image-2-line = "\eb6b"
bell-icon-image-add-fill = "\eb6c"
bell-icon-image-add-line = "\eb6d"
bell-icon-image-edit-fill = "\eb6e"
bell-icon-image-edit-line = "\eb6f"
bell-icon-image-fill = "\eb70"
bell-icon-image-line = "\eb71"
bell-icon-landscape-fill = "\eb72"
bell-icon-landscape-line = "\eb73"
bell-icon-live-fill = "\eb74"
bell-icon-live-line = "\eb75"
bell-icon-mic-2-fill = "\eb76"
bell-icon-mic-2-line = "\eb77"
bell-icon-mic-fill = "\eb78"
bell-icon-mic-line = "\eb79"
bell-icon-mic-off-fill = "\eb7a"
bell-icon-mic-off-line = "\eb7b"
bell-icon-movie-2-fill = "\eb7c"
bell-icon-movie-2-line = "\eb7d"
bell-icon-movie-fill = "\eb7e"
bell-icon-movie-line = "\eb7f"
bell-icon-music-2-fill = "\eb80"
bell-icon-music-2-line = "\eb81"
bell-icon-music-fill = "\eb82"
bell-icon-music-line = "\eb83"
bell-icon-mv-fill = "\eb84"
bell-icon-mv-line = "\eb85"
bell-icon-notification-2-fill = "\eb86"
bell-icon-notification-2-line = "\eb87"
bell-icon-notification-3-fill = "\eb88"
bell-icon-notification-3-line = "\eb89"
bell-icon-notification-4-fill = "\eb8a"
bell-icon-notification-4-line = "\eb8b"
bell-icon-notification-fill = "\eb8c"
bell-icon-notification-line = "\eb8d"
bell-icon-notification-off-fill = "\eb8e"
bell-icon-notification-off-line = "\eb8f"
bell-icon-order-play-fill = "\eb90"
bell-icon-order-play-line = "\eb91"
bell-icon-pause-circle-fill = "\eb92"
bell-icon-pause-circle-line = "\eb93"
bell-icon-pause-fill = "\eb94"
bell-icon-pause-line = "\eb95"
bell-icon-pause-mini-fill = "\eb96"
bell-icon-pause-mini-line = "\eb97"
bell-icon-phone-camera-fill = "\eb98"
bell-icon-phone-camera-line = "\eb99"
bell-icon-picture-in-picture-2-fill = "\eb9a"
bell-icon-picture-in-picture-2-line = "\eb9b"
bell-icon-picture-in-picture-exit-fill = "\eb9c"
bell-icon-picture-in-picture-exit-line = "\eb9d"
bell-icon-picture-in-picture-fill = "\eb9e"
bell-icon-picture-in-picture-line = "\eb9f"
bell-icon-play-circle-fill = "\eba0"
bell-icon-play-circle-line = "\eba1"
bell-icon-play-fill = "\eba2"
bell-icon-play-line = "\eba3"
bell-icon-play-list-2-fill = "\eba4"
bell-icon-play-list-2-line = "\eba5"
bell-icon-play-list-add-fill = "\eba6"
bell-icon-play-list-add-line = "\eba7"
bell-icon-play-list-fill = "\eba8"
bell-icon-play-list-line = "\eba9"
bell-icon-play-mini-fill = "\ebaa"
bell-icon-play-mini-line = "\ebab"
bell-icon-polaroid-2-fill = "\ebac"
bell-icon-polaroid-2-line = "\ebad"
bell-icon-polaroid-fill = "\ebae"
bell-icon-polaroid-line = "\ebaf"
bell-icon-radio-2-fill = "\ebb0"
bell-icon-radio-2-line = "\ebb1"
bell-icon-radio-fill = "\ebb2"
bell-icon-radio-line = "\ebb3"
bell-icon-record-circle-fill = "\ebb4"
bell-icon-record-circle-line = "\ebb5"
bell-icon-repeat-2-fill = "\ebb6"
bell-icon-repeat-2-line = "\ebb7"
bell-icon-repeat-fill = "\ebb8"
bell-icon-repeat-line = "\ebb9"
bell-icon-repeat-one-fill = "\ebba"
bell-icon-repeat-one-line = "\ebbb"
bell-icon-rewind-fill = "\ebbc"
bell-icon-rewind-line = "\ebbd"
bell-icon-rewind-mini-fill = "\ebbe"
bell-icon-rewind-mini-line = "\ebbf"
bell-icon-rhythm-fill = "\ebc0"
bell-icon-rhythm-line = "\ebc1"
bell-icon-shuffle-fill = "\ebc2"
bell-icon-shuffle-line = "\ebc3"
bell-icon-skip-back-fill = "\ebc4"
bell-icon-skip-back-line = "\ebc5"
bell-icon-skip-back-mini-fill = "\ebc6"
bell-icon-skip-back-mini-line = "\ebc7"
bell-icon-skip-forward-fill = "\ebc8"
bell-icon-skip-forward-line = "\ebc9"
bell-icon-skip-forward-mini-fill = "\ebca"
bell-icon-skip-forward-mini-line = "\ebcb"
bell-icon-sound-module-fill = "\ebcc"
bell-icon-sound-module-line = "\ebcd"
bell-icon-speaker-2-fill = "\ebce"
bell-icon-speaker-2-line = "\ebcf"
bell-icon-speaker-3-fill = "\ebd0"
bell-icon-speaker-3-line = "\ebd1"
bell-icon-speaker-fill = "\ebd2"
bell-icon-speaker-line = "\ebd3"
bell-icon-speed-fill = "\ebd4"
bell-icon-speed-line = "\ebd5"
bell-icon-speed-mini-fill = "\ebd6"
bell-icon-speed-mini-line = "\ebd7"
bell-icon-stop-circle-fill = "\ebd8"
bell-icon-stop-circle-line = "\ebd9"
bell-icon-stop-fill = "\ebda"
bell-icon-stop-line = "\ebdb"
bell-icon-stop-mini-fill = "\ebdc"
bell-icon-stop-mini-line = "\ebdd"
bell-icon-surround-sound-fill = "\ebde"
bell-icon-surround-sound-line = "\ebdf"
bell-icon-tape-fill = "\ebe0"
bell-icon-tape-line = "\ebe1"
bell-icon-video-add-fill = "\ebe2"
bell-icon-video-add-line = "\ebe3"
bell-icon-video-download-fill = "\ebe4"
bell-icon-video-download-line = "\ebe5"
bell-icon-video-fill = "\ebe6"
bell-icon-video-line = "\ebe7"
bell-icon-video-upload-fill = "\ebe8"
bell-icon-video-upload-line = "\ebe9"
bell-icon-vidicon-2-fill = "\ebea"
bell-icon-vidicon-2-line = "\ebeb"
bell-icon-vidicon-fill = "\ebec"
bell-icon-vidicon-line = "\ebed"
bell-icon-voiceprint-fill = "\ebee"
bell-icon-voiceprint-line = "\ebef"
bell-icon-volume-down-fill = "\ebf0"
bell-icon-volume-down-line = "\ebf1"
bell-icon-volume-mute-fill = "\ebf2"
bell-icon-volume-mute-line = "\ebf3"
bell-icon-volume-off-vibrate-fill = "\ebf4"
bell-icon-volume-off-vibrate-line = "\ebf5"
bell-icon-volume-up-fill = "\ebf6"
bell-icon-volume-up-line = "\ebf7"
bell-icon-volume-vibrate-fill = "\ebf8"
bell-icon-volume-vibrate-line = "\ebf9"
bell-icon-webcam-fill = "\ebfa"
bell-icon-webcam-line = "\ebfb"
bell-icon-anchor-fill = "\ebfc"
bell-icon-anchor-line = "\ebfd"
bell-icon-barricade-fill = "\ebfe"
bell-icon-barricade-line = "\ebff"
bell-icon-bike-fill = "\ec00"
bell-icon-bike-line = "\ec01"
bell-icon-bus-2-fill = "\ec02"
bell-icon-bus-2-line = "\ec03"
bell-icon-bus-fill = "\ec04"
bell-icon-bus-line = "\ec05"
bell-icon-bus-wifi-fill = "\ec06"
bell-icon-bus-wifi-line = "\ec07"
bell-icon-car-fill = "\ec08"
bell-icon-car-line = "\ec09"
bell-icon-car-washing-fill = "\ec0a"
bell-icon-car-washing-line = "\ec0b"
bell-icon-caravan-fill = "\ec0c"
bell-icon-caravan-line = "\ec0d"
bell-icon-charging-pile-2-fill = "\ec0e"
bell-icon-charging-pile-2-line = "\ec0f"
bell-icon-charging-pile-fill = "\ec10"
bell-icon-charging-pile-line = "\ec11"
bell-icon-china-railway-fill = "\ec12"
bell-icon-china-railway-line = "\ec13"
bell-icon-compass-2-fill = "\ec14"
bell-icon-compass-2-line = "\ec15"
bell-icon-compass-3-fill = "\ec16"
bell-icon-compass-3-line = "\ec17"
bell-icon-compass-4-fill = "\ec18"
bell-icon-compass-4-line = "\ec19"
bell-icon-compass-discover-fill = "\ec1a"
bell-icon-compass-discover-line = "\ec1b"
bell-icon-compass-fill = "\ec1c"
bell-icon-compass-line = "\ec1d"
bell-icon-cup-fill = "\ec1e"
bell-icon-cup-line = "\ec1f"
bell-icon-direction-fill = "\ec20"
bell-icon-direction-line = "\ec21"
bell-icon-e-bike-2-fill = "\ec22"
bell-icon-e-bike-2-line = "\ec23"
bell-icon-e-bike-fill = "\ec24"
bell-icon-e-bike-line = "\ec25"
bell-icon-earth-fill = "\ec26"
bell-icon-earth-line = "\ec27"
bell-icon-flight-land-fill = "\ec28"
bell-icon-flight-land-line = "\ec29"
bell-icon-flight-takeoff-fill = "\ec2a"
bell-icon-flight-takeoff-line = "\ec2b"
bell-icon-footprint-fill = "\ec2c"
bell-icon-footprint-line = "\ec2d"
bell-icon-gas-station-fill = "\ec2e"
bell-icon-gas-station-line = "\ec2f"
bell-icon-globe-fill = "\ec30"
bell-icon-globe-line = "\ec31"
bell-icon-goblet-fill = "\ec32"
bell-icon-goblet-line = "\ec33"
bell-icon-guide-fill = "\ec34"
bell-icon-guide-line = "\ec35"
bell-icon-hotel-bed-fill = "\ec36"
bell-icon-hotel-bed-line = "\ec37"
bell-icon-lifebuoy-fill = "\ec38"
bell-icon-lifebuoy-line = "\ec39"
bell-icon-luggage-cart-fill = "\ec3a"
bell-icon-luggage-cart-line = "\ec3b"
bell-icon-luggage-deposit-fill = "\ec3c"
bell-icon-luggage-deposit-line = "\ec3d"
bell-icon-map-2-fill = "\ec3e"
bell-icon-map-2-line = "\ec3f"
bell-icon-map-fill = "\ec40"
bell-icon-map-line = "\ec41"
bell-icon-map-pin-2-fill = "\ec42"
bell-icon-map-pin-2-line = "\ec43"
bell-icon-map-pin-3-fill = "\ec44"
bell-icon-map-pin-3-line = "\ec45"
bell-icon-map-pin-4-fill = "\ec46"
bell-icon-map-pin-4-line = "\ec47"
bell-icon-map-pin-5-fill = "\ec48"
bell-icon-map-pin-5-line = "\ec49"
bell-icon-map-pin-add-fill = "\ec4a"
bell-icon-map-pin-add-line = "\ec4b"
bell-icon-map-pin-fill = "\ec4c"
bell-icon-map-pin-line = "\ec4d"
bell-icon-map-pin-range-fill = "\ec4e"
bell-icon-map-pin-range-line = "\ec4f"
bell-icon-map-pin-time-fill = "\ec50"
bell-icon-map-pin-time-line = "\ec51"
bell-icon-map-pin-user-fill = "\ec52"
bell-icon-map-pin-user-line = "\ec53"
bell-icon-motorbike-fill = "\ec54"
bell-icon-motorbike-line = "\ec55"
bell-icon-navigation-fill = "\ec56"
bell-icon-navigation-line = "\ec57"
bell-icon-oil-fill = "\ec58"
bell-icon-oil-line = "\ec59"
bell-icon-parking-box-fill = "\ec5a"
bell-icon-parking-box-line = "\ec5b"
bell-icon-parking-fill = "\ec5c"
bell-icon-parking-line = "\ec5d"
bell-icon-passport-fill = "\ec5e"
bell-icon-passport-line = "\ec5f"
bell-icon-pin-distance-fill = "\ec60"
bell-icon-pin-distance-line = "\ec61"
bell-icon-plane-fill = "\ec62"
bell-icon-plane-line = "\ec63"
bell-icon-police-car-fill = "\ec64"
bell-icon-police-car-line = "\ec65"
bell-icon-pushpin-2-fill = "\ec66"
bell-icon-pushpin-2-line = "\ec67"
bell-icon-pushpin-fill = "\ec68"
bell-icon-pushpin-line = "\ec69"
bell-icon-restaurant-2-fill = "\ec6a"
bell-icon-restaurant-2-line = "\ec6b"
bell-icon-restaurant-fill = "\ec6c"
bell-icon-restaurant-line = "\ec6d"
bell-icon-riding-fill = "\ec6e"
bell-icon-riding-line = "\ec6f"
bell-icon-road-map-fill = "\ec70"
bell-icon-road-map-line = "\ec71"
bell-icon-roadster-fill = "\ec72"
bell-icon-roadster-line = "\ec73"
bell-icon-rocket-2-fill = "\ec74"
bell-icon-rocket-2-line = "\ec75"
bell-icon-rocket-fill = "\ec76"
bell-icon-rocket-line = "\ec77"
bell-icon-route-fill = "\ec78"
bell-icon-route-line = "\ec79"
bell-icon-run-fill = "\ec7a"
bell-icon-run-line = "\ec7b"
bell-icon-sailboat-fill = "\ec7c"
bell-icon-sailboat-line = "\ec7d"
bell-icon-ship-2-fill = "\ec7e"
bell-icon-ship-2-line = "\ec7f"
bell-icon-ship-fill = "\ec80"
bell-icon-ship-line = "\ec81"
bell-icon-signal-tower-fill = "\ec82"
bell-icon-signal-tower-line = "\ec83"
bell-icon-space-ship-fill = "\ec84"
bell-icon-space-ship-line = "\ec85"
bell-icon-steering-2-fill = "\ec86"
bell-icon-steering-2-line = "\ec87"
bell-icon-steering-fill = "\ec88"
bell-icon-steering-line = "\ec89"
bell-icon-subway-fill = "\ec8a"
bell-icon-subway-line = "\ec8b"
bell-icon-subway-wifi-fill = "\ec8c"
bell-icon-subway-wifi-line = "\ec8d"
bell-icon-suitcase-2-fill = "\ec8e"
bell-icon-suitcase-2-line = "\ec8f"
bell-icon-suitcase-3-fill = "\ec90"
bell-icon-suitcase-3-line = "\ec91"
bell-icon-suitcase-fill = "\ec92"
bell-icon-suitcase-line = "\ec93"
bell-icon-takeaway-fill = "\ec94"
bell-icon-takeaway-line = "\ec95"
bell-icon-taxi-fill = "\ec96"
bell-icon-taxi-line = "\ec97"
bell-icon-taxi-wifi-fill = "\ec98"
bell-icon-taxi-wifi-line = "\ec99"
bell-icon-traffic-light-fill = "\ec9a"
bell-icon-traffic-light-line = "\ec9b"
bell-icon-train-fill = "\ec9c"
bell-icon-train-line = "\ec9d"
bell-icon-train-wifi-fill = "\ec9e"
bell-icon-train-wifi-line = "\ec9f"
bell-icon-treasure-map-fill = "\eca0"
bell-icon-treasure-map-line = "\eca1"
bell-icon-truck-fill = "\eca2"
bell-icon-truck-line = "\eca3"
bell-icon-walk-fill = "\eca4"
bell-icon-walk-line = "\eca5"
bell-icon-alipay-fill = "\eca6"
bell-icon-alipay-line = "\eca7"
bell-icon-amazon-fill = "\eca8"
bell-icon-amazon-line = "\eca9"
bell-icon-android-fill = "\ecaa"
bell-icon-android-line = "\ecab"
bell-icon-angularjs-fill = "\ecac"
bell-icon-angularjs-line = "\ecad"
bell-icon-app-store-fill = "\ecae"
bell-icon-app-store-line = "\ecaf"
bell-icon-apple-fill = "\ecb0"
bell-icon-apple-line = "\ecb1"
bell-icon-baidu-fill = "\ecb2"
bell-icon-baidu-line = "\ecb3"
bell-icon-behance-fill = "\ecb4"
bell-icon-behance-line = "\ecb5"
bell-icon-bilibili-fill = "\ecb6"
bell-icon-bilibili-line = "\ecb7"
bell-icon-centos-fill = "\ecb8"
bell-icon-centos-line = "\ecb9"
bell-icon-chrome-fill = "\ecba"
bell-icon-chrome-line = "\ecbb"
bell-icon-codepen-fill = "\ecbc"
bell-icon-codepen-line = "\ecbd"
bell-icon-coreos-fill = "\ecbe"
bell-icon-coreos-line = "\ecbf"
bell-icon-dingding-fill = "\ecc0"
bell-icon-dingding-line = "\ecc1"
bell-icon-discord-fill = "\ecc2"
bell-icon-discord-line = "\ecc3"
bell-icon-disqus-fill = "\ecc4"
bell-icon-disqus-line = "\ecc5"
bell-icon-douban-fill = "\ecc6"
bell-icon-douban-line = "\ecc7"
bell-icon-dribbble-fill = "\ecc8"
bell-icon-dribbble-line = "\ecc9"
bell-icon-drive-fill = "\ecca"
bell-icon-drive-line = "\eccb"
bell-icon-dropbox-fill = "\eccc"
bell-icon-dropbox-line = "\eccd"
bell-icon-edge-fill = "\ecce"
bell-icon-edge-line = "\eccf"
bell-icon-evernote-fill = "\ecd0"
bell-icon-evernote-line = "\ecd1"
bell-icon-facebook-box-fill = "\ecd2"
bell-icon-facebook-box-line = "\ecd3"
bell-icon-facebook-circle-fill = "\ecd4"
bell-icon-facebook-circle-line = "\ecd5"
bell-icon-facebook-fill = "\ecd6"
bell-icon-facebook-line = "\ecd7"
bell-icon-finder-fill = "\ecd8"
bell-icon-finder-line = "\ecd9"
bell-icon-firefox-fill = "\ecda"
bell-icon-firefox-line = "\ecdb"
bell-icon-flutter-fill = "\ecdc"
bell-icon-flutter-line = "\ecdd"
bell-icon-gatsby-fill = "\ecde"
bell-icon-gatsby-line = "\ecdf"
bell-icon-github-fill = "\ece0"
bell-icon-github-line = "\ece1"
bell-icon-gitlab-fill = "\ece2"
bell-icon-gitlab-line = "\ece3"
bell-icon-google-fill = "\ece4"
bell-icon-google-line = "\ece5"
bell-icon-google-play-fill = "\ece6"
bell-icon-google-play-line = "\ece7"
bell-icon-honor-of-kings-fill = "\ece8"
bell-icon-honor-of-kings-line = "\ece9"
bell-icon-ie-fill = "\ecea"
bell-icon-ie-line = "\eceb"
bell-icon-instagram-fill = "\ecec"
bell-icon-instagram-line = "\eced"
bell-icon-invision-fill = "\ecee"
bell-icon-invision-line = "\ecef"
bell-icon-kakao-talk-fill = "\ecf0"
bell-icon-kakao-talk-line = "\ecf1"
bell-icon-line-fill = "\ecf2"
bell-icon-line-line = "\ecf3"
bell-icon-linkedin-box-fill = "\ecf4"
bell-icon-linkedin-box-line = "\ecf5"
bell-icon-linkedin-fill = "\ecf6"
bell-icon-linkedin-line = "\ecf7"
bell-icon-mastercard-fill = "\ecf8"
bell-icon-mastercard-line = "\ecf9"
bell-icon-mastodon-fill = "\ecfa"
bell-icon-mastodon-line = "\ecfb"
bell-icon-medium-fill = "\ecfc"
bell-icon-medium-line = "\ecfd"
bell-icon-messenger-fill = "\ecfe"
bell-icon-messenger-line = "\ecff"
bell-icon-microsoft-fill = "\ed00"
bell-icon-microsoft-line = "\ed01"
bell-icon-mini-program-fill = "\ed02"
bell-icon-mini-program-line = "\ed03"
bell-icon-netease-cloud-music-fill = "\ed04"
bell-icon-netease-cloud-music-line = "\ed05"
bell-icon-netflix-fill = "\ed06"
bell-icon-netflix-line = "\ed07"
bell-icon-npmjs-fill = "\ed08"
bell-icon-npmjs-line = "\ed09"
bell-icon-open-source-fill = "\ed0a"
bell-icon-open-source-line = "\ed0b"
bell-icon-opera-fill = "\ed0c"
bell-icon-opera-line = "\ed0d"
bell-icon-patreon-fill = "\ed0e"
bell-icon-patreon-line = "\ed0f"
bell-icon-paypal-fill = "\ed10"
bell-icon-paypal-line = "\ed11"
bell-icon-pinterest-fill = "\ed12"
bell-icon-pinterest-line = "\ed13"
bell-icon-pixelfed-fill = "\ed14"
bell-icon-pixelfed-line = "\ed15"
bell-icon-playstation-fill = "\ed16"
bell-icon-playstation-line = "\ed17"
bell-icon-product-hunt-fill = "\ed18"
bell-icon-product-hunt-line = "\ed19"
bell-icon-qq-fill = "\ed1a"
bell-icon-qq-line = "\ed1b"
bell-icon-reactjs-fill = "\ed1c"
bell-icon-reactjs-line = "\ed1d"
bell-icon-reddit-fill = "\ed1e"
bell-icon-reddit-line = "\ed1f"
bell-icon-remixicon-fill = "\ed20"
bell-icon-remixicon-line = "\ed21"
bell-icon-safari-fill = "\ed22"
bell-icon-safari-line = "\ed23"
bell-icon-skype-fill = "\ed24"
bell-icon-skype-line = "\ed25"
bell-icon-slack-fill = "\ed26"
bell-icon-slack-line = "\ed27"
bell-icon-snapchat-fill = "\ed28"
bell-icon-snapchat-line = "\ed29"
bell-icon-soundcloud-fill = "\ed2a"
bell-icon-soundcloud-line = "\ed2b"
bell-icon-spectrum-fill = "\ed2c"
bell-icon-spectrum-line = "\ed2d"
bell-icon-spotify-fill = "\ed2e"
bell-icon-spotify-line = "\ed2f"
bell-icon-stack-overflow-fill = "\ed30"
bell-icon-stack-overflow-line = "\ed31"
bell-icon-stackshare-fill = "\ed32"
bell-icon-stackshare-line = "\ed33"
bell-icon-steam-fill = "\ed34"
bell-icon-steam-line = "\ed35"
bell-icon-switch-fill = "\ed36"
bell-icon-switch-line = "\ed37"
bell-icon-taobao-fill = "\ed38"
bell-icon-taobao-line = "\ed39"
bell-icon-telegram-fill = "\ed3a"
bell-icon-telegram-line = "\ed3b"
bell-icon-trello-fill = "\ed3c"
bell-icon-trello-line = "\ed3d"
bell-icon-tumblr-fill = "\ed3e"
bell-icon-tumblr-line = "\ed3f"
bell-icon-twitch-fill = "\ed40"
bell-icon-twitch-line = "\ed41"
bell-icon-twitter-fill = "\ed42"
bell-icon-twitter-line = "\ed43"
bell-icon-ubuntu-fill = "\ed44"
bell-icon-ubuntu-line = "\ed45"
bell-icon-unsplash-fill = "\ed46"
bell-icon-unsplash-line = "\ed47"
bell-icon-vimeo-fill = "\ed48"
bell-icon-vimeo-line = "\ed49"
bell-icon-visa-fill = "\ed4a"
bell-icon-visa-line = "\ed4b"
bell-icon-vuejs-fill = "\ed4c"
bell-icon-vuejs-line = "\ed4d"
bell-icon-wechat-2-fill = "\ed4e"
bell-icon-wechat-2-line = "\ed4f"
bell-icon-wechat-fill = "\ed50"
bell-icon-wechat-line = "\ed51"
bell-icon-wechat-pay-fill = "\ed52"
bell-icon-wechat-pay-line = "\ed53"
bell-icon-weibo-fill = "\ed54"
bell-icon-weibo-line = "\ed55"
bell-icon-whatsapp-fill = "\ed56"
bell-icon-whatsapp-line = "\ed57"
bell-icon-windows-fill = "\ed58"
bell-icon-windows-line = "\ed59"
bell-icon-xbox-fill = "\ed5a"
bell-icon-xbox-line = "\ed5b"
bell-icon-xing-fill = "\ed5c"
bell-icon-xing-line = "\ed5d"
bell-icon-youtube-fill = "\ed5e"
bell-icon-youtube-line = "\ed5f"
bell-icon-zcool-fill = "\ed60"
bell-icon-zcool-line = "\ed61"
bell-icon-zhihu-fill = "\ed62"
bell-icon-zhihu-line = "\ed63"
bell-icon-capsule-fill = "\ed64"
bell-icon-capsule-line = "\ed65"
bell-icon-dislike-fill = "\ed66"
bell-icon-dislike-line = "\ed67"
bell-icon-dossier-fill = "\ed68"
bell-icon-dossier-line = "\ed69"
bell-icon-empathize-fill = "\ed6a"
bell-icon-empathize-line = "\ed6b"
bell-icon-first-aid-kit-fill = "\ed6c"
bell-icon-first-aid-kit-line = "\ed6d"
bell-icon-flask-fill = "\ed6e"
bell-icon-flask-line = "\ed6f"
bell-icon-hand-sanitizer-fill = "\ed70"
bell-icon-hand-sanitizer-line = "\ed71"
bell-icon-health-book-fill = "\ed72"
bell-icon-health-book-line = "\ed73"
bell-icon-heart-2-fill = "\ed74"
bell-icon-heart-2-line = "\ed75"
bell-icon-heart-3-fill = "\ed76"
bell-icon-heart-3-line = "\ed77"
bell-icon-heart-add-fill = "\ed78"
bell-icon-heart-add-line = "\ed79"
bell-icon-heart-fill = "\ed7a"
bell-icon-heart-line = "\ed7b"
bell-icon-heart-pulse-fill = "\ed7c"
bell-icon-heart-pulse-line = "\ed7d"
bell-icon-hearts-fill = "\ed7e"
bell-icon-hearts-line = "\ed7f"
bell-icon-infrared-thermometer-fill = "\ed80"
bell-icon-infrared-thermometer-line = "\ed81"
bell-icon-lungs-fill = "\ed82"
bell-icon-lungs-line = "\ed83"
bell-icon-medicine-bottle-fill = "\ed84"
bell-icon-medicine-bottle-line = "\ed85"
bell-icon-mental-health-fill = "\ed86"
bell-icon-mental-health-line = "\ed87"
bell-icon-microscope-fill = "\ed88"
bell-icon-microscope-line = "\ed89"
bell-icon-nurse-fill = "\ed8a"
bell-icon-nurse-line = "\ed8b"
bell-icon-psychotherapy-fill = "\ed8c"
bell-icon-psychotherapy-line = "\ed8d"
bell-icon-pulse-fill = "\ed8e"
bell-icon-pulse-line = "\ed8f"
bell-icon-rest-time-fill = "\ed90"
bell-icon-rest-time-line = "\ed91"
bell-icon-stethoscope-fill = "\ed92"
bell-icon-stethoscope-line = "\ed93"
bell-icon-surgical-mask-fill = "\ed94"
bell-icon-surgical-mask-line = "\ed95"
bell-icon-syringe-fill = "\ed96"
bell-icon-syringe-line = "\ed97"
bell-icon-test-tube-fill = "\ed98"
bell-icon-test-tube-line = "\ed99"
bell-icon-thermometer-fill = "\ed9a"
bell-icon-thermometer-line = "\ed9b"
bell-icon-virus-fill = "\ed9c"
bell-icon-virus-line = "\ed9d"
bell-icon-zzz-fill = "\ed9e"
bell-icon-zzz-line = "\ed9f"
bell-icon-hours-fill = "\eda0"
bell-icon-hours-line = "\eda1"
bell-icon-auction-fill = "\eda2"
bell-icon-auction-line = "\eda3"
bell-icon-bank-card-2-fill = "\eda4"
bell-icon-bank-card-2-line = "\eda5"
bell-icon-bank-card-fill = "\eda6"
bell-icon-bank-card-line = "\eda7"
bell-icon-bit-coin-fill = "\eda8"
bell-icon-bit-coin-line = "\eda9"
bell-icon-coin-fill = "\edaa"
bell-icon-coin-line = "\edab"
bell-icon-coins-fill = "\edac"
bell-icon-coins-line = "\edad"
bell-icon-copper-coin-fill = "\edae"
bell-icon-copper-coin-line = "\edaf"
bell-icon-copper-diamond-fill = "\edb0"
bell-icon-copper-diamond-line = "\edb1"
bell-icon-coupon-2-fill = "\edb2"
bell-icon-coupon-2-line = "\edb3"
bell-icon-coupon-3-fill = "\edb4"
bell-icon-coupon-3-line = "\edb5"
bell-icon-coupon-4-fill = "\edb6"
bell-icon-coupon-4-line = "\edb7"
bell-icon-coupon-5-fill = "\edb8"
bell-icon-coupon-5-line = "\edb9"
bell-icon-coupon-fill = "\edba"
bell-icon-coupon-line = "\edbb"
bell-icon-currency-fill = "\edbc"
bell-icon-currency-line = "\edbd"
bell-icon-exchange-box-fill = "\edbe"
bell-icon-exchange-box-line = "\edbf"
bell-icon-exchange-cny-fill = "\edc0"
bell-icon-exchange-cny-line = "\edc1"
bell-icon-exchange-dollar-fill = "\edc2"
bell-icon-exchange-dollar-line = "\edc3"
bell-icon-exchange-fill = "\edc4"
bell-icon-exchange-funds-fill = "\edc5"
bell-icon-exchange-funds-line = "\edc6"
bell-icon-exchange-line = "\edc7"
bell-icon-funds-box-fill = "\edc8"
bell-icon-funds-box-line = "\edc9"
bell-icon-funds-fill = "\edca"
bell-icon-funds-line = "\edcb"
bell-icon-gift-2-fill = "\edcc"
bell-icon-gift-2-line = "\edcd"
bell-icon-gift-fill = "\edce"
bell-icon-gift-line = "\edcf"
bell-icon-hand-coin-fill = "\edd0"
bell-icon-hand-coin-line = "\edd1"
bell-icon-hand-heart-fill = "\edd2"
bell-icon-hand-heart-line = "\edd3"
bell-icon-increase-decrease-fill = "\edd4"
bell-icon-increase-decrease-line = "\edd5"
bell-icon-money-cny-box-fill = "\edd6"
bell-icon-money-cny-box-line = "\edd7"
bell-icon-money-cny-circle-fill = "\edd8"
bell-icon-money-cny-circle-line = "\edd9"
bell-icon-money-dollar-box-fill = "\edda"
bell-icon-money-dollar-box-line = "\eddb"
bell-icon-money-dollar-circle-fill = "\eddc"
bell-icon-money-dollar-circle-line = "\eddd"
bell-icon-money-euro-box-fill = "\edde"
bell-icon-money-euro-box-line = "\eddf"
bell-icon-money-euro-circle-fill = "\ede0"
bell-icon-money-euro-circle-line = "\ede1"
bell-icon-money-pound-box-fill = "\ede2"
bell-icon-money-pound-box-line = "\ede3"
bell-icon-money-pound-circle-fill = "\ede4"
bell-icon-money-pound-circle-line = "\ede5"
bell-icon-percent-fill = "\ede6"
bell-icon-percent-line = "\ede7"
bell-icon-price-tag-2-fill = "\ede8"
bell-icon-price-tag-2-line = "\ede9"
bell-icon-price-tag-3-fill = "\edea"
bell-icon-price-tag-3-line = "\edeb"
bell-icon-price-tag-fill = "\edec"
bell-icon-price-tag-line = "\eded"
bell-icon-red-packet-fill = "\edee"
bell-icon-red-packet-line = "\edef"
bell-icon-refund-2-fill = "\edf0"
bell-icon-refund-2-line = "\edf1"
bell-icon-refund-fill = "\edf2"
bell-icon-refund-line = "\edf3"
bell-icon-safe-2-fill = "\edf4"
bell-icon-safe-2-line = "\edf5"
bell-icon-safe-fill = "\edf6"
bell-icon-safe-line = "\edf7"
bell-icon-secure-payment-fill = "\edf8"
bell-icon-secure-payment-line = "\edf9"
bell-icon-shopping-bag-2-fill = "\edfa"
bell-icon-shopping-bag-2-line = "\edfb"
bell-icon-shopping-bag-3-fill = "\edfc"
bell-icon-shopping-bag-3-line = "\edfd"
bell-icon-shopping-bag-fill = "\edfe"
bell-icon-shopping-bag-line = "\edff"
bell-icon-shopping-basket-2-fill = "\ee00"
bell-icon-shopping-basket-2-line = "\ee01"
bell-icon-shopping-basket-fill = "\ee02"
bell-icon-shopping-basket-line = "\ee03"
bell-icon-shopping-cart-2-fill = "\ee04"
bell-icon-shopping-cart-2-line = "\ee05"
bell-icon-shopping-cart-fill = "\ee06"
bell-icon-shopping-cart-line = "\ee07"
bell-icon-stock-fill = "\ee08"
bell-icon-stock-line = "\ee09"
bell-icon-swap-box-fill = "\ee0a"
bell-icon-swap-box-line = "\ee0b"
bell-icon-swap-fill = "\ee0c"
bell-icon-swap-line = "\ee0d"
bell-icon-ticket-2-fill = "\ee0e"
bell-icon-ticket-2-line = "\ee0f"
bell-icon-ticket-fill = "\ee10"
bell-icon-ticket-line = "\ee11"
bell-icon-trophy-fill = "\ee12"
bell-icon-trophy-line = "\ee13"
bell-icon-vip-crown-2-fill = "\ee14"
bell-icon-vip-crown-2-line = "\ee15"
bell-icon-vip-crown-fill = "\ee16"
bell-icon-vip-crown-line = "\ee17"
bell-icon-vip-diamond-fill = "\ee18"
bell-icon-vip-diamond-line = "\ee19"
bell-icon-vip-fill = "\ee1a"
bell-icon-vip-line = "\ee1b"
bell-icon-wallet-2-fill = "\ee1c"
bell-icon-wallet-2-line = "\ee1d"
bell-icon-wallet-3-fill = "\ee1e"
bell-icon-wallet-3-line = "\ee1f"
bell-icon-wallet-fill = "\ee20"
bell-icon-wallet-line = "\ee21"
bell-icon-water-flash-fill = "\ee22"
bell-icon-water-flash-line = "\ee23"
bell-icon-a-b = "\ee24"
bell-icon-align-bottom = "\ee25"
bell-icon-align-center = "\ee26"
bell-icon-align-justify = "\ee27"
bell-icon-align-left = "\ee28"
bell-icon-align-right = "\ee29"
bell-icon-align-top = "\ee2a"
bell-icon-align-vertically = "\ee2b"
bell-icon-asterisk = "\ee2c"
bell-icon-attachment-2 = "\ee2d"
bell-icon-bold = "\ee2e"
bell-icon-bring-forward = "\ee2f"
bell-icon-bring-to-front = "\ee30"
bell-icon-code-view = "\ee31"
bell-icon-delete-column = "\ee32"
bell-icon-delete-row = "\ee33"
bell-icon-double-quotes-l = "\ee34"
bell-icon-double-quotes-r = "\ee35"
bell-icon-emphasis-cn = "\ee36"
bell-icon-emphasis = "\ee37"
bell-icon-english-input = "\ee38"
bell-icon-flow-chart = "\ee39"
bell-icon-font-color = "\ee3a"
bell-icon-font-size-2 = "\ee3b"
bell-icon-font-size = "\ee3c"
bell-icon-format-clear = "\ee3d"
bell-icon-functions = "\ee3e"
bell-icon-h-1 = "\ee3f"
bell-icon-h-2 = "\ee40"
bell-icon-h-3 = "\ee41"
bell-icon-h-4 = "\ee42"
bell-icon-h-5 = "\ee43"
bell-icon-h-6 = "\ee44"
bell-icon-hashtag = "\ee45"
bell-icon-heading = "\ee46"
bell-icon-indent-decrease = "\ee47"
bell-icon-indent-increase = "\ee48"
bell-icon-input-cursor-move = "\ee49"
bell-icon-insert-column-left = "\ee4a"
bell-icon-insert-column-right = "\ee4b"
bell-icon-insert-row-bottom = "\ee4c"
bell-icon-insert-row-top = "\ee4d"
bell-icon-italic = "\ee4e"
bell-icon-line-height = "\ee4f"
bell-icon-link-m = "\ee50"
bell-icon-link-unlink-m = "\ee51"
bell-icon-link-unlink = "\ee52"
bell-icon-link = "\ee53"
bell-icon-list-check-2 = "\ee54"
bell-icon-list-check = "\ee55"
bell-icon-list-ordered = "\ee56"
bell-icon-list-unordered = "\ee57"
bell-icon-merge-cells-horizontal = "\ee58"
bell-icon-merge-cells-vertical = "\ee59"
bell-icon-mind-map = "\ee5a"
bell-icon-node-tree = "\ee5b"
bell-icon-number-0 = "\ee5c"
bell-icon-number-1 = "\ee5d"
bell-icon-number-2 = "\ee5e"
bell-icon-number-3 = "\ee5f"
bell-icon-number-4 = "\ee60"
bell-icon-number-5 = "\ee61"
bell-icon-number-6 = "\ee62"
bell-icon-number-7 = "\ee63"
bell-icon-number-8 = "\ee64"
bell-icon-number-9 = "\ee65"
bell-icon-omega = "\ee66"
bell-icon-organization-chart = "\ee67"
bell-icon-page-separator = "\ee68"
bell-icon-paragraph = "\ee69"
bell-icon-pinyin-input = "\ee6a"
bell-icon-question-mark = "\ee6b"
bell-icon-rounded-corner = "\ee6c"
bell-icon-send-backward = "\ee6d"
bell-icon-send-to-back = "\ee6e"
bell-icon-separator = "\ee6f"
bell-icon-single-quotes-l = "\ee70"
bell-icon-single-quotes-r = "\ee71"
bell-icon-sort-asc = "\ee72"
bell-icon-sort-desc = "\ee73"
bell-icon-space = "\ee74"
bell-icon-split-cells-horizontal = "\ee75"
bell-icon-split-cells-vertical = "\ee76"
bell-icon-strikethrough-2 = "\ee77"
bell-icon-strikethrough = "\ee78"
bell-icon-subscript-2 = "\ee79"
bell-icon-subscript = "\ee7a"
bell-icon-superscript-2 = "\ee7b"
bell-icon-superscript = "\ee7c"
bell-icon-table-2 = "\ee7d"
bell-icon-text-direction-l = "\ee7e"
bell-icon-text-direction-r = "\ee7f"
bell-icon-text-spacing = "\ee80"
bell-icon-text-wrap = "\ee81"
bell-icon-text = "\ee82"
bell-icon-translate-2 = "\ee83"
bell-icon-translate = "\ee84"
bell-icon-underline = "\ee85"
bell-icon-wubi-input = "\ee86"
bell-icon-article-fill = "\ee87"
bell-icon-article-line = "\ee88"
bell-icon-bill-fill = "\ee89"
bell-icon-bill-line = "\ee8a"
bell-icon-book-2-fill = "\ee8b"
bell-icon-book-2-line = "\ee8c"
bell-icon-book-3-fill = "\ee8d"
bell-icon-book-3-line = "\ee8e"
bell-icon-book-fill = "\ee8f"
bell-icon-book-line = "\ee90"
bell-icon-book-mark-fill = "\ee91"
bell-icon-book-mark-line = "\ee92"
bell-icon-book-open-fill = "\ee93"
bell-icon-book-open-line = "\ee94"
bell-icon-book-read-fill = "\ee95"
bell-icon-book-read-line = "\ee96"
bell-icon-booklet-fill = "\ee97"
bell-icon-booklet-line = "\ee98"
bell-icon-clipboard-fill = "\ee99"
bell-icon-clipboard-line = "\ee9a"
bell-icon-contacts-book-2-fill = "\ee9b"
bell-icon-contacts-book-2-line = "\ee9c"
bell-icon-contacts-book-fill = "\ee9d"
bell-icon-contacts-book-line = "\ee9e"
bell-icon-contacts-book-upload-fill = "\ee9f"
bell-icon-contacts-book-upload-line = "\eea0"
bell-icon-draft-fill = "\eea1"
bell-icon-draft-line = "\eea2"
bell-icon-file-2-fill = "\eea3"
bell-icon-file-2-line = "\eea4"
bell-icon-file-3-fill = "\eea5"
bell-icon-file-3-line = "\eea6"
bell-icon-file-4-fill = "\eea7"
bell-icon-file-4-line = "\eea8"
bell-icon-file-add-fill = "\eea9"
bell-icon-file-add-line = "\eeaa"
bell-icon-file-chart-2-fill = "\eeab"
bell-icon-file-chart-2-line = "\eeac"
bell-icon-file-chart-fill = "\eead"
bell-icon-file-chart-line = "\eeae"
bell-icon-file-cloud-fill = "\eeaf"
bell-icon-file-cloud-line = "\eeb0"
bell-icon-file-code-fill = "\eeb1"
bell-icon-file-code-line = "\eeb2"
bell-icon-file-copy-2-fill = "\eeb3"
bell-icon-file-copy-2-line = "\eeb4"
bell-icon-file-copy-fill = "\eeb5"
bell-icon-file-copy-line = "\eeb6"
bell-icon-file-damage-fill = "\eeb7"
bell-icon-file-damage-line = "\eeb8"
bell-icon-file-download-fill = "\eeb9"
bell-icon-file-download-line = "\eeba"
bell-icon-file-edit-fill = "\eebb"
bell-icon-file-edit-line = "\eebc"
bell-icon-file-excel-2-fill = "\eebd"
bell-icon-file-excel-2-line = "\eebe"
bell-icon-file-excel-fill = "\eebf"
bell-icon-file-excel-line = "\eec0"
bell-icon-file-fill = "\eec1"
bell-icon-file-forbid-fill = "\eec2"
bell-icon-file-forbid-line = "\eec3"
bell-icon-file-gif-fill = "\eec4"
bell-icon-file-gif-line = "\eec5"
bell-icon-file-history-fill = "\eec6"
bell-icon-file-history-line = "\eec7"
bell-icon-file-hwp-fill = "\eec8"
bell-icon-file-hwp-line = "\eec9"
bell-icon-file-info-fill = "\eeca"
bell-icon-file-info-line = "\eecb"
bell-icon-file-line = "\eecc"
bell-icon-file-list-2-fill = "\eecd"
bell-icon-file-list-2-line = "\eece"
bell-icon-file-list-3-fill = "\eecf"
bell-icon-file-list-3-line = "\eed0"
bell-icon-file-list-fill = "\eed1"
bell-icon-file-list-line = "\eed2"
bell-icon-file-lock-fill = "\eed3"
bell-icon-file-lock-line = "\eed4"
bell-icon-file-mark-fill = "\eed5"
bell-icon-file-mark-line = "\eed6"
bell-icon-file-music-fill = "\eed7"
bell-icon-file-music-line = "\eed8"
bell-icon-file-paper-2-fill = "\eed9"
bell-icon-file-paper-2-line = "\eeda"
bell-icon-file-paper-fill = "\eedb"
bell-icon-file-paper-line = "\eedc"
bell-icon-file-pdf-fill = "\eedd"
bell-icon-file-pdf-line = "\eede"
bell-icon-file-ppt-2-fill = "\eedf"
bell-icon-file-ppt-2-line = "\eee0"
bell-icon-file-ppt-fill = "\eee1"
bell-icon-file-ppt-line = "\eee2"
bell-icon-file-reduce-fill = "\eee3"
bell-icon-file-reduce-line = "\eee4"
bell-icon-file-search-fill = "\eee5"
bell-icon-file-search-line = "\eee6"
bell-icon-file-settings-fill = "\eee7"
bell-icon-file-settings-line = "\eee8"
bell-icon-file-shield-2-fill = "\eee9"
bell-icon-file-shield-2-line = "\eeea"
bell-icon-file-shield-fill = "\eeeb"
bell-icon-file-shield-line = "\eeec"
bell-icon-file-shred-fill = "\eeed"
bell-icon-file-shred-line = "\eeee"
bell-icon-file-text-fill = "\eeef"
bell-icon-file-text-line = "\eef0"
bell-icon-file-transfer-fill = "\eef1"
bell-icon-file-transfer-line = "\eef2"
bell-icon-file-unknow-fill = "\eef3"
bell-icon-file-unknow-line = "\eef4"
bell-icon-file-upload-fill = "\eef5"
bell-icon-file-upload-line = "\eef6"
bell-icon-file-user-fill = "\eef7"
bell-icon-file-user-line = "\eef8"
bell-icon-file-warning-fill = "\eef9"
bell-icon-file-warning-line = "\eefa"
bell-icon-file-word-2-fill = "\eefb"
bell-icon-file-word-2-line = "\eefc"
bell-icon-file-word-fill = "\eefd"
bell-icon-file-word-line = "\eefe"
bell-icon-file-zip-fill = "\eeff"
bell-icon-file-zip-line = "\ef00"
bell-icon-folder-2-fill = "\ef01"
bell-icon-folder-2-line = "\ef02"
bell-icon-folder-3-fill = "\ef03"
bell-icon-folder-3-line = "\ef04"
bell-icon-folder-4-fill = "\ef05"
bell-icon-folder-4-line = "\ef06"
bell-icon-folder-5-fill = "\ef07"
bell-icon-folder-5-line = "\ef08"
bell-icon-folder-add-fill = "\ef09"
bell-icon-folder-add-line = "\ef0a"
bell-icon-folder-chart-2-fill = "\ef0b"
bell-icon-folder-chart-2-line = "\ef0c"
bell-icon-folder-chart-fill = "\ef0d"
bell-icon-folder-chart-line = "\ef0e"
bell-icon-folder-download-fill = "\ef0f"
bell-icon-folder-download-line = "\ef10"
bell-icon-folder-fill = "\ef11"
bell-icon-folder-forbid-fill = "\ef12"
bell-icon-folder-forbid-line = "\ef13"
bell-icon-folder-history-fill = "\ef14"
bell-icon-folder-history-line = "\ef15"
bell-icon-folder-info-fill = "\ef16"
bell-icon-folder-info-line = "\ef17"
bell-icon-folder-keyhole-fill = "\ef18"
bell-icon-folder-keyhole-line = "\ef19"
bell-icon-folder-line = "\ef1a"
bell-icon-folder-lock-fill = "\ef1b"
bell-icon-folder-lock-line = "\ef1c"
bell-icon-folder-music-fill = "\ef1d"
bell-icon-folder-music-line = "\ef1e"
bell-icon-folder-open-fill = "\ef1f"
bell-icon-folder-open-line = "\ef20"
bell-icon-folder-received-fill = "\ef21"
bell-icon-folder-received-line = "\ef22"
bell-icon-folder-reduce-fill = "\ef23"
bell-icon-folder-reduce-line = "\ef24"
bell-icon-folder-settings-fill = "\ef25"
bell-icon-folder-settings-line = "\ef26"
bell-icon-folder-shared-fill = "\ef27"
bell-icon-folder-shared-line = "\ef28"
bell-icon-folder-shield-2-fill = "\ef29"
bell-icon-folder-shield-2-line = "\ef2a"
bell-icon-folder-shield-fill = "\ef2b"
bell-icon-folder-shield-line = "\ef2c"
bell-icon-folder-transfer-fill = "\ef2d"
bell-icon-folder-transfer-line = "\ef2e"
bell-icon-folder-unknow-fill = "\ef2f"
bell-icon-folder-unknow-line = "\ef30"
bell-icon-folder-upload-fill = "\ef31"
bell-icon-folder-upload-line = "\ef32"
bell-icon-folder-user-fill = "\ef33"
bell-icon-folder-user-line = "\ef34"
bell-icon-folder-warning-fill = "\ef35"
bell-icon-folder-warning-line = "\ef36"
bell-icon-folder-zip-fill = "\ef37"
bell-icon-folder-zip-line = "\ef38"
bell-icon-folders-fill = "\ef39"
bell-icon-folders-line = "\ef3a"
bell-icon-keynote-fill = "\ef3b"
bell-icon-keynote-line = "\ef3c"
bell-icon-markdown-fill = "\ef3d"
bell-icon-markdown-line = "\ef3e"
bell-icon-newspaper-fill = "\ef3f"
bell-icon-newspaper-line = "\ef40"
bell-icon-numbers-fill = "\ef41"
bell-icon-numbers-line = "\ef42"
bell-icon-pages-fill = "\ef43"
bell-icon-pages-line = "\ef44"
bell-icon-sticky-note-2-fill = "\ef45"
bell-icon-sticky-note-2-line = "\ef46"
bell-icon-sticky-note-fill = "\ef47"
bell-icon-sticky-note-line = "\ef48"
bell-icon-survey-fill = "\ef49"
bell-icon-survey-line = "\ef4a"
bell-icon-task-fill = "\ef4b"
bell-icon-task-line = "\ef4c"
bell-icon-todo-fill = "\ef4d"
bell-icon-todo-line = "\ef4e"
bell-icon-airplay-fill = "\ef4f"
bell-icon-airplay-line = "\ef50"
bell-icon-barcode-box-fill = "\ef51"
bell-icon-barcode-box-line = "\ef52"
bell-icon-barcode-fill = "\ef53"
bell-icon-barcode-line = "\ef54"
bell-icon-base-station-fill = "\ef55"
bell-icon-base-station-line = "\ef56"
bell-icon-battery-2-charge-fill = "\ef57"
bell-icon-battery-2-charge-line = "\ef58"
bell-icon-battery-2-fill = "\ef59"
bell-icon-battery-2-line = "\ef5a"
bell-icon-battery-charge-fill = "\ef5b"
bell-icon-battery-charge-line = "\ef5c"
bell-icon-battery-fill = "\ef5d"
bell-icon-battery-line = "\ef5e"
bell-icon-battery-low-fill = "\ef5f"
bell-icon-battery-low-line = "\ef60"
bell-icon-battery-saver-fill = "\ef61"
bell-icon-battery-saver-line = "\ef62"
bell-icon-battery-share-fill = "\ef63"
bell-icon-battery-share-line = "\ef64"
bell-icon-bluetooth-connect-fill = "\ef65"
bell-icon-bluetooth-connect-line = "\ef66"
bell-icon-bluetooth-fill = "\ef67"
bell-icon-bluetooth-line = "\ef68"
bell-icon-cast-fill = "\ef69"
bell-icon-cast-line = "\ef6a"
bell-icon-cellphone-fill = "\ef6b"
bell-icon-cellphone-line = "\ef6c"
bell-icon-computer-fill = "\ef6d"
bell-icon-computer-line = "\ef6e"
bell-icon-cpu-fill = "\ef6f"
bell-icon-cpu-line = "\ef70"
bell-icon-dashboard-2-fill = "\ef71"
bell-icon-dashboard-2-line = "\ef72"
bell-icon-dashboard-3-fill = "\ef73"
bell-icon-dashboard-3-line = "\ef74"
bell-icon-database-2-fill = "\ef75"
bell-icon-database-2-line = "\ef76"
bell-icon-database-fill = "\ef77"
bell-icon-database-line = "\ef78"
bell-icon-device-fill = "\ef79"
bell-icon-device-line = "\ef7a"
bell-icon-device-recover-fill = "\ef7b"
bell-icon-device-recover-line = "\ef7c"
bell-icon-dual-sim-1-fill = "\ef7d"
bell-icon-dual-sim-1-line = "\ef7e"
bell-icon-dual-sim-2-fill = "\ef7f"
bell-icon-dual-sim-2-line = "\ef80"
bell-icon-fingerprint-2-fill = "\ef81"
bell-icon-fingerprint-2-line = "\ef82"
bell-icon-fingerprint-fill = "\ef83"
bell-icon-fingerprint-line = "\ef84"
bell-icon-gamepad-fill = "\ef85"
bell-icon-gamepad-line = "\ef86"
bell-icon-gps-fill = "\ef87"
bell-icon-gps-line = "\ef88"
bell-icon-gradienter-fill = "\ef89"
bell-icon-gradienter-line = "\ef8a"
bell-icon-hard-drive-2-fill = "\ef8b"
bell-icon-hard-drive-2-line = "\ef8c"
bell-icon-hard-drive-fill = "\ef8d"
bell-icon-hard-drive-line = "\ef8e"
bell-icon-hotspot-fill = "\ef8f"
bell-icon-hotspot-line = "\ef90"
bell-icon-install-fill = "\ef91"
bell-icon-install-line = "\ef92"
bell-icon-keyboard-box-fill = "\ef93"
bell-icon-keyboard-box-line = "\ef94"
bell-icon-keyboard-fill = "\ef95"
bell-icon-keyboard-line = "\ef96"
bell-icon-mac-fill = "\ef97"
bell-icon-mac-line = "\ef98"
bell-icon-macbook-fill = "\ef99"
bell-icon-macbook-line = "\ef9a"
bell-icon-mouse-fill = "\ef9b"
bell-icon-mouse-line = "\ef9c"
bell-icon-phone-fill = "\ef9d"
bell-icon-phone-find-fill = "\ef9e"
bell-icon-phone-find-line = "\ef9f"
bell-icon-phone-line = "\efa0"
bell-icon-phone-lock-fill = "\efa1"
bell-icon-phone-lock-line = "\efa2"
bell-icon-qr-code-fill = "\efa3"
bell-icon-qr-code-line = "\efa4"
bell-icon-qr-scan-2-fill = "\efa5"
bell-icon-qr-scan-2-line = "\efa6"
bell-icon-qr-scan-fill = "\efa7"
bell-icon-qr-scan-line = "\efa8"
bell-icon-radar-fill = "\efa9"
bell-icon-radar-line = "\efaa"
bell-icon-remote-control-2-fill = "\efab"
bell-icon-remote-control-2-line = "\efac"
bell-icon-remote-control-fill = "\efad"
bell-icon-remote-control-line = "\efae"
bell-icon-restart-fill = "\efaf"
bell-icon-restart-line = "\efb0"
bell-icon-rotate-lock-fill = "\efb1"
bell-icon-rotate-lock-line = "\efb2"
bell-icon-router-fill = "\efb3"
bell-icon-router-line = "\efb4"
bell-icon-rss-fill = "\efb5"
bell-icon-rss-line = "\efb6"
bell-icon-save-2-fill = "\efb7"
bell-icon-save-2-line = "\efb8"
bell-icon-save-3-fill = "\efb9"
bell-icon-save-3-line = "\efba"
bell-icon-save-fill = "\efbb"
bell-icon-save-line = "\efbc"
bell-icon-scan-2-fill = "\efbd"
bell-icon-scan-2-line = "\efbe"
bell-icon-scan-fill = "\efbf"
bell-icon-scan-line = "\efc0"
bell-icon-sd-card-fill = "\efc1"
bell-icon-sd-card-line = "\efc2"
bell-icon-sd-card-mini-fill = "\efc3"
bell-icon-sd-card-mini-line = "\efc4"
bell-icon-sensor-fill = "\efc5"
bell-icon-sensor-line = "\efc6"
bell-icon-server-fill = "\efc7"
bell-icon-server-line = "\efc8"
bell-icon-shut-down-fill = "\efc9"
bell-icon-shut-down-line = "\efca"
bell-icon-signal-wifi-1-fill = "\efcb"
bell-icon-signal-wifi-1-line = "\efcc"
bell-icon-signal-wifi-2-fill = "\efcd"
bell-icon-signal-wifi-2-line = "\efce"
bell-icon-signal-wifi-3-fill = "\efcf"
bell-icon-signal-wifi-3-line = "\efd0"
bell-icon-signal-wifi-error-fill = "\efd1"
bell-icon-signal-wifi-error-line = "\efd2"
bell-icon-signal-wifi-fill = "\efd3"
bell-icon-signal-wifi-line = "\efd4"
bell-icon-signal-wifi-off-fill = "\efd5"
bell-icon-signal-wifi-off-line = "\efd6"
bell-icon-sim-card-2-fill = "\efd7"
bell-icon-sim-card-2-line = "\efd8"
bell-icon-sim-card-fill = "\efd9"
bell-icon-sim-card-line = "\efda"
bell-icon-smartphone-fill = "\efdb"
bell-icon-smartphone-line = "\efdc"
bell-icon-tablet-fill = "\efdd"
bell-icon-tablet-line = "\efde"
bell-icon-tv-2-fill = "\efdf"
bell-icon-tv-2-line = "\efe0"
bell-icon-tv-fill = "\efe1"
bell-icon-tv-line = "\efe2"
bell-icon-u-disk-fill = "\efe3"
bell-icon-u-disk-line = "\efe4"
bell-icon-uninstall-fill = "\efe5"
bell-icon-uninstall-line = "\efe6"
bell-icon-usb-fill = "\efe7"
bell-icon-usb-line = "\efe8"
bell-icon-wifi-fill = "\efe9"
bell-icon-wifi-line = "\efea"
bell-icon-wifi-off-fill = "\efeb"
bell-icon-wifi-off-line = "\efec"
bell-icon-wireless-charging-fill = "\efed"
bell-icon-wireless-charging-line = "\efee"
bell-icon-braces-fill = "\efef"
bell-icon-braces-line = "\eff0"
bell-icon-brackets-fill = "\eff1"
bell-icon-brackets-line = "\eff2"
bell-icon-bug-2-fill = "\eff3"
bell-icon-bug-2-line = "\eff4"
bell-icon-bug-fill = "\eff5"
bell-icon-bug-line = "\eff6"
bell-icon-code-box-fill = "\eff7"
bell-icon-code-box-line = "\eff8"
bell-icon-code-fill = "\eff9"
bell-icon-code-line = "\effa"
bell-icon-code-s-fill = "\effb"
bell-icon-code-s-line = "\effc"
bell-icon-code-s-slash-fill = "\effd"
bell-icon-code-s-slash-line = "\effe"
bell-icon-command-fill = "\efff"
bell-icon-command-line = "\f000"
bell-icon-css3-fill = "\f001"
bell-icon-css3-line = "\f002"
bell-icon-cursor-fill = "\f003"
bell-icon-cursor-line = "\f004"
bell-icon-git-branch-fill = "\f005"
bell-icon-git-branch-line = "\f006"
bell-icon-git-commit-fill = "\f007"
bell-icon-git-commit-line = "\f008"
bell-icon-git-merge-fill = "\f009"
bell-icon-git-merge-line = "\f00a"
bell-icon-git-pull-request-fill = "\f00b"
bell-icon-git-pull-request-line = "\f00c"
bell-icon-git-repository-commits-fill = "\f00d"
bell-icon-git-repository-commits-line = "\f00e"
bell-icon-git-repository-fill = "\f00f"
bell-icon-git-repository-line = "\f010"
bell-icon-git-repository-private-fill = "\f011"
bell-icon-git-repository-private-line = "\f012"
bell-icon-html5-fill = "\f013"
bell-icon-html5-line = "\f014"
bell-icon-parentheses-fill = "\f015"
bell-icon-parentheses-line = "\f016"
bell-icon-terminal-box-fill = "\f017"
bell-icon-terminal-box-line = "\f018"
bell-icon-terminal-fill = "\f019"
bell-icon-terminal-line = "\f01a"
bell-icon-terminal-window-fill = "\f01b"
bell-icon-terminal-window-line = "\f01c"
bell-icon-anticlockwise-2-fill = "\f01d"
bell-icon-anticlockwise-2-line = "\f01e"
bell-icon-anticlockwise-fill = "\f01f"
bell-icon-anticlockwise-line = "\f020"
bell-icon-artboard-2-fill = "\f021"
bell-icon-artboard-2-line = "\f022"
bell-icon-artboard-fill = "\f023"
bell-icon-artboard-line = "\f024"
bell-icon-ball-pen-fill = "\f025"
bell-icon-ball-pen-line = "\f026"
bell-icon-blur-off-fill = "\f027"
bell-icon-blur-off-line = "\f028"
bell-icon-brush-2-fill = "\f029"
bell-icon-brush-2-line = "\f02a"
bell-icon-brush-3-fill = "\f02b"
bell-icon-brush-3-line = "\f02c"
bell-icon-brush-4-fill = "\f02d"
bell-icon-brush-4-line = "\f02e"
bell-icon-brush-fill = "\f02f"
bell-icon-brush-line = "\f030"
bell-icon-clockwise-2-fill = "\f031"
bell-icon-clockwise-2-line = "\f032"
bell-icon-clockwise-fill = "\f033"
bell-icon-clockwise-line = "\f034"
bell-icon-collage-fill = "\f035"
bell-icon-collage-line = "\f036"
bell-icon-compasses-2-fill = "\f037"
bell-icon-compasses-2-line = "\f038"
bell-icon-compasses-fill = "\f039"
bell-icon-compasses-line = "\f03a"
bell-icon-contrast-2-fill = "\f03b"
bell-icon-contrast-2-line = "\f03c"
bell-icon-contrast-drop-2-fill = "\f03d"
bell-icon-contrast-drop-2-line = "\f03e"
bell-icon-contrast-drop-fill = "\f03f"
bell-icon-contrast-drop-line = "\f040"
bell-icon-contrast-fill = "\f041"
bell-icon-contrast-line = "\f042"
bell-icon-crop-2-fill = "\f043"
bell-icon-crop-2-line = "\f044"
bell-icon-crop-fill = "\f045"
bell-icon-crop-line = "\f046"
bell-icon-drag-drop-fill = "\f047"
bell-icon-drag-drop-line = "\f048"
bell-icon-drag-move-2-fill = "\f049"
bell-icon-drag-move-2-line = "\f04a"
bell-icon-drag-move-fill = "\f04b"
bell-icon-drag-move-line = "\f04c"
bell-icon-drop-fill = "\f04d"
bell-icon-drop-line = "\f04e"
bell-icon-edit-2-fill = "\f04f"
bell-icon-edit-2-line = "\f050"
bell-icon-edit-box-fill = "\f051"
bell-icon-edit-box-line = "\f052"
bell-icon-edit-circle-fill = "\f053"
bell-icon-edit-circle-line = "\f054"
bell-icon-edit-fill = "\f055"
bell-icon-edit-line = "\f056"
bell-icon-eraser-fill = "\f057"
bell-icon-eraser-line = "\f058"
bell-icon-focus-2-fill = "\f059"
bell-icon-focus-2-line = "\f05a"
bell-icon-focus-3-fill = "\f05b"
bell-icon-focus-3-line = "\f05c"
bell-icon-focus-fill = "\f05d"
bell-icon-focus-line = "\f05e"
bell-icon-grid-fill = "\f05f"
bell-icon-grid-line = "\f060"
bell-icon-hammer-fill = "\f061"
bell-icon-hammer-line = "\f062"
bell-icon-ink-bottle-fill = "\f063"
bell-icon-ink-bottle-line = "\f064"
bell-icon-input-method-fill = "\f065"
bell-icon-input-method-line = "\f066"
bell-icon-layout-2-fill = "\f067"
bell-icon-layout-2-line = "\f068"
bell-icon-layout-3-fill = "\f069"
bell-icon-layout-3-line = "\f06a"
bell-icon-layout-4-fill = "\f06b"
bell-icon-layout-4-line = "\f06c"
bell-icon-layout-5-fill = "\f06d"
bell-icon-layout-5-line = "\f06e"
bell-icon-layout-6-fill = "\f06f"
bell-icon-layout-6-line = "\f070"
bell-icon-layout-bottom-2-fill = "\f071"
bell-icon-layout-bottom-2-line = "\f072"
bell-icon-layout-bottom-fill = "\f073"
bell-icon-layout-bottom-line = "\f074"
bell-icon-layout-column-fill = "\f075"
bell-icon-layout-column-line = "\f076"
bell-icon-layout-fill = "\f077"
bell-icon-layout-grid-fill = "\f078"
bell-icon-layout-grid-line = "\f079"
bell-icon-layout-left-2-fill = "\f07a"
bell-icon-layout-left-2-line = "\f07b"
bell-icon-layout-left-fill = "\f07c"
bell-icon-layout-left-line = "\f07d"
bell-icon-layout-line = "\f07e"
bell-icon-layout-masonry-fill = "\f07f"
bell-icon-layout-masonry-line = "\f080"
bell-icon-layout-right-2-fill = "\f081"
bell-icon-layout-right-2-line = "\f082"
bell-icon-layout-right-fill = "\f083"
bell-icon-layout-right-line = "\f084"
bell-icon-layout-row-fill = "\f085"
bell-icon-layout-row-line = "\f086"
bell-icon-layout-top-2-fill = "\f087"
bell-icon-layout-top-2-line = "\f088"
bell-icon-layout-top-fill = "\f089"
bell-icon-layout-top-line = "\f08a"
bell-icon-magic-fill = "\f08b"
bell-icon-magic-line = "\f08c"
bell-icon-mark-pen-fill = "\f08d"
bell-icon-mark-pen-line = "\f08e"
bell-icon-markup-fill = "\f08f"
bell-icon-markup-line = "\f090"
bell-icon-paint-brush-fill = "\f091"
bell-icon-paint-brush-line = "\f092"
bell-icon-paint-fill = "\f093"
bell-icon-paint-line = "\f094"
bell-icon-palette-fill = "\f095"
bell-icon-palette-line = "\f096"
bell-icon-pantone-fill = "\f097"
bell-icon-pantone-line = "\f098"
bell-icon-pen-nib-fill = "\f099"
bell-icon-pen-nib-line = "\f09a"
bell-icon-pencil-fill = "\f09b"
bell-icon-pencil-line = "\f09c"
bell-icon-pencil-ruler-2-fill = "\f09d"
bell-icon-pencil-ruler-2-line = "\f09e"
bell-icon-pencil-ruler-fill = "\f09f"
bell-icon-pencil-ruler-line = "\f0a0"
bell-icon-quill-pen-fill = "\f0a1"
bell-icon-quill-pen-line = "\f0a2"
bell-icon-ruler-2-fill = "\f0a3"
bell-icon-ruler-2-line = "\f0a4"
bell-icon-ruler-fill = "\f0a5"
bell-icon-ruler-line = "\f0a6"
bell-icon-scissors-2-fill = "\f0a7"
bell-icon-scissors-2-line = "\f0a8"
bell-icon-scissors-cut-fill = "\f0a9"
bell-icon-scissors-cut-line = "\f0aa"
bell-icon-scissors-fill = "\f0ab"
bell-icon-scissors-line = "\f0ac"
bell-icon-screenshot-2-fill = "\f0ad"
bell-icon-screenshot-2-line = "\f0ae"
bell-icon-screenshot-fill = "\f0af"
bell-icon-screenshot-line = "\f0b0"
bell-icon-shape-2-fill = "\f0b1"
bell-icon-shape-2-line = "\f0b2"
bell-icon-shape-fill = "\f0b3"
bell-icon-shape-line = "\f0b4"
bell-icon-sip-fill = "\f0b5"
bell-icon-sip-line = "\f0b6"
bell-icon-slice-fill = "\f0b7"
bell-icon-slice-line = "\f0b8"
bell-icon-t-box-fill = "\f0b9"
bell-icon-t-box-line = "\f0ba"
bell-icon-table-alt-fill = "\f0bb"
bell-icon-table-alt-line = "\f0bc"
bell-icon-table-fill = "\f0bd"
bell-icon-table-line = "\f0be"
bell-icon-tools-fill = "\f0bf"
bell-icon-tools-line = "\f0c0"
bell-icon-chat-1-fill = "\f0c1"
bell-icon-chat-1-line = "\f0c2"
bell-icon-chat-2-fill = "\f0c3"
bell-icon-chat-2-line = "\f0c4"
bell-icon-chat-3-fill = "\f0c5"
bell-icon-chat-3-line = "\f0c6"
bell-icon-chat-4-fill = "\f0c7"
bell-icon-chat-4-line = "\f0c8"
bell-icon-chat-check-fill = "\f0c9"
bell-icon-chat-check-line = "\f0ca"
bell-icon-chat-delete-fill = "\f0cb"
bell-icon-chat-delete-line = "\f0cc"
bell-icon-chat-download-fill = "\f0cd"
bell-icon-chat-download-line = "\f0ce"
bell-icon-chat-follow-up-fill = "\f0cf"
bell-icon-chat-follow-up-line = "\f0d0"
bell-icon-chat-forward-fill = "\f0d1"
bell-icon-chat-forward-line = "\f0d2"
bell-icon-chat-heart-fill = "\f0d3"
bell-icon-chat-heart-line = "\f0d4"
bell-icon-chat-history-fill = "\f0d5"
bell-icon-chat-history-line = "\f0d6"
bell-icon-chat-new-fill = "\f0d7"
bell-icon-chat-new-line = "\f0d8"
bell-icon-chat-off-fill = "\f0d9"
bell-icon-chat-off-line = "\f0da"
bell-icon-chat-poll-fill = "\f0db"
bell-icon-chat-poll-line = "\f0dc"
bell-icon-chat-private-fill = "\f0dd"
bell-icon-chat-private-line = "\f0de"
bell-icon-chat-quote-fill = "\f0df"
bell-icon-chat-quote-line = "\f0e0"
bell-icon-chat-settings-fill = "\f0e1"
bell-icon-chat-settings-line = "\f0e2"
bell-icon-chat-smile-2-fill = "\f0e3"
bell-icon-chat-smile-2-line = "\f0e4"
bell-icon-chat-smile-3-fill = "\f0e5"
bell-icon-chat-smile-3-line = "\f0e6"
bell-icon-chat-smile-fill = "\f0e7"
bell-icon-chat-smile-line = "\f0e8"
bell-icon-chat-upload-fill = "\f0e9"
bell-icon-chat-upload-line = "\f0ea"
bell-icon-chat-voice-fill = "\f0eb"
bell-icon-chat-voice-line = "\f0ec"
bell-icon-discuss-fill = "\f0ed"
bell-icon-discuss-line = "\f0ee"
bell-icon-feedback-fill = "\f0ef"
bell-icon-feedback-line = "\f0f0"
bell-icon-message-2-fill = "\f0f1"
bell-icon-message-2-line = "\f0f2"
bell-icon-message-3-fill = "\f0f3"
bell-icon-message-3-line = "\f0f4"
bell-icon-message-fill = "\f0f5"
bell-icon-message-line = "\f0f6"
bell-icon-question-answer-fill = "\f0f7"
bell-icon-question-answer-line = "\f0f8"
bell-icon-questionnaire-fill = "\f0f9"
bell-icon-questionnaire-line = "\f0fa"
bell-icon-video-chat-fill = "\f0fb"
bell-icon-video-chat-line = "\f0fc"
bell-icon-advertisement-fill = "\f0fd"
bell-icon-advertisement-line = "\f0fe"
bell-icon-archive-drawer-fill = "\f0ff"
bell-icon-archive-drawer-line = "\f100"
bell-icon-archive-fill = "\f101"
bell-icon-archive-line = "\f102"
bell-icon-at-fill = "\f103"
bell-icon-at-line = "\f104"
bell-icon-attachment-fill = "\f105"
bell-icon-attachment-line = "\f106"
bell-icon-award-fill = "\f107"
bell-icon-award-line = "\f108"
bell-icon-bar-chart-2-fill = "\f109"
bell-icon-bar-chart-2-line = "\f10a"
bell-icon-bar-chart-box-fill = "\f10b"
bell-icon-bar-chart-box-line = "\f10c"
bell-icon-bar-chart-fill = "\f10d"
bell-icon-bar-chart-grouped-fill = "\f10e"
bell-icon-bar-chart-grouped-line = "\f10f"
bell-icon-bar-chart-horizontal-fill = "\f110"
bell-icon-bar-chart-horizontal-line = "\f111"
bell-icon-bar-chart-line = "\f112"
bell-icon-bookmark-2-fill = "\f113"
bell-icon-bookmark-2-line = "\f114"
bell-icon-bookmark-3-fill = "\f115"
bell-icon-bookmark-3-line = "\f116"
bell-icon-bookmark-fill = "\f117"
bell-icon-bookmark-line = "\f118"
bell-icon-briefcase-2-fill = "\f119"
bell-icon-briefcase-2-line = "\f11a"
bell-icon-briefcase-3-fill = "\f11b"
bell-icon-briefcase-3-line = "\f11c"
bell-icon-briefcase-4-fill = "\f11d"
bell-icon-briefcase-4-line = "\f11e"
bell-icon-briefcase-5-fill = "\f11f"
bell-icon-briefcase-5-line = "\f120"
bell-icon-briefcase-fill = "\f121"
bell-icon-briefcase-line = "\f122"
bell-icon-bubble-chart-fill = "\f123"
bell-icon-bubble-chart-line = "\f124"
bell-icon-calculator-fill = "\f125"
bell-icon-calculator-line = "\f126"
bell-icon-calendar-2-fill = "\f127"
bell-icon-calendar-2-line = "\f128"
bell-icon-calendar-check-fill = "\f129"
bell-icon-calendar-check-line = "\f12a"
bell-icon-calendar-event-fill = "\f12b"
bell-icon-calendar-event-line = "\f12c"
bell-icon-calendar-fill = "\f12d"
bell-icon-calendar-line = "\f12e"
bell-icon-calendar-todo-fill = "\f12f"
bell-icon-calendar-todo-line = "\f130"
bell-icon-cloud-fill = "\f131"
bell-icon-cloud-line = "\f132"
bell-icon-cloud-off-fill = "\f133"
bell-icon-cloud-off-line = "\f134"
bell-icon-copyleft-fill = "\f135"
bell-icon-copyleft-line = "\f136"
bell-icon-copyright-fill = "\f137"
bell-icon-copyright-line = "\f138"
bell-icon-creative-commons-by-fill = "\f139"
bell-icon-creative-commons-by-line = "\f13a"
bell-icon-creative-commons-fill = "\f13b"
bell-icon-creative-commons-line = "\f13c"
bell-icon-creative-commons-nc-fill = "\f13d"
bell-icon-creative-commons-nc-line = "\f13e"
bell-icon-creative-commons-nd-fill = "\f13f"
bell-icon-creative-commons-nd-line = "\f140"
bell-icon-creative-commons-sa-fill = "\f141"
bell-icon-creative-commons-sa-line = "\f142"
bell-icon-creative-commons-zero-fill = "\f143"
bell-icon-creative-commons-zero-line = "\f144"
bell-icon-customer-service-2-fill = "\f145"
bell-icon-customer-service-2-line = "\f146"
bell-icon-customer-service-fill = "\f147"
bell-icon-customer-service-line = "\f148"
bell-icon-donut-chart-fill = "\f149"
bell-icon-donut-chart-line = "\f14a"
bell-icon-flag-2-fill = "\f14b"
bell-icon-flag-2-line = "\f14c"
bell-icon-flag-fill = "\f14d"
bell-icon-flag-line = "\f14e"
bell-icon-global-fill = "\f14f"
bell-icon-global-line = "\f150"
bell-icon-honour-fill = "\f151"
bell-icon-honour-line = "\f152"
bell-icon-inbox-archive-fill = "\f153"
bell-icon-inbox-archive-line = "\f154"
bell-icon-inbox-fill = "\f155"
bell-icon-inbox-line = "\f156"
bell-icon-inbox-unarchive-fill = "\f157"
bell-icon-inbox-unarchive-line = "\f158"
bell-icon-line-chart-fill = "\f159"
bell-icon-line-chart-line = "\f15a"
bell-icon-links-fill = "\f15b"
bell-icon-links-line = "\f15c"
bell-icon-mail-add-fill = "\f15d"
bell-icon-mail-add-line = "\f15e"
bell-icon-mail-check-fill = "\f15f"
bell-icon-mail-check-line = "\f160"
bell-icon-mail-close-fill = "\f161"
bell-icon-mail-close-line = "\f162"
bell-icon-mail-download-fill = "\f163"
bell-icon-mail-download-line = "\f164"
bell-icon-mail-fill = "\f165"
bell-icon-mail-forbid-fill = "\f166"
bell-icon-mail-forbid-line = "\f167"
bell-icon-mail-line = "\f168"
bell-icon-mail-lock-fill = "\f169"
bell-icon-mail-lock-line = "\f16a"
bell-icon-mail-open-fill = "\f16b"
bell-icon-mail-open-line = "\f16c"
bell-icon-mail-send-fill = "\f16d"
bell-icon-mail-send-line = "\f16e"
bell-icon-mail-settings-fill = "\f16f"
bell-icon-mail-settings-line = "\f170"
bell-icon-mail-star-fill = "\f171"
bell-icon-mail-star-line = "\f172"
bell-icon-mail-unread-fill = "\f173"
bell-icon-mail-unread-line = "\f174"
bell-icon-mail-volume-fill = "\f175"
bell-icon-mail-volume-line = "\f176"
bell-icon-medal-2-fill = "\f177"
bell-icon-medal-2-line = "\f178"
bell-icon-medal-fill = "\f179"
bell-icon-medal-line = "\f17a"
bell-icon-pie-chart-2-fill = "\f17b"
bell-icon-pie-chart-2-line = "\f17c"
bell-icon-pie-chart-box-fill = "\f17d"
bell-icon-pie-chart-box-line = "\f17e"
bell-icon-pie-chart-fill = "\f17f"
bell-icon-pie-chart-line = "\f180"
bell-icon-printer-cloud-fill = "\f181"
bell-icon-printer-cloud-line = "\f182"
bell-icon-printer-fill = "\f183"
bell-icon-printer-line = "\f184"
bell-icon-profile-fill = "\f185"
bell-icon-profile-line = "\f186"
bell-icon-projector-2-fill = "\f187"
bell-icon-projector-2-line = "\f188"
bell-icon-projector-fill = "\f189"
bell-icon-projector-line = "\f18a"
bell-icon-record-mail-fill = "\f18b"
bell-icon-record-mail-line = "\f18c"
bell-icon-registered-fill = "\f18d"
bell-icon-registered-line = "\f18e"
bell-icon-reply-all-fill = "\f18f"
bell-icon-reply-all-line = "\f190"
bell-icon-reply-fill = "\f191"
bell-icon-reply-line = "\f192"
bell-icon-send-plane-2-fill = "\f193"
bell-icon-send-plane-2-line = "\f194"
bell-icon-send-plane-fill = "\f195"
bell-icon-send-plane-line = "\f196"
bell-icon-service-fill = "\f197"
bell-icon-service-line = "\f198"
bell-icon-slideshow-2-fill = "\f199"
bell-icon-slideshow-2-line = "\f19a"
bell-icon-slideshow-3-fill = "\f19b"
bell-icon-slideshow-3-line = "\f19c"
bell-icon-slideshow-4-fill = "\f19d"
bell-icon-slideshow-4-line = "\f19e"
bell-icon-slideshow-fill = "\f19f"
bell-icon-slideshow-line = "\f1a0"
bell-icon-stack-fill = "\f1a1"
bell-icon-stack-line = "\f1a2"
bell-icon-trademark-fill = "\f1a3"
bell-icon-trademark-line = "\f1a4"
bell-icon-window-2-fill = "\f1a5"
bell-icon-window-2-line = "\f1a6"
bell-icon-window-fill = "\f1a7"
bell-icon-window-line = "\f1a8"
bell-icon-ancient-gate-fill = "\f1a9"
bell-icon-ancient-gate-line = "\f1aa"
bell-icon-ancient-pavilion-fill = "\f1ab"
bell-icon-ancient-pavilion-line = "\f1ac"
bell-icon-bank-fill = "\f1ad"
bell-icon-bank-line = "\f1ae"
bell-icon-building-2-fill = "\f1af"
bell-icon-building-2-line = "\f1b0"
bell-icon-building-3-fill = "\f1b1"
bell-icon-building-3-line = "\f1b2"
bell-icon-building-4-fill = "\f1b3"
bell-icon-building-4-line = "\f1b4"
bell-icon-building-fill = "\f1b5"
bell-icon-building-line = "\f1b6"
bell-icon-community-fill = "\f1b7"
bell-icon-community-line = "\f1b8"
bell-icon-government-fill = "\f1b9"
bell-icon-government-line = "\f1ba"
bell-icon-home-2-fill = "\f1bb"
bell-icon-home-2-line = "\f1bc"
bell-icon-home-3-fill = "\f1bd"
bell-icon-home-3-line = "\f1be"
bell-icon-home-4-fill = "\f1bf"
bell-icon-home-4-line = "\f1c0"
bell-icon-home-5-fill = "\f1c1"
bell-icon-home-5-line = "\f1c2"
bell-icon-home-6-fill = "\f1c3"
bell-icon-home-6-line = "\f1c4"
bell-icon-home-7-fill = "\f1c5"
bell-icon-home-7-line = "\f1c6"
bell-icon-home-8-fill = "\f1c7"
bell-icon-home-8-line = "\f1c8"
bell-icon-home-fill = "\f1c9"
bell-icon-home-gear-fill = "\f1ca"
bell-icon-home-gear-line = "\f1cb"
bell-icon-home-heart-fill = "\f1cc"
bell-icon-home-heart-line = "\f1cd"
bell-icon-home-line = "\f1ce"
bell-icon-home-smile-2-fill = "\f1cf"
bell-icon-home-smile-2-line = "\f1d0"
bell-icon-home-smile-fill = "\f1d1"
bell-icon-home-smile-line = "\f1d2"
bell-icon-home-wifi-fill = "\f1d3"
bell-icon-home-wifi-line = "\f1d4"
bell-icon-hospital-fill = "\f1d5"
bell-icon-hospital-line = "\f1d6"
bell-icon-hotel-fill = "\f1d7"
bell-icon-hotel-line = "\f1d8"
bell-icon-store-2-fill = "\f1d9"
bell-icon-store-2-line = "\f1da"
bell-icon-store-3-fill = "\f1db"
bell-icon-store-3-line = "\f1dc"
bell-icon-store-fill = "\f1dd"
bell-icon-store-line = "\f1de"

