@import '../../../env'

$spin-size-hash = {
  default: {
    dot-item-size: 9px,
    dot-list-size: 20px,
    font-size: $font-size-default,
  },
  small: {
    dot-item-size: 6px,
    dot-list-size: 14px,
    font-size: $font-size-small,
  },
  large: {
    dot-item-size: 14px,
    dot-list-size: 32px,
    font-size: $font-size-large,
  }
}


spin-size-style(style)
  {$selector-class-prefix + '-spin-dot-list'}
    ui-set('width', style['dot-list-size'])
    ui-set('height', style['dot-list-size'])

  {$selector-class-prefix + '-spin-dot-item'}
    ui-set('width', style['dot-item-size'])
    ui-set('height', style['dot-item-size'])

  {$selector-class-prefix + '-spin-text'}
    ui-set('font-size', style['font-size'])

{$selector-class-prefix + '-spin'}
  display inline-block
  text-align center
  ui-connect(
    hash: $spin-size-hash,
    each: spin-size-style
  )

{$selector-class-prefix + '-spin-fixed'}
  background-color $brand-mask-light-color

  position absolute
  top 0
  left 0
  right 0
  bottom 0

  z-index $zindex-normal

  > {$selector-class-prefix + '-spin-wrapper'}
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)

{$selector-class-prefix + '-spin-dot-list'}
  display inline-block
  position relative
  transform rotate(45deg)
  animation bell-spin-rotate 1.2s infinite linear

{$selector-class-prefix + '-spin-dot-item'}
  position absolute
  display block
  background-color $brand-primary
  border-radius 100%
  transform scale(.75)
  transform-origin 50% 50%
  opacity 0.3
  animation bell-spin-move 1s infinite linear alternate

  &:nth-child(1)
    top 0
    left 0

  &:nth-child(2)
    top 0
    right 0
    animation-delay .4s

  &:nth-child(3)
    right 0
    bottom 0
    animation-delay .8s

  &:nth-child(4)
    bottom 0
    left 0
    animation-delay 1.2s

{$selector-class-prefix + '-spin-text'}
  color $brand-primary
  line-height $ui-multiple-line-height
  margin-top $ui-icon-text-gap

@keyframes {$selector-animation-prefix + '-spin-move'}
  to
    opacity 1

@keyframes {$selector-animation-prefix + '-spin-rotate'}
  to
    transform rotate(405deg)
