@import '../../../env'

$tooltip-padding-vertical = 6px
$tooltip-padding-horizontal = 8px

$tooltip-dark-color = $brand-white
$tooltip-dark-bg-color = #606060

$tooltip-light-color = $brand-content
$tooltip-light-bg-color = $brand-white

{$selector-class-prefix + '-tooltip'}
  font-size 0
  line-height 0

  > {$selector-class-prefix + '-popover-content'}
    font-size $font-size-small

    text-align left
    white-space nowrap
    overflow auto

    padding $tooltip-padding-vertical $tooltip-padding-horizontal
    box-shadow $brand-layer-shadow
    border-radius $border-radius-default

{$selector-class-prefix + '-tooltip-dark'}
  > {$selector-class-prefix + '-popover-arrow'}
    border-color $tooltip-dark-bg-color

  > {$selector-class-prefix + '-popover-content'}
    color $tooltip-dark-color
    background-color $tooltip-dark-bg-color

{$selector-class-prefix + '-tooltip-light'}
  > {$selector-class-prefix + '-popover-arrow'}
    border-color $tooltip-light-bg-color

  > {$selector-class-prefix + '-popover-content'}
    color $tooltip-light-color
    background-color $tooltip-light-bg-color

