<div
class="${prefix}timeline-item
{{#if className}} {{className}}{{/if}}"

{{#if style}}
  style="{{style}}"
{{/if}}
>

  {{#if hasSlot('dot')}}
    <div class="${prefix}timeline-custom">
      <slot name="dot" />
    </div>
  {{else}}
    <div
      class="${prefix}timeline-dot"
      {{#if color}}
        style="border-color: {{color}}"
      {{/if}}
    >
    </div>
  {{/if}}

  <div class="${prefix}timeline-content">
    <slot />
  </div>

</div>