@infoColor                          :                       #57a3f3;
@successColor                       :                       #19be6b;
@warningColor                       :                       #f90;
@errorColor                         :                       #ed3f14;
@primaryColor                       :                       #1c90f3;
@defaultColor                       :                       #f7f7f7;

@infoHoverColor                     :                       #57c5f7;
@successHoverColor                  :                       #47cb89;
@warningHoverColor                  :                       #ffad33;
@errorHoverColor                    :                       #f16543;
@primaryHoverColor                  :                       #57a3f3;

@primaryActiveColor                 :                       #3091f2;

@white                              :                       #fff;

@borderColor                        :                       #dddee1;
@borderDividerColor                 :                       #e9eaec;

@titleFontColor                     :                       #1c2438;
@subTitleFontColor                  :                       #80848f;
@contentFontColor                   :                       #495060;
@disabledFontColor                  :                       #bbbec4;

@backgroundColor                    :                       #f8f8f9;

@boxShadow: 0 1px 6px rgba(0,0,0,.2);
@borderRadius: 4px;
@smallFontSize: 12px;
@normalFontSize: 14px;
@hugeFontSize: 22px;

// Layout
@layout-body-font-color      : #fff;
@layout-body-background      : #f5f7f9;

@layout-header-background    : #1D232B;
@layout-header-height        : 64px;
@layout-header-padding       : 0 50px;
@layout-header-shadow        : rgba(28,34,43,0);
@layout-header-logo-width    : 100px;
@layout-header-logo-height   : 32px;
@layout-header-logo-padding  : 15px 20px;

@layout-footer-padding       : 24px 50px;
@layout-footer-background    : @layout-header-background;

@layout-sider-background     : #212831;
@layout-sider-menu-item-height: 50px;
@layout-sider-menu-item-background    : #49505F;

@layout-content-background   : #f8f8f8;


// card
@card-background   : #fff;
@card-margin   : 15px;
@card-border-color   : #e9eaec;
@card-border-color-hover : #eee;
@card-font-color     : #495060;

@card-header-padding : 10px;
@card-header-detail-padding: 0 10px;
@card-header-title-font-size: 15px;
@card-header-title-color: @titleFontColor;
@card-header-sub-title-font-size: 14px;
@card-header-sub-title-color: @subTitleFontColor;

@card-media-detail-background : rgba(0,0,0,.54);
@card-media-detail-padding: 6px 15px;
@card-media-title-font-size: 18px;
@card-media-title-color: #FBFBFB;
@card-media-sub-title-font-size: 12px;
@card-media-sub-title-color: #929AA0;

@card-title-padding: @card-header-padding;
@card-title-font-size: 22px;
@card-title-color: @card-header-title-color;
@card-sub-title-font-size: @card-header-sub-title-font-size;
@card-sub-title-color: @card-header-sub-title-color;

@card-text-padding: @card-header-padding;
@card-text-font-size: 14px;
@card-text-color: @contentFontColor;

@card-actions-padding: @card-header-padding;

@button-gap: 10px;

// breadcrumb
@bread-crumb-link-color   : #999;
@bread-crumb-padding: 15px;

// select
@select-font-size: @normalFontSize;
@select-small-font-size: @normalFontSize;
@select-large-font-size: @normalFontSize;

@select-font-color: #495060;
@select-background: #fff;

@select-button-height: 32px;
@select-small-button-height: 24px;
@select-large-button-height: 36px;

@select-button-placeholder-padding: 0px 15px;
@select-small-button-placeholder-padding: 0px 15px;
@select-large-button-placeholder-padding: 0px 15px;

@select-button-disabled-background: #f3f3f3;
@select-button-border-color: @borderColor;
@select-button-border-hover-color: @infoColor;
@select-button-border-active-color: @select-button-border-hover-color;
@select-button-border-active-shadow: 0 0 0 2px rgba(45,140,240,.2);
@select-button-border-radius: 4px;
@select-button-placeholder-font-size: @smallFontSize;
@select-button-placeholder-font-color: @disabledFontColor;

@select-dropdown-top: 36px;
@select-small-dropdown-top: 28px;
@select-large-dropdown-top: 40px;

@select-dropdown-bottom: 40px;
@select-small-dropdown-bottom: 30px;
@select-large-dropdown-bottom: 42px;

@select-dropdown-height: 200px;
@select-small-dropdown-height: 200px;
@select-large-dropdown-height: 200px;

@select-dropdown-padding: 5px 0;
@select-small-dropdown-padding: 5px 0;
@select-large-dropdown-padding: 5px 0;

@select-dropdown-item-padding: 8px 15px;
@select-small-dropdown-item-padding: 8px 15px;
@select-large-dropdown-item-padding: 8px 15px;

@select-dropdown-font-size: @smallFontSize;
@select-dropdown-item-hover-background: #f3f3f3;
@select-dropdown-item-active-background: @infoColor;

@select-large-dropdown-font-size: 14px;
@select-large-button-font-size: 14px;
@select-large-button-placeholder-font-size: 14px;

// page
@page-item-color: #666;
@page-item-hover-border-color: @primaryActiveColor;
@page-item-hover-color: @primaryActiveColor;

@page-item-width: 32px;
@page-small-item-width: 24px;
@page-item-margin: 4px;
@page-small-item-margin: 2px;
@page-item-prev-margin: 6px;
@page-small-item-prev-margin: 4px;

@page-select-width: 100px;
@page-select-margin-right: @gap;
@page-input-width: 40px;
@page-input-margin: 0 @gap;
@page-total-margin-right: @gap;

// alert

@alert-padding: 12px 48px 12px 16px;
@alert-font-color: #495060;

@alert-icon-font-color-info: #2d8cf0;
@alert-icon-font-color-success: #19be6b;
@alert-icon-font-color-warning: #f90;
@alert-icon-font-color-error: #ed3f14;

@alert-close-padding: 0 10px;
@alert-close-min-width: 24px;
@alert-close-height: 40px;
@alert-close-font-size: 22px;
@alert-close-font-color: #999;
@alert-close-font-hover-color: #444;

@alert-background-info: #eaf4fe;
@alert-border-color-info: #d5e8fc;
@alert-background-success: #e8f9f0;
@alert-border-color-success: #d1f2e1;
@alert-background-warning: #fff5e6;
@alert-border-color-warning: #ffebcc;
@alert-background-error: #fdece8;
@alert-border-color-error: #fbd9d0;

// spinner
@spinner-icon-font: 18px;
@spinner-small-icon-font: 22px;
@spinner-large-icon-font: 28px;

@spinner-height: 60px;
@spinner-width: 60px;
@spinner-item-height: 50px;
@spinner-item-width: 4px;
@spinner-item-border-radius: 2px;
@spinner-item-part-gap: 15;
@spinner-item-gap: 2px;
@spinner-text-font: 14px;


@spinner-small-height: 40px;
@spinner-small-width: 60px;
@spinner-small-item-height: 25px;
@spinner-small-item-width: 4px;
@spinner-small-item-border-radius: 2px;
@spinner-small-item-part-gap: 10;
@spinner-small-item-gap: 2px;
@spinner-small-text-font: 12px;

@spinner-large-height: 80px;
@spinner-large-width: 80px;
@spinner-large-item-height: 70px;
@spinner-large-item-width: 6px;
@spinner-large-item-border-radius: 4px;
@spinner-large-item-part-gap: 30;
@spinner-large-item-gap: 2px;
@spinner-large-text-font: 16px;

@spinner-item-color: @infoColor;
@spinner-item-part-color: @infoHoverColor;

// backtop

@backtop-background: rgba(0,0,0,.3);
@backtop-hover-background: rgba(0,0,0,.6);
@backtop-boxshadow: 0 1px 3px rgba(0,0,0,.2);
@backtop-radius: 2px;
@backtop-font-size: 24px;
@backtop-padding: 8px 12px;
@backtop-font-color: #fff;

// avatar
@avatar-small-width: 40px;
@avatar-width: 50px;
@avatar-large-width: 60px;
@avatar-border-radius: 7px;

@avatar-background: #ccc;
@avatar-icon-font-size: 26px;
@avatar-font-size: 14px;

// z-index
@zindex-spinner            : 8;
@zindex-backtop        : 10;
@zindex-affix           : 10;
@zindex-select          : 900;
@zindex-modal           : 1000;
@zindex-message         : 1010;
@zindex-notification    : 1010;
@zindex-tooltip         : 1060;
@zindex-transfer        : 1060;
@zindex-loading-bar     : 2000;
@zindex-spinner-fullscreen : 2010;

// gap
@gap            : 10px;
@gap-normal           : 6px;
@gap-back-top        : 10;
@gap-select          : 900;
@gap-modal           : 1000;
@gap-message         : 1010;
@gap-notification    : 1010;
@gap-tooltip         : 1060;
@gap-transfer        : 1060;
@gap-loading-bar     : 2000;
@gap-spinner-fullscreen : 2010;

