.ball-button {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  line-height: 1.5;
  padding: 6px 15px;
  margin-bottom: 0;
  font-size: 12px;
  border: 1px solid transparent;
  cursor: pointer;
  background-image: none;
  vertical-align: middle;
  touch-action: manipulation;
  white-space: nowrap;
  user-select: none;
  border-radius: 4px;
  transition: color 0.2s linear, background-color 0.2s linear, border 0.2s linear;
  color: #495060;
  background-color: #f7f7f7;
  border-color: #dddee1;
}
.ball-button:hover {
  color: #57a3f3;
  background-color: #fff;
  border-color: #57a3f3;
}
.ball-button.ball-ghost {
  color: #495060;
  background-color: transparent;
  border-color: #dddee1;
}
.ball-button.ball-ghost:hover {
  color: #57a3f3;
  background-color: #fff;
  border-color: #57a3f3;
}
.ball-button.ball-dashed {
  color: #495060;
  background-color: transparent;
  border: 1px dashed #dddee1;
}
.ball-button.ball-dashed:hover {
  color: #57a3f3;
  background-color: #fff;
  border: 1px dashed #57a3f3;
}
.ball-button.ball-text {
  color: #495060;
  background-color: transparent;
  border-color: transparent;
}
.ball-button.ball-text:hover {
  color: #57a3f3;
  border-color: transparent;
}
.ball-button.ball-info {
  color: #fff;
  background-color: #57a3f3;
  border-color: #57a3f3;
}
.ball-button.ball-info:hover {
  color: #fff;
  background-color: #57c5f7;
  border-color: #57c5f7;
}
.ball-button.ball-success {
  color: #fff;
  background-color: #19be6b;
  border-color: #19be6b;
}
.ball-button.ball-success:hover {
  color: #fff;
  background-color: #47cb89;
  border-color: #47cb89;
}
.ball-button.ball-warning {
  color: #fff;
  background-color: #f90;
  border-color: #f90;
}
.ball-button.ball-warning:hover {
  color: #fff;
  background-color: #ffad33;
  border-color: #ffad33;
}
.ball-button.ball-error {
  color: #fff;
  background-color: #ed3f14;
  border-color: #ed3f14;
}
.ball-button.ball-error:hover {
  color: #fff;
  background-color: #f16543;
  border-color: #f16543;
}
.ball-button.ball-primary {
  color: #fff;
  background-color: #2d8cf0;
  border-color: #2d8cf0;
}
.ball-button.ball-primary:hover {
  color: #fff;
  background-color: #57a3f3;
  border-color: #57a3f3;
}
.ball-button.ball-circle {
  border-radius: 32px;
}
.ball-button .ball-icon {
  margin: 0 4px;
}
.ball-button.ball-large {
  padding: 6px 15px 7px;
  font-size: 14px;
}
.ball-button.ball-large.ball-circle {
  border-radius: 36px;
}
.ball-button.ball-small {
  padding: 2px 7px;
  font-size: 12px;
  border-radius: 3px;
}
.ball-button.ball-small.ball-circle {
  border-radius: 36px;
}
.ball-button.ball-long {
  width: 100%;
}
.ball-button.ball-disabled,
.ball-button.ball-disabled:hover {
  cursor: not-allowed;
  color: #bbbec4;
  background-color: #f7f7f7;
  border-color: #dddee1;
}
.ball-input-wrapper {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  width: 180px;
}
.ball-input-wrapper .ball-input-icon {
  width: 32px;
  height: 32px;
  line-height: 32px;
  font-size: 16px;
  text-align: center;
  color: #80848f;
  position: absolute;
  right: 0;
  z-index: 3;
}
.ball-input-wrapper .ball-input-label {
  padding: 0 10px;
  line-height: 32px;
  text-align: center;
  color: #80848f;
  position: absolute;
  right: 0;
  z-index: 3;
  cursor: pointer;
  user-select: none;
  border-left: 1px solid #dddee1;
}
.ball-input-wrapper .ball-input-label:hover {
  color: #57a3f3;
}
.ball-input-wrapper .ball-textarea,
.ball-input-wrapper .ball-input {
  display: inline-block;
  width: 100%;
  height: 32px;
  line-height: 1.5;
  padding: 4px 7px;
  font-size: 12px;
  border: 1px solid #dddee1;
  border-radius: 4px;
  color: #495060;
  outline: none;
  background-color: #fff;
  background-image: none;
  position: relative;
  cursor: text;
  transition: border 0.2s ease-in-out, background 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
.ball-input-wrapper .ball-textarea:hover,
.ball-input-wrapper .ball-input:hover {
  border-color: #57a3f3;
}
.ball-input-wrapper .ball-textarea:focus,
.ball-input-wrapper .ball-input:focus {
  box-shadow: 0 0 0 2px rgba(45, 140, 240, 0.2);
}
.ball-input-wrapper .ball-input-large {
  font-size: 14px;
  padding: 6px 7px;
  height: 36px;
}
.ball-input-wrapper .ball-input-small {
  padding: 1px 7px;
  height: 24px;
  border-radius: 3px;
}
.ball-input-wrapper .ball-textarea {
  font-size: 14px;
  width: 250px;
}
.ball-input-wrapper .ball-input[disabled],
.ball-input-wrapper .ball-textarea[disabled] {
  background-color: #f8f8f9;
  opacity: 1;
  cursor: not-allowed;
  color: #dddee1;
}
.ball-input-wrapper .ball-input[disabled]:hover,
.ball-input-wrapper .ball-textarea[disabled]:hover {
  border-color: #dddee1;
}
body {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}
