<div class="${prefix}layout-sider
{{#if collapsed}} ${prefix}layout-sider-collapsed{{/if}}
{{#if showTrigger}} ${prefix}layout-sider-with-trigger{{/if}}
{{#if className}} {{className}}{{/if}}"

{{#if customWidth || style}}
  style="{{[
    customWidth
      ? {
          flex: '0 0 ' + customWidth + 'px',
          width: customWidth + 'px',
          minWidth: customWidth + 'px',
          maxWidth: customWidth + 'px',
        }
      : undefined,
    style
  ]}}"
{{/if}}
>

  {{#if hasSlot('logo')}}
    <div class="${prefix}layout-sider-logo">
      <slot name="logo" />
    </div>
  {{/if}}

  <slot />

  {{#if showTrigger}}

    <div
      class="${prefix}layout-sider-trigger"
      on-click="toggle('collapsed')"
      {{#if customWidth}}
        style="{{ { width: customWidth + 'px' } }}"
      {{/if}}
    >
      <Icon
        name="arrow-left-s-line"
        className="${prefix}layout-sider-trigger-icon"
      />
    </div>

  {{/if}}

</div>