<div class="${prefix}layout-sider
{{#if collapsed}} ${prefix}layout-sider-collapsed{{/if}}
{{#if showTrigger}} ${prefix}layout-sider-with-trigger{{/if}}
{{#if className}} {{className}}{{/if}}"

{{#if inlineStyle}}
  style="{{inlineStyle}}"
{{/if}}
>

  {{#if @logo}}
    <div class="${prefix}layout-sider-logo">
      <slot name="logo" />
    </div>
  {{/if}}

  <slot />

  {{#if showTrigger}}

    <div
      class="${prefix}layout-sider-trigger"
      on-click="toggle('collapsed')"
      {{#if triggerStyle}}
        style="{{triggerStyle}}"
      {{/if}}
    >
      <Icon
        name="arrow-left-s-line"
        className="${prefix}layout-sider-trigger-icon"
      />
    </div>

  {{/if}}

</div>