<div class="${prefix}layout-header
{{#if className}} {{className}}{{/if}}"

{{#if style}}
  style="{{style}}"
{{/if}}
>

  {{#if @extra}}
    <div class="${prefix}layout-header-extra">
      <slot name="extra" />
    </div>
  {{/if}}

  <slot />

</div>