<div class="${prefix}layout-header
{{#if className}} {{className}}{{/if}}"

{{#if style}}
  style="{{style}}"
{{/if}}
>

  <div class="${prefix}layout-header-content">
    <slot />
  </div>

  {{#if @extra}}
    <div class="${prefix}layout-header-extra">
      <slot name="extra" />
    </div>
  {{/if}}

</div>