<div class="bell-datepicker
  {{#if className}} {{className}}{{/if}}
"{{#if style}} style="{{style}}"{{/if}}>

  <div class="bell-datepicker-el" on-click="click()">
    <Input placeholder="请选择日期..."
      model="formateDate"
      type="input"
      on-focus="focus()"
      clearable
    />
  </div>

  <div class="bell-datepicker-poper
    {{#if isPopuping}} bell-isPopuping{{/if}}
    {{#if isPopdowning}} bell-isPopdowning{{/if}}
    {{#if isOpen}} bell-show{{/if}}
  ">
    {{#if mode == 'date'}}
      <Date />
    {{else if mode == 'dateRange'}}
      <DateRange />
    {{else if mode == 'week'}}
      <DateWeek />
    {{else if mode == 'year'}}
      <DateYear />
    {{else if mode == 'month'}}
      <DateMonth />
    {{/if}}
  </div>
</div>