<div class="${prefix}datepicker-month
  {{#if className}} {{className}}{{/if}}
"{{#if style}} {{style}}{{/if}}>

  <div class="${prefix}datepicker-header">
    <span class="${prefix}datepicker-header-button" on-click="this.decrease('modeYear', 10)">
      <Icon name="arrow-back" />
      <Icon name="arrow-back" />
    </span>

    <span class="${prefix}datepicker-header-button" on-click="this.decrease('modeYear', 1)">
      <Icon name="arrow-back" />
    </span>

    <span class="${prefix}text-medium">
      {{modeYear}} 年
    </span>

    <span class="${prefix}datepicker-header-button" on-click="this.increase('modeYear', 1)">
      <Icon name="arrow-forward" />
    </span>

    <span class="${prefix}datepicker-header-button" on-click="this.increase('modeYear', 10)">
      <Icon name="arrow-forward" />
      <Icon name="arrow-forward" />
    </span>
  </div>

  <div class="${prefix}datepicker-body">
    {{#each months:index}}
      <span
        class="${prefix}datepicker-col
        {{#if checkedMonth == index && checkedYear == modeYear}} ${prefix}datepicker-col-checked{{/if}}"
        on-click="click(index)"
      >
        {{this}}
      </span>
    {{/each}}
  </div>

</div>