<div class="${prefix}datepicker-week
  {{#if className}} {{className}}{{/if}}
"{{#if style}} {{style}}{{/if}}>

  <div class="${prefix}datepicker-header">
    <span class="${prefix}datepicker-header-button" on-click="prevYear()">
      <i class="${prefix}icon ${prefix}text-medium ${prefix}text-muted ${prefix}icon-ios-arrow-left"></i>
      <i class="${prefix}icon ${prefix}text-medium ${prefix}text-muted ${prefix}icon-ios-arrow-left"></i>
    </span>

    <span class="${prefix}datepicker-header-button" on-click="prevMonth()">
      <i class="${prefix}icon ${prefix}text-medium ${prefix}text-muted ${prefix}icon-ios-arrow-left"></i>
    </span>

    <span class="${prefix}text-medium">
      {{currentYear}} 年
    </span>
    <span class="${prefix}text-medium ${prefix}datepicker-header-month">
      {{currentMonth}} 月
    </span>

    <span class="${prefix}datepicker-header-button" on-click="nextMonth()">
      <i class="${prefix}icon ${prefix}text-medium ${prefix}text-muted ${prefix}icon-ios-arrow-right"></i>
    </span>

    <span class="${prefix}datepicker-header-button" on-click="nextYear()">
      <i class="${prefix}icon ${prefix}text-medium ${prefix}text-muted ${prefix}icon-ios-arrow-right"></i>
      <i class="${prefix}icon ${prefix}text-medium ${prefix}text-muted ${prefix}icon-ios-arrow-right"></i>
    </span>
  </div>

  <div class="${prefix}datepicker-table-week">
    <div class="${prefix}datepicker-weeks">
      {{#each weeks}}
        <span class="${prefix}datepicker-col ${prefix}text-sub">
          {{this}}
        </span>
      {{/each}}
    </div>
    <div class="${prefix}datepicker-body">
      {{#each dateList:index}}
        <div class="${prefix}datepicker-row
        {{#if checkedIndex == index}} ${prefix}datepicker-row-checked{{/if}}
        " on-click="click(this)">
          {{#each this:key}}
            <span
              class="${prefix}datepicker-col
              {{#if isCurrentMonth}} ${prefix}datepicker-col-current-month{{/if}}
              {{#if isPrevMonth}} ${prefix}datepicker-col-prev-month{{/if}}
              {{#if isLastMonth}} ${prefix}datepicker-col-last-month{{/if}}
              {{#if isCurrentDate}} ${prefix}datepicker-col-checked{{/if}}"
            >
              {{date}}
            </span>
          {{/each}}
        </div>
      {{/each}}
    </div>
  </div>

</div>