<div 
class="${prefix}datepicker
{{#if className}} {{className}}{{/if}}
"
{{#if style}} style="{{style}}"{{/if}}
>
  <div class="${prefix}datepicker-el">
    <Input placeholder="请选择日期..."
      model="formateDate"
      type="input"
      on-focus="focus()"
      clearable
    />
  </div>

  <div class="${prefix}datepicker-poper
    {{#if isPopuping}} ${prefix}isPopuping{{/if}}
    {{#if isPopdowning}} ${prefix}isPopdowning{{/if}}
    {{#if isOpen}} ${prefix}show{{/if}}
  ">
    {{#if type == 'date'}}
      <Date />
    {{else if type == 'dateRange'}}
      <DateRange />
    {{else if type == 'week'}}
      <DateWeek />
    {{else if type == 'year'}}
      <DateYear />
    {{else if type == 'month'}}
      <DateMonth />
    {{/if}}
  </div>
</div>