<label
class="${prefix}radio
{{#if isChecked}} ${prefix}active{{/if}}
{{#if isDisabled}} ${prefix}radio-disabled{{/if}}
{{#if className}} {{className}}{{/if}}"

{{#if style}}
  style="{{style}}"
{{/if}}
>

  <span
    class="${prefix}radio-wrapper"
    {{#if !isDisabled}}
      on-click="click()"
    {{/if}}
  >
    <span class="${prefix}radio-inner"></span>
    <input
      class="${prefix}radio-input"
      type="radio"
      value="{{value}}"
    >
  </span>

  <span class="${prefix}radio-label">
    <slot name="children">
      {{label}}
    </slot>
  </span>

</label>