<div
class="${prefix}card-header
{{#if className}} {{className}}{{/if}}"

{{#if style}}
  style="{{style}}"
{{/if}}
>

  <div class="${prefix}card-header-wrapper">

    <slot name="avatar" />

    <div class="${prefix}card-header-info">
      <div class="${prefix}card-header-title">
        <slot name="title" />
      </div>

      {{#if hasSlot('subTitle')}}
        <div class="${prefix}card-header-sub-title">
          <slot name="subTitle" />
        </div>
      {{/if}}
    </div>

  </div>

  {{#if hasSlot('extra')}}
    <div class="${prefix}card-header-extra">
      <slot name="extra" />
    </div>
  {{/if}}

</div>