<div
class="${prefix}card-media
{{#if className}} {{className}}{{/if}}"

{{#if style}}
  style="{{style}}"
{{/if}}
>

  <slot />

  {{#if hasSlot('title') || hasSlot('subTitle')}}
    <div class="${prefix}card-media-detail">

      {{#if hasSlot('title')}}
        <div class="${prefix}card-media-title">
          <slot name="title" />
        </div>
      {{/if}}

      {{#if hasSlot('subTitle')}}
        <div class="${prefix}card-media-sub-title">
          <slot name="subTitle" />
        </div>
      {{/if}}

    </div>
  {{/if}}

</div>