<div
class="${prefix}card ${prefix}card-shadow-{{shadow}}

{{#if simple}} ${prefix}card-simple
{{else}} ${prefix}card-bordered
{{/if}}

{{#if className}} {{className}}{{/if}}"

{{#if width || style}}
  style="{{[
    width
      ? { width: width + 'px' }
      : undefined,
    style
  ]}}"
{{/if}}
>
  <slot />
</div>