<div
class="${prefix}card ${prefix}card-shadow-{{shadow}}

{{#if simple}} ${prefix}card-simple
{{else}} ${prefix}card-bordered
{{/if}}

{{#if className}} {{className}}{{/if}}"

{{#if inlineStyle}}
  style="{{inlineStyle}}"
{{/if}}
>
  <slot />
</div>