@import '../../../env'

{$selector-class-prefix + '-circle'}
  display inline-block
  position relative

{$selector-class-prefix + '-circle-content'}
  width 100%
  position absolute
  left 50%
  top 50%
  text-align center
  transform translate(-50%,-50%)
  line-height $ui-multiple-line-height