@import '../../../env'

{$selector-class-prefix + '-space'}
  display inline-flex

  > {$selector-class-prefix + '-button'}
    margin-left 0

{$selector-class-prefix + '-space-horizontal'}
  gap $ui-horizontal-gap

{$selector-class-prefix + '-space-vertical'}
  flex-direction column
  gap $ui-vertical-gap

  > {$selector-class-prefix + '-button-block'},
  > {$selector-class-prefix + '-select-block'}
    margin-top 0

{$selector-class-prefix + '-space-align-center'}
  align-items center

{$selector-class-prefix + '-space-align-start'}
  align-items flex-start

{$selector-class-prefix + '-space-align-end'}
  align-items flex-end

{$selector-class-prefix + '-space-auto-wrap'}
  flex-wrap wrap
  gap $ui-vertical-gap $ui-horizontal-gap

{$selector-class-prefix + '-space-block'}
  display flex
