<div
class="${prefix}dropdown
{{#if isOpen}} ${prefix}dropdown-open{{/if}}
{{#if disabled}} ${prefix}dropdown-disabled{{/if}}
{{#if className}} {{className}}{{/if}}"

data-placement="{{placement}}"

{{#if style}}
  style="{{style}}"
{{/if}}

{{#if trigger === RAW_HOVER}}
  on-mouseenter="set('isOpen', TRUE)"
{{/if}}

{{#if trigger !== RAW_CUSTOM}}
  on-mouseleave="set('isOpen', FALSE)"
  lazy-mouseleave="300"
{{/if}}
>

  <div
    class="${prefix}dropdown-trigger"
    {{#if trigger === RAW_CLICK}}
      on-click="toggle('isOpen')"
    {{/if}}
  >
    <slot name="children" />
  </div>

  <div
    class="${prefix}dropdown-list"
    {{#if isOpen && height > 0}}
      style="max-height: {{height}}px;"
    {{/if}}
  >
    <slot name="list" />
  </div>

</div>