<div
class="${prefix}collapse-item
{{#if opened}} ${prefix}collapse-open{{/if}}
{{#if disabled}} ${prefix}collapse-disabled
{{else}} ${prefix}collapse-enabled
{{/if}}
{{#if className}} {{className}}{{/if}}"

{{#if style}}
  style="{{style}}"
{{/if}}
>

  <div
    class="${prefix}collapse-header"
    {{#if !disabled}}
      on-click="click()"
    {{/if}}
  >

    {{#if hasSlot('extra')}}
      <div class="${prefix}collapse-extra">
        <slot name="extra" />
      </div>
    {{/if}}

    <span class="${prefix}collapse-icon">
      <Icon
        name="arrow-down"
        size="0"
        className="${prefix}collapse-arrow-icon"
      />
    </span>

    {{title}}

  </div>

  <div class="${prefix}collapse-content">
    <slot name="children" />
  </div>

</div>