<div
class="${prefix}collapse-panel
{{#if opened}} ${prefix}collapse-open{{/if}}
{{#if className}} {{className}}{{/if}}"

{{#if style}}
  style="{{style}}"
{{/if}}
>

  <div class="${prefix}collapse-header" on-click="handleClick()">

    {{#if hasSlot('extra')}}
      <div class="${prefix}collapse-extra">
        <slot name="extra"></slot>
      </div>
    {{/if}}

    <slot name="icon">
      <Icon
        name="arrow-down"
        className="${prefix}collapse-icon"
      />
    </slot>

    {{title}}

  </div>

  <div ref="content" class="${prefix}collapse-content">
    <div class="${prefix}collapse-wrapper">
      <slot name="children" />
    </div>
  </div>

</div>