$guide-gap = 12px
$guide-padding-horizontal = 16px
$guide-title-font-size = 18px
$guide-body-line-height = 20px

{$selector-class-prefix + '-guide'}
  padding $layout-padding-vertical $guide-padding-horizontal

{$selector-class-prefix + '-guide-header'},
{$selector-class-prefix + '-guide-footer'}
  display flex
  justify-content space-between
  align-items center

{$selector-class-prefix + '-guide-title'}
  flex 1
  color $brand-title
  font-size $guide-title-font-size
  line-height $height-small
  font-weight $font-weight-bold

{$selector-class-prefix + '-guide-body'}
  color $brand-muted
  font-size $font-size-default
  line-height $guide-body-line-height
  margin-top $guide-gap

{$selector-class-prefix + '-guide-footer'}
  margin-top $guide-gap