@import '../../../css/brand'
@import '../../../css/size'
@import '../../../css/selector'
@import '../../../css/mixin'

$table-header-cell-padding-vertical = 12px
$table-header-cell-padding-horizontal = 18px
$table-body-cell-padding-vertical = 13px
$table-body-cell-padding-horizontal = 18px
$table-empty-padding-vertical = 100px
$table-row-highlight = #ebf7ff

{$selector-class-prefix + '-table'}
  width 100%
  box-sizing border-box
  background-color $brand-bg
  // 让 Spin 组件可以 fixed 在表格内部
  position relative

  color $brand-content
  font-size $font-size-default
  line-height $ui-multiple-line-height

  > table
    ui-table()

{$selector-class-prefix + '-table-stripe'}
  tbody
    > tr:nth-child(2n)
      background-color $brand-bg-light

      &:hover
        background-color $table-row-highlight


{$selector-class-prefix + '-table-bordered'}
  border 1px solid $brand-border

  td + td
    border-left 1px solid $brand-divider

{$selector-class-prefix + '-table-header'}
  border-bottom 1px solid $brand-divider

  td
    color $brand-title
    font-size $font-size-default
    line-height $ui-multiple-line-height
    font-weight $font-weight-bold
    white-space nowrap
    overflow hidden
    background-color $brand-bg-light
    padding $table-header-cell-padding-vertical $table-header-cell-padding-horizontal

{$selector-class-prefix + '-table-body'}

  tr:hover
    background-color $table-row-highlight

  tr + tr
    border-top 1px solid $brand-divider

  td
    text-overflow ellipsis
    vertical-align middle
    padding $table-body-cell-padding-vertical $table-body-cell-padding-horizontal

{$selector-class-prefix + '-table-empty'}
  padding $table-empty-padding-vertical 0

{$selector-class-prefix + '-table-sorter'}
  display inline-block
  position relative
  width 16px
  height 16px
  vertical-align middle
  margin-left $ui-icon-text-gap
  user-select none
  ui-clickable()

{$selector-class-prefix + '-table-sort-asc'},
{$selector-class-prefix + '-table-sort-desc'}
  position absolute
  left 0
  color $brand-disabled
  font-size 16px

{$selector-class-prefix + '-table-sort-asc'}
  top -3px

{$selector-class-prefix + '-table-sort-desc'}
  bottom -2px

{$selector-class-prefix + '-table-sort-active'}
  color $brand-title

{$selector-class-prefix + '-table-left'}
  text-align left

{$selector-class-prefix + '-table-center'}
  text-align center

{$selector-class-prefix + '-table-right'}
  text-align right