<div
class="${prefix}badge{{#if status}}-status{{/if}}
{{#if status || type}} ${prefix}badge-{{status || type}}{{/if}}
{{#if className}} {{className}}{{/if}}"

{{#if style}} style="{{style}}"{{/if}}
>

  <slot name="children" />

  {{#if !hidden}}

    {{#if dot}}
      <span class="${prefix}badge-dot"></span>
    {{/if}}

    {{#if status || text || isNumber(count)}}
      <span class="${prefix}badge-count
        {{#if !hasSlot('children')}} ${prefix}badge-count-alone{{/if}}"
      >
        {{(status || text) ? text : formatText(count, maxCount)}}
      </span>
    {{/if}}

  {{/if}}

</div>