$message-padding-vertical = 8px
$message-padding-horizontal = 16px

$message-close-size = floor($font-size-default * $ui-multiple-line-height)

$message-icon-gap = 8px
$message-icon-top = 2px

message-brand-style(style)
  > {$selector-class-prefix + '-message-icon'}
    ui-set('color', style['color'])

{$selector-class-prefix + '-message'}
  position fixed
  top 0
  left 50%
  opacity 0
  margin-top -20px
  display none
  z-index $zindex-message
  transform translateX(-50%)

  white-space nowrap
  background-color $brand-bg
  padding $message-padding-vertical $message-padding-horizontal $message-padding-vertical $message-padding-horizontal + $message-status-icon-size-default + $message-icon-gap
  line-height $ui-multiple-line-height
  border-radius $border-radius-default
  box-shadow $brand-message-shadow
  transition opacity .15s, top .2s, margin-top .2s

  ui-connect(
    hash: $status-brand-hash,
    each: message-brand-style
  )

{$selector-class-prefix + '-message-visible'}
  display block

{$selector-class-prefix + '-message-fade'}
  opacity 1
  margin-top 0

{$selector-class-prefix + '-message-with-close'}
  > {$selector-class-prefix + '-message-content'}
    margin-right $message-close-size + $ui-icon-text-gap

{$selector-class-prefix + '-message-icon'}
  position absolute
  left $message-padding-horizontal
  top $message-padding-vertical + $message-icon-top
  font-size $message-status-icon-size-default

{$selector-class-prefix + '-message-content'}
  color $brand-content
  font-size $font-size-default

{$selector-class-prefix + '-message-close'}
  position absolute
  right $message-padding-horizontal
  top $message-padding-vertical

  color $brand-close-color
  font-size $font-size-small
  height $message-close-size
  min-width $message-close-size

  display flex
  justify-content flex-end
  align-items center

  transition color $form-control-transition-duration
  user-select none
  ui-clickable()

  &:hover
    color $brand-close-color-hover

{$selector-class-prefix + '-message-close-icon'}
  font-size $message-close-icon-size