<div class="bell-msg-confirm-wrapper
{{#if isHidden}} bell-msg-confirm-hidden{{/if}}
">
  <div class="bell-msg-confirm"{{#if width}} style="width: {{width}}px;{{/if}}">
    {{#if closable}}
    <div class="bell-msg-confirm-close" on-click="hide()">
      <i class="bell-icon bell-icon-ios-close-empty"></i>
    </div>
    {{/if}}

    {{#if title}}
    <div class="bell-msg-confirm-title bell-text-main bell-text-medium">
      {{{title}}}
    </div>
    {{/if}}

    <div class="bell-msg-confirm-desc bell-text-sub bell-text-small">
      {{{content}}}
    </div>
    {{#if buttons}}
    <div class="bell-msg-confirm-footer">
      {{#each buttons:index}}
      <Button type="{{type}}" on-click="buttonClick(index)">
        {{text}}
      </Button>
      {{/each}}
    </div>
    {{/if}}
  </div>
  <div class="bell-msg-mask" on-click="maskClick()"></div>
</div>