<Dialog
  {{...dialog}}
  ref="dialog"
  className="${prefix}msg-confirm"
  on-close="closeDialog()"
>
  {{content}}
  <template slot="actions">
    {{#each buttons:index}}
      <Button
        type="{{this.type}}"
        on-click="buttonClick(index)"
      >
        {{this.text}}
      </Button>
    {{/each}}
  </template>
</Dialog>