<div class="bell-msg-alert-wrapper
{{#if isHidden}} bell-msg-alert-hidden{{/if}}
">
  <div class="bell-msg-alert"{{#if width}} style="width: {{width}}px;"{{/if}}>
    {{#if closable}}
    <div class="bell-msg-alert-close" on-click="hide()">
      <i class="bell-icon bell-icon-ios-close-empty"></i>
    </div>
    {{/if}}

    {{#if title}}
    <div class="bell-msg-alert-title bell-text-main bell-text-medium">
      {{{title}}}
    </div>
    {{/if}}

    <div class="bell-msg-alert-desc bell-text-sub bell-text-small">
      {{{content}}}
    </div>

    <div class="bell-msg-alert-footer">
      <Button type="{{button.type}}" on-click="hide()">
        {{button.text}}
      </Button>
    </div>
  </div>
  <div class="bell-msg-mask" on-click="maskClick()"></div>
</div>