<li
class="${prefix}select-option
{{#if isHover}} ${prefix}select-option-hover{{/if}}
{{#if isSelected}} ${prefix}select-option-active{{/if}}
{{#if className}} {{className}}{{/if}}"

{{#if style}}
  style="{{style}}"
{{/if}}

on-click="click.selectOption"
>
  <slot name="children">
    {{text}}
  </slot>
</li>