<div
class="${prefix}dropdown-item
{{#if disabled}} ${prefix}dropdown-item-disabled
{{else}} ${prefix}dropdown-item-enabled
{{/if}}
{{#if isHover}} ${prefix}dropdown-item-hover{{/if}}
{{#if isSelected}} ${prefix}dropdown-item-active{{/if}}
{{#if className}} {{className}}{{/if}}"

{{#if style}}
  style="{{style}}"
{{/if}}

{{#if !disabled}}
  on-click="click.selectOption"
{{/if}}
>
  <slot name="children">
    {{text}}
  </slot>
</div>