<div
class="${prefix}select-option-group
{{#if className}} {{className}}{{/if}}"

{{#if style}}
  style="{{style}}"
{{/if}}
>
  <div class="${prefix}select-group-title">
    {{label}}
  </div>
  <slot name="children" />
</div>