<div class="bell-select
  {{#if size}} bell-select-{{size}}{{/if}}
  {{#if type}} bell-select-{{type}}{{/if}}
  {{#if visible}} bell-active{{/if}}
  {{#if disabled}} bell-select-disabled{{/if}}
  {{#if placement}} bell-select-{{placement}}{{/if}}
  {{#if multiple}} bell-select-multiple{{/if}}
  {{#if className}} {{className}}{{/if}}
"{{#if style}} style="{{style}}"{{/if}}>

  <div class="bell-select-button" on-click="toggleMenu()">

    <input type="hidden" model="value" />

    <span class="bell-select-value
      {{#if value == null}} bell-hide{{/if}}
    ">
      {{#if selectedText && !multiple}}
        {{selectedText}}
      {{else if selectedText}}
        {{#each selectedText:index}}
        <Tag size="tiny" closable on-close="tagClose($event, this, index)">
          {{this}}
        </Tag>
        {{/each}}
      {{else if defaultText}}
        {{{defaultText}}}
      {{else}}
        请选择...
      {{/if}}
    </span>

    <span class="bell-select-placeholder
      {{#if value != null}} bell-hide{{/if}}
    ">
      {{#if defaultText}}
        {{{defaultText}}}
      {{else}}
        请选择...
      {{/if}}
    </span>

    <span class="bell-icon bell-icon-arrow-down-b bell-select-arrow"></span>
  </div>

  <div class="${prefix}dropdown-list">
    <ul class="${prefix}dropdown-menu">
      {{#if hasSlot('children')}}
        <slot name="children" />
      {{/if}}
    </ul>
  </div>
</div>