@import '../../../env'

$input-prepend-append-font-size = 12px
$input-prepend-append-color = #666
$input-prepend-append-bg-color = #f5f7fa
$input-prepend-append-padding-horizontal = 10px

$input-size-hash = {
  default: {
    height: $height-default,
    font-size: $font-size-default,
    padding-vertical: $padding-vertical-default,
    padding-horizontal: $padding-horizontal-default,
  },
  small: {
    height: $height-small,
    font-size: $font-size-small,
    padding-vertical: $padding-vertical-small,
    padding-horizontal: $padding-horizontal-small,
  },
  large: {
    height: $height-large,
    font-size: $font-size-large,
    padding-vertical: $padding-vertical-large,
    padding-horizontal: $padding-horizontal-large,
  },
}

input-size-style(style)
  ui-set('font-size', style['font-size'])

  {$selector-class-prefix + '-input-prepend-wrapper'},
  {$selector-class-prefix + '-input-append-wrapper'},
  {$selector-class-prefix + '-input-el'}
    ui-set('height', style['height'])

  {$selector-class-prefix + '-input-prepend-wrapper'},
  {$selector-class-prefix + '-input-append-wrapper'}
    ui-set('min-width', style['height'])
    ui-set('line-height', style['height'] - 2)

  {$selector-class-prefix + '-input-el'}
    ui-set('font-size', style['font-size'])
    ui-set('line-height', style['height'])
    ui-set('padding', 0 style['padding-horizontal'])

  {$selector-class-prefix + '-input-prefix'}
    ui-set('left', style['padding-horizontal'])

  {$selector-class-prefix + '-input-suffix'}
    ui-set('right', style['padding-horizontal'])

  {$selector-class-prefix + '-input-el-with-prefix'}
    ui-set('padding-left', style['padding-horizontal'] + style['font-size'] + $ui-icon-text-gap)

  {$selector-class-prefix + '-input-el-with-suffix'}
    ui-set('padding-right', style['padding-horizontal'] + style['font-size'] + $ui-icon-text-gap)

  {$selector-class-prefix + '-input-prefix-icon-wrapper'},
  {$selector-class-prefix + '-input-suffix-icon-wrapper'}
    ui-set('margin-top', -0.5 * style['font-size'])

  {$selector-class-prefix + '-input-prefix-icon'},
  {$selector-class-prefix + '-input-suffix-icon'},
  {$selector-class-prefix + '-input-secure-icon'},
  {$selector-class-prefix + '-input-clear-icon'}
    ui-set('font-size', style['font-size'])

  {$selector-class-prefix + '-input-prefix-text-wrapper'},
  {$selector-class-prefix + '-input-suffix-text-wrapper'}
    ui-set('line-height', style['height'])

input-brand-style(style)
  {$selector-class-prefix + '-input-el'}
    ui-set('border-color', style['color'])

    &:hover
      ui-set('border-color', style['color'])

    &:focus
      ui-set('border-color', style['color'])
      if $ui-shadow-radius > 0
        box-shadow 0 0 0 $ui-shadow-radius style['shadow-color']

{$selector-class-prefix + '-input'}
  ui-table-faker(true)
  width $ui-form-element-width
  vertical-align middle
  box-sizing border-box

  + {$selector-class-prefix + '-input'}
    margin-left $ui-horizontal-gap

  + {$selector-class-prefix + '-input-block'}
    margin-left 0

  ui-connect(
    hash: $status-brand-hash,
    each: input-brand-style
  )
  ui-connect(
    hash: $input-size-hash,
    each: input-size-style
  )

{$selector-class-prefix + '-input-block'}
  // 这里不能 display block
  // 因为依赖 inline-table 布局
  width 100%

{$selector-class-prefix + '-input-el'}
  ui-input()

  appearance textfield

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button
    appearance none

{$selector-class-prefix + '-input-prefix'},
{$selector-class-prefix + '-input-suffix'}
  position absolute
  white-space nowrap
  user-select none

{$selector-class-prefix + '-input-prefix-icon-wrapper'},
{$selector-class-prefix + '-input-suffix-icon-wrapper'}
  color $brand-close-color
  top 50%
  line-height 0

{$selector-class-prefix + '-input-prefix-text-wrapper'},
{$selector-class-prefix + '-input-suffix-text-wrapper'}
  color $brand-muted
  font-size 85%
  top 0

{$selector-class-prefix + '-input-secure'},
{$selector-class-prefix + '-input-clear'}
  transition color .3s
  ui-clickable()

  &:hover
    color $brand-close-color-hover

{$selector-class-prefix + '-input-prepend'},
{$selector-class-prefix + '-input-append'}
  display table-cell
  vertical-align middle
  width 1px

{$selector-class-prefix + '-input-prepend-wrapper'},
{$selector-class-prefix + '-input-append-wrapper'}
  text-align center
  box-sizing border-box
  border 1px solid $brand-border
  font-size $input-prepend-append-font-size
  color $input-prepend-append-color
  background-color $input-prepend-append-bg-color
  padding 0 $input-prepend-append-padding-horizontal
  white-space nowrap
  user-select none

  {$selector-class-prefix + '-select'},
  {$selector-class-prefix + '-button-pure'}
    border 0
    box-shadow none
    background-color transparent

  {$selector-class-prefix + '-select-placeholder'},
  {$selector-class-prefix + '-select-value'},
  {$selector-class-prefix + '-button-pure'}
    color inherit
    font-size inherit

  {$selector-class-prefix + '-select'},
  {$selector-class-prefix + '-button'}
    margin-top -1px
    margin-bottom -1px
    vertical-align top

  {$selector-class-prefix + '-button'}
    height inherit
    line-height inherit
    position relative

  {$selector-class-prefix + '-button-pure'}:hover
    color $brand-content !important

{$selector-class-prefix + '-input-prepend-wrapper'}
  border-right none
  border-top-left-radius $border-radius-default
  border-bottom-left-radius $border-radius-default

  > {$selector-class-prefix + '-select'},
  > {$selector-class-prefix + '-button'}
    margin-left - $input-prepend-append-padding-horizontal - 1
    margin-right - $input-prepend-append-padding-horizontal - 1
    border-top-right-radius 0
    border-bottom-right-radius 0

  > {$selector-class-prefix + '-select'}:hover,
  > {$selector-class-prefix + '-select-opened'}
    z-index $zindex-normal

{$selector-class-prefix + '-input-append-wrapper'}
  border-left none
  border-top-right-radius $border-radius-default
  border-bottom-right-radius $border-radius-default

  > {$selector-class-prefix + '-select'},
  > {$selector-class-prefix + '-button'}
    margin-left - $input-prepend-append-padding-horizontal - 1
    margin-right - $input-prepend-append-padding-horizontal - 1
    border-top-left-radius 0
    border-bottom-left-radius 0

{$selector-class-prefix + '-input-content'}
  position relative
  box-sizing border-box

{$selector-class-prefix + '-input-clear'}
  display none

{$selector-class-prefix + '-input-no-value'}
  {$selector-class-prefix + '-input-clear'}
    display none

{$selector-class-prefix + '-input-has-value'}
  {$selector-class-prefix + '-input-el'}:focus + {$selector-class-prefix + '-input-clear'},
  &:hover {$selector-class-prefix + '-input-clear'}
    display block

{$selector-class-prefix + '-input-el-with-prepend'}
  border-top-left-radius 0
  border-bottom-left-radius 0

{$selector-class-prefix + '-input-el-with-append'}
  border-top-right-radius 0
  border-bottom-right-radius 0

{$selector-class-prefix + '-input-with-append'}
  > {$selector-class-prefix + '-input-content'}:hover
  &{$selector-class-prefix + '-input-focused'} > {$selector-class-prefix + '-input-content'}
    z-index $zindex-normal

{$selector-class-prefix + '-input-disabled'}
  ui-input-disabled($selector-class-prefix + '-input-el')

