@import '../../../env'

$input-prepend-append-font-size = 12px
$input-prepend-append-color = #666
$input-prepend-append-bg-color = #f5f7fa
$input-prepend-append-padding-horizontal = 10px

$input-size-hash = {
  default: {
    height: $height-default,
    font-size: $font-size-default,
    padding-vertical: $padding-vertical-default,
    padding-horizontal: $padding-horizontal-default,
  },
  small: {
    height: $height-small,
    font-size: $font-size-small,
    padding-vertical: $padding-vertical-small,
    padding-horizontal: $padding-horizontal-small,
  },
  large: {
    height: $height-large,
    font-size: $font-size-large,
    padding-vertical: $padding-vertical-large,
    padding-horizontal: $padding-horizontal-large,
  },
}

input-size-style(style)
  ui-set('font-size', style['font-size'])

  {$selector-class-prefix + '-input-prepend'},
  {$selector-class-prefix + '-input-append'},
  {$selector-class-prefix + '-input-content'}
    ui-set('height', style['height'])

  {$selector-class-prefix + '-input-el'}
    ui-set('font-size', style['font-size'])
    ui-set('padding', 0 style['padding-horizontal'])

  {$selector-class-prefix + '-input-prefix'}
    ui-set('margin-left', style['padding-horizontal'])

  {$selector-class-prefix + '-input-suffix'}
    ui-set('margin-right', style['padding-horizontal'])

  {$selector-class-prefix + '-input-content-icon'}
    ui-set('font-size', style['font-size'])

input-brand-style(style)
  > {$selector-class-prefix + '-input-content'}
    ui-set('border-color', style['color'])

    &:hover
      ui-input-hover(style['color'])

  &{$selector-class-prefix + '-input-focused'}
    > {$selector-class-prefix + '-input-content'}
      ui-focus(style['color'], style['shadow-color'])


{$selector-class-prefix + '-input'}
  display inline-flex
  flex-direction row
  align-items center

  width $ui-form-element-width
  box-sizing border-box

  ui-connect(
    hash: $status-brand-hash,
    each: input-brand-style
  )
  ui-connect(
    hash: $input-size-hash,
    each: input-size-style
  )

{$selector-class-prefix + '-input-block'}
  ui-flex-block()

{$selector-class-prefix + '-input-el'}
  ui-input-el()
  border 0
  height 100%

  appearance textfield

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button
    appearance none

{$selector-class-prefix + '-input-prefix'},
{$selector-class-prefix + '-input-suffix'}
  white-space nowrap
  user-select none

{$selector-class-prefix + '-input-prefix-icon-wrapper'},
{$selector-class-prefix + '-input-suffix-icon-wrapper'}
  color $brand-close-color

{$selector-class-prefix + '-input-prefix-text-wrapper'},
{$selector-class-prefix + '-input-suffix-text-wrapper'}
  color $brand-muted
  font-size 85%

{$selector-class-prefix + '-input-secure'},
{$selector-class-prefix + '-input-clear'}
  transition color $form-control-transition-duration
  user-select none
  ui-clickable()

  &:hover
    color $brand-close-color-hover

{$selector-class-prefix + '-input-prepend'},
{$selector-class-prefix + '-input-append'}
  display flex
  align-items center
  text-align center
  box-sizing border-box
  border 1px solid $brand-border
  font-size $input-prepend-append-font-size
  color $input-prepend-append-color
  background-color $input-prepend-append-bg-color
  padding 0 $input-prepend-append-padding-horizontal
  white-space nowrap
  user-select none

  {$selector-class-prefix + '-select'},
  {$selector-class-prefix + '-button'}
    border 0

  {$selector-class-prefix + '-select'},
  {$selector-class-prefix + '-button-pure'}
    box-shadow none
    background-color transparent

  {$selector-class-prefix + '-select-placeholder'},
  {$selector-class-prefix + '-select-value'},
  {$selector-class-prefix + '-button-pure'}
    color inherit
    font-size inherit

{$selector-class-prefix + '-input-prepend'}
  border-right none
  border-top-left-radius $border-radius-default
  border-bottom-left-radius $border-radius-default

  > {$selector-class-prefix + '-select'},
  > {$selector-class-prefix + '-button'}
    margin-left - $input-prepend-append-padding-horizontal - 1
    margin-right - $input-prepend-append-padding-horizontal - 1
    border-top-right-radius 0
    border-bottom-right-radius 0

  > {$selector-class-prefix + '-select'}:hover,
  > {$selector-class-prefix + '-select-opened'}
    z-index $zindex-normal

{$selector-class-prefix + '-input-append'}
  border-left none
  border-top-right-radius $border-radius-default
  border-bottom-right-radius $border-radius-default

  > {$selector-class-prefix + '-select'},
  > {$selector-class-prefix + '-button'}
    margin-left - $input-prepend-append-padding-horizontal - 1
    margin-right - $input-prepend-append-padding-horizontal - 1
    border-top-left-radius 0
    border-bottom-left-radius 0

{$selector-class-prefix + '-input-content'}
  flex 1
  position relative
  transition border-color $form-control-transition-duration, box-shadow $form-control-transition-duration
  ui-input-faker()

{$selector-class-prefix + '-input-content-with-prefix'},
{$selector-class-prefix + '-input-content-with-suffix'}
  display flex
  flex-direction row
  align-items center

{$selector-class-prefix + '-input-clear'}
  display none

{$selector-class-prefix + '-input-no-value'}
  {$selector-class-prefix + '-input-clear'}
    display none

{$selector-class-prefix + '-input-has-value'}
  &{$selector-class-prefix + '-input-focused'} {$selector-class-prefix + '-input-clear'},
  &:hover {$selector-class-prefix + '-input-clear'}
    display block

{$selector-class-prefix + '-input-with-prepend'}
  > {$selector-class-prefix + '-input-content'}
    border-top-left-radius 0
    border-bottom-left-radius 0

{$selector-class-prefix + '-input-with-append'}
  > {$selector-class-prefix + '-input-content'}
    border-top-right-radius 0
    border-bottom-right-radius 0

  > {$selector-class-prefix + '-input-content'}:hover
  &{$selector-class-prefix + '-input-focused'} > {$selector-class-prefix + '-input-content'}
    z-index $zindex-normal

{$selector-class-prefix + '-input-align-left'}
  {$selector-class-prefix + '-input-el'}
    text-align left

{$selector-class-prefix + '-input-align-center'}
  {$selector-class-prefix + '-input-el'}
    text-align center

{$selector-class-prefix + '-input-align-right'}
  {$selector-class-prefix + '-input-el'}
    text-align right

{$selector-class-prefix + '-input-focused'}
  > {$selector-class-prefix + '-input-content'}
    ui-focus($brand-primary, $brand-primary-shadow)

{$selector-class-prefix + '-input-disabled'}
  ui-input-disabled($selector-class-prefix + '-input-content')

  {$selector-class-prefix + '-input-el'}
    color $brand-disabled
    ui-disabled()

