<div class="${prefix}layout-sider
{{#if collapsed}} ${prefix}layout-sider-collapsed{{/if}}
{{#if className}} {{className}}{{/if}}"

{{#if style}}
  style="{{style}}"
{{/if}}
>
  <div class="${prefix}layout-sider-children">
    <slot name="children" />
  </div>

  {{#if collapsed != null}}
    <div
      class="${prefix}layout-sider-trigger"
      on-click="toggle('collapsed')"
    >
      <Icon
        name="arrow-back"
        className="${prefix}layout-sider-trigger-icon"
      />
    </div>
  {{/if}}

</div>