<div class="${prefix}layout-sider ${prefix}col-6
  {{#if className}} {{className}}{{/if}}
  {{#if isCollapsed}} ${prefix}layout-sider-collapsed{{/if}}
" {{#if style}}style="{{style}}"{{/if}}
>
  <div class="${prefix}layout-sider-children">
    <slot name="children" />
  </div>
  {{#if isCollapsed != null}}
    <div class="${prefix}layout-sider-trigger" on-click="toggleCollapsed()">
      <slot name="trigger">
        <Icon type="arrow-back" className="${prefix}layout-sider-trigger-icon"></Icon>
      </slot>
    </div>
  {{/if}}

</div>