<div class="${prefix}menu-sub-menu
  {{#if className}} {{className}}{{/if}}
  {{#if isOpen}} ${prefix}active{{/if}}
"{{#if style}} style="{{style}}"{{/if}}>
  <div class="${prefix}menu-title" on-click="click(name)">
    <span class="${prefix}menu-title-text">
      {{#if hasSlot('title')}}
        <slot name="title" />
      {{/if}}
    </span>
    {{#if isCollapsed}}
      <i class="
        ${prefix}icon 
        ${prefix}menu-title-icon 
        ${prefix}icon-ios-arrow-down
        {{#if isOpen}} ${prefix}menu-open{{/if}}
      "></i>
    {{/if}}
  </div>
  {{#if isOpen && hasSlot('children')}}
    <div class="${prefix}menu-groups" transition="groups">
      <slot name="children" />
    </div>
  {{/if}}
</div>