<li class="${prefix}submenu 
  {{#if className}} {{className}}{{/if}}
  {{#if isOpen}} ${prefix}menu-open{{/if}}
  {{#if isActive}} ${prefix}menu-active{{/if}}
"{{#if style}} style="{{style}}"{{/if}}
  on-mouseenter="mouseenter()"
  on-mouseleave="mouseleave()"
  lazy-mouseleave="300"
> 
  <div class="${prefix}submenu-title" on-click="clickMenuItem()">
    <slot name="title" />
    <Icon className="${prefix}submenu-title-icon" type="arrow-down"></Icon>
  </div>

  {{#if mode != 'inline'}}
    <div class="${prefix}menu-dropdown">
      <slot name="children" />
    </div>
  {{else}}
    <Menu mode="{{mode}}" theme="{{theme}}">
      <slot name="children" />
    </Menu>
  {{/if}}
</li>