@import '../../../env'

// 不用 $ui-mutiple-line-height，方便计算出一个整数
$textarea-line-height = 1.5

$textarea-size-hash = {
  default: {
    height: $height-default,
    font-size: $font-size-default,
    padding-vertical: $padding-vertical-default,
    padding-horizontal: $padding-horizontal-default,
  },
  small: {
    height: $height-small,
    font-size: $font-size-small,
    padding-vertical: $padding-vertical-small,
    padding-horizontal: $padding-horizontal-small,
  },
  large: {
    height: $height-large,
    font-size: $font-size-large,
    padding-vertical: $padding-vertical-large,
    padding-horizontal: $padding-horizontal-large,
  },
}

textarea-size-style(style)
  ui-set('font-size', style['font-size'])

  > {$selector-class-prefix + '-textarea-el'}
    ui-set('font-size', style['font-size'])
    ui-set('padding', style['padding-vertical'] style['padding-horizontal'])

  > {$selector-class-prefix + '-textarea-el-with-word-count'}
    ui-set('padding-bottom', style['padding-vertical'] + style['font-size'] * $textarea-line-height)

  > {$selector-class-prefix + '-textarea-word-count'}
    ui-set('right', style['padding-horizontal'])
    ui-set('bottom', style['padding-vertical'])

textarea-brand-style(style)
  > {$selector-class-prefix + '-textarea-el'}
    ui-set('border-color', style['color'])

    &:focus
      ui-focus(style['shadow-color'], style['color'])

{$selector-class-prefix + '-textarea'}
  display inline-block
  box-sizing border-box
  width $ui-form-element-width
  position relative
  ui-connect(
    hash: $status-brand-hash,
    each: textarea-brand-style
  )
  ui-connect(
    hash: $textarea-size-hash,
    each: textarea-size-style
  )

{$selector-class-prefix + '-textarea-block'}
  ui-block()

{$selector-class-prefix + '-textarea-resize-horizontal'}
  {$selector-class-prefix + '-textarea-el'}
    resize horizontal

{$selector-class-prefix + '-textarea-resize-vertical'}
  {$selector-class-prefix + '-textarea-el'}
    resize vertical

{$selector-class-prefix + '-textarea-el'}
  resize none
  line-height $textarea-line-height
  ui-input()

{$selector-class-prefix + '-textarea-disabled'}
  ui-input-disabled($selector-class-prefix + '-textarea-el')

{$selector-class-prefix + '-textarea-word-count'}
  position absolute
  color $brand-muted
  font-size 85%
  line-height $textarea-line-height
  user-select none