<span
class="${prefix}text
{{#if type}} ${prefix}text-{{type}}{{/if}}
{{#if size}} ${prefix}text-{{size}}{{/if}}
{{#if bold}} ${prefix}text-bold{{/if}}
{{#if block}} ${prefix}text-block{{/if}}
{{#if className}} {{className}}{{/if}}"

{{#if style}}
  style="{{style}}"
{{/if}}
>
  <slot />
</span>