@import '../../../env'

$text-brand-hash = {
  white: $brand-white,
  primary: $brand-primary,
  success: $brand-success,
  error: $brand-error,
  info: $brand-info,
  warning: $brand-warning,
  title: $brand-title,
  content: $brand-content,
  muted: $brand-muted,
}

text-brand-style(color)
  ui-set('color', color)

{$selector-class-prefix + '-text'}
  font-size $font-size-default
  line-height $ui-multiple-line-height

  ui-connect(
    hash: $text-brand-hash,
    each: text-brand-style
  )

{$selector-class-prefix + '-text-small'}
  font-size $font-size-small

{$selector-class-prefix + '-text-bold'}
  font-weight $font-weight-bold

{$selector-class-prefix + '-text-block'}
  display block
