@import '../../../env'

$breadcrumb-separator-gap = 10px

{$selector-class-prefix + '-breadcrumb'}
  font-size $font-size-default
  line-height $ui-multiple-line-height

{$selector-class-prefix + '-breadcrumb-separator'}
  user-select none
  color $brand-border
  margin 0 $breadcrumb-separator-gap

{$selector-class-prefix + '-breadcrumb-link'}
  color $brand-content
  transition color $form-control-transition-duration
  user-select none
  ui-clickable()

  &:hover
    color $brand-link

{$selector-class-prefix + '-breadcrumb-text'}
  color $brand-content
  cursor text
  font-weight $font-weight-bold

{$selector-class-prefix + '-breadcrumb-item'}

  {$selector-class-prefix + '-icon'}
    margin-right $ui-icon-text-gap

  > a
    color $brand-content
    text-decoration none
