<label
class="${prefix}radio

{{#if disabled}} ${prefix}radio-disabled
{{else}} ${prefix}radio-enabled
{{/if}}

{{#if checked}} ${prefix}radio-checked{{/if}}
{{#if @children}} ${prefix}radio-with-label{{/if}}
{{#if className}} {{className}}{{/if}}"

{{#if style}}
  style="{{style}}"
{{/if}}

{{#if !disabled}}
  tabindex="0"
  on-click="onClick()"
  on-focus="set('isFocus', true)"
  on-blur="set('isFocus', false)"
{{/if}}
>
  <div class="${prefix}radio-icon"></div>
  <slot />
</label>