{{#if visible}}
  <portal>
    <div
      transition="backTop"
      class="${prefix}backtop
      {{#if legacy}} ${prefix}backtop-legacy{{/if}}
      {{#if className}} {{className}}{{/if}}"

      {{#if bottom || right || style}}
        style="{{[
          {
            bottom: bottom ? bottom + 'px' : undefined,
            right: right ? right + 'px' : undefined
          },
          style
        ]}}"
      {{/if}}

      on-click="click.backTop"
    >
      <Icon
        name="arrow-up-line"
      />
    </div>
  </portal>
{{/if}}