{{#if visible}}
  <portal>
    <div
      transition="backTop"
      class="${prefix}backtop
      {{#if legacy}} ${prefix}backtop-legacy{{/if}}
      {{#if className}} {{className}}{{/if}}"

      {{#if bottom || right || style}}
      style="
      {{#if bottom}}bottom: {{bottom}}px;{{/if}}
      {{#if right}}right: {{right}}px;{{/if}}
      {{#if style}}{{style}}{{/if}}"
      {{/if}}

      on-click="click.backTop"
    >
      <Icon
        size="0"
        name="arrow-up-line"
      />
    </div>
  </portal>
{{/if}}