{{#if visible}}
  <portal>
    <div
      transition="backTop"
      class="${prefix}backtop
      {{#if className}} {{className}}{{/if}}"

      {{#if inlineStyle}}
        style="{{inlineStyle}}"
      {{/if}}

      on-click="click.backTop"
    >
      <Icon
        name="arrow-up-line"
      />
    </div>
  </portal>
{{/if}}