<div
class="${prefix}checkbox-group
{{#if vertical}} ${prefix}checkbox-vertical
{{else}} ${prefix}checkbox-horizontal
{{/if}}
{{#if className}} {{className}}{{/if}}"

{{#if style}}
  style="{{style}}"
{{/if}}
>
  <slot />
</div>

