<label
class="${prefix}checkbox

{{#if disabled}} ${prefix}checkbox-disabled
{{else}} ${prefix}checkbox-enabled
{{/if}}

{{#if checked}} ${prefix}checkbox-active
{{else if indeterminate}} ${prefix}checkbox-indeterminate{{/if}}
{{#if @children}} ${prefix}checkbox-with-label{{/if}}
{{#if className}} {{className}}{{/if}}"

{{#if !disabled}}
  tabindex="0"
  on-click="onClick()"
{{/if}}

{{#if style}}
  style="{{style}}"
{{/if}}
>
  <div class="${prefix}checkbox-icon"></div>
  <slot />
</label>