@import '../../../env'

$tabs-indicator-height = 2px

$tabs-card-bg-color-active = $brand-white

$tabs-bar-size-hash = {
  default: {
    padding-horizontal: 20px,
    font-size: 14px,
    height: 40px
  },
  small: {
    padding-horizontal: 16px,
    font-size: 14px,
    height: 32px
  },
  large: {
    padding-horizontal: 24px,
    font-size: 16px,
    height: 48px
  }
}

size-size-style(style)
  {$selector-class-prefix + '-tabs-tab'}
    ui-set('font-size', style['font-size'])
    ui-set('height', style['height'])
    ui-set('line-height', style['height'])
    ui-set('padding', 0 style['padding-horizontal'])

  &{$selector-class-prefix + '-tabs-card'} {$selector-class-prefix + '-tabs-tab'}
    ui-set('line-height', style['height'] - 2)


{$selector-class-prefix + '-tabs'}
  display flex
  flex-direction column

  ui-connect(
    hash: $tabs-bar-size-hash,
    each: size-size-style
  )

{$selector-class-prefix + '-tabs-content'}
  flex 1

{$selector-class-prefix + '-tabs-bar'}
  border-bottom 1px solid $brand-border

  + {$selector-class-prefix + '-tabs-content'}
    margin-top $layout-padding-vertical

{$selector-class-prefix + '-tabs-nav'}
  margin-bottom -1px
  position relative
  overflow hidden
  white-space nowrap
  user-select none

{$selector-class-prefix + '-tabs-tab'}
  display inline-flex
  align-items center
  position relative
  box-sizing border-box
  vertical-align bottom

  if $tabs-indicator-height > 0
    &:after
      content ''
      position absolute
      bottom 0
      left 0
      right 0
      height 0
      background-color $brand-primary

{$selector-class-prefix + '-tabs-tab-icon'}
  margin-right $ui-icon-text-gap

{$selector-class-prefix + '-tabs-tab-close-icon'}
  color $brand-close-color
  margin-left $ui-icon-text-gap
  font-size $message-close-icon-size
  transition color $form-control-transition-duration
  ui-clickable()

  &:hover
    color $brand-close-color-hover

{$selector-class-prefix + '-tabs-tab-enabled'}
  border-color $brand-border
  color $brand-content
  ui-clickable()

  &:hover
    color $brand-primary

{$selector-class-prefix + '-tabs-tab-active'}
  color $brand-primary
  border-color $brand-primary

  &{$selector-class-prefix + '-tabs-tab-enabled'}
    cursor default

  if $tabs-indicator-height > 0
    &:after
      height $tabs-indicator-height

{$selector-class-prefix + '-tabs-tab-disabled'}
  color $brand-disabled
  ui-disabled()

  &:after
    background-color $brand-disabled

{$selector-class-prefix + '-tabs-panel'}
  display none
  height 100%

{$selector-class-prefix + '-tabs-panel-active'}
  display block

{$selector-class-prefix + '-tabs-card'}

  {$selector-class-prefix + '-tabs-tab'}
    border 1px solid $brand-border
    border-left-width 0
    transition all .2s cubic-bezier(.645,.045,.355,1)

    &:first-child
      border-left-width 1px

    &:after
      display none

    &{$selector-class-prefix + '-tabs-tab-enabled'}
      background-color $brand-bg-light

    &{$selector-class-prefix + '-tabs-tab-active'}
      border-bottom-color $tabs-card-bg-color-active
      background-color $tabs-card-bg-color-active