@import '../../../env'

$time-picker-icon-size = 14px

$time-picker-column-width = 56px

$time-picker-row-color = #666
$time-picker-row-font-size = 14px
$time-picker-row-height = 28px
$time-picker-row-count = 8

$time-picker-footer-padding = 9px 12px


// 从 select 拷来的
time-picker-size-style(size)
  ui-set('font-size', size['font-size'])
  ui-set('min-height', size['height'])

  {$selector-class-prefix + '-time-picker-value'},
  {$selector-class-prefix + '-time-picker-placeholder'}
    ui-set('padding-left', size['button-padding-horizontal'])
    ui-set('padding-right', size['button-padding-horizontal'])

  {$selector-class-prefix + '-time-picker-time-icon'},
  {$selector-class-prefix + '-time-picker-clear-icon'}
    ui-set('margin-right', size['icon-right'])

time-picker-brand-style(style)
  &{$selector-class-prefix + '-time-picker-enabled'}
    ui-set('border-color', style['color'])

    &:hover
      ui-set('border-color', style['color'])

  &{$selector-class-prefix + '-time-picker-opened'}
    ui-focus(style['color'], style['shadow-color'])

{$selector-class-prefix + '-time-picker'}
  ui-connect(
    hash: $form-button-size-hash,
    each: time-picker-size-style
  )
  ui-connect(
    hash: $status-brand-hash,
    each: time-picker-brand-style
  )

{$selector-class-prefix + '-time-picker-overlay'}
  padding 0
  user-select none
  background-color $brand-bg
  box-shadow $brand-layer-shadow

{$selector-class-prefix + '-time-picker-block'}
  ui-flex-block()

{$selector-class-prefix + '-time-picker-panel'}
  display inline-block

{$selector-class-prefix + '-time-picker-panel-columns'}
  text-align left
  height $time-picker-row-height * $time-picker-row-count
  border-bottom 1px solid $brand-divider

{$selector-class-prefix + '-time-picker-panel-column'}
  display inline-block
  list-style none
  margin 0
  padding 0

  width $time-picker-column-width
  height 100%
  overflow-y hidden
  vertical-align top
  position relative

  ui-scrollbar()

  + {$selector-class-prefix + '-time-picker-panel-column'}
    border-left 1px solid $brand-divider

  &:after
    content ''
    display block
    height $time-picker-row-height * ($time-picker-row-count - 1)

  &:hover
    overflow-y auto

{$selector-class-prefix + '-time-picker-panel-row'}
  color $time-picker-row-color
  font-size $time-picker-row-font-size
  height $time-picker-row-height
  line-height $time-picker-row-height
  padding-left $time-picker-column-width * 0.25
  transition background-color .3s

  ui-clickable()

  &:hover
    background-color $brand-bg-hover

{$selector-class-prefix + '-time-picker-panel-row-active'}
  background-color $brand-primary-bg

{$selector-class-prefix + '-time-picker-panel-footer'}
  text-align right
  padding $time-picker-footer-padding

ui-form-button(
  $selector-class-prefix + '-time-picker',
  $selector-class-prefix + '-time-picker-enabled',
  $selector-class-prefix + '-time-picker-disabled',
  $selector-class-prefix + '-time-picker-opened',
  $selector-class-prefix + '-time-picker-clearable',
  '',
  $selector-class-prefix + '-time-picker-value',
  $selector-class-prefix + '-time-picker-placeholder',
  $selector-class-prefix + '-time-picker-time-icon',
  $selector-class-prefix + '-time-picker-clear-icon',
  $time-picker-icon-size,
  $time-picker-icon-size
)