@import '../../../env'

$split-button-menu-height = 200px

{$selector-class-prefix + '-split-button'} + {$selector-class-prefix + '-split-button'},
{$selector-class-prefix + '-split-button'} + {$selector-class-prefix + '-button'},
{$selector-class-prefix + '-button'} + {$selector-class-prefix + '-split-button'}
  margin-left $ui-horizontal-gap

{$selector-class-prefix + '-split-button-menu'}
  min-width $dropdown-menu-min-width
  max-height $split-button-menu-height

ui-dropdown-overlay(
  $selector-class-prefix + '-split-button-menu',
  $selector-class-prefix + '-split-button-menu-item',
  '',
  $selector-class-prefix + '-split-button-menu-item-enabled',
  $selector-class-prefix + '-split-button-menu-item-disabled',
  '',
  $brand-primary,
  $brand-bg-active
)