@import '../../../env'

{$selector-class-prefix + '-split-button-menu'}
  min-width $dropdown-menu-min-width
  max-height $overlay-max-height

ui-dropdown-overlay(
  $selector-class-prefix + '-split-button-menu',
  $selector-class-prefix + '-split-button-menu',
  $selector-class-prefix + '-split-button-menu-item',
  '',
  $selector-class-prefix + '-split-button-menu-item-enabled',
  $selector-class-prefix + '-split-button-menu-item-disabled',
  '',
  $brand-primary,
  $brand-bg-active
)