<div
class="${prefix}tag

{{#if type}} ${prefix}tag-{{type}}{{/if}}
{{#if size}} ${prefix}tag-{{size}}{{/if}}

{{#if checkable}} ${prefix}tag-checkable{{/if}}
{{#if closable}} ${prefix}tag-closable{{/if}}
{{#if color}} ${prefix}tag-pure{{/if}}

{{#if checked}} ${prefix}tag-checked{{/if}}
{{#if className}} {{className}}{{/if}}"

{{#if color || style}}
  style="{{[
    color
      ? {
          backgroundColor: !checkable || checked ? color : undefined,
          color: checkable && !checked ? color : undefined,
        }
      : undefined,
    style
  ]}}"
{{/if}}

{{#if checkable}}
  on-click="toggleChecked()"
{{/if}}
>

  {{#if hasSlot('icon') || icon}}
    <div class="${prefix}tag-icon">
      <slot name="icon">
        <Icon
          name="{{icon}}"
        />
      </slot>
    </div>
  {{/if}}

  <slot />

  {{#if closable}}
    <div
      class="${prefix}tag-close-button"
      on-click="close.tag"
    >
      <Icon
        name="close-line"
      />
    </div>
  {{/if}}

</div>