<div
class="${prefix}tag

{{#if type}} ${prefix}tag-{{type}}{{/if}}
{{#if presetName}} ${prefix}tag-{{presetName}}{{/if}}
{{#if customColor}} ${prefix}tag-pure{{/if}}

{{#if checkable}} ${prefix}tag-checkable{{/if}}
{{#if closable}} ${prefix}tag-closable{{/if}}

{{#if checked}} ${prefix}tag-checked{{/if}}
{{#if className}} {{className}}{{/if}}"

{{#if customColor || style}}
  style="{{[
    customColor
      ? {
          backgroundColor: !checkable || checked ? customColor : undefined,
          color: checkable && !checked ? customColor : undefined,
        }
      : undefined,
    style
  ]}}"
{{/if}}

{{#if checkable}}
  on-click="toggleChecked()"
{{/if}}
>

  {{#if @icon || icon}}
    <div class="${prefix}tag-icon">
      <slot name="icon">
        <Icon
          name="{{icon}}"
        />
      </slot>
    </div>
  {{/if}}

  <slot />

  {{#if closable}}
    <div
      class="${prefix}tag-close"
      on-click="close.tag"
    >
      <Icon
        name="close-line"
      />
    </div>
  {{/if}}

</div>