<div
class="${prefix}divider
{{#if vertical}} ${prefix}divider-vertical
{{else}} ${prefix}divider-horizontal
{{/if}}
{{#if align}} ${prefix}divider-{{align}}{{/if}}
{{#if hasSlot('children')}} ${prefix}divider-with-text{{/if}}
{{#if dashed}} ${prefix}divider-dashed{{/if}}
{{#if className}} {{className}}{{/if}}"

{{#if style}}
  style="{{style}}"
{{/if}}
>
  {{#if hasSlot('children')}}
    <div class="${prefix}divider-text">
      <slot name="children" />
    </div>
  {{/if}}
</div>