<div
class="${prefix}backtop
{{#if hidden}} ${prefix}backtop-hide{{/if}}
{{#if className}} {{className}}{{/if}}"

style="bottom: {{bottom}}px;
right: {{right}}px;
{{#if style}} {{style}}{{/if}}"

on-click="click.backTop"
>
  <div class="${prefix}backtop-inner">
    <slot name="children">
      <Icon name="arrow-up" />
    </slot>
  </div>
</div>