<div
class="${prefix}loadingbar
{{#if type}} ${prefix}loadingbar-{{type}}{{/if}}
{{#if fixed}} ${prefix}loadingbar-fixed{{/if}}
{{#if className}} {{className}}{{/if}}"

{{#if inlineStyle}}
  style="{{inlineStyle}}"
{{/if}}

>
  <div
    class="${prefix}loadingbar-indicator"
    style="{{indicatorStyle}}"
  ></div>
</div>