<div
class="${prefix}loadingbar
{{#if type}} ${prefix}loadingbar-{{type}}{{/if}}
{{#if className}} {{className}}{{/if}}"

{{#if style}}
  style="{{style}}"
{{/if}}

>
  <div
    class="${prefix}loadingbar-indicator"
    style="{{indicatorStyle}}"
  ></div>
</div>