<div
class="${prefix}page-header
{{#if showBack}} ${prefix}page-header-with-back{{/if}}
{{#if @tags}} ${prefix}page-header-with-tags{{/if}}
{{#if @extra}} ${prefix}page-header-with-extra{{/if}}
{{#if className}} {{className}}{{/if}}"

{{#if style}}
  style="{{style}}"
{{/if}}
>

  <slot name="breadcrumb" />

  <div class="${prefix}page-header-header">

    {{#if showBack}}
      <Icon
        name="arrow-left-line"
        className="${prefix}page-header-back"
        on-click.native="back.pageHeader"
      />
    {{/if}}

    <div
      class="${prefix}page-header-title
      {{#if !@tags}} ${prefix}page-header-flex{{/if}}"
    >
      {{title}}
    </div>

    {{#if @tags}}
      <div class="${prefix}page-header-tags ${prefix}page-header-flex">
        <slot name="tags" />
      </div>
    {{/if}}

    {{#if @extra}}
      <div class="${prefix}page-header-extra">
        <slot name="extra" />
      </div>
    {{/if}}

  </div>

  {{#if @content}}
    <div class="${prefix}page-header-body">
      <slot name="content" />
    </div>
  {{/if}}

</div>