<button class="bell-button
  {{#if className}} {{className}}{{/if}}
  {{#if ghost}} bell-button-{{type}}-ghost {{else}} bell-button-{{type}}-normal {{/if}} 
  bell-button-{{borderType}}
  {{#if shape}} bell-button-{{shape}}{{/if}}
  {{#if size}} bell-button-{{size}}{{/if}}
  {{#if fluid}} bell-button-fluid{{/if}}
"{{#if disabled}} disabled{{/if}} on-click="click"
{{#if style}} style="{{style}}"{{/if}}>

  {{#if hasSlot('leftIcon')}}
    <slot name="leftIcon" />
  {{/if}}

  {{#if label}}
    <span>
      {{label}}
    </span>
  {{else if hasSlot('children')}}
    <slot name="children" />
  {{/if}}

  {{#if hasSlot('rightIcon')}}
    <slot name="rightIcon" />
  {{/if}}
</button>