<button class="${prefix}button
  {{#if className}} {{className}}{{/if}}
  {{#if ghost}} ${prefix}button-{{type}}-ghost {{else}} ${prefix}button-{{type}}-normal {{/if}} 
  ${prefix}button-{{borderType}}
  {{#if shape}} ${prefix}button-{{shape}}{{/if}}
  {{#if size}} ${prefix}button-{{size}}{{/if}}
  {{#if fluid}} ${prefix}button-fluid{{/if}}
"{{#if disabled}} disabled{{/if}} 
{{#if style}} style="{{style}}"{{/if}}
  on-click="click"
>

  {{#if icon}}
    <Icon type="{{icon}}" />
  {{/if}}

  <slot name="icon" />

  {{#if hasSlot('children')}}
  <span>
    <slot name="children">
    </slot>
  </span>
  {{/if}}
  
</button>