@import '../../../env'

$drawer-padding-horizontal = 24px
$drawer-header-padding-vertical = 16px
$drawer-body-padding-vertical = 16px

{$selector-class-prefix + '-drawer'}
  position fixed
  left 0
  right 0
  top 0
  bottom 0
  display none
  z-index $zindex-drawer

{$selector-class-prefix + '-drawer-visible'}
  display block

{$selector-class-prefix + '-drawer-fade'}
  > {$selector-class-prefix + '-drawer-mask'}
    background-color $brand-modal-bg-color

{$selector-class-prefix + '-drawer-wrapper'}
  display flex
  flex-flow column nowrap
  position absolute
  line-height $ui-multiple-line-height
  background-color $brand-bg
  box-shadow $brand-modal-shadow
  transition transform $form-control-transition-duration

{$selector-class-prefix + '-drawer-header'}
  display flex
  justify-content space-between
  align-items center
  padding $drawer-header-padding-vertical $drawer-padding-horizontal
  border-bottom 1px solid $brand-border

{$selector-class-prefix + '-drawer-body'}
  flex-grow 1
  padding $drawer-body-padding-vertical $drawer-padding-horizontal
  color $brand-content
  font-size $font-size-default
  word-wrap break-word
  overflow-y auto
  box-sizing border-box
  ui-scrollbar()

{$selector-class-prefix + '-drawer-title-wrapper'}
  flex 1
  display flex
  align-items center

{$selector-class-prefix + '-drawer-close'}
  color $brand-close-color
  font-size $modal-close-icon-size
  line-height $modal-close-icon-size
  transition color $form-control-transition-duration
  user-select none
  ui-clickable()

  &:hover
    color $brand-close-color-hover

  + {$selector-class-prefix + '-drawer-title'}
    margin-left $ui-horizontal-gap

{$selector-class-prefix + '-drawer-title'}
  flex 1
  color $brand-title
  font-size $font-size-large
  font-weight $font-weight-bold

{$selector-class-prefix + '-drawer-mask'}
  position absolute
  left 0
  right 0
  top 0
  bottom 0
  background-color $brand-transparent-color
  transition background-color $form-control-transition-duration



{$selector-class-prefix + '-drawer-left'}
  > {$selector-class-prefix + '-drawer-wrapper'}
    transform translate(-100%)
    left 0
    top 0
    bottom 0

  &{$selector-class-prefix + '-drawer-fade'}
    > {$selector-class-prefix + '-drawer-wrapper'}
      transform translate(0)


{$selector-class-prefix + '-drawer-right'}

  > {$selector-class-prefix + '-drawer-wrapper'}
    transform translate(100%)
    right 0
    top 0
    bottom 0

  &{$selector-class-prefix + '-drawer-fade'}
    > {$selector-class-prefix + '-drawer-wrapper'}
      transform translate(0)


{$selector-class-prefix + '-drawer-top'}

  > {$selector-class-prefix + '-drawer-wrapper'}
    transform translateY(-100%)
    top 0
    left 0
    right 0

  &{$selector-class-prefix + '-drawer-fade'}
    > {$selector-class-prefix + '-drawer-wrapper'}
      transform translate(0)


{$selector-class-prefix + '-drawer-bottom'}

  > {$selector-class-prefix + '-drawer-wrapper'}
    transform translateY(100%)
    bottom 0
    left 0
    right 0

  &{$selector-class-prefix + '-drawer-fade'}
    > {$selector-class-prefix + '-drawer-wrapper'}
      transform translate(0)
