@import '../../../env'

$collapse-padding-horizontal = 15px

$collapse-header-bg-color = #fafafa
$collapse-arrow-icon-size = 16px

$collapse-header-padding-vertical = 12px
$collapse-content-padding-vertical = 12px

{$selector-prefix + '-collapse'}
  overflow hidden
  border 1px solid $brand-border

{$selector-prefix + '-collapse-simple'}
  border-left 0
  border-right 0

  {$selector-prefix + '-collapse-content'}
    padding-top 0

{$selector-prefix + '-collapse-bordered'}
  border-radius $border-radius-default

  > {$selector-prefix + '-collapse-item'} > {$selector-prefix + '-collapse-header'}
    background-color $collapse-header-bg-color

  > {$selector-prefix + '-collapse-opened'} > {$selector-prefix + '-collapse-header'}
    border-bottom 1px solid $brand-border

{$selector-prefix + '-collapse-item'} + {$selector-prefix + '-collapse-item'}
  border-top 1px solid $brand-border

{$selector-prefix + '-collapse-header'}
  user-select none
  font-size $font-size-default
  line-height $ui-single-line-height
  padding $collapse-header-padding-vertical $collapse-padding-horizontal

{$selector-prefix + '-collapse-arrow-icon'}
  color inherit
  display inline-block
  font-size $collapse-arrow-icon-size
  margin-right $ui-icon-text-gap
  vertical-align top
  transition transform .2s

{$selector-prefix + '-collapse-extra'}
  float right

{$selector-prefix + '-collapse-content'}
  display none
  overflow hidden
  color $brand-content
  font-size $font-size-default
  line-height $ui-multiple-line-height
  padding $collapse-content-padding-vertical $collapse-padding-horizontal
  transition height .1s

{$selector-prefix + '-collapse-opened'}
  > {$selector-prefix + '-collapse-header'} > {$selector-prefix + '-collapse-arrow-icon'}
    transform rotate(90deg)

  > {$selector-prefix + '-collapse-content'}
    display block

{$selector-prefix + '-collapse-enabled'}
  > {$selector-prefix + '-collapse-header'}
    color $brand-title
    ui-clickable()

{$selector-prefix + '-collapse-disabled'}
  > {$selector-prefix + '-collapse-header'}
    color $brand-disabled
    ui-disabled()