@import '../../../env'

$collapse-padding-horizontal = 15px

$collapse-arrow-icon-size = 16px

$collapse-header-padding-vertical = 12px
$collapse-content-padding-vertical = 12px

{$selector-class-prefix + '-collapse'}
  overflow hidden
  border 1px solid $brand-border
  line-height $ui-multiple-line-height

{$selector-class-prefix + '-collapse-simple'}
  border-left 0
  border-right 0

  {$selector-class-prefix + '-collapse-content'}
    padding-top 0

{$selector-class-prefix + '-collapse-bordered'}
  border-radius $border-radius-default

  > {$selector-class-prefix + '-collapse-item'} > {$selector-class-prefix + '-collapse-header'}
    background-color $brand-bg-light

  > {$selector-class-prefix + '-collapse-opened'} > {$selector-class-prefix + '-collapse-header'}
    border-bottom 1px solid $brand-border

{$selector-class-prefix + '-collapse-item'} + {$selector-class-prefix + '-collapse-item'}
  border-top 1px solid $brand-border

{$selector-class-prefix + '-collapse-header'}
  display flex
  justify-content space-between
  align-items center
  user-select none
  padding $collapse-header-padding-vertical $collapse-padding-horizontal

{$selector-class-prefix + '-collapse-title-wrapper'}
  flex 1
  display flex
  align-items center

{$selector-class-prefix + '-collapse-title'}
  font-size $font-size-default

{$selector-class-prefix + '-collapse-extra'}
  line-height 0

{$selector-class-prefix + '-collapse-arrow-icon'}
  font-size $collapse-arrow-icon-size
  margin-right $ui-icon-text-gap
  transition transform .2s

{$selector-class-prefix + '-collapse-content'}
  display none
  overflow hidden
  color $brand-content
  font-size $font-size-default
  padding $collapse-content-padding-vertical $collapse-padding-horizontal
  transition height .1s

{$selector-class-prefix + '-collapse-opened'}
  {$selector-class-prefix + '-collapse-arrow-icon'}
    transform rotate(90deg)

  > {$selector-class-prefix + '-collapse-content'}
    display block

{$selector-class-prefix + '-collapse-enabled'}
  > {$selector-class-prefix + '-collapse-header'}
    color $brand-title
    ui-clickable()

{$selector-class-prefix + '-collapse-disabled'}
  > {$selector-class-prefix + '-collapse-header'}
    color $brand-disabled
    ui-disabled()