$brand-bg = #FFF
$brand-bg-hover = #f5f7fa
$brand-bg-active = #f5f7fa
$brand-bg-checked = #F3F3F3
$brand-bg-disabled = #F5F5F5
$brand-bg-checked-disabled = #e6e6e6

// 浅色背景
$brand-bg-light = #FAFAFA

// 骨架颜色
$brand-skeleton-light = rgba(190,190,190,.2)
$brand-skeleton-dark = rgba(129,129,129,.24)

$brand-primary = #2d8cf0
// $brand-primary = #FF6300
$brand-success = #19be6b
$brand-error = #ed4014
$brand-info = #2db7f5
$brand-warning = #ff9900

$brand-primary-hover = #57a3f3
// $brand-primary-hover = #ff8c44
$brand-success-hover = #47cb89
$brand-error-hover = #f16643
$brand-info-hover = #57c5f7
$brand-warning-hover = #ffad33

$brand-primary-active = #2b85e4
// $brand-primary-active = #e85a00
$brand-success-active = #18b566
$brand-error-active = #e13d13
$brand-info-active = #2baee9
$brand-warning-active = #f29100

$brand-primary-bg = #ecf5ff
// $brand-primary-bg = #fff2ea
$brand-success-bg = #F6FFED
$brand-error-bg = #FFF1F0
$brand-info-bg = #E6F7FF
$brand-warning-bg = #FFFBE6

$brand-primary-border = #b3d8ff
// $brand-primary-border = #ff9c5d
$brand-success-border = #8ce6b0
$brand-error-border = #FFA39E
$brand-info-border = #91D5FF
$brand-warning-border = #FFE58F

$brand-primary-shadow = rgba(45,140,240,.2)
// $brand-primary-shadow = rgba(255,99,0,.2)
$brand-success-shadow = rgba(25,190,107,.2)
$brand-error-shadow = rgba(237,64,20,.2)
$brand-info-shadow = rgba(45,183,245,.2)
$brand-warning-shadow = rgba(255,153,0,.2)


$brand-white = #fff
$brand-title = #17233d
$brand-content = #515a6e
$brand-muted = #969799
$brand-disabled = #c5c8ce
$brand-placeholder = #D2D2D2

$brand-border = #dcdee2
$brand-divider = #e8eaec

$brand-link = #2d8cf0
$brand-link-hover = #57a3f3

$brand-tag-bg-color = #f5f5f5
$brand-clear-icon-color = #999

$brand-icon-shadow = 0 0 3px rgba(0,0,0,0.2)
$brand-layer-shadow = 0 2px 12px 0 rgba(0,0,0,.1)
$brand-card-shadow = 0 2px 8px rgba(0,0,0,.09)
$brand-modal-shadow = 0 4px 12px rgba(0,0,0,.15)
$brand-message-shadow = 0 2px 12px 0 rgba(0,0,0,.1)
$brand-color-swatch-shadow = inset 0 0 2px 0 rgba(0,0,0,0.2)

$brand-close-color = #AAA
$brand-close-color-hover = #666

$brand-mask-light-color = rgba(255,255,255,0.5)
$brand-mask-dark-color = rgba(0,0,0,0.2)

$brand-transparent-color = rgba(0,0,0,0)
$brand-modal-bg-color = rgba(0,0,0,0.5)

$brand-text-mask-bg-color = rgba(0,0,0,0.5)
$brand-text-mask-bg-color-hover = rgba(0,0,0,0.6)

$brand-text-mask-title-color = rgba(255,255,255,0.9)
$brand-text-mask-sub-title-color = rgba(255,255,255,0.7)
$brand-text-mask-text-shadow = 1px 1px 2px rgba(200,200,200,0.5)

$layout-dark-bg-color = #515a6e
$layout-light-bg-color = $brand-white

$brand-primary-hash = {
  color: $brand-primary,
  bg-color: $brand-primary-bg,
  border-color: $brand-primary-border,
  shadow-color: $brand-primary-shadow,
}

$brand-info-hash = {
  color: $brand-info,
  bg-color: $brand-info-bg,
  border-color: $brand-info-border,
  shadow-color: $brand-info-shadow,
}

$brand-success-hash = {
  color: $brand-success,
  bg-color: $brand-success-bg,
  border-color: $brand-success-border,
  shadow-color: $brand-success-shadow,
}

$brand-error-hash = {
  color: $brand-error,
  bg-color: $brand-error-bg,
  border-color: $brand-error-border,
  shadow-color: $brand-error-shadow,
}

$brand-warning-hash = {
  color: $brand-warning,
  bg-color: $brand-warning-bg,
  border-color: $brand-warning-border,
  shadow-color: $brand-warning-shadow,
}

$status-brand-hash = {
  info: $brand-info-hash,
  success: $brand-success-hash,
  error: $brand-error-hash,
  warning: $brand-warning-hash,
}

$type-brand-hash = {
  primary: $brand-primary-hash,
  info: $brand-info-hash,
  success: $brand-success-hash,
  error: $brand-error-hash,
  warning: $brand-warning-hash,
}
