@import './icomoon/style'
@import './reset/normalize'

@import './variable/support.styl'
@import './variable/brand.styl'
@import './variable/size.styl'
@import './variable/radius.styl'
// @import './variable/cursor.styl'
// @import './variable/effect.styl'
@import './variable/selector.styl'
// @import './variable/z-index.styl'
@import './variable/typography.styl'
@import './variable/icon.styl'
// @import './variable/link.styl'

@import './variable/bg'
@import './variable/text'
@import './variable/border'
@import './variable/clearfix'
@import './variable/grid'

@import './mixins/ui'
@import './mixins/bg'
@import './mixins/text'
@import './mixins/border'
@import './mixins/clearfix'
@import './mixins/grid'

@import './ui/bg'
@import './ui/text'
@import './ui/border'
@import './ui/clearfix'
@import './ui/grid'