ui-set(name, value, important = false)

  apply = @() {
    if (important) {
      {name} value !important
    }
    else {
      {name} value
    }
  }

  if value is a 'unit'
    apply()

  else if value
    apply()

ui-opacity(value)
  ui-set('opacity', value)

ui-ellipsis()
  overflow hidden
  white-space nowrap
  text-overflow ellipsis
  word-break keep-all

ui-column()
  display flex
  flex-direction column

ui-row()
  display flex
  flex-direction row

ui-apply(style, selector = '')
  if selector
    {selector}
      style()
  else
    style()

ui-variant(hash, each)
  for name in hash

    selector = '&'

    if name
      selector += '.' + name

    ui-apply(
      selector: selector,
      style: @() {
        each(hash[name], name)
      }
    )

ui-connect(hash, each)
  for name in hash

    selector = '&'

    if name
      selector += '-' + name

    ui-apply(
      selector: selector,
      style: @() {
        each(hash[name], name)
      }
    )

ui-clickable()
  cursor pointer
  -webkit-tap-highlight-color rgba(0,0,0,0)

ui-enabled(hasBorder = false)
  ui-clickable()
  if hasBorder
    &:hover
      border-color $brand-primary

ui-disabled(hasBorder = false)
  cursor not-allowed
  if hasBorder
    border-color $brand-border

ui-block()
  display block
  width 100%

ui-flex-block()
  display flex
  width 100%

ui-input()
  border 1px solid $brand-border
  border-radius $border-radius-default
  background-color $brand-bg
  width 100%
  ui-input-el()

  &:hover
    ui-input-hover($brand-primary)

  &:focus
    ui-focus($brand-primary-shadow, $brand-primary)

ui-input-faker()
  border 1px solid $brand-border
  border-radius $border-radius-default
  box-sizing border-box
  background-color $brand-bg

  &:hover
    ui-input-hover($brand-primary)

ui-input-el()
  width 100%
  border-radius $border-radius-default
  box-sizing border-box
  outline none
  display block
  cursor text
  color $brand-title
  font-size $font-size-default
  transition border-color $form-control-transition-duration, box-shadow $form-control-transition-duration

  ui-placeholder($brand-placeholder)

ui-input-hover($brand-primary)
  border-color $brand-primary

ui-input-disabled($selector)
  {$selector}
    color $brand-disabled
    background-color $brand-bg-disabled
    ui-disabled(true)

ui-focus($shadow-color, $border-color = '')
  if $border-color
    border-color $border-color

  if $ui-shadow-radius > 0
    box-shadow 0 0 0 $ui-shadow-radius $shadow-color

ui-focusable($selector-child = '')
  outline 0
  if $ui-shadow-radius > 0
    if $child-selector
      &:focus {$selector-child}
        box-shadow 0 0 0 $ui-shadow-radius $brand-primary-shadow
    else
      &:focus
        box-shadow 0 0 0 $ui-shadow-radius $brand-primary-shadow

ui-table()
  box-sizing border-box
  border-collapse collapse
  width 100%
  border 0
  margin 0
  padding 0

  td
    border 0
    box-sizing border-box

  tr
    border 0
    background-color $brand-transparent-color

ui-placeholder(color)

  &::-webkit-input-placeholder  /* WebKit browsers */
    color color

  &:-moz-placeholder  /* Mozilla Firefox 4 to 18 */
    color color

  &::-moz-placeholder  /* Mozilla Firefox 19+ */
    color color

  &:-ms-input-placeholder  /* Internet Explorer 10+ */
    color color

ui-transparent-bg()
  background-image linear-gradient(45deg, #DDD 25%, #0000 25%),
                    linear-gradient(-45deg, #DDD 25%, #0000 25%),
                    linear-gradient(45deg, #0000 75%, #DDD 75%),
                    linear-gradient(-45deg, #0000 75%, #DDD 75%)
  background-size 12px 12px
  background-position 0 0, 0 6px, 6px -6px, -6px 0px
  background-repeat repeat

ui-scrollbar(size = 4px)

  &::-webkit-scrollbar
    width size

  &::-webkit-scrollbar
    height size

  &::-webkit-scrollbar-track
    background-color rgba(0,0,0,0)

  &::-webkit-scrollbar-thumb
    background-color #d1d1d1
    border-radius 10px
    transition background-color $form-control-transition-duration

  &::-webkit-scrollbar-thumb:hover
    background-color #b3b3b3

ui-form-button(
  $selector-base,
  $selector-enabled,
  $selector-disabled,
  $selector-opened,
  $selector-clearable,
  $selector-reversed,
  $selector-values,
  $selector-value,
  $selector-placeholder,
  $selector-right-icon,
  $selector-clear-icon,
  $selector-arrow-icon,
  $right-icon-size)

  {$selector-base}

    display inline-flex
    flex-direction row
    justify-content space-between
    align-items center

    position relative
    border 1px solid $brand-border
    background-color $brand-bg
    line-height $ui-multiple-line-height

    box-sizing border-box
    border-radius $border-radius-default
    transition border-color $form-control-transition-duration, box-shadow $form-control-transition-duration

    // 为了兼容 IE11
    // https://vinceumo.github.io/devNotes/CSS/bug-ie-flexbox-min-height/
    &:after
      content ''
      display block
      font-size 0
      min-height inherit

  if $selector-values
    {$selector-values}
      flex 1
      line-height 0
      box-sizing border-box

      > {$selector-class-prefix + '-tag'}
        cursor text

  {$selector-value},
  {$selector-placeholder}
    flex 1
    box-sizing border-box
    ui-ellipsis()

  {$selector-value}
    color $brand-content
    user-select none

  {$selector-placeholder}
    color $brand-placeholder
    user-select none

  {$selector-right-icon},
  {$selector-clear-icon}
    font-size $right-icon-size
    position absolute
    right 0
    top 50%
    transform translateY(-50%)

  {$selector-right-icon}
    color $brand-muted
    opacity 1
    transition opacity $form-control-transition-duration, transform $form-control-transition-duration
    transform-origin center center

  {$selector-clear-icon}
    color $brand-clear-icon-color
    opacity 0
    transition opacity $form-control-transition-duration

  {$selector-enabled}
    ui-enabled(true)

  {$selector-disabled}
    background-color $brand-bg-disabled
    ui-disabled(true)

    {$selector-value},
    {$selector-placeholder}
      color $brand-disabled

  {$selector-opened}
    ui-focus($brand-primary-shadow, $brand-primary)

  {$selector-clearable}:hover
    {$selector-clear-icon}
      opacity 1
      z-index $zindex-normal

      + {$selector-right-icon}
        opacity 0

  if $selector-arrow-icon
    {$selector-opened}
      {$selector-arrow-icon}
        transform translateY(-50%) rotate(-180deg)

    {$selector-reversed}
      {$selector-arrow-icon}
        transform translateY(-50%) rotate(-180deg)

      &{$selector-opened}
        {$selector-arrow-icon}
          transform translateY(-50%) rotate(0)

ui-form-button-brand(style, $selector-enabled, $selector-opened)
  &{$selector-enabled}
    ui-set('border-color', style['color'])

    &:hover
      ui-set('border-color', style['color'])

  &{$selector-opened}
    ui-focus(style['shadow-color'], style['color'])

  &:focus
    ui-focus(style['shadow-color'])

ui-dropdown-overlay(
  $selector-base,
  $selector-item,
  $selector-item-active,
  $selector-item-enabled,
  $selector-item-disabled,
  $selector-item-divided,
  $active-color,
  $active-bg-color)

  {$selector-base}
    font-size $font-size-default
    line-height $ui-multiple-line-height
    padding $dropdown-overlay-inset 0

    overflow-y auto
    overflow-x hidden
    user-select none
    background-color $brand-bg
    box-shadow $brand-layer-shadow
    ui-scrollbar()

    if $selector-item-active
      &:hover {$selector-item-active}
        background-color $brand-transparent-color

    {$selector-item-enabled}:hover
      background-color $brand-bg-hover

  {$selector-item}
    ui-ellipsis()
    padding $dropdown-item-padding-vertical $dropdown-item-padding-horizontal
    transition background-color $form-control-transition-duration, color $form-control-transition-duration

    if $selector-item-divided
      + {$selector-item-divided}
        margin-top $dropdown-overlay-inset
        border-top 1px solid $brand-divider
        padding-top $dropdown-item-padding-vertical + $dropdown-overlay-inset
        position relative

        &:before
          content ''
          background-color $brand-bg
          position absolute
          top 0
          left 0
          right 0
          height $dropdown-overlay-inset

  {$selector-item-enabled}
    color $brand-content
    ui-clickable()

  if $selector-item-disabled
    {$selector-item-disabled}
      color $brand-disabled
      ui-disabled()

  if $selector-item-active
    {$selector-item-active}
      if $active-color
        color $active-color

      if $active-bg-color
        background-color $active-bg-color