// 多个相同 UI 的水平间距
$ui-horizontal-gap = 8px
// 多个相同 UI 的垂直间距
$ui-vertical-gap = 10px
// hover 或 focus 状态下的阴影大小
$ui-shadow-radius = 2px
// 图标和文本的间距
$ui-icon-text-gap = 5px
// 字体基准大小
$ui-font-size = 14px
// 图标基准大小
$ui-icon-size = 14px
// 多行行高 14 * 1.5715 = 22
$ui-multiple-line-height = 1.5715
// 单行行高 14 * 1.1429 = 16
$ui-single-line-height = 1.1429
// disabled 的透明度
$ui-opacity-disabled = 0.5
// mask 的透明度
$ui-opacity-mask = 0.5
// 表单元素的默认宽度
$ui-form-element-width = 200px

$height-small = 24px
$font-size-small = 12px
$padding-vertical-small = 2px
$padding-horizontal-small = 7px
$border-radius-small = 3px

$height-default = 32px
$font-size-default = $ui-font-size
$padding-vertical-default = 5px
$padding-horizontal-default = 12px
$border-radius-default = 4px

$height-large = 40px
$font-size-large = 16px
$padding-vertical-large = 8px
$padding-horizontal-large = 15px
$border-radius-large = 4px

$border-radius-round = 100px
$border-radius-circle = 50%

$close-icon-size = 16px

$dropdown-item-padding-vertical = 8px
$dropdown-item-padding-horizontal = 12px

$layout-padding-vertical = 24px
$layout-padding-horizontal = 24px

$form-button-size-hash = {
  default: {
    height: $height-default,
    font-size: $font-size-default,
    button-padding-vertical: 4px,
    button-padding-horizontal: $padding-horizontal-default,
    icon-right: $padding-horizontal-default - 3,
    tag-height: 22px,
    tag-gap-vertical: 4px,
    tag-gap-horizontal: 4px,
  },
  small: {
    height: $height-small,
    font-size: $font-size-small,
    button-padding-vertical: 2px,
    button-padding-horizontal: $padding-horizontal-small,
    icon-right: $padding-horizontal-small - 3,
    tag-height: 18px,
    tag-gap-vertical: 2px,
    tag-gap-horizontal: 2px,
  },
  large: {
    height: $height-large,
    font-size: $font-size-large,
    button-padding-vertical: 7px,
    button-padding-horizontal: $padding-horizontal-large,
    icon-right: $padding-horizontal-large - 3,
    tag-height: 24px,
    tag-gap-vertical: 6px,
    tag-gap-horizontal: 6px,
  }
}