@import './reset/normalize'

body
  font-family "PingFang SC", "Lantinghei SC", "Microsoft Yahei", "Hiragino Sans GB", "Microsoft Sans Serif", "WenQuanYi Micro Hei", Helvetica, sans-serif
  -webkit-font-smoothing antialiased
  color $brand-content
  font-size $font-size-default

a
  color $brand-primary
  text-decoration none
  transition color .2s

  &:hover
    color $brand-primary-hover