// 全局 z-index 管理

// 稍微比别人高一点
$zindex-normal = 1

$zindex-dropdown = 2
$zindex-tooltip = 3
$zindex-backtop = 4
$zindex-drawer = 5
$zindex-dialog = 6
$zindex-message = 7
$zindex-notification = 7
$zindex-loadingbar = 7