@import '../../../env'

$thumbnail-padding = 2px
$thumbnail-border-radius = 4px
$thumbnail-image-border-radius = 3px
$thumbnail-image-background-color = $brand-bg-light
$thumbnail-icon-size = 16px
$thumbnail-icon-gap = 12px

{$selector-class-prefix + '-thumbnail'}
  display inline-block
  color $brand-muted
  font-size $font-size-default
  line-height $ui-multiple-line-height
  background-color $brand-white
  border-radius $thumbnail-border-radius
  text-align center
  position relative
  box-sizing content-box

  &:hover
    {$selector-class-prefix + '-thumbnail-mask'}
      opacity 1

  > {$selector-class-prefix + '-spin-fixed'}
    top 0
    left 0
    right 0
    bottom 0
    border-radius $thumbnail-image-border-radius
    background-color $brand-mask-dark-color

  {$selector-class-prefix + '-spin-icon'}
    color $brand-white

{$selector-class-prefix + '-thumbnail-loading'}:hover
  {$selector-class-prefix + '-thumbnail-mask'}
    opacity 0

{$selector-class-prefix + '-thumbnail-image'},
{$selector-class-prefix + '-thumbnail-placeholder'}
  width 100%
  height 100%
  border-radius $thumbnail-image-border-radius
  background-color $thumbnail-image-background-color
  vertical-align top

{$selector-class-prefix + '-thumbnail-mask'}
  opacity 0
  background-color $brand-mask-dark-color
  position absolute
  top 0
  left 0
  right 0
  bottom 0
  border-radius $thumbnail-image-border-radius
  transition opacity .3s

  {$selector-class-prefix + '-icon'}
    color $brand-white
    font-size $thumbnail-icon-size
    transition color .1s

    &:hover
      color $brand-primary

  {$selector-class-prefix + '-thumbnail-action'}
    ui-clickable()

    + {$selector-class-prefix + '-thumbnail-action'}
      margin-left $thumbnail-icon-gap

{$selector-class-prefix + '-thumbnail-placeholder'},
{$selector-class-prefix + '-thumbnail-mask'}
  display flex
  align-items center
  justify-content center

{$selector-class-prefix + '-thumbnail-bordered'}
  border 1px solid $brand-border
  padding $thumbnail-padding

  > {$selector-class-prefix + '-spin-fixed'}
    top $thumbnail-padding
    left $thumbnail-padding
    right $thumbnail-padding
    bottom $thumbnail-padding

  > {$selector-class-prefix + '-thumbnail-mask'}
    top $thumbnail-padding
    left $thumbnail-padding
    right $thumbnail-padding
    bottom $thumbnail-padding