<div
class="${prefix}card ${prefix}card-shadow-{{shadow}}

{{#if simple}} ${prefix}card-simple
{{else}} ${prefix}card-bordered
{{/if}}

{{#if className}} {{className}}{{/if}}"

{{#if style}}
  style="{{style}}"
{{/if}}
>
  <slot name="children" />
</div>