<div
class="${prefix}card

{{#if simple}} ${prefix}card-simple
{{else}} ${prefix}card-bordered
{{/if}}

{{#if hoverable}} ${prefix}card-hover-enabled
{{else}} ${prefix}card-hover-disabled
{{/if}}

{{#if className}} {{className}}{{/if}}"

{{#if style}}
  style="{{style}}"
{{/if}}
>
  <slot name="children" />
</div>