<div
class="${prefix}card-media
{{#if className}} {{className}}{{/if}}"

{{#if style}} style="{{style}}"{{/if}}
>

  {{#if hasSlot('children')}}
    <slot name="children" />
  {{/if}}

  <div class="${prefix}card-media-detail">

    {{#if title}}
      <div class="${prefix}card-media-title">
        {{title}}
      </div>
    {{/if}}

    {{#if subTitle}}
      <div class="${prefix}card-media-sub-title">
        {{subTitle}}
      </div>
    {{/if}}

  </div>

</div>