<div
class="${prefix}card-header
{{#if className}} {{className}}{{/if}}"

{{#if style}} style="{{style}}"{{/if}}
>

  <slot name="avatar" />

  <div class="${prefix}card-header-detail">
    <div class="${prefix}card-header-title">
      <slot name="title" />
      <slot name="children" />
    </div>

    {{#if hasSlot('subTitle')}}
      <div class="${prefix}card-header-sub-title">
        <slot name="subTitle" />
      </div>
    {{/if}}
  </div>

  {{#if hasSlot('extra')}}
    <span class="${prefix}card-header-extra">
      <slot name="extra" />
    </span>
  {{/if}}
</div>