<div
class="${prefix}alert
{{#if status}} ${prefix}alert-{{status}}{{/if}}
{{#if banner}} ${prefix}alert-banner{{/if}}
{{#if center}} ${prefix}alert-center{{/if}}
{{#if showIcon}} ${prefix}alert-with-icon{{/if}}
{{#if hasSlot('title')}} ${prefix}alert-with-title{{/if}}
{{#if closable || hasSlot('close')}} ${prefix}alert-with-close{{/if}}
{{#if className}} {{className}}{{/if}}"

{{#if style}}
  style="{{style}}"
{{/if}}
>
  {{#if showIcon}}
    <span class="${prefix}alert-icon">
      <Icon
        name="{{
          status === RAW_TYPE_SUCCESS
            ? 'checkbox-circle-fill'
            : status === RAW_TYPE_WARNING
              ? 'error-warning-fill'
              : status === RAW_TYPE_ERROR
                ? 'close-circle-fill'
                : 'information-fill'
        }}"
        size="0"
        className="${prefix}alert-status-icon"
      />
    </span>
  {{/if}}

  {{#if hasSlot('title')}}
    <div class="${prefix}alert-title">
      <slot name="title" />
    </div>
  {{/if}}

  {{#if hasSlot('children')}}
    <div class="${prefix}alert-content">
      <slot name="children" />
    </div>
  {{/if}}

  {{#if closable}}
    <div ref="close" class="${prefix}alert-close" on-click="close.alert">
      <slot name="close">
        <Icon
          name="close-line"
          size="0"
          className="${prefix}alert-close-icon"
        />
      </slot>
    </div>
  {{/if}}

</div>