@import '../../../env'

$statistic-title-content-gap = 4px
$statistic-content-height = 37px
$statistic-content-font-size = floor($statistic-content-height / $ui-multiple-line-height)
$statistic-content-space-vertical = ($statistic-content-height - $statistic-content-font-size) / 2

{$selector-class-prefix + '-statistic'}
  font-size $ui-font-size
  line-height $ui-multiple-line-height

{$selector-class-prefix + '-statistic-title'}
  color $brand-muted
  margin-bottom $statistic-title-content-gap

{$selector-class-prefix + '-statistic-content'}
  color $brand-title
  font-size $statistic-content-font-size

{$selector-class-prefix + '-statistic-content-prefix'}
  display inline-block
  margin-right $ui-icon-text-gap

  > {$selector-class-prefix + '-icon'}
    font-size $statistic-content-font-size

{$selector-class-prefix + '-statistic-content-suffix'}
  display inline-block
  margin-left $ui-icon-text-gap

  > {$selector-class-prefix + '-icon'}
    font-size $statistic-content-font-size

{$selector-class-prefix + '-statistic-content-value'}
  display inline-block