<div
class="${prefix}checkbox-group
{{#if status}} ${prefix}checkbox-group-{{status}}{{/if}}
{{#if size}} ${prefix}checkbox-group-{{size}}{{/if}}
{{#if vertical}} ${prefix}checkbox-vertical{{/if}}
{{#if className}} {{className}}{{/if}}"

{{#if style}}
  style="{{style}}"
{{/if}}
>
  <slot name="children" />
</div>