@import '../../../env'

$date-picker-icon-size = 14px

$date-picker-separator-gap = 5px

$date-picker-overlay-width = 260px
$date-picker-date-range-overlay-width = 520px

$date-picker-grid-gap-vertical = 8px
$date-picker-panel-padding = 5px 12px $date-picker-grid-gap-vertical

$date-picker-header-height = 36px
$date-picker-header-font-size = 15px

$date-picker-header-icon-size = 14px

$date-picker-header-button-width = 26px
$date-picker-header-button-height = 26px

$date-picker-week-height = 28px
$date-picker-week-bg-color = #f9f9f9

$date-picker-row-gap = 5px

$date-picker-item-color = #666
$date-picker-item-font-size = 12px
$date-picker-item-height = 30px
$date-picker-item-padding = 4px
$date-picker-item-text-padding-horizontal = 9px
$date-picker-item-checked-color = #fff
$date-picker-item-checked-bg-color = $brand-primary
$date-picker-item-range-bg-color = #f2f6fc

$date-picker-month-row-gap = 10px

$date-picker-shortcut-width = 90px
$date-picker-shortcut-padding-vertical = 10px
$date-picker-shortcut-bg-color = #f8f8f9
$date-picker-shortcut-item-padding = 8px 10px

// 从 select 拷来的
date-picker-size-style(size)

  {$selector-prefix + '-date-picker-value'},
  {$selector-prefix + '-date-picker-placeholder'}
    ui-set('font-size', size['font-size'])
    ui-set('height', size['height'] - 2)
    ui-set('line-height', size['height'] - 2)
    ui-set('padding-left', size['button-padding-horizontal'])
    ui-set('padding-right', size['icon-right'] + $date-picker-icon-size)

  {$selector-prefix + '-date-picker-values'}
    ui-set(
      'padding',
      size['button-padding-vertical'] size['icon-right'] + $date-picker-icon-size size['button-padding-vertical'] - size['tag-gap-vertical'] size['button-padding-vertical']
    )

    > {$selector-prefix + '-tag'}
      ui-set('height', size['tag-height'])
      ui-set('line-height', size['tag-height'])
      ui-set('margin-right', size['tag-gap-horizontal'])
      ui-set('margin-bottom', size['tag-gap-vertical'])

  {$selector-prefix + '-date-picker-calendar-icon'},
  {$selector-prefix + '-date-picker-clear-icon'}
    ui-set('right', size['icon-right'])

date-picker-brand-style(style)
  &{$selector-prefix + '-date-picker-enabled'}
    ui-set('border-color', style['color'])

    &:hover
      ui-set('border-color', style['color'])

  &{$selector-prefix + '-date-picker-opened'}
    ui-set('border-color', style['color'])

    if $ui-shadow-radius > 0
      box-shadow 0 0 0 $ui-shadow-radius style['shadow-color']

{$selector-prefix + '-date-picker'}
  width $ui-form-element-width
  display inline-block

  ui-connect(
    hash: $form-button-size-hash,
    each: date-picker-size-style
  )
  ui-connect(
    hash: $status-brand-hash,
    each: date-picker-brand-style
  )

{$selector-prefix + '-date-picker-overlay'}
  padding 0
  box-shadow $brand-layer-shadow

  {$selector-prefix + '-date-picker-date'},
  {$selector-prefix + '-date-picker-month'},
  {$selector-prefix + '-date-picker-year'},
  {$selector-prefix + '-date-picker-week'}
    width $date-picker-overlay-width

  {$selector-prefix + '-date-picker-daterange'}
    width $date-picker-date-range-overlay-width

{$selector-prefix + '-date-picker-block'}
  ui-block()

{$selector-prefix + '-date-picker-separator'}
  margin 0 $date-picker-separator-gap

{$selector-prefix + '-date-picker-shortcut'}
  position absolute
  left 0
  top 0
  bottom 0
  padding $date-picker-shortcut-padding-vertical 0

  box-sizing border-box
  width $date-picker-shortcut-width
  color $date-picker-item-color
  font-size $date-picker-item-font-size
  background-color $date-picker-shortcut-bg-color
  border-right 1px solid $brand-divider

{$selector-prefix + '-date-picker-shortcut-item'}
  ui-ellipsis()
  ui-clickable()
  padding $date-picker-shortcut-item-padding

  &:hover
    color $brand-primary

{$selector-prefix + '-date-picker-shortcut'} + {$selector-prefix + '-date-picker-panel'},
{$selector-prefix + '-date-picker-shortcut'} + {$selector-prefix + '-date-picker-daterange'}
  margin-left $date-picker-shortcut-width

{$selector-prefix + '-date-picker-header'},
{$selector-prefix + '-date-picker-body'}
  user-select none

{$selector-prefix + '-date-picker-header'}
  color $brand-content
  font-size $date-picker-header-font-size
  font-weight 400
  height $date-picker-header-height
  line-height $date-picker-header-height
  text-align center
  position relative

{$selector-prefix + '-date-picker-prev'},
{$selector-prefix + '-date-picker-next'}
  position absolute
  top 0.5 * ($date-picker-header-height - $date-picker-header-button-height)
  line-height 0

{$selector-prefix + '-date-picker-prev'}
  left 0

{$selector-prefix + '-date-picker-next'}
  right 0

{$selector-prefix + '-date-picker-header-icon'}
  font-size $date-picker-header-icon-size

{$selector-prefix + '-date-picker-header-link'}
  transition color .3s
  ui-clickable()

  &:hover
    color $brand-primary

// 定宽，右对齐，避免数字变动时，整个元素在跳动
{$selector-prefix + '-date-picker-header-year'},
{$selector-prefix + '-date-picker-header-month'}
  margin-right $ui-icon-text-gap
  text-align right
  display inline-block

{$selector-prefix + '-date-picker-header-year'}
  width 36px

{$selector-prefix + '-date-picker-header-month'}
  width 22px

{$selector-prefix + '-date-picker-header-separator'}
  margin 0 $date-picker-separator-gap

{$selector-prefix + '-date-picker-header-button'}
  color $brand-close-color
  display inline-block
  width $date-picker-header-button-width
  height $date-picker-header-button-height
  line-height $date-picker-header-button-height
  transition color .3s
  ui-clickable()

  &:hover
    color $brand-close-color-hover

{$selector-prefix + '-date-picker-weeks'}
  background-color $date-picker-week-bg-color
  line-height $date-picker-week-height

  > {$selector-prefix + '-date-picker-col'}
    padding 0
    vertical-align top

{$selector-prefix + '-date-picker-row'}
  margin-top $date-picker-row-gap

  &:first-child
    margin-top $date-picker-grid-gap-vertical

{$selector-prefix + '-date-picker-col'}
  width 14.285%
  color $date-picker-item-color
  font-size $date-picker-item-font-size
  display inline-block
  box-sizing border-box
  text-align center
  padding 0 $date-picker-item-padding

{$selector-prefix + '-date-picker-col-checked'}
  border-radius $border-radius-round

{$selector-prefix + '-date-picker-col-start'},
{$selector-prefix + '-date-picker-col-end'}
  background-color $date-picker-item-range-bg-color

{$selector-prefix + '-date-picker-col-start'}
  border-top-right-radius 0
  border-bottom-right-radius 0

{$selector-prefix + '-date-picker-col-end'}
  border-top-left-radius 0
  border-bottom-left-radius 0

{$selector-prefix + '-date-picker-col-range'}
  background-color $date-picker-item-range-bg-color

{$selector-prefix + '-date-picker-col-enabled'}
  ui-clickable()
  &:hover
    color $brand-primary

{$selector-prefix + '-date-picker-col-disabled'}
  color $brand-disabled
  ui-disabled()

{$selector-prefix + '-date-picker-col-adjacent-month'}
  color $brand-disabled

{$selector-prefix + '-date-picker-text'}
  border-radius $border-radius-round
  box-sizing border-box
  height $date-picker-item-height - 2 * $date-picker-item-padding
  line-height $date-picker-item-height - 2 * $date-picker-item-padding

{$selector-prefix + '-date-picker-col-checked'}
  > {$selector-prefix + '-date-picker-text'}
    color $date-picker-item-checked-color
    background-color $date-picker-item-checked-bg-color

{$selector-prefix + '-date-picker-panel'}
  box-sizing border-box
  padding $date-picker-panel-padding

  + {$selector-prefix + '-date-picker-panel'}
    position relative
    &:before
      content ''
      position absolute
      left 0
      top 0
      bottom 0
      width 1px
      background-color $brand-divider

{$selector-prefix + '-date-picker-daterange'},
{$selector-prefix + '-date-picker-week'}
  {$selector-prefix + '-date-picker-col'}
    padding $date-picker-item-padding

{$selector-prefix + '-date-picker-daterange'}
  {$selector-prefix + '-date-picker-panel'}
    display inline-block
    width 50%

{$selector-prefix + '-date-picker-month'},
{$selector-prefix + '-date-picker-year'}

  {$selector-prefix + '-date-picker-row'} + {$selector-prefix + '-date-picker-row'}
    margin-top $date-picker-month-row-gap

  {$selector-prefix + '-date-picker-col'}
    width 25%

ui-form-button(
  $selector-prefix + '-date-picker',
  $selector-prefix + '-date-picker-enabled',
  $selector-prefix + '-date-picker-disabled',
  $selector-prefix + '-date-picker-opened',
  $selector-prefix + '-date-picker-clearable',
  $selector-prefix + '-date-picker-values',
  $selector-prefix + '-date-picker-value',
  $selector-prefix + '-date-picker-placeholder',
  $selector-prefix + '-date-picker-calendar-icon',
  $selector-prefix + '-date-picker-clear-icon',
  $date-picker-icon-size,
  $date-picker-icon-size
)
