@import '../../../env'

$radio-gap-horizontal = 16px

$radio-button-size-hash = {
  default: {
    height: $height-default,
    font-size: $font-size-default,
    padding-horizontal: $padding-horizontal-default,
  },
  large: {
    height: $height-large,
    font-size: $font-size-large,
    padding-horizontal: $padding-horizontal-large,
  },
  small: {
    height: $height-small,
    font-size: $font-size-small,
    padding-horizontal: $padding-horizontal-small,
  },
}

radio-button-brand-style(color)
  > {$selector-prefix + '-radio-enabled'}

    &:hover
      ui-set('color', color)

    &{$selector-prefix + '-radio-active'}
      ui-set('border-color', color)
      ui-set('background-color', color)

      &:before
        ui-set('background-color', color)

radio-button-size-style(size)
  > {$selector-prefix + '-radio'}
    ui-set('font-size', size['font-size'])
    ui-set('height', size['height'])
    ui-set('line-height', size['height'] - 2)
    ui-set('min-width', size['height'])
    ui-set('padding', 0 size['padding-horizontal'])

{$selector-prefix + '-radio'}
  display inline-block
  user-select none
  box-sizing border-box

  + {$selector-prefix + '-radio'}
    margin-left $radio-gap-horizontal

{$selector-prefix + '-radio-with-label'}
  position relative
  color $brand-content
  font-size $font-size-default
  padding-left $font-size-default + $ui-icon-text-gap
  vertical-align middle
  height $height-default
  line-height $height-default

  > {$selector-prefix + '-radio-icon'}
    position absolute
    left 0
    top 50%
    margin-top -0.5 * $font-size-default

{$selector-prefix + '-radio-active'}
  > {$selector-prefix + '-radio-icon'}:after
    opacity 1
    transform scale(1)

{$selector-prefix + '-radio-icon'}
  display inline-block
  position relative
  width $font-size-default
  height $font-size-default
  border-radius $border-radius-circle
  box-sizing border-box
  border 1px solid $brand-border
  background-color $brand-bg
  transition border-color 0.3s, box-shadow 0.3s

  &:after
    content ''

    position absolute
    left 50%
    top 50%

    width $font-size-default - 6
    height $font-size-default - 6

    margin-top -0.5 * ($font-size-default - 6)
    margin-left -0.5 * ($font-size-default - 6)

    border-radius $border-radius-circle
    background-color $brand-border

    opacity 0
    transform scale(0)
    transition transform .2s, opacity .2s


{$selector-prefix + '-radio-input'}
  position absolute
  opacity 0

{$selector-prefix + '-radio-enabled'},
{$selector-prefix + '-radio-enabled'} input
  ui-clickable()

{$selector-prefix + '-radio-disabled'},
{$selector-prefix + '-radio-disabled'} input
  ui-disabled()

{$selector-prefix + '-radio-enabled'}:hover,
{$selector-prefix + '-radio-active'}
  > {$selector-prefix + '-radio-icon'}
    border-color $brand-primary

{$selector-prefix + '-radio-enabled'}
  > {$selector-prefix + '-radio-icon'}:after
    background-color $brand-primary

{$selector-prefix + '-radio-disabled'}
  color $brand-disabled

  > {$selector-prefix + '-radio-icon'}
    border-color $brand-border

    &:after
      background-color $brand-disabled

if $ui-shadow-radius > 0
  &{$selector-prefix + '-radio-focus'}
    > {$selector-prefix + '-radio-icon'}
      box-shadow 0 0 0 $ui-shadow-radius $brand-primary-shadow

{$selector-prefix + '-radio-vertical'}
  > {$selector-prefix + '-radio'}
    width 100%
    display block

    + {$selector-prefix + '-radio'}
      margin-left 0

{$selector-prefix + '-radio-group'}
  display inline-block

{$selector-prefix + '-radio-button'}
  display inline-block

  + {$selector-prefix + '-radio-button'}
    margin-left $ui-horizontal-gap

  {$selector-prefix + '-radio-icon'}
    display none

  > {$selector-prefix + '-radio'}
    border 1px solid $brand-border
    background-color $brand-bg
    color $brand-content
    transition border-color .2s, color .2s, background-color .2s, box-shadow .2s

    &:first-child
      border-top-left-radius $border-radius-default
      border-bottom-left-radius $border-radius-default

    &:last-child
      border-top-right-radius $border-radius-default
      border-bottom-right-radius $border-radius-default

    + {$selector-prefix + '-radio'}
      margin-left 0
      border-left none

  > {$selector-prefix + '-radio-disabled'}
    border-color $brand-border
    background-color $brand-bg-disabled
    color $brand-disabled

    &{$selector-prefix + '-radio-active'}
      background-color $brand-bg-checked-disabled

  > {$selector-prefix + '-radio-enabled'}

    &:before
      content ''
      position absolute
      width 1px
      left -1px
      top -1px
      bottom -1px
      transition background-color .2s

    &:first-child:before
      content none

    &{$selector-prefix + '-radio-active'},
    &{$selector-prefix + '-radio-active'}:hover
      color $brand-white

    &{$selector-prefix + '-radio-active'}
      z-index $zindex-normal

  radio-button-brand-style($brand-primary)

  // 必须放最后
  ui-connect(
    hash: $radio-button-size-hash,
    each: radio-button-size-style
  )