@import '../../../env'

$radio-gap-horizontal = 16px

radio-button-brand-style(color)
  > {$selector-class-prefix + '-radio-enabled'}

    &:hover
      ui-set('color', color)

    &{$selector-class-prefix + '-radio-active'}
      ui-set('border-color', color)
      ui-set('background-color', color)

      &:before
        ui-set('background-color', color)

radio-button-size-style(size)
  > {$selector-class-prefix + '-radio'}
    ui-set('font-size', size['font-size'])
    ui-set('height', size['height'])
    ui-set('min-width', size['height'])
    ui-set('padding', 0 size['padding-horizontal'])

{$selector-class-prefix + '-radio'}
  display inline-flex
  align-items center
  line-height $ui-multiple-line-height
  user-select none
  box-sizing border-box
  ui-focusable($selector-class-prefix + '-radio-icon')

{$selector-class-prefix + '-radio-with-label'}
  height $height-default
  color $brand-content
  font-size $font-size-default
  white-space nowrap

  > {$selector-class-prefix + '-radio-icon'}
    margin-right $ui-icon-text-gap

{$selector-class-prefix + '-radio-icon'}
  position relative
  width $font-size-default
  height $font-size-default
  border-radius $border-radius-circle
  box-sizing border-box
  border 1px solid $brand-border
  background-color $brand-bg
  transition border-color $form-control-transition-duration,
            box-shadow $form-control-transition-duration

  &:after
    content ''

    position absolute
    left 50%
    top 50%

    width $font-size-default - 6
    height $font-size-default - 6

    margin-top -0.5 * ($font-size-default - 6)
    margin-left -0.5 * ($font-size-default - 6)

    border-radius $border-radius-circle

    opacity 0
    transform scale(0)
    transition transform $form-control-transition-duration,
              opacity $form-control-transition-duration

{$selector-class-prefix + '-radio-active'}
  > {$selector-class-prefix + '-radio-icon'}
    border-color $brand-primary
    &:after
      opacity 1
      transform scale(1)

{$selector-class-prefix + '-radio-enabled'}
  ui-clickable()

  > {$selector-class-prefix + '-radio-icon'}:after
    background-color $brand-primary

  &:hover
    > {$selector-class-prefix + '-radio-icon'}
      border-color $brand-primary

{$selector-class-prefix + '-radio-disabled'}
  ui-disabled()
  color $brand-disabled

  > {$selector-class-prefix + '-radio-icon'}
    border-color $brand-border

    &:after
      background-color $brand-disabled

{$selector-class-prefix + '-radio-vertical'}
  > {$selector-class-prefix + '-radio'}
    display flex

{$selector-class-prefix + '-radio-group'}
  display inline-block

  &{$selector-class-prefix + '-radio-horizontal'}
    > {$selector-class-prefix + '-radio'}
      margin-right $radio-gap-horizontal

{$selector-class-prefix + '-radio-button'}
  display inline-block

  {$selector-class-prefix + '-radio-icon'}
    display none

  > {$selector-class-prefix + '-radio'}
    border 1px solid $brand-border
    background-color $brand-bg
    color $brand-content
    transition border-color $form-control-transition-duration, color $form-control-transition-duration, background-color $form-control-transition-duration, box-shadow $form-control-transition-duration

  > {$selector-class-prefix + '-radio-disabled'}
    border-color $brand-border
    background-color $brand-bg-disabled
    color $brand-disabled

    &{$selector-class-prefix + '-radio-active'}
      background-color $brand-bg-checked-disabled

  > {$selector-class-prefix + '-radio-enabled'}

    &:before
      content ''
      position absolute
      transition background-color $form-control-transition-duration

    &:first-child:before
      content none

    &{$selector-class-prefix + '-radio-active'},
    &{$selector-class-prefix + '-radio-active'}:hover
      color $brand-white

    &{$selector-class-prefix + '-radio-active'}
      z-index $zindex-normal

    &:focus
      ui-focus($brand-primary-shadow)

  &{$selector-class-prefix + '-radio-horizontal'}
    > {$selector-class-prefix + '-radio'}
      + {$selector-class-prefix + '-radio'}
        border-left none

      &:first-child
        border-top-left-radius $border-radius-default
        border-bottom-left-radius $border-radius-default

      &:last-child
        border-top-right-radius $border-radius-default
        border-bottom-right-radius $border-radius-default

    > {$selector-class-prefix + '-radio-enabled'}:before
      width 1px
      left -1px
      top -1px
      bottom -1px

  &{$selector-class-prefix + '-radio-vertical'}
    > {$selector-class-prefix + '-radio'}
      + {$selector-class-prefix + '-radio'}
        border-top none

      &:first-child
        border-top-left-radius $border-radius-default
        border-top-right-radius $border-radius-default

      &:last-child
        border-bottom-left-radius $border-radius-default
        border-bottom-right-radius $border-radius-default

    > {$selector-class-prefix + '-radio-enabled'}:before
      height 1px
      left -1px
      right -1px
      top -1px

  radio-button-brand-style($brand-primary)

  // 必须放最后
  ui-connect(
    hash: $form-button-size-hash,
    each: radio-button-size-style
  )