<span
class="${prefix}breadcrumb-item
{{#if className}} {{className}}{{/if}}"

{{#if style}}
  style="{{style}}"
{{/if}}
>

  <span
    {{#if last}}
      class="${prefix}breadcrumb-text"
    {{else}}
      class="${prefix}breadcrumb-link"
      on-click="click.breadcrumbItem"
    {{/if}}
  >
    <slot />
  </span>

  {{#if !last}}
    <span class="${prefix}breadcrumb-separator">
      {{separator}}
    </span>
  {{/if}}

</span>