@import '../../../env'

$select-prefix-icon-size = 16px
$select-prefix-icon-color = #666

$select-overlay-height = 200px

select-size-style(size)

  ui-set('font-size', size['font-size'])
  ui-set('min-height', size['height'])

  {$selector-class-prefix + '-select-value'},
  {$selector-class-prefix + '-select-placeholder'}
    ui-set('padding-left', size['padding-horizontal'])
    ui-set('padding-right', size['padding-horizontal'])

  {$selector-class-prefix + '-select-values'}
    ui-set(
      'padding',
      size['padding-vertical'] size['padding-horizontal'] size['padding-vertical'] - size['tag-gap-vertical'] size['padding-vertical']
    )

    > {$selector-class-prefix + '-tag'}
      ui-set('height', size['tag-height'])
      ui-set('margin-right', size['tag-gap-horizontal'])
      ui-set('margin-bottom', size['tag-gap-vertical'])

  {$selector-class-prefix + '-select-prefix'}
    ui-set('margin-left', size['padding-horizontal'])

  {$selector-class-prefix + '-select-arrow-icon'},
  {$selector-class-prefix + '-select-clear-icon'}
    ui-set('margin-right', size['icon-right'])

select-brand-style(style)
  &{$selector-class-prefix + '-select-enabled'}
    ui-set('border-color', style['color'])

    &:hover
      ui-set('border-color', style['color'])

  &{$selector-class-prefix + '-select-opened'}
    ui-focus(style['shadow-color'], style['color'])

  &:focus
    ui-focus(style['shadow-color'])

{$selector-class-prefix + '-select'}
  width $ui-form-element-width
  box-sizing border-box
  user-select none
  text-align left

  ui-focusable()

  ui-connect(
    hash: $form-button-size-hash,
    each: select-size-style
  )
  ui-connect(
    hash: $status-brand-hash,
    each: select-brand-style
  )

{$selector-class-prefix + '-select-overlay'}
  width $ui-form-element-width
  max-height $select-overlay-height

  {$selector-class-prefix + '-empty'}
    margin $empty-content-margin-vertical 0

{$selector-class-prefix + '-select-block'}
  ui-flex-block()

{$selector-class-prefix + '-select-option-group-title'}
  color $brand-muted
  font-size 90%
  padding $dropdown-item-padding-vertical $dropdown-item-padding-horizontal

{$selector-class-prefix + '-select-with-prefix'}
  flex-direction row
  align-items center

  > {$selector-class-prefix + '-select-values'},
  > {$selector-class-prefix + '-select-value'},
  > {$selector-class-prefix + '-select-placeholder'}
    padding-left $ui-icon-text-gap

{$selector-class-prefix + '-select-prefix'}
  display flex
  align-items center

{$selector-class-prefix + '-select-prefix-icon'}
  color $select-prefix-icon-color
  font-size $select-prefix-icon-size

{$selector-class-prefix + '-select-opened'}
  > {$selector-class-prefix + '-select-arrow-icon'}
    transform rotate(-180deg)

{$selector-class-prefix + '-select-reversed'}
  > {$selector-class-prefix + '-select-arrow-icon'}
    transform rotate(-180deg)

  &{$selector-class-prefix + '-select-opened'}
    > {$selector-class-prefix + '-select-arrow-icon'}
      transform rotate(0)

ui-form-button(
  $selector-class-prefix + '-select',
  $selector-class-prefix + '-select-enabled',
  $selector-class-prefix + '-select-disabled',
  $selector-class-prefix + '-select-opened',
  $selector-class-prefix + '-select-clearable',
  $selector-class-prefix + '-select-values',
  $selector-class-prefix + '-select-value',
  $selector-class-prefix + '-select-placeholder',
  $selector-class-prefix + '-select-arrow-icon',
  $selector-class-prefix + '-select-clear-icon',
  $select-close-icon-size,
  $select-close-icon-size
)

ui-dropdown-overlay(
  $selector-class-prefix + '-select-overlay',
  $selector-class-prefix + '-select-option',
  $selector-class-prefix + '-select-option-active',
  $selector-class-prefix + '-select-option-enabled',
  $selector-class-prefix + '-select-option-disabled',
  '',
  $brand-primary,
  $brand-bg-active
)