alert-brand-style(style)
  ui-set('border-color', style['border-color'])
  ui-set('background-color', style['bg-color'])

  {$selector-alert-status-icon}
    ui-set('color', style['color'])

ui-alert()
  ui-connect(
    hash: $alert-brand-hash,
    each: alert-brand-style
  )