alert-brand-style(style)
  ui-set('border-color', style['border-color'])
  ui-set('background-color', style['bg-color'])
  ui-set('color', style['text-color'])

  > {$selector-alert-icon}
    ui-set('color', style['icon-color'])

ui-alert()
  ui-connect(
    hash: $alert-brand-hash,
    each: alert-brand-style
  )