avatar-style(style)

  ui-set('width', style['size'])
  ui-set('height', style['size'])
  ui-set('line-height', style['size'])

  {$selector-avatar}-icon
    ui-set('font-size', style['icon-size'])

ui-avatar()

  ui-connect(
    hash: $avatar-size-hash,
    each: avatar-style
  )