badge-brand-style(style)
  > {$selector-badge-text},
  > {$selector-badge-dot}
    ui-set('background-color', style['color'])

  &{$selector-badge-ripple}
    > {$selector-badge-dot}:after
      ui-set('border-color', style['color'])

ui-badge()
  ui-connect(
    hash: $badge-brand-hash,
    each: badge-brand-style
  )
