button-reset()

    a&
        ui-set('color', $brand-text)
        text-decoration none

    button&
        background-color transparent
        outline 0

button-size(size)

    ui-set('font-size', size['font'])
    ui-set('line-height', size['line-height'])
    ui-set('padding', size['padding-vertical'] size['padding-horizontal'])

button-radius(radius)

    ui-set('border-radius', radius)

button-color(color, bg, border)

    ui-set('color', color)
    ui-set('background-color', bg)
    ui-set('border-color', border)

button-style(style)

    button-color(
        style['color'],
        style['bg'],
        style['border']
    )

    {$selector-hover} {

        button-color(
            style['hover-color'],
            style['hover-bg'],
            style['hover-border-color']
        )

    }

    {$selector-active} {
        outline none

        button-color(
            style['active-color'],
            style['active-bg'],
            style['active-border-color']
        )
    }

    {$selector-focus} {
        outline none
        box-shadow 0 0 0 2px style['focus-border-color']
    }

    {$selector-disabled} {
        ui-set('cursor', not-allowed, true)
        button-color(
            style['disabled-color'],
            style['disabled-bg'],
            style['disabled-border-color']
        )
    }

ui-button()

    button-reset()

    ui-variant(
        hash: $button-size-hash,
        each: button-size
    )
    ui-variant(
        hash: $button-radius-hash,
        each: button-radius
    )
    ui-variant(
        hash: $button-hash,
        each: button-style
    )

    > {$selector-text}
        font inherit

ui-buttons()

    ui-collection(
        selector-item: $selector-button,
        hash: $button-size-hash,
        each: @(size) {
            > {$selector-button} {
                button-size(size)
            }

            ui-variant(
                hash: $button-radius-hash,
                each: button-radius
            )
        }
    )