button-size(size)
  ui-set('border-radius', size['border-radius'])
  ui-set('font-size', size['font-size'])
  ui-set('height', size['height'])
  ui-set('line-height', size['height'] - 2)
  ui-set('min-width', size['height'])
  ui-set('padding', 0 size['padding-horizontal'])

  &{$selector-button-link}
    ui-set('line-height', size['height'])

  {$selector-button-loading-icon}
    ui-set('font-size', size['loading-size'])

button-circle-size(style)
  ui-set('width', style['height'])
  ui-set('height', style['height'])

button-brand-style(style)
  ui-set('color', style['color'])
  ui-set('border-color', style['border-color'])
  ui-set('background-color', style['bg-color'])

  &{$selector-button-enabled}
    &:hover
      ui-set('color', style['hover-color'])
      ui-set('border-color', style['hover-border-color'])
      ui-set('background-color', style['hover-bg-color'])

    &:active
      ui-set('color', style['active-color'])
      ui-set('border-color', style['active-border-color'])
      ui-set('background-color', style['active-bg-color'])

    if $ui-shadow-radius > 0
      &:focus
        box-shadow 0 0 0 $ui-shadow-radius style['shadow-color']

    ui-button-group-separator(style['hover-border-color'], style['active-border-color'])

  &{$selector-button-ghost}
    ui-set('color', style['border-color'])
    ui-set('border-color', style['border-color'])

    &{$selector-button-enabled}
      &:hover
        ui-set('color', style['hover-border-color'])
        ui-set('border-color', style['hover-border-color'])

      &:active
        ui-set('color', style['active-border-color'])
        ui-set('border-color', style['active-border-color'])

button-group-size(size)
  > {$selector-button}
    button-size(size)

ui-button-group-separator(hoverColor, activeColor)
  &:hover:before,
  &:hover + {$selector-button}:before
    ui-set('border-color', hoverColor)

  &:active:before,
  &:active + {$selector-button}:before
    ui-set('border-color', activeColor)

ui-button()
  ui-connect(
    hash: $button-size-hash,
    each: button-size
  )
  ui-connect(
    hash: $button-brand-hash,
    each: button-brand-style
  )

ui-button-circle-size()
  ui-connect(
    hash: $button-size-hash,
    each: button-circle-size
  )

ui-button-group()
  ui-connect(
    hash: $button-size-hash,
    each: button-group-size
  )