checkbox-style(style)
  ui-set('color', style['color'])

  &{$selector-checkbox}-active,
  &{$selector-checkbox}-indeterminate
    {$selector-checkbox}-inner
      ui-set('background-color', style[ 'color-active' ])

  &{$selector-hover}
    {$selector-checkbox}-inner
      ui-set('box-shadow', style[ 'box-shadow' ])

checkbox-size-style(style)
  {$selector-checkbox-inner}
    ui-set('width', style[ 'size' ])
    ui-set('height', style[ 'size' ])
    
    &:after
      ui-set('top', style[ 'icon' ][ 'top' ])
      ui-set('left', style[ 'icon' ][ 'left' ])
      ui-set('width', style[ 'icon' ][ 'width' ])
      ui-set('height', style[ 'icon' ][ 'height' ])

  {$selector-checkbox-label}
    ui-set('font-size', style[ 'font-size' ])
    ui-set('padding-left', style[ 'size' ] + 6px)
  
  &{$selector-checkbox}-indeterminate
    {$selector-checkbox-inner}
      &:after
        ui-set('top', style[ 'indeterminate' ][ 'top' ])
        ui-set('left', style[ 'indeterminate' ][ 'left' ])
        ui-set('width', style[ 'indeterminate' ][ 'width' ])

ui-checkbox()

  ui-connect(
    hash: $checkbox-brand-hash,
    each: checkbox-style
  )
  ui-connect(
    hash: $checkbox-size-hash,
    each: checkbox-size-style
  )