ui-grid-row-justify-style(justify)

    ui-set('justify-content', justify)

ui-grid-row-align-style(align)

    ui-set('align-items', align)

ui-col-span()
    float left
    flex 0 0 auto

ui-grid-col-style(index)

    if index == 0
        ui-set('display', none)
    else
        display block
        width percentage((index / $grid-cols))

ui-grid-col-push-style(index)
    if index == 0
        ui-set('left', auto)
    else
        left percentage((index / $grid-cols))

ui-grid-col-pull-style(index)
    if index == 0
        ui-set('right', auto)
    else
        right percentage((index / $grid-cols))

ui-grid-col-offset-style(index)
    margin-left percentage((index / $grid-cols))

ui-grid-col-order-style(index)
    order index

ui-grid()

    ui-connect(
        hash: $grid-hash,
        each: ui-col-span
    )

ui-grid-col()

    ui-connect(
        hash: $grid-hash,
        each: ui-grid-col-style
    )

ui-grid-col-push()

    ui-connect(
        hash: $grid-hash,
        each: ui-grid-col-push-style
    )

ui-grid-col-pull()

    ui-connect(
        hash: $grid-hash,
        each: ui-grid-col-pull-style
    )

ui-grid-col-offset()

    ui-connect(
        hash: $grid-hash,
        each: ui-grid-col-offset-style
    )

ui-grid-col-order()

    ui-connect(
        hash: $grid-hash,
        each: ui-grid-col-order-style
    )

ui-grid-row()
    ui-connect(
        hash: $grid-justify-hash,
        each: ui-grid-row-justify-style
    )
    ui-connect(
        hash: $grid-align-hash,
        each: ui-grid-row-align-style
    )
