input-number-style(style)
    ui-set('width', style['width']);
    ui-set('height', style['height']);

    {$selector-input-number-wrapper}
        ui-set('padding', style['wrapper-padding']);

    {$selector-input-number-actions}
        {$selector-icon}
            ui-set('line-height', style['line-height']);

ui-input-number()

    ui-connect(
        hash: $input-number-hash,
        each: input-number-style
    )

