input-inner-style(style)

    {$selector-input-el}
        ui-set('height', style['height']);
        ui-set('line-height', style['line-height']);
        ui-set('padding', style['padding']);

    &{$selector-input}-clearable
        {$selector-input}-clear-icon
            ui-set('height', style['height']);
            ui-set('line-height', style['line-height']);

ui-input()
    border 1px solid $input-border-color
    border-radius $input-border-radius
    background-color $input-background-color

    &{$selector-hover}
        border-color $input-hover-border-color

    &.bell-focus
        border-color $input-hover-border-color
        box-shadow $input-focus-box-shadow

    ui-connect(
        hash: $input-hash,
        each: input-inner-style
    )

ui-input-el()

    font-size $input-el-font-size
    color $input-el-color


ui-input-clear-icon()

    width $input-clearable-width
    height $input-el-height
    line-height $input-el-height
    font-size $input-clearable-font-size
    color $input-clearable-color