input-size(size)

    {$selector-input}-prepend

        ui-set('height', size['height'] + 2);
        ui-set('line-height', size['line-height'] + 2);

    {$selector-input}-append

        ui-set('height', size['height'] + 2);
        ui-set('line-height', size['line-height'] + 2);

    {$selector-input}

        {$selector-input-el}

            ui-set('height', size['height']);
            ui-set('line-height', size['line-height']);
            ui-set('padding', size['padding']);

        {$selector-input}-icon-eye

            ui-set('line-height', size['line-height']);

    &{$selector-input-wrapper}-clearable

        {$selector-input}-clear-icon

            ui-set('height', size['height']);
            ui-set('line-height', size['line-height']);

input-inner-color(color)

    {$selector-input}-prepend

        ui-set('border-color', color['border-color']);

    {$selector-input}-append

        ui-set('border-color', color['border-color']);

    {$selector-input}

        ui-set('border-color', color['border-color']);
        ui-set('background-color', color['bg-color']);

    &{$selector-hover}

        {$selector-input}
            ui-set('border-color', color['border-color-hover']);

    &.bell-focus
        {$selector-input}
            ui-set('border-color', color['border-color-hover']);
            ui-set('box-shadow', color['box-shadow']);

ui-input()

    ui-connect(
        hash: $input-hash,
        each: input-size
    )
    ui-connect(
        hash: $input-color-hash,
        each: input-inner-color
    )

ui-input-el()

    font-size $input-el-font-size
    color $input-el-color

