input-number-style(height)
  ui-set('height', height)

  {$selector-input-number-actions}
    ui-set('height', height)

    {$selector-input-number}-icon
      ui-set('height', height / 2)
      ui-set('line-height', height / 2)

input-number-color(color)
  ui-set('border-color', color['border-color'])
  ui-set('color', color['color'])
  ui-set('background-color', color['bg-color'])

  &{$selector-hover}
    ui-set('border-color', color['border-color-hover'])

  &{$selector-focus}
    ui-set('box-shadow', color['box-shadow'])

  {$selector-input-number-actions}
    {$selector-input-number}-icon
      &{$selector-hover}
        ui-set('color', color['border-color-hover'])


ui-input-number()
  ui-connect(
    hash: $input-number-hash,
    each: input-number-style
  )
  ui-connect(
    hash: $input-number-color-hash,
    each: input-number-color
  )

