input-number-size-style(style)
  ui-set('height', style['height'])

  > {$selector-input-number-el}
    ui-set('font-size', style['font-size'])
    ui-set('padding', 0 style['padding-horizontal'])

  > {$selector-input-number-actions}
    ui-set('width', style['actions-width'])

  {$selector-input-number-up},
  {$selector-input-number-down}
    ui-set('line-height', 0.5 * (style['height'] - 2))

input-number-brand-style(style)
  &{$selector-input-number-enabled}
    ui-set('border-color', style['color'])

    &:hover
      ui-set('border-color', style['color'])

    &{$selector-input-number-focus}
      ui-set('border-color', style['color'])

      if $ui-shadow-radius > 0
        box-shadow 0 0 0 $ui-shadow-radius style['shadow-color']

ui-input-number()
  ui-connect(
    hash: $input-number-size-hash,
    each: input-number-size-style
  )
  ui-connect(
    hash: $status-brand-hash,
    each: input-number-brand-style
  )

