input-size(size)

    {$selector-input-el}

        ui-set('height', size['height']);
        ui-set('line-height', size['line-height']);
        ui-set('padding', size['padding']);

    &{$selector-input}-clearable

        {$selector-input}-clear-icon

            ui-set('height', size['height']);
            ui-set('line-height', size['line-height']);

input-inner-color(color)

    ui-set('border-color', color['border-color']);
    ui-set('background-color', color['bg-color']);

    &{$selector-hover}

        ui-set('border-color', color['border-color-hover']);

    &.bell-focus

        ui-set('border-color', color['border-color-hover']);
        ui-set('box-shadow', color['box-shadow']);

ui-input()

    ui-connect(
        hash: $input-hash,
        each: input-size
    )
    ui-connect(
        hash: $input-color-hash,
        each: input-inner-color
    )

ui-input-el()

    font-size $input-el-font-size
    color $input-el-color


ui-input-clear-icon()

    width $input-clearable-width
    font-size $input-clearable-font-size
    color $input-clearable-color