layout-style(style)

  ui-set('flex', style['flex'])

  ui-set('padding', style['padding'])
  ui-set('line-height', style['line-height'])
  ui-set('background-color', style['bg-color'])
  ui-set('color', style['color'])

ui-layout()

  ui-connect(
    hash: $layout-hash,
    each: layout-style
  )