link-brand-style(color)
  ui-set('color', color)

link-size-style(size)
  ui-set('font-size', size['font-size'])
  ui-set('line-height', size['line-height'])

ui-link()
  ui-connect(
      hash: $link-size-hash,
      each: link-size-style
  )
  ui-connect(
      hash: $link-brand-hash,
      each: link-brand-style
  )