link-reset()

    input,
    button&
        background-color transparent
        outline 0
        border 0
        padding 0



link-size(size)
    ui-set('font-size', size['font-size'])

link-brand()
    ui-set('color', $brand-link)
    text-decoration none

link-hover()
    ui-transition('color')
    ui-set('color', $brand-link-hover)

link-disabled()
    ui-set('color', $brand-link-disabled, true)

ui-link()
    link-reset()
    link-brand()

    ui-variant(
        hash: $link-size-hash,
        each: link-size
    )

    if $support-mouse
        ui-set('cursor', $cursor-clickable)
        ui-disabled-cursor()

    {$selector-hover}
        link-hover()

    {$selector-disabled}
        link-disabled()



ui-links()

    ui-collection(
        selector-item: $selector-link,
        hash: $link-size-hash,
        each: @(size) {
            > {$selector-link} {
                link-size(size)
            }
        }
    )



