list-size-style(size)
  {$selector-list-header}
    ui-set('padding', size['header-padding'])

  {$selector-list-item}
    ui-set('padding', size['padding-vertical'] size['padding-horizontal'])

  {$selector-list-item-header}
    ui-set('margin-right', size['header-text-gap'])

  {$selector-list-item-footer}
    ui-set('right', size['padding-horizontal'])

ui-list()
  ui-connect(
    hash: $list-size-hash,
    each: list-size-style
  )