list-size(size)
  {$selector-list-item}-content
    ui-set('padding', size[ 'item-padding' ])

  {$selector-list-item}-header
    ui-set('margin-right', size[ 'header-margin-right' ])

list-color(color)
  {$selector-list-item}-content
    ui-set('background-color', color[ 'bg' ])

    {$selector-active}
      ui-set('background-color', color[ 'active-bg' ])
      ui-set('color', color[ 'active-color' ])

  {$selector-list-item}-content-hover
    {$selector-hover}
      ui-set('background-color', color[ 'hover-bg' ])
      ui-set('color', color[ 'hover-color' ])

ui-list()
  ui-connect(
    hash: $list-size-hash,
    each: list-size
  )
  ui-connect(
    hash: $list-color-hash,
    each: list-color
  )