list-size(size)

    {$selector-list-item}

        ui-set('position', relative)
        ui-set('padding', size['item-padding'])
        ui-set('border-radius', size['border-radius'])

    {$selector-list-item}-header
        ui-set('display', inherit)
        ui-set('margin-right', size['header-margin-right'])

    {$selector-list-item}-footer
        ui-set('position', absolute)
        ui-set('right', size['footer-right'])

list-color(color)

    color $brand-secondary

    {$selector-list-item}

        ui-set('background-color', color['bg'])

        {$selector-active}

            ui-set('background-color', color['active-bg'])
            ui-set('color', color['active-color'])

    {$selector-list-item}-hover

        ui-set('cursor', $cursor-clickable)

        {$selector-hover}

            ui-set('background-color', color['hover-bg'])
            ui-set('color', color['hover-color'])

ui-list()

    ui-variant(
        hash: $selector-list-hash,
        each: list-size
    )

    ui-variant(
        hash: $selector-color-hash,
        each: list-color
    )