loadingbar-brand-style(style)
  {$selector-loadingbar-bg}
    ui-set('background-color', style['color'])

ui-loadingbar()
  ui-connect(
    hash: $loadingbar-brand-hash,
    each: loadingbar-brand-style
  )