menu-theme-style(style)
  ui-set('background-color', style['bg-color'])

  {$selector-dropdown-list}
    ui-set('background-color', style['bg-color'])

  {$selector-menu-item-disabled}
    ui-set('color', style['item-disabled-color'])

  if style['item-bg-color']
    > {$selector-menu-item},
    > {$selector-menu-submenu} > {$selector-menu-submenu-title},
    > {$selector-menu-submenu} > {$selector-dropdown-trigger} > {$selector-menu-submenu-title}
      ui-set('background-color', style['item-bg-color'])

  if style['inline-bg-color']
    {$selector-menu-inline}
      ui-set('background-color', style['inline-bg-color'])

  {$selector-menu-item-enabled},
  {$selector-menu-submenu-title}

    if style['item-color']
      ui-set('color', style['item-color'])


    if style['item-hover-color']
      &:hover
        ui-set('color', style['item-hover-color'])

  {$selector-menu-group-title}
    ui-set('color', style['group-title-color'])

  > {$selector-menu-item-active}
    ui-set('color', style['item-active-color'])
    ui-set('background-color', style['item-active-bg-color'])

  &{$selector-menu-horizontal}
    > {$selector-menu-item-active}
      ui-set('color', style['horizontal-item-active-color'])
      ui-set('background-color', style['horizontal-item-active-bg-color'])

  &{$selector-menu-vertical}
    > {$selector-menu-item-active}
      ui-set('color', style['vertical-item-active-color'])
      ui-set('background-color', style['vertical-item-active-bg-color'])

  &{$selector-menu-inline}
    {$selector-menu-item-active}
      ui-set('color', style['inline-item-active-color'])
      ui-set('background-color', style['inline-item-active-bg-color'])

ui-menu()
  ui-connect(
    hash: $menu-theme-hash,
    each: menu-theme-style
  )