page-size(size)
  {$selector-page}-list
    {$selector-page}-item
      ui-set('width', size)
      ui-set('height', size)
      ui-set('line-height', size)

      > {$selector-icon}
        ui-set('line-height', size - 2)

ui-page()
  ui-connect(
    hash: $page-size-hash,
    each: page-size
  )