page-size-style(style)
  ui-set('font-size', style['font-size'])

  {$selector-page-item}
    ui-set('min-width', style['height'])
    ui-set('height', style['height'])
    ui-set('line-height', style['height'] - 2)
    ui-set('font-size', style['font-size'])

ui-page()
  ui-connect(
    hash: $page-size-hash,
    each: page-size-style
  )