page-size-style(style)
  {$selector-page-item}
    ui-set('width', style['height'])
    ui-set('height', style['height'])
    ui-set('line-height', style['height'])

    > {$selector-icon}
      ui-set('line-height', style['height'] - 2)

ui-page()
  ui-connect(
    hash: $page-size-hash,
    each: page-size-style
  )