pagination-size-style(style)
  ui-set('font-size', style['font-size'])

  {$selector-pagination-item}
    ui-set('min-width', style['height'])
    ui-set('height', style['height'])
    ui-set('line-height', style['height'] - 2)
    ui-set('font-size', style['font-size'])
    ui-set('padding-left', style['padding-horizontal'])
    ui-set('padding-right', style['padding-horizontal'])

ui-pagination()
  ui-connect(
    hash: $pagination-size-hash,
    each: pagination-size-style
  )