radio-button-group-brand-style(style)
  > {$selector-radio-enabled}
    &:hover
      ui-set('color', style['color'])

    &{$selector-radio-active}
      ui-set('border-color', style['color'])
      ui-set('color', style['color'])

      if $ui-shadow-radius > 0
        box-shadow -1px 0 0 $ui-shadow-radius style['shadow-color'],
                    0 0 0 $ui-shadow-radius style['shadow-color']

      &:before
        ui-set('background-color', style['color'])

radio-button-group-size-style(size)
  > {$selector-radio}
    ui-set('font-size', size['font-size'])
    ui-set('padding', 0 size['padding-horizontal'])
    ui-set('height', size['height'])
    ui-set('min-width', size['height'])
    ui-set('line-height', size['height'])

ui-radio-button-group()
  ui-connect(
    hash: $radio-brand-hash,
    each: radio-button-group-brand-style
  )
  ui-connect(
    hash: $radio-size-hash,
    each: radio-button-group-size-style
  )