radio-button-brand-style(color)
  > {$selector-radio-enabled}

    &:hover
      ui-set('color', color)

    &{$selector-radio-active}
      ui-set('border-color', color)
      ui-set('background-color', color)

      &:before
        ui-set('background-color', color)

radio-button-size-style(size)
  > {$selector-radio}
    ui-set('font-size', size['font-size'])
    ui-set('height', size['height'])
    ui-set('line-height', size['height'] - 2)
    ui-set('min-width', size['height'])
    ui-set('padding', 0 size['padding-horizontal'])

ui-radio-button()
  ui-connect(
    hash: $radio-button-size-hash,
    each: radio-button-size-style
  )