radio-group-style(style)

    {$selector-radio}

        &{$selector-active}

            {$selector-radio}-inner

                ui-set('color', style['color-active']);
                ui-set('box-shadow', style['box-shadow'])

        {$selector-radio}-inner

            ui-set('background-color', style['bg-color']);
            ui-set('color', style['color']);

            &:after

                ui-set('background-color', style['bg-color']);

        &{$selector-hover}

            {$selector-radio}-inner

                ui-set('color', style['color-hover']);

    {$selector-radio}-disabled

        &{$selector-hover}

            {$selector-radio}-inner

                ui-set('color', $brand-border);

ui-radio-group()

    ui-connect(
        hash: $radio-brand-hash,
        each: radio-group-style
    )