rate-color-style(style)
  {$selector-rate-star-full}
    {$selector-hover}
    {$selector-active}
      ui-set('color', style[ 'active-color' ])

  {$selector-rate-star-content}
    {$selector-active}
      ui-set('color', style[ 'active-color' ])

ui-rate()
  ui-connect(
    hash: $rate-color-hash,
    each: rate-color-style
  )
