select-size-style(size)

  {$selector-select-value},
  {$selector-select-placeholder}
    ui-set('font-size', size['font-size'])
    ui-set('height', size['height'] - 2)
    ui-set('line-height', size['height'] - 2)
    ui-set('padding-left', size['button-padding-horizontal'])
    ui-set('padding-right', size['icon-right'] + $form-button-icon-size)

  {$selector-select-values}
    ui-set(
      'padding',
      size['button-padding-vertical'] size['icon-right'] + $form-button-icon-size size['button-padding-vertical'] - size['tag-gap-vertical'] size['button-padding-vertical']
    )

    > {$selector-tag}
      ui-set('height', size['tag-height'])
      ui-set('line-height', size['tag-height'])
      ui-set('margin-right', size['tag-gap-horizontal'])
      ui-set('margin-bottom', size['tag-gap-vertical'])

  {$selector-select-prefix}
    ui-set('height', size['height'] - 2)
    ui-set('line-height', size['height'] - 2)
    ui-set('padding-left', size['button-padding-horizontal'])

  {$selector-select-arrow-icon},
  {$selector-select-clear-icon}
    ui-set('right', size['icon-right'])

select-brand-style(style)
  &{$selector-select-enabled} {$selector-select-button}
    ui-set('border-color', style['color'])

    &:hover
      ui-set('border-color', style['color'])

  &{$selector-dropdown-fade} {$selector-select-button}
    ui-set('border-color', style['color'])

    if $ui-shadow-radius > 0
      box-shadow 0 0 0 $ui-shadow-radius style['shadow-color']

ui-select()
  ui-connect(
    hash: $form-button-size-hash,
    each: select-size-style
  )
  ui-connect(
    hash: $status-brand-hash,
    each: select-brand-style
  )