select-size-style(size)

    {$selector-select}-button

        {$selector-select}-value,
        {$selector-select}-placeholder

            ui-set('font-size', size['font'])
            ui-set('padding', size['padding'])

        {$selector-select}-arrow

            ui-set('padding', size['arrow-padding'])

    {$selector-prefix}-dropdown-list

        {$selector-select}-option

            ui-set('padding', size['option-padding'])
            ui-set('font-size', size['font'])
            line-height 1

    &{$selector-select}-top

        {$selector-prefix}-dropdown-list

            ui-set('bottom', size['height'] + 8)

    &{$selector-active}

        {$selector-prefix}-dropdown-list

            ui-set('max-height', size['max-height'], true)

select-color-style(color)

    {$selector-select-button}

        border 1px solid
        ui-set('background-color', color['bg-color'])
        ui-set('border-color', color['border-color'])

        &{$selector-hover}

            ui-set('border-color', color['border-color-hover'])

    &{$selector-active}

        {$selector-select-button}

            ui-set('border-color', color['border-color-hover'])
            ui-set('box-shadow', color['box-shadow'])

    {$selector-select}-option

        &{$selector-hover}

            ui-set('background-color', color['brand-bg-hover'])

ui-select()

    ui-connect(
        hash: $select-size-hash,
        each: select-size-style
    )
    ui-connect(
        hash: $select-color-hash,
        each: select-color-style
    )