slider-style(color)
  {$selector-slider-fill}
    ui-set('background-color', color['color'])

  {$selector-slider-thumb}
    ui-set('border-color', color['color'], true)

ui-slider()
  ui-connect(
    hash: $slider-brand-hash,
    each: slider-style
  )