spinner-brand-style(style)
  ui-set('color', style['color'])

  {$selector-spinner-dot}
    ui-set('background-color', style['color'])

spinner-size-style(style)
  {$selector-spinner-dot}
    ui-set('width', style['size'])
    ui-set('height', style['size'])

  {$selector-spinner-text}
    ui-set('font-size', style['font-size'])

ui-spinner()
  ui-connect(
    hash: $spinner-brand-hash,
    each: spinner-brand-style
  )

  ui-connect(
    hash: $spinner-size-hash,
    each: spinner-size-style
  )