spin-brand-style(style)
  ui-set('color', style['color'])

spin-size-style(style)
  {$selector-spin-icon}
    ui-set('font-size', style['icon-size'])

  {$selector-spin-text}
    ui-set('font-size', style['font-size'])

ui-spin()
  ui-connect(
    hash: $spin-brand-hash,
    each: spin-brand-style
  )

  ui-connect(
    hash: $spin-size-hash,
    each: spin-size-style
  )