switch-size-style(size)

  $switch-thumb-width = size['height'] - 2 * $switch-thumb-gap
  $switch-thumb-height = size['height'] - 2 * $switch-thumb-gap

  $switch-loading-width = size['height'] - 2 * $switch-thumb-gap - 2 * $switch-loading-gap
  $switch-loading-height = size['height'] - 2 * $switch-thumb-gap - 2 * $switch-loading-gap

  ui-set('min-width', size['width'])
  ui-set('height', size['height'])
  ui-set('padding-left', $switch-thumb-width + $switch-thumb-gap)


  &{$selector-switch-active}
    ui-set('padding-left', 0)
    ui-set('padding-right', $switch-thumb-width + $switch-thumb-gap)

    &:before
      ui-set('margin-left', - ($switch-thumb-width + $switch-thumb-gap))

    &:after
      ui-set('margin-left', - ($switch-loading-width + $switch-thumb-gap + $switch-loading-gap))

  &:before
    ui-set('width', $switch-thumb-width)
    ui-set('height', $switch-thumb-height)

  &:after
    ui-set('width', $switch-loading-width)
    ui-set('height', $switch-loading-height)

  > {$selector-switch-label}
    ui-set('line-height', size['height'])
    ui-set('height', size['height'])

switch-brand-style(style)
  &:after
    ui-set('border-left-color', style['color'])

  &{$selector-switch-active}
    ui-set('background-color', style['color'])

ui-switch()
  ui-connect(
    hash: $switch-size-hash,
    each: switch-size-style
  )
  ui-connect(
    hash: $switch-brand-hash,
    each: switch-brand-style
  )
