switch-size-style(size)

    ui-set('width', size['width'])
    ui-set('height', size['height'])
    ui-set('border-radius', size['height'])

    &{$selector-active}

        {$selector-switch-button}

            &:after

                ui-set('left', size['after-left'])

    {$selector-switch-button}

        ui-set('width', size['width'])
        ui-set('height', size['height'])

        {$selector-switch}-on

            ui-set('font-size', size['font-size'])
            ui-set('line-height', size['height'])
            ui-set('height', size['height'])
            ui-set('width', size['width'] / 2)

        {$selector-switch}-off

            ui-set('font-size', size['font-size'])
            ui-set('line-height', size['height'])
            ui-set('height', size['height'])
            ui-set('width', size['width'] / 2)

        &:after

            ui-set('width', size['after-size'])
            ui-set('height', size['after-size'])

switch-brand-style(style)

    ui-set('border-color', style['border-color'])
    ui-set('background-color', style['bg-color'])

    &{$selector-active}

        ui-set('background-color', style['active-bg-color'])
        ui-set('border-color', style['active-border-color'])

    {$selector-switch-button}

        {$selector-switch}-on

            ui-set('color', style['color'])

        {$selector-switch}-off

            ui-set('color', style['color'])

        &:after

            ui-set('background-color', style['after-bg-color'])

ui-switch()

    ui-connect(
        hash: $switch-size-hash,
        each: switch-size-style
    )

    ui-connect(
        hash: $switch-brand-hash,
        each: switch-brand-style
    )
