size-size-style(style)
  {$selector-tabs-tab}
    ui-set('font-size', style['font-size'])
    ui-set('height', style['height'])
    ui-set('line-height', style['height'])
    ui-set('padding', 0 style['padding-horizontal'])

  &{$selector-tabs-card} {$selector-tabs-tab}
    ui-set('line-height', style['height'] - 2)

ui-tabs()
  ui-connect(
    hash: $tabs-bar-size-hash,
    each: size-size-style
  )