tag-size-style(style)
  ui-set('height', style['height'])
  ui-set('line-height', style['height'])
  ui-set('padding-left', style['padding-horizontal'])
  ui-set('padding-right', style['padding-horizontal'])

  &{$selector-tag-dot}
    ui-set('padding-left', style['padding-horizontal'] + style['dot-size'] + style['padding-horizontal'])

    // dot
    &:before
      ui-set('width', style['dot-size'])
      ui-set('height', style['dot-size'])
      ui-set('margin-top', -0.5 * style['dot-size'])
      ui-set('left', style['padding-horizontal'])

  &{$selector-tag-closable}
    ui-set('padding-right', style['close-width'])

    &:after
      ui-set('right', style['close-width'])

    &{$selector-tag-border}
      ui-set('padding-right', style['close-width'] + style['padding-horizontal'])

  > {$selector-tag-close-icon}
    ui-set('width', style['close-width'])

tag-brand-style(style)

  // dot
  &{$selector-tag-dot}:before
    ui-set('background-color', style['color'])

  &{$selector-tag-unborder},
  &{$selector-tag-border}
    ui-set('color', style['color'])

    &{$selector-tag-checked}
      ui-set('background-color', style['color'])
      ui-set('color', style['text-color'])

    > {$selector-tag-close-icon}
      ui-set('color', style['light-color'])
      &:hover
        ui-set('color', style['color'])

  &{$selector-tag-unborder}
    &{$selector-tag-checked}
      ui-set('border-color', style['color'])

      // dot
      &:before
        ui-set('background-color', style['text-color'])

      > {$selector-tag-close-icon}
        ui-set('color', style['text-color'])

  &{$selector-tag-border}
    ui-set('border-color', style['color'])

    &{$selector-tag-closable}:after
      ui-set('background-color', style['color'])

ui-tag()
  ui-connect(
    hash: $tag-size-hash,
    each: tag-size-style
  )
  ui-connect(
    hash: $tag-brand-hash,
    each: tag-brand-style
  )