text-brand-style(color)
  ui-set('color', color)

text-size-style(size)
  ui-set('font-size', size['font-size'])
  ui-set('line-height', size['line-height'])

ui-text()
  ui-connect(
      hash: $text-size-hash,
      each: text-size-style
  )
  ui-connect(
      hash: $text-brand-hash,
      each: text-brand-style
  )