textarea-size-style(style)
  > {$selector-textarea-el}
    ui-set('font-size', style['font-size'])
    ui-set('padding', style['padding-vertical'] style['padding-horizontal'])

textarea-brand-style(style)
  > {$selector-textarea-el}
    ui-set('border-color', style['color'])

    &:focus
      ui-set('border-color', style['color'])
      if $ui-shadow-radius > 0
        box-shadow 0 0 0 $ui-shadow-radius style['shadow-color']

ui-textarea()
  ui-connect(
    hash: $status-brand-hash,
    each: textarea-brand-style
  )
  ui-connect(
    hash: $input-size-hash,
    each: textarea-size-style
  )