ui-set(name, value, important = false)

    apply = @() {
        if (important) {
            {name} value !important
        }
        else {
            {name} value
        }
    }

    if value is a 'unit'
        apply()

    else if value
        apply()

ui-opacity(value)
    ui-set('opacity', value)

    if $support-ie8 and value is a 'unit'
        filter unquote('alpha(opacity=)' + 100 + value + ')')

ui-ellipsis()

    overflow hidden
    white-space nowrap
    text-overflow ellipsis
    word-break keep-all

ui-fluid(isImportant = false)

    if (isImportant) {
        display block !important
        width 100%
        box-sizing border-box
    }
    else {
        display block
        width 100%
        box-sizing border-box
    }

ui-column()
    display flex
    flex-direction column

ui-row()
    display flex
    flex-direction row

ui-justified(selector-item)
    display table

    > {selector-item}
        display table-cell
        width 1%

ui-apply(style, selector = '')
    if selector
        {selector}
            style()
    else
        style()

ui-variant(hash, each)
    for name in hash

        selector = '&'

        if name
            selector += '.' + name

        ui-apply(
            selector: selector,
            style: @() {
                each(hash[name], name)
            }
        )

ui-connect(hash, each)
    for name in hash

        selector = '&'

        if name
            selector += '-' + name

        ui-apply(
            selector: selector,
            style: @() {
                each(hash[name], name)
            }
        )

ui-collection(selector-item, hash = $size-hash, each = null)

    font-size 0

    ui-variant(
        hash: hash,
        each: @(size, name) {

            > {selector-item} {
                + {selector-item} {
                    ui-set('margin-left', size['margin-horizontal'])

                    &{$selector-fluid} {
                        margin-left 0
                        ui-set('margin-top', size['margin-vertical'])
                    }
                }
            }

            if (each) {
                ui-apply(
                    style: @() {
                        each(size, name)
                    }
                )
            }

        }
    )

ui-collection-tight(selector-item, gap-item = 0)

    > {selector-item}
        + {selector-item}
            margin-left gap-item
            &{selector-fluid}
                if gap-item != 0
                    margin-left 0
                margin-top 0

ui-scrollbar()

    ::-webkit-scrollbar {
        width: 4px;
    }
    ::-webkit-scrollbar {
        height: 4px;
    }
    ::-webkit-scrollbar-track {
        background-color: rgba(0,0,0,0);
    }
    ::-webkit-scrollbar-thumb {
        background-color: #d1d1d1;
        border-radius: 10px;
    }
    ::-webkit-scrollbar-thumb:hover {
        background-color: #b3b3b3;
    }

ui-fullscreen(pos = fixed)

    position pos
    top 0
    left 0
    right 0
    bottom 0

ui-center()

    position absolute
    left 50%
    top 50%
    text-align center
    transform translate(-50%,-50%)
    line-height 1

ui-placeholder(color)

    &::-webkit-input-placeholder  /* WebKit browsers */
      color color

    &:-moz-placeholder  /* Mozilla Firefox 4 to 18 */
      color color

    &::-moz-placeholder  /* Mozilla Firefox 19+ */
      color color

    &:-ms-input-placeholder  /* Internet Explorer 10+ */
      color color