<div class="${prefix}tooltip
  {{#if isShow}} ${prefix}show{{/if}}
  {{#if isHover}} ${prefix}hover{{/if}}
  {{#if className}} {{className}}{{/if}}
"
{{#if style}} style="{{style}}"{{/if}}
>
  <div class="${prefix}tooltip-el"
    ref="contents"
    on-mouseover="hover()"
    on-mouseleave="leave()"
    on-click="click()"
  >
    <slot name="children" />
  </div>

  <div class="${prefix}tooltip-popper
    {{#if disabled}} ${prefix}tooltip-disabled{{/if}}"
    ref="poperElement"
    data-placement="{{placement ? placement : 'bottom'}}"
  >
    <div class="${prefix}tooltip-arrow"></div>
    <div class="${prefix}tooltip-inner"
      ref="innerElement"
      style="{{#if maxWidth}}max-width: {{maxWidth}}px{{/if}};
        {{#if maxHeight}} max-height: {{maxHeight}}px{{/if}};
      "
    >
      <slot name="content">
        {{content}}
      </slot>
    </div>
  </div>
</div>