$loadingbar-bg-color = rgba(245,245,245,0.7)

loadingbar-brand-style(style)
  {$selector-class-prefix + '-loadingbar-indicator'}
    ui-set('background-color', style['color'])

{$selector-class-prefix + '-loadingbar'}
  background-color $loadingbar-bg-color
  position absolute
  left 0
  right 0
  top 0
  box-shadow $brand-color-swatch-shadow
  ui-connect(
    hash: $type-brand-hash,
    each: loadingbar-brand-style
  )

{$selector-class-prefix + '-loadingbar-fixed'}
  position fixed
  z-index $zindex-loadingbar

{$selector-class-prefix + '-loadingbar-indicator'}
  // 给一个足够大的值，使得右侧是半圆
  border-top-right-radius 50px
  border-bottom-right-radius 50px
  transition width .3s
