<div 
class="${prefix}drawer
  {{#if className}} {{className}}{{/if}}
  {{#if position}} ${prefix}drawer-{{position}}{{/if}}
" 
style="{{#if style}} {{style}}{{/if}}"
>
  {{#if useMask}}
    <div class="${prefix}drawer-mask"></div>
  {{/if}}

  <div ref="drawContent" class="${prefix}drawer-content"
    style="{{#if position == "left" || position == "right"}}
      width: {{size}}px;
    {{else}}
      height: {{size}}px;
    {{/if}}"
  >   
    <div class="${prefix}drawer-header">
      {{#if title}}
      <div class="${prefix}drawer-title">
        {{title}}
      </div>
      {{/if}}
    </div>
    
    <div class="${prefix}drawer-body">
      <slot name="children" />
    </div>
  </div>
</div>