@import '../../../env'

$form-item-vertical-gap = 24px
$form-item-label-tooltip-gap = 3px
$form-item-label-wrapper-gap = 12px
$form-item-help-margin-top = 4px
$form-item-help-margin-bottom = 8px

{$selector-class-prefix + '-form'}
  display flex
  flex-direction column
  color $brand-content
  text-align left

{$selector-class-prefix + '-form-item'}
  align-items flex-start

{$selector-class-prefix + '-form-item-label-required'}
  &:before
    content '*'
    font-size 80%
    font-family SimSun
    color $brand-error
    margin-right $ui-icon-text-gap

{$selector-class-prefix + '-form-item-label'}
  display flex
  justify-content flex-start
  align-items center
  font-size $font-size-default
  height $height-default
  line-height $ui-multiple-line-height
  box-sizing border-box
  white-space nowrap

{$selector-class-prefix + '-form-item-tooltip'}
  cursor help
  display block
  line-height 0
  margin-left $form-item-label-tooltip-gap

{$selector-class-prefix + '-form-item-wrapper'}
  flex 1 1 auto
  display flex
  flex-direction column
  align-self stretch

{$selector-class-prefix + '-form-item-controls'}
  flex 1 1 auto
  display flex
  flex-direction row
  align-items center
  width 100%
  min-height $height-default

{$selector-class-prefix + '-form-item-extra'},
{$selector-class-prefix + '-form-item-message'}
  font-size $font-size-small
  line-height $ui-multiple-line-height
  margin-top $form-item-help-margin-top

{$selector-class-prefix + '-form-item-extra'}
  color $brand-muted

{$selector-class-prefix + '-form-item-message'}
  color $brand-error

{$selector-class-prefix + '-form-item-with-extra'}
  {$selector-class-prefix + '-form-item-message'}
    margin-top 0

{$selector-class-prefix + '-form-colon'}
  {$selector-class-prefix + '-form-item-label'}:after
    content ':'
    margin-left 4px

{$selector-class-prefix + '-form-inline'}
  flex-direction row
  flex-wrap wrap
  align-items flex-start

  {$selector-class-prefix + '-form-item'}
    display inline-flex

{$selector-class-prefix + '-form-horizontal'},
{$selector-class-prefix + '-form-vertical'}
  {$selector-class-prefix + '-form-item'}
    display flex
    + {$selector-class-prefix + '-form-item'}
      margin-top $form-item-vertical-gap

  {$selector-class-prefix + '-form-item-with-extra'},
  {$selector-class-prefix + '-form-item-with-message'}
    + {$selector-class-prefix + '-form-item'}
      margin-top $form-item-help-margin-bottom

{$selector-class-prefix + '-form-horizontal'}
  {$selector-class-prefix + '-form-item'}
    flex-direction row

{$selector-class-prefix + '-form-vertical'}
  {$selector-class-prefix + '-form-item-label'}
    align-self stretch
  {$selector-class-prefix + '-form-item'}
    flex-direction column

{$selector-class-prefix + '-form-inline'},
{$selector-class-prefix + '-form-horizontal'}

  &{$selector-class-prefix + '-form-label-left'},
  &{$selector-class-prefix + '-form-label-right'}
    {$selector-class-prefix + '-form-item-label'}
      padding-right $form-item-label-wrapper-gap

  &{$selector-class-prefix + '-form-label-right'}
    {$selector-class-prefix + '-form-item-label'}
      justify-content flex-end

{$selector-class-prefix + '-form-item-adaptive'}
  flex 1 1 auto