@import '../../../env'

$progress-bg-color = #e8eaec

progress-brand-style(style)
  {$selector-class-prefix + '-progress-bar'}
    ui-set('background-color', style['color'])

ui-progress()
  ui-connect(
    hash: $status-brand-hash,
    each: progress-brand-style
  )

{$selector-class-prefix + '-progress'}
  ui-progress()

{$selector-class-prefix + '-progress-track'}
  flex 1
  background-color $progress-bg-color
  border-radius $border-radius-round

{$selector-class-prefix + '-progress-bar'}
  border-radius $border-radius-round
  transition height .2s, width .2s

{$selector-class-prefix + '-progress-text'}
  white-space nowrap
  color $brand-content
  font-size $font-size-default

{$selector-class-prefix + '-progress-inside'}
  {$selector-class-prefix + '-progress-track'}
    text-align right

  {$selector-class-prefix + '-progress-text'}
    color $brand-white
    font-size 80%
    margin-right $ui-horizontal-gap

{$selector-class-prefix + '-progress-outside'}
  &{$selector-class-prefix + '-progress-horizontal'}
    > {$selector-class-prefix + '-progress-text'}
      margin-left $ui-horizontal-gap

{$selector-class-prefix + '-progress-with-text'}
  display flex
  flex-direction row
  align-items center

{$selector-class-prefix + '-progress-horizontal'}
  {$selector-class-prefix + '-progress-bar'}
    position relative

{$selector-class-prefix + '-progress-vertical'}
  height 100%
  display inline-block
  text-align center

  {$selector-class-prefix + '-progress-track'}
    position relative
    height 100%
    margin 0 auto

  {$selector-class-prefix + '-progress-bar'}
    position absolute
    bottom 0

  > {$selector-class-prefix + '-progress-text'}
    text-align center
    margin-top $ui-horizontal-gap

{$selector-class-prefix + '-progress-active'}
  {$selector-class-prefix + '-progress-bar'}:before
    content ''
    opacity 0
    position absolute
    left 0
    bottom 0
    background-color $brand-white
    border-radius $border-radius-round

  &{$selector-class-prefix + '-progress-horizontal'}
    {$selector-class-prefix + '-progress-bar'}:before
      top 0
      animation bell-progress-horizontal-active 2s ease-in-out infinite

  &{$selector-class-prefix + '-progress-vertical'}
    {$selector-class-prefix + '-progress-bar'}:before
      right 0
      animation bell-progress-vertical-active 2s ease-in-out infinite


@keyframes {$selector-animation-prefix + '-progress-horizontal-active'}
  0%
    opacity .3
    width 0

  100%
    opacity 0
    width 100%


@keyframes {$selector-animation-prefix + '-progress-vertical-active'}
  0%
    opacity .3
    height 0

  100%
    opacity 0
    height 100%


