<div
class="${prefix}form
{{#if layout}} ${prefix}form-{{layout}}{{/if}}
{{#if showColon}} ${prefix}form-colon{{/if}}
{{#if labelAlign}} ${prefix}form-label-{{labelAlign}}{{/if}}
{{#if className}} {{className}}{{/if}}"

{{#if style}}
  style="{{style}}"
{{/if}}
>
  <slot />
</div>