$selector-alert = $selector-prefix + '-alert'
$selector-alert-with-content = $selector-alert + '-with-content'
$selector-alert-with-icon = $selector-alert + '-with-icon'

$selector-alert-title = $selector-alert + '-title'
$selector-alert-content = $selector-alert + '-content'
$selector-alert-icon = $selector-alert + '-icon'

$alert-size = 14px
$alert-radius = $radius-base
$alert-padding = 12px 16px

$alert-icon-size = 16px
$alert-gap = 6px
$alert-with-content-icon-size = 28px

$alert-close-padding = 10px
$alert-close-size = 12px
$alert-close-hover-color = #444

$alert-brand-hash = {
  '': {
    border: #BBDCFD,
    bg-color: #CDE6FE,
    icon-color: $brand-primary,
    color: #064283
  },
  'secondary': {
    border: #D6D8DB,
    bg-color: #E2E3E5,
    icon-color: $brand-secondary,
    color: #383D41
  },
  'info': {
    border: #BFE5EB,
    bg-color: #D2ECF1,
    icon-color: $brand-info,
    color: #11545F
  },
  'success': {
    border: #C4E6CC,
    bg-color: #D5EDDB,
    icon-color: $brand-success,
    color: #195627
  },
  'error': {
    border: #F4C6CC,
    bg-color: #F7D7DB,
    icon-color: $brand-danger,
    color: #701D26
  },
  'warning': {
    border: #FEEDBD,
    bg-color: #FFF3CF,
    icon-color: $brand-warning,
    color: #846315
  },
  'light': {
    border: $brand-white,
    bg-color: $brand-white,
    icon-color: $brand-secondary-active,
    color: $brand-secondary-active
  },
  'dark': {
    border: $brand-secondary-hover,
    bg-color: $brand-muted,
    icon-color: #fff,
    color: #fff
  }
}
