$selector-alert = '.bell-alert'

$alert-font-size = 12px;
$alert-line-height = 1.2;
$alert-padding = 12px 16px;
$alert-icon-margin-right = 6px;

$alert-close-padding = 0 10px;
$alert-close-min-width = 24px;
$alert-close-height = 40px;
$alert-close-font-size = 22px;
$alert-close-font-color = #999;
$alert-close-font-hover-color = #444;

$alert-brand-hash = {
    '': {
        border: 1px solid $brand-primary-hover,
        bg-color: rgba($brand-primary-hover, .4),
        icon-color: $brand-primary,
    },
    'info': {
        border: 1px solid $brand-info-hover,
        bg-color: rgba($brand-info-hover, .4),
        icon-color: $brand-info,
    },
    'success': {
        border: 1px solid $brand-success-hover,
        bg-color: rgba($brand-success-hover, .4),
        icon-color: $brand-success,
    },
    'error': {
        border: 1px solid $brand-error-hover,
        bg-color: rgba($brand-error-hover, .4),
        icon-color: $brand-error,
    },
    'warning': {
        border: 1px solid $brand-warning-hover,
        bg-color: rgba($brand-warning-hover, .4),
        icon-color: $brand-warning,
    },
    'danger': {
        border: 1px solid $brand-danger-hover,
        bg-color: rgba($brand-danger-hover, .4),
        icon-color: $brand-danger,
    }
}
