$selector-alert = '.bell-alert'

$alert-font-size = 12px;
$alert-line-height = 1.2;
$alert-padding = 12px 16px;
$alert-bell-icon-margin-right = 6px;

$alert-close-padding = 0 10px;
$alert-close-min-width = 24px;
$alert-close-height = 40px;
$alert-close-font-size = 22px;
$alert-close-font-color = #999;
$alert-close-font-hover-color = #444;
$alert-font-color = #495060;

$alert-brand-hash = {
    '': {
        border: 1px solid $brand-primary,
        bg-color: $brand-primary-hover,
        bell-icon-color: $brand-primary-active
    },
    'secondary': {
        border: 1px solid $brand-secondary-hover,
        bg-color: rgba($brand-secondary-hover, .4),
        bell-icon-color: $brand-secondary-active
    },
    'info': {
        border: 1px solid $brand-info,
        bg-color: $brand-info-hover,
        bell-icon-color: $brand-info-active
    },
    'success': {
        border: 1px solid $brand-success,
        bg-color: $brand-success-hover,
        bell-icon-color: $brand-success-active
    },
    'error': {
        border: 1px solid $brand-error,
        bg-color: $brand-error-hover,
        bell-icon-color: $brand-error-active
    },
    'warning': {
        border: 1px solid $brand-warning,
        bg-color: $brand-warning-hover,
        bell-icon-color: $brand-warning-active,
    },
    'danger': {
        border: 1px solid $brand-danger,
        bg-color: $brand-danger-hover,
        bell-icon-color: $brand-danger-active
    },
    'light': {
        border: 1px solid $brand-white,
        bg-color: $brand-white,
        bell-icon-color: $brand-secondary-active
    },
    'dark': {
        border: 1px solid $brand-secondary-hover,
        bg-color: $brand-muted,
        bell-icon-color: $brand-muted-active
    }
}
