$selector-article = $selector-prefix + '-article'
$selector-article-title = $selector-article + '-title'
$selector-article-link = $selector-article + '-link'
$selector-article-sub-title = $selector-article + '-sub-title'
$selector-article-cover = $selector-article + '-cover'
$selector-article-content = $selector-article + '-content'
$selector-article-signature = $selector-article + '-signature'

$article-title-font-size = 28px

$article-title-link-gap = 10px
$article-title-sub-title-gap = 10px
$article-title-content-gap = 30px
$article-paragraph-gap = 15px
$article-image-gap = 10px

$article-cover-border-radius = 8px
$article-blockquote-border-width = 4px
$article-blockquote-padding-vertical = 12px
$article-blockquote-padding-horizontal = 18px
