$selector-avatar = $selector-prefix + '-avatar'
$selector-avatar-circle = $selector-avatar + '-circle'
$selector-avatar-image = $selector-avatar + '-image'
$selector-avatar-text = $selector-avatar + '-text'
$selector-avatar-icon = $selector-avatar + '-icon'

$avatar-bg-color = #ccc

$avatar-size-hash = {
  default: {
    size: $size-default['height'],
    border-radius: $size-default['border-radius'],
    icon-size: 26px
  },
  tiny: {
    size: $size-tiny['height'],
    border-radius: $size-default['border-radius'],
    icon-size: 14px
  },
  small: {
    size: $size-small['height'],
    border-radius: $size-default['border-radius'],
    icon-size: 18px
  },
  large: {
    size: $size-large['height'],
    border-radius: $size-default['border-radius'],
    icon-size: 34px
  },
  huge: {
    size: $size-huge['height'],
    border-radius: $size-default['border-radius'],
    icon-size: 40px
  }
}

