$selector-avatar = $selector-prefix + '-avatar'
$selector-avatar-circle = $selector-avatar + '-circle'
$selector-avatar-image = $selector-avatar + '-image'
$selector-avatar-text = $selector-avatar + '-text'
$selector-avatar-icon = $selector-avatar + '-icon'

$avatar-bg-color = #ccc

$avatar-size-hash = {
  default: {
    size: $height-default,
    icon-size: 26px
  },
  tiny: {
    size: $height-tiny,
    icon-size: 14px
  },
  small: {
    size: $height-small,
    icon-size: 18px
  },
  large: {
    size: $height-large,
    icon-size: 34px
  },
  huge: {
    size: $height-huge,
    icon-size: 40px
  }
}

