$selector-avatar = $selector-prefix + '-avatar'
$selector-avatar-circle = $selector-avatar + '-circle'
$selector-avatar-image = $selector-avatar + '-image'
$selector-avatar-text = $selector-avatar + '-text'
$selector-avatar-icon = $selector-avatar + '-icon'

$avatar-bg = #ccc

$avatar-size-hash = {
  'default': {
    size: 32px,
    border-radius: 4px,
    icon-size: 26px
  },
  'tiny': {
    size: 20px,
    border-radius: 2px,
    icon-size: 14px
  },
  'small': {
    size: 24px,
    border-radius: 3px,
    icon-size: 18px
  },
  'large': {
    size: 44px,
    border-radius: 4px,
    icon-size: 34px
  },
  'huge': {
    size: 60px,
    border-radius: 4px,
    icon-size: 40px
  }
}

