$selector-backtop = $selector-prefix + '-backtop'
$selector-backtop-inner = $selector-prefix + '-backtop-inner'

$backtop-size = 40px
$backtop-font-size = 24px
$backtop-color = rgba(0,0,0,.65)
$backtop-shadow = 0 1px 3px rgba(0,0,0,.2)
$backtop-radius = 4px
  