$selector-backtop = $selector-prefix + '-backtop'
$selector-backtop-icon = $selector-prefix + '-backtop-icon'
$selector-backtop-fade = $selector-prefix + '-backtop-fade'
$selector-backtop-visible = $selector-prefix + '-backtop-visible'

$backtop-size = 40px
$backtop-icon-size = 24px
$backtop-opacity = 0.6
