$selector-backtop = $selector-prefix + '-backtop'
$selector-backtop-legacy = $selector-prefix + '-backtop-legacy'
$selector-backtop-icon = $selector-prefix + '-backtop-icon'
$selector-backtop-fade = $selector-prefix + '-backtop-fade'
$selector-backtop-visible = $selector-prefix + '-backtop-visible'

$backtop-size = 40px
$backtop-icon-size = 24px

$backtop-bg-color = rgba(0,0,0,0.6)
$backtop-bg-color-legacy = #000
$backtop-bg-opacity-legacy = 0.6
