$selector-badge = $selector-prefix + '-badge'
$selector-badge-count = $selector-badge + '-count'
$selector-badge-dot = $selector-badge + '-dot'

$badge-margin-left = 10px;
$badge-padding = 3px 6px;
$badge-font-size = 12px;
$badge-box-shadow = 0 0 0 1px #fff;
$badge-border-radius = 10px;
$badge-dot-width = 8px;
$badge-dot-top = -4px;

$badge-brand-hash = {
    '': {
        bg-color: $brand-error
    },
    'success': {
        bg-color: $brand-success
    },
    'info': {
        bg-color: $brand-info
    },
    'primary': {
        bg-color: $brand-error
    },
    'warning': {
        bg-color: $brand-warning
    },
    'danger': {
        bg-color: $brand-danger
    }
}