$selector-badge = $selector-prefix + '-badge'
$selector-badge-status = $selector-badge + '-status'

$selector-badge-count = $selector-badge + '-count'
$selector-badge-dot = $selector-badge + '-dot'

$badge-dot-size = 6px
$badge-box-shadow = 0 0 0 1px #ffffff
$badge-radius = 10px
$badge-color = #ffffff
$badge-padding = 3px 6px
$badge-font-size = 12px
$badge-status-text-color = #515a6e
$badge-status-text-margin-left = 6px

$badge-brand-hash = {
  'info': {
    color: $brand-info
  },
  'error': {
    color: $brand-error
  },
  'success': {
    color: $brand-success
  },
  'default': {
    color: #e6ebf1
  },
  'processing': {
    color: $brand-primary
  },
  'primary': {
    color: $brand-error
  },
  'warning': {
    color: $brand-warning
  }
}