$selector-border = '.bell-border'

$border-hash = {
    '': '',
    top: top,
    left: left,
    right: right,
    bottom: bottom
}

$border-0-hash = {
    '0': '',
    top-0: top,
    left-0: left,
    right-0: right,
    bottom-0: bottom
}

$border-2-hash = {
    '2': '',
    top-2: top,
    left-2: left,
    right-2: right,
    bottom-2: bottom
}
$border-4-hash = {
    '4': '',
    top-4: top,
    left-4: left,
    right-4: right,
    bottom-4: bottom
}
$border-10-hash = {
    '10': '',
    top-10: top,
    left-10: left,
    right-10: right,
    bottom-10: bottom
}

$border-brand-hash = $brand-hash
