$brand-bg = #FFF
$brand-bg-hover = #F9F9F9
$brand-bg-active = #F6F6F6
$brand-bg-checked = #F3F3F3
$brand-bg-disabled = #F5F5F5
$brand-bg-checked-disabled = #e6e6e6

// 浅色背景
$brand-bg-light = #F8F8F8

$brand-border = #e8e8e8
$brand-border-disabled = #d9d9d9

$brand-divider = #e9eaec

$brand-mask = rgba(0,0,0,.54)

$brand-box-shadow = #CCC

$brand-white = #fff
$brand-primary = #409eff
$brand-success = #67c23a
$brand-error = #f56c6c
$brand-info = #909399
$brand-warning = #e6a23c

$brand-primary-hover = #66b1ff
$brand-success-hover = #85ce61
$brand-error-hover = #f78989
$brand-info-hover = #a6a9ad
$brand-warning-hover = #ebb563

$brand-primary-active = #3a8ee6
$brand-success-active = #5daf34
$brand-error-active = #dd6161
$brand-warning-active = #cf9236
$brand-info-active = #82848a

$brand-primary-bg = #ecf5ff
$brand-success-bg = #f0f9eb
$brand-error-bg = #fef0f0
$brand-info-bg = #f4f4f5
$brand-warning-bg = #fdf6ec

$brand-primary-border = #b3d8ff
$brand-success-border = #c2e7b0
$brand-error-border = #fbc4c4
$brand-info-border = #d3d4d6
$brand-warning-border = #f5dab1

$brand-primary-shadow = rgba(45,140,240,.2)
$brand-success-shadow = rgba(25,190,107,.2)
$brand-error-shadow = rgba(237,64,20,.2)
$brand-info-shadow = rgba(144,147,153,.2)
$brand-warning-shadow = rgba(255,153,0,.2)


$brand-text-important = #333
$brand-text-secondary = #666
$brand-text-muted = #999

$brand-text = #555
$brand-text-disabled = #b7b7b7

$brand-tag-bg-color = #f5f5f5
$brand-indicator-icon-color = $brand-text-muted
$brand-clear-icon-color = #999



$brand-layer-shadow = 0 1px 4px rgba(0,0,0,0.2)
$brand-card-shadow = 0 4px 12px rgba(0,0,0,.15)
$brand-message-shadow = 0 2px 12px 0 rgba(0,0,0,.1)

$brand-placeholder = #D2D2D2

$brand-close-color = #AAA
$brand-close-color-hover = #666

$brand-link = $brand-primary
$brand-link-hover = $brand-primary-hover
$brand-link-disabled = $brand-text-disabled

$brand-hash = {
  white: $brand-white,
  primary: $brand-primary,
  success: $brand-success,
  error: $brand-error,
  info: $brand-info,
  warning: $brand-warning,
  important: $brand-text-important,
  secondary: $brand-text-secondary,
  muted: $brand-text-muted
}

$brand-bg-hash = $brand-hash

$status-brand-hash = {
  info: {
    color: $brand-info,
    shadow-color: $brand-info-shadow,
  },
  success: {
    color: $brand-success,
    shadow-color: $brand-success-shadow,
  },
  error: {
    color: $brand-error,
    shadow-color: $brand-error-shadow,
  },
  warning: {
    color: $brand-warning,
    shadow-color: $brand-warning-shadow,
  },
}
