$brand-bg = #FFF
$brand-bg-hover = #F9F9F9
$brand-bg-active = #F6F6F6
$brand-bg-checked = #F3F3F3
$brand-bg-disabled = #FCFCFC

$brand-text = #555
$brand-text-disabled = #C7C7C7

$brand-border = #CCC
$brand-border-disabled = #dddee1

$brand-divider = #e9eaec

$brand-box-shadow = #CCC

$brand-link = #666
$brand-link-hover = #f90
$brand-link-disabled = #BBB


$brand-primary = #1c90f3
$brand-success = #19be6b
$brand-error = #ed3f14
$brand-info = #38B8F3
$brand-warning = #ff9900
$brand-danger = #d9534f
$brand-white = #fff
$brand-main = rgba(0,0,0,.87)
$brand-secondary = rgba(0,0,0,.54)
$brand-muted = rgba(0,0,0,.37)

$brand-primary-hover = #57a3f3
$brand-success-hover = #47cb89
$brand-error-hover = #f16543
$brand-info-hover = #5CC6F5
$brand-warning-hover = #ffad33
$brand-danger-hover = #f16543

$brand-hash = {
    white: $brand-white,
    primary: $brand-primary,
    success: $brand-success,
    error: $brand-error,
    info: $brand-info,
    warning: $brand-warning,
    danger: $brand-danger,
    main: $brand-main,
    secondary: $brand-secondary,
    muted: $brand-muted
}

$brand-bg-hash = $brand-hash
