$brand-bg = #FFF
$brand-bg-hover = #F9F9F9
$brand-bg-active = #F6F6F6
$brand-bg-checked = #F3F3F3
$brand-bg-disabled = #F7F7F7
$brand-bg-checked-disabled = #e9e9e9

// 浅色背景
$brand-bg-light = #F8F8F8

$brand-text = #555
$brand-text-disabled = #b7b7b7

$brand-border = #e6e6e6
$brand-border-hover = #bcbcbc
$brand-border-disabled = #dddee1

$brand-divider = #e9eaec

$brand-mask = rgba(0,0,0,.54)

$brand-box-shadow = #CCC

$brand-primary = #1890ff
$brand-success = #19be6b
$brand-error = #f5222d
$brand-info = #2db7f5
$brand-warning = #f90
$brand-white = #fff
$brand-dark = #000

$brand-important = rgba(0,0,0,.87)
$brand-secondary = rgba(0,0,0,.54)
$brand-muted = rgba(0,0,0,.37)

$brand-primary-hover = #40a9ff
$brand-secondary-hover = #D6D8DB
$brand-success-hover = #18b566
$brand-error-hover = #f16643
$brand-info-hover = #57c5f7
$brand-warning-hover = #ffad33


$brand-primary-active = #2b85e4
$brand-secondary-active = #383D41
$brand-success-active = #18b566
$brand-error-active = #e13d13
$brand-warning-active = #f29100
$brand-info-active = #2baee9


$brand-primary-shadow = rgba(45,140,240, .2)
$brand-secondary-shadow = rgba(45,140,240, .2)
$brand-success-shadow = rgba(25,190,107,.2)
$brand-error-shadow = rgba(237,64,20,.2)
$brand-info-shadow = rgba(45,183,245,.2)
$brand-warning-shadow = rgba(255,153,0,.2)

$brand-layer-shadow = 0 1px 4px rgba(0,0,0,0.2)
$brand-card-shadow = 0 4px 12px rgba(0,0,0,.15)

$brand-placeholder = #D2D2D2

$brand-close-color = #AAA
$brand-close-color-hover = #666

$brand-link = $brand-primary
$brand-link-hover = $brand-primary-hover
$brand-link-disabled = $brand-text-disabled

$brand-hash = {
  white: $brand-white,
  primary: $brand-primary,
  success: $brand-success,
  error: $brand-error,
  info: $brand-info,
  warning: $brand-warning,
  important: $brand-important,
  secondary: $brand-secondary,
  muted: $brand-muted
}

$brand-bg-hash = $brand-hash
