$selector-breadcrumb =  $selector-prefix + '-breadcrumb'
$selector-breadcrumb-item =  $selector-breadcrumb + '-item'
$selector-breadcrumb-link =  $selector-breadcrumb + '-link'
$selector-breadcrumb-separator =  $selector-breadcrumb + '-separator'

$breadcrumb-link-color = #515a6e
$breadcrumb-separator-color = #dcdee2
$breadcrumb-separator-gap = 8px