$selector-breadcrumb = $selector-prefix + '-breadcrumb'

$selector-breadcrumb-item = $selector-breadcrumb + '-item'

$selector-breadcrumb-link = $selector-breadcrumb + '-link'
$selector-breadcrumb-text = $selector-breadcrumb + '-text'
$selector-breadcrumb-separator = $selector-breadcrumb + '-separator'

$breadcrumb-separator-gap = 10px