$selector-breadcrumb =  $selector-prefix + '-breadcrumb'

$selector-breadcrumb-item =  $selector-breadcrumb + '-item'

$selector-breadcrumb-link =  $selector-breadcrumb + '-link'
$selector-breadcrumb-text =  $selector-breadcrumb + '-text'
$selector-breadcrumb-icon =  $selector-breadcrumb + '-icon'
$selector-breadcrumb-separator =  $selector-breadcrumb + '-separator'

$breadcrumb-separator-color = #dcdee2
$breadcrumb-separator-gap = 8px