$selector-button = '.bell-button'
$selector-buttons = '.bell-buttons'


$button-size-hash = $size-hash

$button-radius-hash = $radius-hash

$button-hash = {
    '': {
        color: $brand-secondary,
        bg: $brand-bg,
        border: $brand-border,

        hover-color: $brand-primary,
        hover-bg: $brand-bg,
        hover-border-color: $brand-primary,

        active-color: $brand-primary,
        active-bg: $brand-bg,
        active-border-color: $brand-primary,

        focus-border-color: rgba($brand-primary, .2),

        disabled-color: $brand-text-disabled,
        disabled-bg: $brand-bg-disabled,
        disabled-border-color: $brand-border,
    },
    'ghost': {
        color: $brand-secondary,
        bg: $brand-bg,
        border: $brand-border,

        hover-color: $brand-primary,
        hover-bg: $brand-bg,
        hover-border-color: $brand-primary,

        active-color: $brand-primary,
        active-bg: $brand-bg,
        active-border-color: $brand-primary,

        focus-border-color: rgba($brand-primary, .2),

        disabled-color: $brand-text-disabled,
        disabled-bg: $brand-bg-disabled,
        disabled-border-color: $brand-border,
    },
    'dashed': {
        color: $brand-secondary,
        bg: $brand-bg,
        border: 1px dashed $brand-border,

        hover-color: $brand-primary,
        hover-bg: $brand-bg,
        hover-border-color: 1px dashed $brand-primary,

        active-color: $brand-primary,
        active-bg: $brand-bg,
        active-border-color: 1px dashed $brand-primary,

        focus-border-color: rgba($brand-primary, .2),

        disabled-color: $brand-text-disabled,
        disabled-bg: $brand-bg-disabled,
        disabled-border-color: 1px dashed $brand-border,
    },
    'text': {
        color: $brand-secondary,
        bg: transparent,
        border: transparent,

        hover-color: $brand-primary,
        hover-bg: transparent,
        hover-border-color: transparent,

        active-color: $brand-primary,
        active-bg: $brand-bg,
        active-border-color: transparent,

        focus-border-color: transparent,

        disabled-color: $brand-text-disabled,
        disabled-bg: $brand-bg-disabled,
        disabled-border-color: none,
    },
    'primary': {
        color: $brand-white,
        bg: $brand-primary,
        border: $brand-primary,

        hover-color: $brand-white,
        hover-bg: $brand-primary-hover,
        hover-border-color: $brand-primary-hover,

        active-color: $brand-white,
        active-bg: $brand-primary-hover,
        active-border-color: $brand-primary-hover,

        focus-border-color: rgba($brand-primary-hover, .2),

        disabled-color: $brand-text-disabled,
        disabled-bg: $brand-bg-disabled,
        disabled-border-color: $brand-border,
    },
    'success': {
        color: $brand-white,
        bg: $brand-success,
        border: $brand-success,

        hover-color: $brand-white,
        hover-bg: $brand-success-hover,
        hover-border-color: $brand-success-hover,

        active-color: $brand-white,
        active-bg: $brand-success-hover,
        active-border-color: $brand-success-hover,

        focus-border-color: rgba($brand-success-hover, .2),

        disabled-color: $brand-text-disabled,
        disabled-bg: $brand-bg-disabled,
        disabled-border-color: $brand-border,
    },

    'error': {
        color: $brand-white,
        bg: $brand-error,
        border: $brand-error,

        hover-color: $brand-white,
        hover-bg: $brand-error-hover,
        hover-border-color: $brand-error-hover,

        active-color: $brand-white,
        active-bg: $brand-error-hover,
        active-border-color: $brand-error-hover,

        focus-border-color: rgba($brand-error-hover, .2),

        disabled-color: $brand-text-disabled,
        disabled-bg: $brand-bg-disabled,
        disabled-border-color: $brand-border,
    },

    'info': {
        color: $brand-white,
        bg: $brand-info,
        border: $brand-info,

        hover-color: $brand-white,
        hover-bg: $brand-info-hover,
        hover-border-color: $brand-info-hover,

        active-color: $brand-white,
        active-bg: $brand-info-hover,
        active-border-color: $brand-info-hover,

        focus-border-color: rgba($brand-info-hover, .2),

        disabled-color: $brand-text-disabled,
        disabled-bg: $brand-bg-disabled,
        disabled-border-color: $brand-border,
    },
    'warning': {
        color: $brand-white,
        bg: $brand-warning,
        border: $brand-warning,

        hover-color: $brand-white,
        hover-bg: $brand-warning-hover,
        hover-border-color: $brand-warning-hover,

        active-color: $brand-white,
        active-bg: $brand-warning-hover,
        active-border-color: $brand-warning-hover,

        focus-border-color: rgba($brand-warning-hover, .2),

        disabled-color: $brand-text-disabled,
        disabled-bg: $brand-bg-disabled,
        disabled-border-color: $brand-border,
    },
    'danger': {
        color: $brand-white,
        bg: $brand-danger,
        border: $brand-danger,

        hover-color: $brand-white,
        hover-bg: $brand-danger-hover,
        hover-border-color: $brand-danger-hover,

        active-color: $brand-white,
        active-bg: $brand-danger-hover,
        active-border-color: $brand-danger-hover,

        focus-border-color: rgba($brand-danger-hover, .2),

        disabled-color: $brand-text-disabled,
        disabled-bg: $brand-bg-disabled,
        disabled-border-color: $brand-border,
    },
}
