$selector-button = '.bell-button'
$selector-buttons = '.bell-buttons'


$button-size-hash = $size-hash

$button-radius-hash = $radius-hash

$button-hash = {
    '': {
        color: $brand-secondary,
        bg: $brand-bg,
        border: 1px solid $brand-border,

        hover-color: $brand-secondary,
        hover-bg: $brand-bg-hover,
        hover-border: 1px solid $brand-border,

        active-color: $brand-secondary,
        active-bg: $brand-bg-active,
        active-border: 1px solid $brand-border,

        disabled-color: $brand-text-disabled,
        disabled-bg: $brand-bg-disabled,
        disabled-border: 1px solid $brand-border,
    },
    'ghost': {
        color: $brand-secondary,
        bg: $brand-bg,
        border: 1px solid $brand-border,

        hover-color: $brand-primary,
        hover-bg: $brand-bg,
        hover-border: 1px solid $brand-primary,

        active-color: $brand-primary,
        active-bg: $brand-bg,
        active-border: 1px solid $brand-primary,

        disabled-color: $brand-text-disabled,
        disabled-bg: $brand-bg-disabled,
        disabled-border: 1px solid $brand-border,
    },
    'dashed': {
        color: $brand-secondary,
        bg: $brand-bg,
        border: 1px dashed $brand-border,

        hover-color: $brand-primary,
        hover-bg: $brand-bg,
        hover-border: 1px dashed $brand-primary,

        active-color: $brand-primary,
        active-bg: $brand-bg,
        active-border: 1px dashed $brand-primary,

        disabled-color: $brand-text-disabled,
        disabled-bg: $brand-bg-disabled,
        disabled-border: 1px dashed $brand-border,
    },
    'text': {
        color: $brand-secondary,
        bg: $brand-bg,
        border: none,

        hover-color: $brand-primary,
        hover-bg: $brand-bg,
        hover-border: none,

        active-color: $brand-primary,
        active-bg: $brand-bg,
        active-border: none,

        disabled-color: $brand-text-disabled,
        disabled-bg: $brand-bg-disabled,
        disabled-border: none,
    },
    'primary': {
        color: $brand-white,
        bg: $brand-primary,
        border: 1px solid $brand-primary,

        hover-color: $brand-white,
        hover-bg: $brand-primary-hover,
        hover-border: 1px solid $brand-primary-hover,

        active-color: $brand-white,
        active-bg: $brand-primary-hover,
        active-border: 1px solid $brand-primary-hover,

        disabled-color: $brand-text-disabled,
        disabled-bg: $brand-bg-disabled,
        disabled-border: 1px solid $brand-border,
    },
    'success': {
        color: $brand-white,
        bg: $brand-success,
        border: 1px solid $brand-success,

        hover-color: $brand-white,
        hover-bg: $brand-success-hover,
        hover-border: 1px solid $brand-success-hover,

        active-color: $brand-white,
        active-bg: $brand-success-hover,
        active-border: 1px solid $brand-success-hover,

        disabled-color: $brand-text-disabled,
        disabled-bg: $brand-bg-disabled,
        disabled-border: 1px solid $brand-border,
    },

    'error': {
        color: $brand-white,
        bg: $brand-error,
        border: 1px solid $brand-error,

        hover-color: $brand-white,
        hover-bg: $brand-error-hover,
        hover-border: 1px solid $brand-error-hover,

        active-color: $brand-white,
        active-bg: $brand-error-hover,
        active-border: 1px solid $brand-error-hover,

        disabled-color: $brand-text-disabled,
        disabled-bg: $brand-bg-disabled,
        disabled-border: 1px solid $brand-border,
    },

    'info': {
        color: $brand-white,
        bg: $brand-info,
        border: 1px solid $brand-info,

        hover-color: $brand-white,
        hover-bg: $brand-info-hover,
        hover-border: 1px solid $brand-info-hover,

        active-color: $brand-white,
        active-bg: $brand-info-hover,
        active-border: 1px solid $brand-info-hover,

        disabled-color: $brand-text-disabled,
        disabled-bg: $brand-bg-disabled,
        disabled-border: 1px solid $brand-border,
    },
    'warning': {
        color: $brand-white,
        bg: $brand-warning,
        border: 1px solid $brand-warning,

        hover-color: $brand-white,
        hover-bg: $brand-warning-hover,
        hover-border: 1px solid $brand-warning-hover,

        active-color: $brand-white,
        active-bg: $brand-warning-hover,
        active-border: 1px solid $brand-warning-hover,

        disabled-color: $brand-text-disabled,
        disabled-bg: $brand-bg-disabled,
        disabled-border: 1px solid $brand-border,
    },
    'danger': {
        color: $brand-white,
        bg: $brand-danger,
        border: 1px solid $brand-danger,

        hover-color: $brand-white,
        hover-bg: $brand-danger-hover,
        hover-border: 1px solid $brand-danger-hover,

        active-color: $brand-white,
        active-bg: $brand-danger-hover,
        active-border: 1px solid $brand-danger-hover,

        disabled-color: $brand-text-disabled,
        disabled-bg: $brand-bg-disabled,
        disabled-border: 1px solid $brand-border,
    },
}
