$selector-button = $selector-prefix + '-button'
$selector-button-enabled = $selector-button + '-enabled'
$selector-button-disabled = $selector-button + '-disabled'
$selector-button-normal = $selector-button + '-normal'
$selector-button-ghost = $selector-button + '-ghost'
$selector-button-none = $selector-button + '-none'
$selector-button-solid = $selector-button + '-solid'
$selector-button-dashed = $selector-button + '-dashed'
$selector-button-circle = $selector-button + '-circle'
$selector-button-round = $selector-button + '-round'
$selector-button-block = $selector-button + '-block'

$selector-buttons = $selector-prefix + '-buttons'
$selector-button-group = $selector-button + '-group'
$selector-button-group-round = $selector-button-group + '-round'
$selector-button-group-horizontal = $selector-button-group + '-horizontal'
$selector-button-group-vertical = $selector-button-group + '-vertical'

$button-size-hash = {
  default: {
    height: $height-default,
    font-size: $font-size-default,
    border-radius: $border-radius-default,
    padding-horizontal: $padding-horizontal-default,
  },
  small: {
    height: $height-small,
    font-size: $font-size-small,
    border-radius: $border-radius-small,
    padding-horizontal: $padding-horizontal-small,
  },
  large: {
    height: $height-large,
    font-size: $font-size-large,
    border-radius: $border-radius-large,
    padding-horizontal: $padding-horizontal-large,
  },
}

$button-brand-hash = {
  '': {
    color: $brand-text-secondary,
    bg-color: $brand-bg,
    border-color: $brand-border,

    hover-color: $brand-primary,
    hover-bg-color: $brand-bg,
    hover-border-color: $brand-primary,

    active-color: $brand-primary,
    active-bg-color: $brand-bg,
    active-border-color: $brand-primary,

    shadow-color: $brand-primary-shadow,
  },
  'primary': {
    color: $brand-white,
    bg-color: $brand-primary,
    border-color: $brand-primary,

    hover-color: $brand-white,
    hover-bg-color: $brand-primary-hover,
    hover-border-color: $brand-primary-hover,

    active-color: $brand-white,
    active-bg-color: $brand-primary-active,
    active-border-color: $brand-primary-active,

    shadow-color: $brand-primary-shadow,
  },
  'success': {
    color: $brand-white,
    bg-color: $brand-success,
    border-color: $brand-success,

    hover-color: $brand-white,
    hover-bg-color: $brand-success-hover,
    hover-border-color: $brand-success-hover,

    active-color: $brand-white,
    active-bg-color: $brand-success-active,
    active-border-color: $brand-success-active,

    shadow-color: $brand-success-shadow,
  },

  'error': {
    color: $brand-white,
    bg-color: $brand-error,
    border-color: $brand-error,

    hover-color: $brand-white,
    hover-bg-color: $brand-error-hover,
    hover-border-color: $brand-error-hover,

    active-color: $brand-white,
    active-bg-color: $brand-error-active,
    active-border-color: $brand-error-active,

    shadow-color: $brand-error-shadow,
  },

  'info': {
    color: $brand-white,
    bg-color: $brand-info,
    border-color: $brand-info,

    hover-color: $brand-white,
    hover-bg-color: $brand-info-hover,
    hover-border-color: $brand-info-hover,

    active-color: $brand-white,
    active-bg-color: $brand-info-active,
    active-border-color: $brand-info-active,

    shadow-color: $brand-info-shadow,
  },
  'warning': {
    color: $brand-white,
    bg-color: $brand-warning,
    border-color: $brand-warning,

    hover-color: $brand-white,
    hover-bg-color: $brand-warning-hover,
    hover-border-color: $brand-warning-hover,

    active-color: $brand-white,
    active-bg-color: $brand-warning-active,
    active-border-color: $brand-warning-active,

    shadow-color: $brand-warning-shadow,
  },
}
