$selector-card = $selector-prefix + '-card'
$selector-card-header = $selector-card + '-header'
$selector-card-media = $selector-card + '-media'
$selector-card-title = $selector-card + '-title'
$selector-card-text = $selector-card + '-text'
$selector-card-actions = $selector-card + '-actions'

$card-margin = 15px;
$card-border-color   = #e9eaec;
$card-border-color-hover = #eee;
$card-font-color     = #495060;

$card-header-padding = 15px;
$card-header-detail-padding = 0 10px;
$card-header-title-font-size = 15px;
$card-header-title-color = #1c2438;
$card-header-sub-title-font-size = 14px;
$card-header-sub-title-color = #80848f;

$card-media-detail-background = rgba(0,0,0,.54);
$card-media-detail-padding = 6px 15px;
$card-media-title-font-size = 18px;
$card-media-title-color = #FBFBFB;
$card-media-sub-title-font-size = 12px;
$card-media-sub-title-color = #929AA0;

$card-title-padding = $card-header-padding;
$card-title-font-size = 22px;
$card-title-color = $card-header-title-color;
$card-sub-title-font-size = $card-header-sub-title-font-size;
$card-sub-title-color = $card-header-sub-title-color;

$card-text-padding = $card-header-padding;
$card-text-font-size = 14px;
$card-text-color = #495060;

$card-actions-padding = $card-header-padding;

