$selector-card = $selector-prefix + '-card'
$selector-card-simple = $selector-card + '-simple'
$selector-card-bordered = $selector-card + '-bordered'
$selector-card-shadow-always = $selector-card + '-shadow-always'
$selector-card-shadow-hover = $selector-card + '-shadow-hover'

$selector-card-header = $selector-card + '-header'
$selector-card-header-detail = $selector-card-header + '-detail'
$selector-card-header-title = $selector-card-header + '-title'
$selector-card-header-sub-title = $selector-card-header + '-sub-title'
$selector-card-header-extra = $selector-card-header + '-extra'

$selector-card-media = $selector-card + '-media'
$selector-card-media-detail = $selector-card-media + '-detail'
$selector-card-media-title = $selector-card-media + '-title'
$selector-card-media-sub-title = $selector-card-media + '-sub-title'

$selector-card-body = $selector-card + '-body'
$selector-card-actions = $selector-card + '-actions'

$card-padding-horizontal = 15px
$card-padding-vertical = 10px

$card-header-padding-vertical = 10px
$card-header-title-font-size = 14px
$card-header-title-color = #1c2438
$card-header-sub-title-font-size = 12px
$card-header-sub-title-color = #80848f
$card-header-sub-title-gap = 3px

$card-media-detail-bg-color = rgba(0,0,0,.54)
$card-media-detail-padding = 6px 15px
$card-media-title-font-size = 18px
$card-media-title-color = #fbfbfb
$card-media-sub-title-font-size = 12px
$card-media-sub-title-color = #ccc
$card-media-sub-title-gap = 4px

$card-body-padding-vertical = 15px

$card-actions-padding-vertical = 15px

