$selector-checkbox = '.bell-checkbox'
$selector-checkbox-inner = '.bell-checkbox-inner'
$selector-checkbox-input = '.bell-checkbox-input'

$checkbox-font-size = 12px;
$checkbox-margin-left = 8px;
$checkbox-label-margin-left = 6px;
$checkbox-inner-width = 14px;
$checkbox-inner-border-radius = 2px;
$checkbox-inner-after-width = 6px;
$checkbox-inner-after-height = 9px;

$checkbox-inner-border-color = #dddee1;
$checkbox-inner-background-color = #fff;

$checkbox-disabled-background-color = #f3f3f3;
$checkbox-disabled-border-color = #f3f3f3;
$checkbox-disabled-color = #ccc;

$checkbox-background-color = $brand-primary;
$checkbox-border-color = $brand-primary;
$checkbox-success-background-color = $brand-success;
$checkbox-success-border-color = $brand-success;
$checkbox-error-background-color = $brand-error;
$checkbox-error-border-color = $brand-error;
$checkbox-warning-background-color = $brand-warning;
$checkbox-warning-border-color = $brand-warning;
$checkbox-info-background-color = $brand-info;
$checkbox-info-border-color = $brand-info;
$checkbox-danger-background-color = $brand-danger;
$checkbox-danger-border-color = $brand-danger;


$checkbox-brand-hash = {
    '': {
        border-color: $checkbox-border-color,
        bg-color: $checkbox-background-color
    },
    'success': {
        border-color: $checkbox-success-border-color,
        bg-color: $checkbox-success-background-color
    },
    'info': {
        border-color: $checkbox-info-border-color,
        bg-color: $checkbox-info-background-color
    },
    'error': {
        border-color: $checkbox-error-border-color,
        bg-color: $checkbox-error-background-color
    },
    'warning': {
        border-color: $checkbox-warning-border-color,
        bg-color: $checkbox-warning-background-color
    },
    'danger': {
        border-color: $checkbox-danger-border-color,
        bg-color: $checkbox-danger-background-color
    }
}