$selector-checkbox = $selector-prefix + '-checkbox'
$selector-checkbox-icon = $selector-checkbox + '-icon'
$selector-checkbox-input = $selector-checkbox + '-input'
$selector-checkbox-active = $selector-checkbox + '-active'
$selector-checkbox-focus = $selector-checkbox + '-focus'
$selector-checkbox-enabled = $selector-checkbox + '-enabled'
$selector-checkbox-disabled = $selector-checkbox + '-disabled'
$selector-checkbox-vertical = $selector-checkbox + '-vertical'
$selector-checkbox-indeterminate = $selector-checkbox + '-indeterminate'

$checkbox-brand-hash = {
  primary: {
    color: $brand-primary,
    shadow-color: $brand-primary-shadow,
  },
  info: {
    color: $brand-info,
    shadow-color: $brand-info-shadow,
  },
  success: {
    color: $brand-success,
    shadow-color: $brand-success-shadow,
  },
  error: {
    color: $brand-error,
    shadow-color: $brand-error-shadow,
  },
  warning: {
    color: $brand-warning,
    shadow-color: $brand-warning-shadow,
  }
}

$checkbox-size-hash = {
  default: {

    font-size: $font-size-default,
    icon-top: 1px,
    icon-left: 4px,
    icon-width: 4px,
    icon-height: 8px,

    indeterminate-width: 8px,
    indeterminate-left: 2px,
    indeterminate-top: 5px

  },
  small: {

    font-size: $font-size-small,
    icon-top: 1px,
    icon-left: 3.4px,
    icon-width: 4px,
    icon-height: 7px,

    indeterminate-width: 6px,
    indeterminate-left: 2px,
    indeterminate-top: 4px,

  },
  large: {

    font-size: $font-size-large,
    icon-top: 1px,
    icon-left: 4px,
    icon-width: 5px,
    icon-height: 9px,

    indeterminate-width: 8px,
    indeterminate-left: 3px,
    indeterminate-top: 6px,

  },
}