$selector-checkbox = $selector-prefix + '-checkbox'
$selector-checkbox-icon = $selector-checkbox + '-icon'
$selector-checkbox-input = $selector-checkbox + '-input'
$selector-checkbox-active = $selector-checkbox + '-active'
$selector-checkbox-focus = $selector-checkbox + '-focus'
$selector-checkbox-enabled = $selector-checkbox + '-enabled'
$selector-checkbox-disabled = $selector-checkbox + '-disabled'
$selector-checkbox-vertical = $selector-checkbox + '-vertical'
$selector-checkbox-with-label = $selector-checkbox + '-with-label'
$selector-checkbox-indeterminate = $selector-checkbox + '-indeterminate'

$checkbox-gap-horizontal = 16px

$checkbox-icon-top = 1px
$checkbox-icon-left = 4px
$checkbox-icon-width = 4px
$checkbox-icon-height = 8px

$checkbox-indeterminate-top = 5px
$checkbox-indeterminate-left = 2px
$checkbox-indeterminate-width = 8px
$checkbox-indeterminate-height = 1px
