$selector-collapse = $selector-prefix + '-collapse'
$selector-panel = $selector-prefix + '-collapse-item'
$selector-panel-header = $selector-prefix + '-collapse-header'
$selector-panel-content = $selector-prefix + '-collapse-content'

$collapse-border-color = #dcdee2
$collapse-border-radius = 3px
$collapse-background-color = #f7f7f7


$collapse-panel-border-color = #dcdee2

$collapse-panel-el-padding = 8px 15px
$collapse-panel-el-bell-icon-font-size = 18px
$collapse-panel-el-font-size = 14px
$collapse-panel-el-icon-margin-right = 10px

$collapse-panel-content-padding = 15px
$collapse-panel-content-font-size = 13px
$collapse-panel-content-background-color = #ffffff

