$selector-collapse = $selector-prefix + '-collapse'
$selector-collapse-bordered = $selector-collapse + '-bordered'
$selector-collapse-simple = $selector-collapse + '-simple'
$selector-collapse-panel = $selector-collapse + '-panel'
$selector-collapse-open = $selector-collapse + '-open'
$selector-collapse-icon = $selector-collapse + '-icon'
$selector-collapse-extra = $selector-collapse + '-extra'
$selector-collapse-header = $selector-collapse + '-header'
$selector-collapse-content = $selector-collapse + '-content'
$selector-collapse-wrapper = $selector-collapse + '-wrapper'

$collapse-border-radius = 3px

$collapse-header-bg-color = #f7f7f7
$collapse-header-padding = 12px 15px
$collapse-header-font-size = 14px

$collapse-content-padding-horizontal = 15px
$collapse-content-padding-vertical = 15px

