$selector-collapse = '.bell-collapse'
$selector-panel = '.bell-panel'
$selector-panel-el = '.bell-panel-el'
$selector-panel-inner = '.bell-panel-inner'

$collapse-panel-border-color = $brand-border;

$collapse-panel-el-padding = 8px 15px;
$collapse-panel-el-bell-icon-font-size = 18px;
$collapse-panel-el-font-size = 14px;
$collapse-panel-el-icon-margin-right = 10px;
$collapse-panel-inner-padding = 10px;
$collapse-panel-inner-font-size = 13px;
$collapse-panel-inner-content-padding = 15px;

