$selector-datepicker = $selector-prefix + '-datepicker'
$selector-datepicker-enabled = $selector-datepicker + '-enabled'
$selector-datepicker-disabled = $selector-datepicker + '-disabled'
$selector-datepicker-clearable = $selector-datepicker + '-clearable'

$selector-datepicker-button = $selector-datepicker + '-button'
$selector-datepicker-value = $selector-datepicker + '-value'
$selector-datepicker-values = $selector-datepicker + '-values'
$selector-datepicker-placeholder = $selector-datepicker + '-placeholder'
$selector-datepicker-separator = $selector-datepicker + '-separator'

$selector-datepicker-calendar-icon = $selector-datepicker + '-calendar-icon'
$selector-datepicker-clear-icon = $selector-datepicker + '-clear-icon'

$selector-datepicker-shortcut = $selector-datepicker + '-shortcut'
$selector-datepicker-shortcut-item = $selector-datepicker + '-shortcut-item'

$selector-datepicker-date = $selector-datepicker + '-date'
$selector-datepicker-daterange = $selector-datepicker + '-daterange'
$selector-datepicker-month = $selector-datepicker + '-month'
$selector-datepicker-week = $selector-datepicker + '-week'
$selector-datepicker-year = $selector-datepicker + '-year'

$selector-datepicker-panel = $selector-datepicker + '-panel'
$selector-datepicker-header = $selector-datepicker + '-header'
$selector-datepicker-body = $selector-datepicker + '-body'
$selector-datepicker-weeks = $selector-datepicker + '-weeks'

$selector-datepicker-prev = $selector-datepicker + '-prev'
$selector-datepicker-next = $selector-datepicker + '-next'
$selector-datepicker-header-link = $selector-datepicker-header + '-link'
$selector-datepicker-header-icon = $selector-datepicker-header + '-icon'
$selector-datepicker-header-button = $selector-datepicker-header + '-button'

$selector-datepicker-row = $selector-datepicker + '-row'
$selector-datepicker-col = $selector-datepicker + '-col'
$selector-datepicker-text = $selector-datepicker + '-text'
$selector-datepicker-col-enabled = $selector-datepicker-col + '-enabled'
$selector-datepicker-col-disabled = $selector-datepicker-col + '-disabled'
$selector-datepicker-col-checked = $selector-datepicker-col + '-checked'
$selector-datepicker-col-start = $selector-datepicker-col + '-start'
$selector-datepicker-col-end = $selector-datepicker-col + '-end'
$selector-datepicker-col-range = $selector-datepicker-col + '-range'


$datepicker-separator-gap = 5px

$datepicker-dropdown-width = 300px
$datepicker-date-range-dropdown-width = 520px

$datepicker-grid-gap-vertical = 8px
$datepicker-panel-padding = 5px 12px $datepicker-grid-gap-vertical

$datepicker-header-height = 36px
$datepicker-header-font-size = 15px

$datepicker-header-icon-font-size = 12px

$datepicker-header-button-width = 26px
$datepicker-header-button-height = 26px

$datepicker-week-height = 28px

$datepicker-row-gap = 5px

$datepicker-item-color = #666
$datepicker-item-font-size = 12px
$datepicker-item-height = 30px
$datepicker-item-padding = 4px
$datepicker-item-text-padding-horizontal = 9px
$datepicker-item-checked-color = #fff
$datepicker-item-checked-bg-color = $brand-primary
$datepicker-item-range-bg-color = #f2f6fc

$datepicker-month-row-gap = 10px

$datepicker-shortcut-width = 90px
$datepicker-shortcut-padding-vertical = 10px
$datepicker-shortcut-bg-color = #f8f8f9
$datepicker-shortcut-item-padding = 8px 10px



