$selector-datepicker = '.bell-datepicker'
$selector-datepicker-date = '.bell-datepicker-date'
$selector-datepicker-month = '.bell-datepicker-month'
$selector-datepicker-week = '.bell-datepicker-week'
$selector-datepicker-year = '.bell-datepicker-year'
$selector-datepicker-header = '.bell-datepicker-header'
$selector-datepicker-body = '.bell-datepicker-body'
$selector-datepicker-daterange = '.bell-datepicker-daterange'

// datepicker
$datepicker-box-shadow = 0 1px 6px rgba(0,0,0,.2)
$datepicker-width = 200px

// datepicker date
$datepicker-date-header-padding = 5px
$datepicker-date-header-border-color = #f7f7f7
$datepicker-date-font-size = 12px
$datepicker-date-week-padding = 10px 10px 5px
$datepicker-date-body-padding = 5px 10px
$datepicker-date-item-padding = 5px 0
$datepicker-date-item-margin = 2px
$datepicker-date-item-border-radius = 4px
$datepicker-date-item-color = $brand-secondary
$datepicker-date-item-disabled-color = $brand-muted
$datepicker-date-item-checked-color = #fff
$datepicker-date-item-checked-background-color = $brand-primary

// datepicker daterange
$datepicker-daterange-width = 420px;
$datepicker-daterange-header-month-margin-right = 126px;
$datepicker-daterange-table-border-color = #f7f7f7;
$datepicker-daterange-font-size = 12px;
$datepicker-daterange-header-padding = 5px;
$datepicker-daterange-header-border-color = #f7f7f7;
$datepicker-daterange-week-padding = 10px 10px 5px;
$datepicker-daterange-body-padding = 5px 10px;
$datepicker-daterange-item-padding = 5px 0;
$datepicker-daterange-item-margin = 2px;
$datepicker-daterange-item-before-width = 4px;
$datepicker-daterange-item-before-z-width = -4px;
$datepicker-daterange-item-border-radius = 4px;
$datepicker-daterange-item-color = $brand-secondary;
$datepicker-daterange-item-disabled-color = $brand-muted;
$datepicker-daterange-item-checked-color = #fff;
$datepicker-daterange-item-checked-background-color = $brand-primary;
$datepicker-daterange-item-range-background-color = #e1f0fe;

// datepicker week
$datepicker-week-header-padding = 5px;
$datepicker-week-header-border-color = #f7f7f7;
$datepicker-week-body-padding = 5px 10px;
$datepicker-week-item-color = $brand-secondary;
$datepicker-week-item-border-radius = 20px;
$datepicker-week-item-hover-background-color = #e1f0fe;
$datepicker-week-item-font-size = 12px;
$datepicker-week-item-padding = 5px 0;
$datepicker-week-item-margin = 2px;
$datepicker-week-item-checked-background-color = $brand-primary;
$datepicker-week-item-checked-color = #fff;
$datepicker-week-item-disabled-color = $brand-muted;

// datepicker month
$datepicker-month-header-padding = 5px;
$datepicker-month-header-border-color = #f7f7f7;
$datepicker-month-item-font-size = 12px;
$datepicker-month-item-padding = 5px 10px;
$datepicker-month-item-padding = 10px 0;
$datepicker-month-item-hover-color = $brand-primary;

// datepicker year
$datepicker-year-header-padding = 5px;
$datepicker-year-header-border-color = #f7f7f7;
$datepicker-year-item-font-size = 12px;
$datepicker-year-item-padding = 5px 10px;
$datepicker-year-item-padding = 10px 0;
$datepicker-year-item-hover-color = $brand-primary;

$datepicker-innner-z-index = $zindex-tooltip;

