$selector-datepicker = $selector-prefix + '-datepicker';
$selector-datepicker-el = $selector-datepicker + '-el';
$selector-datepicker-poper = $selector-datepicker + '-poper';

$selector-datepicker-date = $selector-datepicker + '-date';
$selector-datepicker-month = $selector-datepicker + '-month';
$selector-datepicker-week = $selector-datepicker + '-week';
$selector-datepicker-year = $selector-datepicker + '-year';
$selector-datepicker-header = $selector-datepicker + '-header';
$selector-datepicker-body = $selector-datepicker + '-body';
$selector-datepicker-daterange = $selector-datepicker + '-daterange';


$datepicker-poper-margin-gap = 4px;
$datepicker-font-size = 12px;

// datepicker
$datepicker-box-shadow = 0 1px 6px rgba(0,0,0,.2);
$datepicker-min-width = 234px;
$datepicker-header-padding = 5px;
$datepicker-week-margin = 10px;
$datepicker-body-margin = 10px;
$datepicker-item-padding = 5px;
$datepicker-item-margin = 2px;
$datepicker-item-checked-color = #fff;
$datepicker-item-checked-background-color = $brand-primary;

// datepicker range
$datepicker-daterange-min-width = 420px;
$datepicker-item-range-background-color = #e1f0fe;

// datepicker month
$datepicker-month-header-padding = 5px;
$datepicker-month-header-border-color = #f7f7f7;
$datepicker-month-item-font-size = 12px;
$datepicker-month-item-padding = 5px 10px;
$datepicker-month-item-padding = 10px 0;
$datepicker-month-item-hover-color = $brand-primary;

// datepicker year
$datepicker-year-header-padding = 5px;
$datepicker-year-header-border-color = #f7f7f7;
$datepicker-year-item-font-size = 12px;
$datepicker-year-item-padding = 5px 10px;
$datepicker-year-item-padding = 10px 0;
$datepicker-year-item-hover-color = $brand-primary;

$datepicker-innner-z-index = $zindex-tooltip;

