$selector-dialog = $selector-prefix + '-dialog'
$selector-dialog-mask = $selector-dialog + '-mask'
$selector-dialog-content = $selector-dialog + '-content'

$dialog-min-width = 320px
$dialog-z-index = $zindex-dialog
$dialog-content-background = $brand-white
$dialog-padding = 15px


$dialog-title-size = 14px
$dialog-border-color = #efefec
$dialog-title-color = #17233d
$dialog-actions-padding = 12px $dialog-padding
$dialog-close-padding = 3px 15px