$selector-dialog = $selector-prefix + '-dialog'

$selector-dialog-visible = $selector-dialog + '-visible'
$selector-dialog-fade = $selector-dialog + '-fade'

$selector-dialog-mask = $selector-dialog + '-mask'
$selector-dialog-wrapper = $selector-dialog + '-wrapper'

$selector-dialog-header = $selector-dialog + '-header'
$selector-dialog-body = $selector-dialog + '-body'
$selector-dialog-footer = $selector-dialog + '-footer'
$selector-dialog-close = $selector-dialog + '-close'


$dialog-padding-horizontal = 24px

$dialog-header-padding-vertical = 16px
$dialog-body-padding-vertical = 24px
$dialog-footer-padding-vertical = 10px
$dialog-footer-padding-horizontal = 16px

$dialog-close-font-size = 30px
$dialog-close-size = 20px
