$selector-divider = $selector-prefix + '-divider'

$divider-horizontal-margin = 12px 0
$divider-vertical-margin = 0 8px
$divider-border-color = #e8eaec
$divider-text-padding = 0 10px

$divider-with-text-margin = 16px 0
$divider-with-text-color = rgba(0,0,0,.85)
$divider-with-text-size = 16px
