$selector-divider = $selector-prefix + '-divider'
$selector-divider-horizontal = $selector-divider + '-horizontal'
$selector-divider-vertical = $selector-divider + '-vertical'
$selector-divider-dashed = $selector-divider + '-dashed'
$selector-divider-left = $selector-divider + '-left'
$selector-divider-center = $selector-divider + '-center'
$selector-divider-right = $selector-divider + '-right'
$selector-divider-with-text = $selector-divider + '-with-text'

$selector-divider-text = $selector-divider + '-text'

$divider-horizontal-gap = 12px
$divider-vertical-gap = 8px

$divider-border-color = #e8eaec
$divider-text-gap = 10px

