$selector-drawer = $selector-prefix + '-drawer';
$selector-drawer-content = $selector-drawer + '-content';
$selector-drawer-mask = $selector-drawer + '-mask';
$selector-drawer-hidden = $selector-drawer + '-hidden';

$drawer-position-hash = {
    'top': {
        top: 0px,
        left: 0px,
        right: 0px,
    },
    'left': {
        top: 0px,
        left: 0px,
        bottom: 0px,
    }
    'right': {
        top: 0px,
        right: 0px,
        bottom: 0px,
    },
    'bottom': {
        bottom: 0px,
        left: 0px,
        right: 0px,
    }
};