$selector-drawer = $selector-prefix + '-drawer'
$selector-drawer-content = $selector-drawer + '-content'
$selector-drawer-header = $selector-drawer + '-header'
$selector-drawer-title = $selector-drawer + '-title'
$selector-drawer-mask = $selector-drawer + '-mask'

$drawer-shadow = 0 4px 12px rgba(0,0,0,.15)
$drawer-border-color = #e8e8e8
$drawer-padding = 16px 24px
$drawer-title-size = 16px 
$drawer-body-size = 14px 
$drawer-close-padding = 3px 15px