$selector-drawer = $selector-prefix + '-drawer'
$selector-drawer-wrapper = $selector-drawer + '-wrapper'
$selector-drawer-header = $selector-drawer + '-header'
$selector-drawer-body = $selector-drawer + '-body'
$selector-drawer-mask = $selector-drawer + '-mask'
$selector-drawer-close = $selector-drawer + '-close'

$selector-drawer-top = $selector-drawer + '-top'
$selector-drawer-right = $selector-drawer + '-right'
$selector-drawer-bottom = $selector-drawer + '-bottom'
$selector-drawer-left = $selector-drawer + '-left'
$selector-drawer-visible = $selector-drawer + '-visible'
$selector-drawer-fade = $selector-drawer + '-fade'


$drawer-padding-horizontal = 24px
$drawer-header-padding-vertical = 16px
$drawer-body-padding-vertical = 16px

$drawer-wrapper-shadow = 0 4px 12px rgba(0,0,0,.15)
$drawer-mask-bg-color = rgba(0,0,0,.37)
$drawer-header-font-size = 16px

$drawer-close-top = 14px
$drawer-close-right = 18px
$drawer-close-font-size = 22px
