$selector-dropdown = $selector-prefix + '-dropdown'
$selector-dropdown-visible = $selector-dropdown + '-visible'
$selector-dropdown-fade = $selector-dropdown + '-fade'

$selector-dropdown-trigger = $selector-dropdown + '-trigger'
$selector-dropdown-list = $selector-dropdown + '-list'

$selector-dropdown-menu = $selector-dropdown + '-menu'

$selector-dropdown-item = $selector-dropdown + '-item'
$selector-dropdown-item-hover = $selector-dropdown-item + '-hover'
$selector-dropdown-item-active = $selector-dropdown-item + '-active'
$selector-dropdown-item-disabled = $selector-dropdown-item + '-disabled'
$selector-dropdown-item-enabled = $selector-dropdown-item + '-enabled'
$selector-dropdown-item-divided = $selector-dropdown-item + '-divided'

$dropdown-trigger-list-gap = 5px
$dropdown-list-inset = 5px
$dropdown-list-item-padding-vertical = 10px
$dropdown-menu-min-width = 100px