$selector-dropdown = $selector-prefix + '-dropdown'
$selector-dropdown-visible = $selector-dropdown + '-visible'
$selector-dropdown-fade = $selector-dropdown + '-fade'

$selector-dropdown-trigger = $selector-dropdown + '-trigger'
$selector-dropdown-list = $selector-dropdown + '-list'

$selector-dropdown-menu = $selector-dropdown + '-menu'

$selector-dropdown-item = $selector-dropdown + '-item'
$selector-dropdown-item-hover = $selector-dropdown-item + '-hover'
$selector-dropdown-item-active = $selector-dropdown-item + '-active'
$selector-dropdown-item-disabled = $selector-dropdown-item + '-disabled'
$selector-dropdown-item-enabled = $selector-dropdown-item + '-enabled'
$selector-dropdown-item-divided = $selector-dropdown-item + '-divided'

$dropdown-trigger-list-gap = 5px

$dropdown-list-inset = 5px
$dropdown-list-shadow = 0 1px 4px rgba(0,0,0,0.2)

$dropdown-menu-min-width = 100px

$dropdown-item-size = 12px
$dropdown-item-padding-horizontal = 16px
$dropdown-item-padding-vertical = 8px