$selector-dropdown = $selector-prefix + '-dropdown'
$selector-dropdown-trigger = $selector-prefix + '-dropdown-trigger'
$selector-dropdown-list = $selector-prefix + '-dropdown-list'

$dropdown-box-shadow = 0 1px 4px rgba(0,0,0,0.2)

$dropdown-menu-min-width = 100px

$dropdown-list-gap = 5px 0
$dropdown-item-size = 12px
$dropdown-item-color = #515a6e
$dropdown-item-padding = 7px 16px
$dropdown-item-divider-margin-top = 5px