$selector-exception = $selector-prefix + '-exception'
$selector-exception-403 = $selector-exception + '-403'
$selector-exception-404 = $selector-exception + '-404'
$selector-exception-500 = $selector-exception + '-500'
$selector-exception-title = $selector-exception + '-title'
$selector-exception-sub-title = $selector-exception + '-sub-title'
$selector-exception-extra = $selector-exception + '-extra'

$exception-padding-vertical = 48px
$exception-padding-horizontal = 32px

$exception-icon-gap = 24px
$exception-title-font-size = 24px
$exception-extra-gap = 32px
