$selector-form = $selector-prefix + '-form'
$selector-form-inline = $selector-form + '-inline'
$selector-form-label-left = $selector-form + '-label-left'
$selector-form-label-right = $selector-form + '-label-right'
$selector-form-label-top = $selector-form + '-label-top'

$selector-form-item = $selector-form + '-item'
$selector-form-item-label = $selector-form-item + '-label'
$selector-form-item-label-required = $selector-form-item-label + '-required'
$selector-form-item-wrapper = $selector-form-item + '-wrapper'
$selector-form-item-error = $selector-form-item + '-error'

$form-item-vertical-gap = 26px
$form-top-item-vertical-gap = 14px

$form-item-label-wrapper-gap = 12px

$form-item-error-gap = 6px