$form-button-size-hash = {
  default: {
    height: $height-default,
    font-size: $font-size-default,
    button-padding-vertical: 4px,
    button-padding-horizontal: $padding-horizontal-default,
    tag-height: 22px,
    tag-gap-vertical: 4px,
    tag-gap-horizontal: 4px,
  },
  small: {
    height: $height-small,
    font-size: $font-size-small,
    button-padding-vertical: 2px,
    button-padding-horizontal: $padding-horizontal-small,
    tag-height: 18px,
    tag-gap-vertical: 2px,
    tag-gap-horizontal: 2px,
  },
  large: {
    height: $height-large,
    font-size: $font-size-large,
    button-padding-vertical: 7px,
    button-padding-horizontal: $padding-horizontal-large,
    tag-height: 24px,
    tag-gap-vertical: 6px,
    tag-gap-horizontal: 6px,
  }
}