$selector-form = $selector-prefix + '-form'
$selector-form-item = $selector-form + '-item'
$selector-form-item-label = $selector-form-item + '-label'

$form-size = 14px
$form-font-color = rgba(0,0,0,.65)
$form-margin = 0 0 24px
$form-margin-right = 16px
$form-error-size = 12px
$form-error-color = #ed4014
$form-error-gap = 6px