$selector-grid-row = $selector-prefix + '-row'
$selector-grid-col = $selector-prefix + '-col'
$selector-grid-col-span = $selector-prefix + '-col-span'

$grid-cols = 24
$grid-hash = {
    '0': 0,
    '1': 1,
    '2': 2,
    '3': 3,
    '4': 4,
    '5': 5,
    '6': 6,
    '7': 7,
    '8': 8,
    '9': 9,
    '10': 10,
    '11': 11,
    '12': 12,
    '13': 13,
    '14': 14,
    '15': 15,
    '16': 16,
    '17': 17,
    '18': 18,
    '19': 19,
    '20': 20,
    '21': 21,
    '22': 22,
    '23': 23,
    '24': 24
}

$grid-justify-hash = {
    'justify-start': flex-start,
    'justify-center': center,
    'justify-end': flex-end,
    'justify-space-between': space-between,
    'justify-space-around': space-around
}
$grid-align-hash = {
    'align-top': flex-start,
    'align-middle': center,
    'align-bottom': flex-end,
    'align-baseline': baseline,
    'align-stretch': stretch
}

$grid-xs = 480px
$grid-xs-min = $grid-xs
$grid-xs-max = ($grid-xs-min - 1)

$grid-sm = 768px
$grid-sm-min = $grid-sm
$grid-sm-max = ($grid-sm-min - 1)

$grid-md = 992px
$grid-md-min = $grid-md
$grid-md-max = ($grid-md-min - 1)

$grid-lg = 1200px
$grid-lg-min = $grid-lg
$grid-lg-max = ($grid-lg-min - 1)
