$selector-input-number = $selector-prefix + '-input-number'
$selector-input-number-actions = $selector-prefix + '-input-number-actions'

$input-number-width = 90px

$input-number-el-placeholder-color = #D2D2D2
$input-number-font-size = 12px

$input-number-wrapper-padding = 0 10px
$input-number-actions-border-color = $brand-border
$input-number-actions-color = #999
$input-number-actions-size = 22px

$input-number-hash = {
  '': 30px,
  'small': 22px,
  'large': 38px
}

$input-number-color-hash = {
  '': {
    color: #515a6e,
    bg-color: $brand-bg,
    border-color: $brand-border,
    border-color-hover: $brand-primary-hover,
    box-shadow: 0 0 0 2px rgba(45,140,240,.2)
  },
  'success': {
    color: #515a6e,
    bg-color: $brand-bg,
    border-color: $brand-border,
    border-color-hover: $brand-success-hover,
    box-shadow: 0 0 0 2px rgba(25,190,107,.2)
  },
  'error': {
    color: #515a6e,
    bg-color: $brand-bg,
    border-color: $brand-border,
    border-color-hover: $brand-error-hover,
    box-shadow: 0 0 0 2px rgba(237,64,20,.2)
  },
  'info': {
    color: #515a6e,
    bg-color: $brand-bg,
    border-color: $brand-border,
    border-color-hover: $brand-info-hover,
    box-shadow: 0 0 0 2px rgba(45,183,245,.2)
  },
  'warning': {
    color: #515a6e,
    bg-color: $brand-bg,
    border-color: $brand-border,
    border-color-hover: $brand-warning-hover,
    box-shadow: 0 0 0 2px rgba(255,153,0,.2)
  },
  'disabled': {
    color: $brand-muted,
    bg-color: #F7F7F7,
    border-color: $brand-border-disabled,
    border-color-hover: $brand-border-disabled,
    box-shadow: none
  }
}
