$selector-input = $selector-prefix + '-input'
$selector-textarea = $selector-prefix + '-textarea'

$selector-input-focus = $selector-input + '-focus'
$selector-input-enabled = $selector-input + '-enabled'
$selector-input-disabled = $selector-input + '-disabled'
$selector-input-clearable = $selector-input + '-clearable'
$selector-input-has-prepend = $selector-input + '-has-prepend'
$selector-input-has-append = $selector-input + '-has-append'


$selector-input-with-prepend = $selector-input + '-with-prepend'
$selector-input-with-append = $selector-input + '-with-append'

$selector-input-el = $selector-input + '-el'
$selector-textarea-el = $selector-textarea + '-el'

$selector-input-el-with-prefix = $selector-input-el + '-with-prefix'
$selector-input-el-with-suffix = $selector-input-el + '-with-suffix'

$selector-input-content = $selector-input + '-content'
$selector-input-prepend = $selector-input + '-prepend'
$selector-input-append = $selector-input + '-append'
$selector-input-append-button = $selector-input-append + '-button'
$selector-input-prefix = $selector-input + '-prefix'
$selector-input-suffix = $selector-input + '-suffix'
$selector-input-clear = $selector-input + '-clear'
$selector-input-autosize = $selector-input + '-autosize'

$input-el-font-size = 14px
$input-el-placeholder-color = #D2D2D2
$input-el-padding-horizontal = 10px
$input-el-padding-vertical = 6px

$input-icon-color = #999
$input-icon-color-hover = #666

$input-prepend-append-font-size = 12px
$input-prepend-append-color = #515a6e
$input-prepend-append-bg-color = #fafafa
$input-prepend-append-padding-horizontal = 10px

$input-size-hash = {
  'default': $size-default,
  'small': $size-small,
  'large': $size-large,
}

$input-brand-hash = {
  'info': $brand-info,
  'success': $brand-success,
  'error': $brand-error,
  'warning': $brand-warning,
}