$selector-input = '.bell-input'
$selector-textarea = '.bell-textarea'
$selector-input-el = '.bell-input-el'

// input
$input-border-color = $brand-border-disabled;
$input-hover-border-color = $brand-primary-hover;
$input-border-radius = $radius-base;
$input-background-color = $brand-bg;
$input-focus-box-shadow = 0 0 0 2px rgba(45, 140, 240,.2);

$input-el-color = $brand-secondary;
$input-el-font-size = 12px;
$input-el-height = 32px;
$input-el-line-height = 32px;
$input-el-padding = 4px 7px;
$input-clearable-width = 24px;
$input-clearable-font-size = 16px;
$input-clearable-color = #ddd;

$input-disabled-backround-color = $brand-bg;

$input-hash = {
    '': {
        padding: 4px 7px,
        height: 32px,
        line-height: 32px
    },
    'small': {
        padding: 1px 7px,
        height: 24px,
        line-height: 24px
    }
    'large': {
        padding: 6px 7px,
        height: 36px,
        line-height: 36px
    }
}
