$selector-input-number = '.bell-input-number'
$selector-input-number-wrapper = '.bell-input-number-wrapper'
$selector-input-number-actions = '.bell-input-number-actions'
$selector-icon = '.bell-icon'


$input-number-font-size = 12px;
$input-number-border-radius = 4px;
$input-number-actions-width = 24px;
$input-number-color = #495060;
$input-number-background-color = #fff;
$input-number-border-color = #dddee1;
$input-number-hover-border-color = $brand-primary;
$input-number-actions-color = #ccc;
$input-number-hover-actions-color = $brand-primary-hover;
$input-number-margin-left = 10px;

$input-number-width = 80px;
$input-number-height = 32px;
$input-number-wrapper-padding = 4px 8px;

$input-number-small-width = 80px;
$input-number-small-height = 24px;
$input-number-small-wrapper-padding = 2px 6px;

$input-number-large-width = 80px;
$input-number-large-height = 36px;
$input-number-large-wrapper-padding = 6px 8px;

$input-number-hash = {
    '': {
        width: $input-number-width,
        height: $input-number-height,
        wrapper-padding: $input-number-wrapper-padding
    },
    'small': {
        width: $input-number-small-width,
        height: $input-number-small-height,
        wrapper-padding: $input-number-small-wrapper-padding
    },
    'large': {
        width: $input-number-large-width,
        height: $input-number-large-height,
        wrapper-padding: $input-number-large-wrapper-padding
    }
}

$input-number-disabled-color = #ccc;
$input-number-disabled-background = #f7f7f7;
$input-number-disabled-padding-left = 8px;

$input-number-focus-box-shadow = 0 0 0 2px rgba(45, 140, 240,.2);
