$selector-input = $selector-prefix + '-input'

$selector-input-disabled = $selector-input + '-disabled'
$selector-input-no-value = $selector-input + '-no-value'
$selector-input-has-value = $selector-input + '-has-value'

$selector-input-el = $selector-input + '-el'

$selector-input-el-with-prefix = $selector-input-el + '-with-prefix'
$selector-input-el-with-suffix = $selector-input-el + '-with-suffix'
$selector-input-el-with-prepend = $selector-input-el + '-with-prepend'
$selector-input-el-with-append = $selector-input-el + '-with-append'

$selector-input-content = $selector-input + '-content'
$selector-input-prepend = $selector-input + '-prepend'
$selector-input-append = $selector-input + '-append'
$selector-input-prefix = $selector-input + '-prefix'
$selector-input-suffix = $selector-input + '-suffix'
$selector-input-secure = $selector-input + '-secure'
$selector-input-clear = $selector-input + '-clear'

$selector-input-prefix-icon = $selector-input + '-prefix-icon'
$selector-input-suffix-icon = $selector-input + '-suffix-icon'
$selector-input-secure-icon = $selector-input + '-secure-icon'
$selector-input-clear-icon = $selector-input + '-clear-icon'

$input-prepend-append-font-size = 12px
$input-prepend-append-color = #666
$input-prepend-append-bg-color = #f5f7fa
$input-prepend-append-padding-horizontal = 10px

$input-size-hash = {
  default: {
    height: $height-default,
    font-size: $font-size-default,
    padding-vertical: $padding-vertical-default,
    padding-horizontal: $padding-horizontal-default,
  },
  small: {
    height: $height-small,
    font-size: $font-size-small,
    padding-vertical: $padding-vertical-small,
    padding-horizontal: $padding-horizontal-small,
  },
  large: {
    height: $height-large,
    font-size: $font-size-large,
    padding-vertical: $padding-vertical-large,
    padding-horizontal: $padding-horizontal-large,
  },
}
