$selector-input-number = '.bell-input-number'
$selector-input-number-wrapper = '.bell-input-number-wrapper'
$selector-input-number-actions = '.bell-input-number-actions'
$selector-icon = '.bell-icon'

$input-number-font-size = 12px;
$input-number-margin-left = 10px;

$input-number-hash = {
    '': {
        width: 80px,
        height: 32px,
        actions-width: 24px,
        padding: 0 34px 0 10px
    },
    'small': {
        width: 80px,
        height: 24px,
        actions-width: 24px,
        padding: 0 34px 0 10px
    },
    'large': {
        width: 80px,
        height: 36px,
        actions-width: 24px,
        padding: 0 34px 0 10px
    }
};

$input-number-color-hash = {
    '': {
        color: $brand-secondary,
        bg-color: $brand-bg,
        border-color: $brand-border,
        border-color-hover: $brand-primary-hover,
        box-shadow: 0 0 0 2px $brand-primary-box-shadow-color
    },
    'success': {
        color: $brand-secondary,
        bg-color: $brand-bg,
        border-color: $brand-border,
        border-color-hover: $brand-success-hover,
        box-shadow: 0 0 0 2px $brand-success-box-shadow-color
    },
    'error': {
        color: $brand-secondary,
        bg-color: $brand-bg,
        border-color: $brand-border,
        border-color-hover: $brand-error-hover,
        box-shadow: 0 0 0 2px $brand-error-box-shadow-color
    },
    'info': {
        color: $brand-secondary,
        bg-color: $brand-bg,
        border-color: $brand-border,
        border-color-hover: $brand-info-hover,
        box-shadow: 0 0 0 2px $brand-info-box-shadow-color
    },
    'warning': {
        color: $brand-secondary,
        bg-color: $brand-bg,
        border-color: $brand-border,
        border-color-hover: $brand-warning-hover,
        box-shadow: 0 0 0 2px $brand-warning-box-shadow-color
    },
    'danger': {
        color: $brand-secondary,
        bg-color: $brand-bg,
        border-color: $brand-border,
        border-color-hover: $brand-danger-hover,
        box-shadow: 0 0 0 2px $brand-danger-box-shadow-color
    },
    'disabled': {
        color: $brand-muted,
        bg-color: #F7F7F7,
        border-color: $brand-border-disabled,
        border-color-hover: $brand-border-disabled,
        box-shadow: 0 0 0 2px $brand-disabled-box-shadow-color
    }
}
