$selector-input-number = $selector-prefix + '-input-number'
$selector-input-number-enabled = $selector-input-number + '-enabled'
$selector-input-number-disabled = $selector-input-number + '-disabled'
$selector-input-number-focus = $selector-input-number + '-focus'
$selector-input-number-el = $selector-input-number + '-el'
$selector-input-number-actions = $selector-input-number + '-actions'
$selector-input-number-up = $selector-input-number + '-up'
$selector-input-number-up-enabled = $selector-input-number-up + '-enabled'
$selector-input-number-up-disabled = $selector-input-number-up + '-disabled'
$selector-input-number-down = $selector-input-number + '-down'
$selector-input-number-down-enabled = $selector-input-number-down + '-enabled'
$selector-input-number-down-disabled = $selector-input-number-down + '-disabled'

$input-number-size-hash = {
  default: {
    height: $height-default,
    font-size: $font-size-default,
    padding-horizontal: $padding-horizontal-default,
    actions-width: 22px,
  },
  small: {
    height: $height-small,
    font-size: $font-size-small,
    padding-horizontal: $padding-horizontal-small,
    actions-width: 20px,
  }
  large: {
    height: $height-large,
    font-size: $font-size-large,
    padding-horizontal: $padding-horizontal-large,
    actions-width: 26px,
  }
}
