$selector-layout = $selector-prefix + '-layout'
$selector-layout-horizontal = $selector-layout + '-horizontal'
$selector-layout-vertical = $selector-layout + '-vertical'
$selector-layout-fixed = $selector-layout + '-fixed'
$selector-layout-header = $selector-layout + '-header'
$selector-layout-sider = $selector-layout + '-sider'
$selector-layout-content = $selector-layout + '-content'
$selector-layout-footer = $selector-layout + '-footer'

$selector-layout-sider-collapsed = $selector-layout-sider + '-collapsed'
$selector-layout-sider-children = $selector-layout-sider + '-children'
$selector-layout-sider-trigger = $selector-layout-sider + '-trigger'
$selector-layout-sider-trigger-icon = $selector-layout-sider-trigger + '-icon'

$layout-sider-width = 200px