$selector-layout = $selector-prefix + '-layout';
$selector-layout-header = $selector-layout + '-header';
$selector-layout-sider = $selector-layout + '-sider';
$selector-layout-has-sider = $selector-prefix + '-layout-has-sider';
$selector-layout-fixed = $selector-layout + '-fixed';

$selector-sider-collapsed = $selector-prefix + '-layout-sider-collapsed';
$selector-sider = $selector-prefix + '-sider';

$layout-hash = {
    header: {
        flex: 0 0 64px,
        line-height: 64px,
        padding: 0 50px,
        background-color: $brand-primary,
        color: #fff
    },
    content: {
        flex: auto
    },
    footer: {
        flex: 0 0 auto,
        background-color: #f5f7f9,
        padding: 24px 50px,
        color: #515a6e
    },
    sider: {
        flex: 0 0 200px,
        background-color: #515a6e
    },
    sider-collapsed: {
        flex: 0 0 78px,
        background-color: #515a6e
    },
    trigger: {
        color: #fff
    }
};

$selector-menu = $selector-prefix + '-menu';
$selector-menu-item = $selector-prefix + '-menu-item';
$selector-menu-submenu = $selector-prefix + '-menu-submenu';
$selector-menu-group = $selector-prefix + '-menu-group';

$layout-menu-default-color = #515a6e;
$layout-menu-default-font-size = 14px;
$layout-menu-submenu-default-padding = 0 20px;

$layout-menu-direction-hash = {
    'horizontal': {
        height: 64px,
        line-height: 64px,
        item: {
            display: inline-block,
            vertical-align: bottom,
            border-bottom: 2px solid transparent,
            height: inherit,
            line-height: inherit,
        },
        theme: {
            'light': {
                background-color: $brand-white,
                item: {
                    color: #515a6e,
                    border-bottom: 2px solid transparent,

                    color-hover: $brand-primary,
                    border-bottom-hover: 2px solid $brand-primary,
                },
                after: horizontal,
            },
            'dark': {
                background-color: #515a6e,
                item: {
                    color: hsla(0,0%,100%,.7),

                    color-hover: $brand-white
                }
            },
            'primary': {
                background-color: $brand-primary,
                item: {
                    color: $brand-white
                }
            }
        }
    },
    'vertical': {
        theme: {
            'light': {
                background-color: $brand-white,
                item: {
                    color: #515a6e,
                    border-right: 2px solid transparent,

                    color-hover: $brand-primary,
                    border-right-hover: 2px solid $brand-primary,
                    background-color-active: #f0faff
                },
                after: vertical,
            },
            'dark': {
                item: {
                    color: hsla(0,0%,100%,.7),

                    color-hover: $brand-primary,
                    background-color-active: #363e4f
                }
            },
        }
    }
}





