$selector-link = $selector-prefix + '-link'
$selector-links = $selector-prefix + '-links'

$link-brand-hash = {
    primary: {
        color: $brand-primary,
        color-hover: $brand-primary
    },
    secondary: {
        color: $brand-link,
        color-hover: $brand-link-hover
    },
    success: {
        color: $brand-success,
        color-hover: $brand-success
    },
    error: {
        color: $brand-error,
        color-hover: $brand-error
    },
    info: {
        color: $brand-info,
        color-hover: $brand-info
    },
    warning: {
        color: $brand-warning,
        color-hover: $brand-warning
    },
    muted: {
        color: $brand-muted,
        color-hover: $brand-muted
    }
}

$link-size-hash = {
    '': $size-default,
    tiny: $size-tiny,
    small: $size-small,
    large: $size-large,
    huge: $size-huge,
}
