$selector-list = $selector-prefix + '-list'
$selector-list-simple = $selector-list + '-simple'
$selector-list-bordered = $selector-list + '-bordered'
$selector-list-header = $selector-list + '-header'
$selector-list-empty-desc = $selector-list + '-empty-desc'
$selector-list-item = $selector-list + '-item'
$selector-list-item-clickable = $selector-list-item + '-clickable'
$selector-list-item-active = $selector-list-item + '-active'
$selector-list-item-header = $selector-list-item + '-header'
$selector-list-item-content = $selector-list-item + '-content'
$selector-list-item-footer = $selector-list-item + '-footer'
$selector-list-item-text = $selector-list-item + '-text'

$list-size-hash = {
  default: {
    header-padding: 12px 20px,
    header-text-gap: 14px,
    padding-horizontal: 20px,
    padding-vertical: 12px,
  },
  large: {
    header-padding: 16px 24px,
    header-text-gap: 18px,
    padding-horizontal: 24px,
    padding-vertical: 16px,
  },
  small: {
    header-padding: 8px 16px,
    header-text-gap: 10px,
    padding-horizontal: 16px,
    padding-vertical: 8px,
  }
}
