$selector-list = $selector-prefix + '-list'
$selector-list-simple = $selector-list + '-simple'
$selector-list-bordered = $selector-list + '-bordered'
$selector-list-empty = $selector-list + '-empty'
$selector-list-header = $selector-list + '-header'
$selector-list-item = $selector-list + '-item'
$selector-list-item-clickable = $selector-list-item + '-clickable'
$selector-list-item-active = $selector-list-item + '-active'
$selector-list-item-header = $selector-list-item + '-header'
$selector-list-item-content = $selector-list-item + '-content'
$selector-list-item-footer = $selector-list-item + '-footer'
$selector-list-item-text = $selector-list-item + '-text'

$list-empty-padding-vertical = 60px

$list-size-hash = {
  default: {
    header-padding: 12px 20px,
    padding-horizontal: 20px,
    padding-vertical: 12px,
  },
  large: {
    header-padding: 16px 24px,
    padding-horizontal: 24px,
    padding-vertical: 16px,
  },
  small: {
    header-padding: 8px 16px,
    padding-horizontal: 16px,
    padding-vertical: 8px,
  }
}
