$selector-loadingbar-wrapper = '#bell-loadingbar-wrapper'
$selector-loadingbar = $selector-prefix + '-loadingbar'
$selector-loadingbar-bg = $selector-prefix + '-loadingbar-bg'

$loadingbar-bg-color = #f8f8f8

$loadingbar-brand-hash = {
  'primary': {
    color: $brand-primary
  },
  'success': {
    color: $brand-success
  },
  'error': {
    color: $brand-error
  },
  'info': {
    color: $brand-info
  },
  'warning': {
    color: $brand-warning
  }
}