$selector-loadingbar-wrapper = '#bell-loadingbar-wrapper'
$selector-loadingbar = $selector-prefix + '-loadingbar'
$selector-loadingbar-bg = $selector-prefix + '-loadingbar-bg'

$loadingbar-inner-background-color = #f8f8f8
$loadingbar-border-radius = 2px

$loadingbar-brand-hash = {
  '': {
    bg-color: $brand-primary
  },
  'success': {
    bg-color: $brand-success
  },
  'error': {
    bg-color: $brand-error
  },
  'info': {
    bg-color: $brand-info
  },
  'warning': {
    bg-color: $brand-warning
  },
  'danger': {
    bg-color: $brand-danger
  }
}