
$selector-menu = $selector-prefix + '-menu'
$selector-menu-horizontal = $selector-menu + '-horizontal'
$selector-menu-vertical = $selector-menu + '-vertical'
$selector-menu-inline = $selector-menu + '-inline'
$selector-menu-collapsed = $selector-menu + '-collapsed'

$selector-menu-active = $selector-menu + '-active'
$selector-menu-open = $selector-menu + '-open'
$selector-menu-dropdown = $selector-menu + '-dropdown'

$selector-menu-submenu = $selector-prefix + '-submenu'
$selector-menu-submenu-title = $selector-menu-submenu + '-title'
$selector-menu-submenu-title-icon = $selector-menu-submenu + '-title-icon'

$selector-menu-group = $selector-menu + '-group'
$selector-menu-group-title = $selector-menu-group + '-title'

$selector-menu-item = $selector-menu + '-item'
$selector-menu-item-active = $selector-menu-item + '-active'
$selector-menu-item-enabled = $selector-menu-item + '-enabled'
$selector-menu-item-disabled = $selector-menu-item + '-disabled'

$menu-horizontal-padding = 20px
$menu-vertical-padding = 20px
$menu-dropdown-offset = 4px

$menu-dark-fg = #515a6e
$menu-dark-bg = #363e4f

$menu-light-fg = $brand-white
$menu-light-bg = #f0faff

$menu-group-title-height = 34px
$menu-horizontal-item-height = 64px
$menu-vertical-item-height = 48px

$menu-dropdown-shadow = 0 1px 6px rgba(0,0,0,.2)

$menu-collapsed-width = 80px

$menu-theme-hash = {
  'light': {

    text-color: $menu-dark-fg,
    bg-color: $menu-light-fg,

    item-color: $menu-dark-fg,
    item-hover-color: $brand-primary,
    item-disabled-color: $brand-disabled,

    group-title-color: $brand-muted,

    horizontal-item-active-color: $brand-primary,

    vertical-item-active-color: $brand-primary,
    vertical-item-active-bg-color: $menu-light-bg,

    inline-item-active-color: $brand-primary,
    inline-item-active-bg-color: $menu-light-bg,
  },
  'dark': {
    text-color: hsla(0,0%,100%,.7),
    bg-color: $menu-dark-fg,

    item-color: hsla(0,0%,100%,.7),
    item-bg-color: $menu-dark-fg,
    item-hover-color: $menu-light-fg,
    item-disabled-color: $brand-disabled,

    group-title-color: rgba(255, 255, 255, 0.36),

    horizontal-item-active-color: $menu-light-fg,

    vertical-item-active-color: $brand-primary,
    vertical-item-active-bg-color: $menu-dark-bg,

    inline-bg-color: $menu-dark-bg,
    inline-item-active-color: $menu-light-fg,
    inline-item-active-bg-color: $brand-primary,
  }

}