$selector-message = $selector-prefix + '-message'
$selector-message-center = $selector-message + '-center'
$selector-message-visible = $selector-message + '-visible'
$selector-message-with-close = $selector-message + '-with-close'

$selector-message-icon = $selector-message + '-icon'
$selector-message-text = $selector-message + '-text'
$selector-message-close = $selector-message + '-close'

$message-padding-vertical = 10px
$message-padding-horizontal = 16px

$message-icon-font-size = 18px
$message-close-font-size = 20px