$selector-msgbox = $selector-prefix + '-msg'
$selector-msgbox-alert = $selector-prefix + '-msg-alert'
$selector-msgbox-confirm = $selector-prefix + '-msg-confirm'
$selector-msgbox-mask = $selector-prefix + '-msg-mask'

$msgbox-msg-mask-background-color = rgba(0,0,0,.54)

$msgbox-alert-min-width = 320px
$msgbox-alert-border-radius = 4px

$msgbox-alert-background-color = #fff
$msgbox-alert-border-color = #ebeef5
$msgbox-alert-box-shadow = 0 2px 12px 0 rgba(0,0,0,.1)

$msgbox-alert-max-width = 500px

$msgbox-msg-zindex = $zindex-msgbox
$msgbox-msg-close-padding = 10px 15px
$msgbox-msg-close-size = 28px
$msgbox-msg-body-padding = 24px
$msgbox-msg-body-size = 14px
$msgbox-msg-header-size = 16px
$msgbox-msg-header-padding = 16px 24px
$msgbox-msg-border = 1px solid #e8e8e8
$msgbox-msg-footer-padding = 10px 16px

$msgbox-confirm-zindex = $zindex-msgbox
$msgbox-confirm-min-width = 320px
$msgbox-confirm-border-radius = 4px

$msgbox-confirm-background-color = #fff
$msgbox-confirm-border-color = #ebeef5
$msgbox-confirm-box-shadow = 0 2px 12px 0 rgba(0,0,0,.1)

$msgbox-confirm-max-width = 700px

