$selector-notification-wrapper = '#bell-notification-wrapper'

$selector-notification = $selector-prefix + '-notification'
$selector-notification-with-icon = $selector-notification + '-with-icon'
$selector-notification-with-close = $selector-notification + '-with-close'
$selector-notification-icon = $selector-notification + '-icon'
$selector-notification-title = $selector-notification + '-title'
$selector-notification-content = $selector-notification + '-content'
$selector-notification-close = $selector-notification + '-close'
$selector-notification-visible = $selector-notification + '-visible'

$notification-wrapper-top = 15px

$notification-vertical-gap = 15px

$notification-padding-vertical = 18px
$notification-padding-horizontal = 16px

$notification-title-content-gap = 10px

$notification-icon-font-size = 26px
$notification-icon-top = 14px

$notification-close-font-size = 24px
$notification-close-top = 14px
$notification-close-right = 8px
