$selector-notice = $selector-prefix + '-notice'
$selector-notice-wrapper = '#bell-notice-wrapper'

$notice-wrapper-top = 15px

$notice-padding = 10px 15px
$notice-border-radius = 4px
$notice-box-shadow = 0 1px 6px rgba(0,0,0,.2)
$notice-margin-top = 15px

$notice-title-size = 14px
$notice-title-color = rgba(0,0,0, 0.87)
$notice-title-line-height = 24px
$notice-title-margin = 10px

$notice-desc-font-size = 12px
$notice-desc-color = rgba(0,0,0, 0.54)
$notice-desc-line-height = 20px

$notice-close-size = 22px
$notice-close-padding = 8px 15px
$notice-close-color = #999

$notice-brand-hash = {
  '': {
    bg-color: $brand-primary
  },
  'success': {
    bg-color: $brand-success
  },
  'error': {
    bg-color: $brand-error
  },
  'info': {
    bg-color: $brand-info
  },
  'warning': {
    bg-color: $brand-warning
  },
  'danger': {
    bg-color: $brand-danger
  }
}