$selector-notification-wrapper = '#bell-notification-wrapper'

$selector-notification = $selector-prefix + '-notification'
$selector-notification-with-close = $selector-notification + '-with-close'
$selector-notification-title = $selector-notification + '-title'
$selector-notification-content = $selector-notification + '-content'
$selector-notification-close = $selector-notification + '-close'
$selector-notification-visible = $selector-notification + '-visible'

$notification-wrapper-top = 15px

$notification-vertical-gap = 15px

$notification-padding-vertical = 10px
$notification-padding-horizontal = 15px

$notification-type-width = 4px

$notification-title-content-gap = 4px

$notification-close-font-size = 22px
$notification-close-top = 10px
$notification-close-right = 8px


$notification-brand-hash = {
  primary: {
    color: $brand-primary
  },
  success: {
    color: $brand-success
  },
  error: {
    color: $brand-error
  },
  info: {
    color: $brand-info
  },
  warning: {
    color: $brand-warning
  }
}