$selector-notice-wrapper = '#bell-notice-wrapper'

$selector-notice = $selector-prefix + '-notice'
$selector-notice-title = $selector-notice + '-title'
$selector-notice-content = $selector-notice + '-content'
$selector-notice-close = $selector-notice + '-close'
$selector-notice-visible = $selector-notice + '-visible'

$notice-wrapper-top = 15px

$notice-padding = 10px 15px
$notice-shadow = 0 1px 6px rgba(0,0,0,.2)
$notice-gap = 15px
$notice-type-width = 4px

$notice-title-content-gap = 5px

$notice-close-font-size = 22px
$notice-close-top = 10px
$notice-close-right = 8px


$notice-brand-hash = {
  'primary': {
    color: $brand-primary
  },
  'success': {
    color: $brand-success
  },
  'error': {
    color: $brand-error
  },
  'info': {
    color: $brand-info
  },
  'warning': {
    color: $brand-warning
  }
}