$selector-notification-wrapper = '#bell-notification-wrapper'

$selector-notification = $selector-prefix + '-notification'
$selector-notification-with-icon = $selector-notification + '-with-icon'
$selector-notification-with-title = $selector-notification + '-with-title'
$selector-notification-with-close = $selector-notification + '-with-close'
$selector-notification-icon = $selector-notification + '-icon'
$selector-notification-title = $selector-notification + '-title'
$selector-notification-content = $selector-notification + '-content'
$selector-notification-close = $selector-notification + '-close'
$selector-notification-visible = $selector-notification + '-visible'

$notification-wrapper-top = 15px

$notification-vertical-gap = 15px

$notification-padding-vertical = 18px
$notification-padding-horizontal = 16px

$notification-title-content-gap = 8px

$notification-icon-gap = 8px
$notification-icon-size = 22px
$notification-icon-top = 17px

$notification-close-icon-top = 21px
$notification-close-icon-right = 12px

$notification-icon-gap-with-title = 8px
$notification-icon-size-with-title = 30px
$notification-icon-top-with-title = 15px
$notification-close-icon-top-with-title = 18px
