$selector-page = $selector-prefix + '-page'
$selector-page-list = $selector-page + '-list'
$selector-page-item = $selector-page + '-item'
$selector-page-active = $selector-page + '-active'

$selector-page-prev = $selector-page + '-prev'
$selector-page-next = $selector-page + '-next'
$selector-page-ellipsis = $selector-page + '-ellipsis'
$selector-page-custom-prev = $selector-page + '-custom-prev'
$selector-page-custom-next = $selector-page + '-custom-next'

$selector-page-simple = $selector-page + '-simple'
$selector-page-total = $selector-page + '-total'
$selector-page-icon = $selector-page + '-icon'
$selector-page-input = $selector-page + '-input'
$selector-page-select = $selector-page + '-select'
$selector-page-jumper = $selector-page + '-jumper'
$selector-page-separator = $selector-page + '-separator'

$selector-page-simple-input = $selector-page-simple + '-input'
$selector-page-jumper-input = $selector-page-jumper + '-input'

$page-item-gap = 6px

$page-element-gap = 10px

$page-simple-input-width = 50px
$page-jumper-input-width = 100px
$page-select-width = 100px

$page-size-hash = {
  default: {
    height: $height-default,
    font-size: $font-size-default,
  },
  small: {
    height: $height-small,
    font-size: $font-size-small,
  },
}
