$selector-page = $selector-prefix + '-page'
$selector-page-item = $selector-prefix + '-page-item'

$page-item-color = #515a6e
$page-item-disabled-color = #dcdee2
$page-item-hover-color = $brand-primary
$page-item-border = 1px solid #dcdee2

$page-item-width = 100px
$page-item-margin = 10px
$page-input-width = 32px
$page-simple-item-padding = 3px 6px

$page-size-hash = {
  '': 32px,
  'small': 24px
}
