$selector-page-header = $selector-prefix + '-page-header'
$selector-page-header-with-back = $selector-page-header + '-with-back'
$selector-page-header-with-tags = $selector-page-header + '-with-tags'
$selector-page-header-with-extra = $selector-page-header + '-with-extra'
$selector-page-header-header = $selector-page-header + '-header'
$selector-page-header-back = $selector-page-header + '-back'
$selector-page-header-title = $selector-page-header + '-title'
$selector-page-header-tags = $selector-page-header + '-tags'
$selector-page-header-extra = $selector-page-header + '-extra'
$selector-page-header-body = $selector-page-header + '-body'

$page-header-padding-vertical = 16px
$page-header-padding-horizontal = 24px

$page-header-back-icon-size = 20px
$page-header-title-font-size = 20px

$page-header-breadcrumb-header-gap = 10px
$page-header-back-title-gap = 10px
$page-header-title-tags-gap = 12px
$page-header-header-body-gap = 16px
