$selector-page = '.bell-page'
$selector-page-item = '.bell-page-item'

$page-item-color = #666;
$page-item-hover-border-color = $brand-primary;
$page-item-hover-color = $brand-primary;

$page-select-width = 100px;
$page-select-margin-right = 10px;
$page-input-width = 40px;
$page-input-margin = 0 10px;
$page-total-margin-right = 10px;

$page-size-hash = {
    '': {
        width: 32px,
        height: 32px,
        line-height: 32px,
        margin-right: 4px,
        prev-margin-right: 6px,
        icon-line-height: 32px,
        font-size: 12px
    },
    'small': {
        width: 24px,
        height: 24px,
        line-height: 24px,
        margin-right: 2px,
        prev-margin-right: 4px,
        icon-line-height: 24px,
        font-size: 12px
    },
}
