$selector-pagination = $selector-prefix + '-pagination'
$selector-pagination-hidden = $selector-pagination + '-hidden'
$selector-pagination-list = $selector-pagination + '-list'
$selector-pagination-item = $selector-pagination + '-item'
$selector-pagination-active = $selector-pagination + '-active'

$selector-pagination-prev = $selector-pagination + '-prev'
$selector-pagination-next = $selector-pagination + '-next'
$selector-pagination-ellipsis = $selector-pagination + '-ellipsis'
$selector-pagination-custom-prev = $selector-pagination + '-custom-prev'
$selector-pagination-custom-next = $selector-pagination + '-custom-next'
$selector-pagination-custom-disabled = $selector-pagination + '-custom-disabled'

$selector-pagination-simple = $selector-pagination + '-simple'
$selector-pagination-total = $selector-pagination + '-total'
$selector-pagination-icon = $selector-pagination + '-icon'
$selector-pagination-input = $selector-pagination + '-input'
$selector-pagination-select = $selector-pagination + '-select'
$selector-pagination-jumper = $selector-pagination + '-jumper'

$selector-pagination-separator = $selector-pagination + '-separator'
$selector-pagination-count = $selector-pagination + '-count'

$selector-pagination-simple-input = $selector-pagination-simple + '-input'
$selector-pagination-jumper-input = $selector-pagination-jumper + '-input'

$pagination-element-gap = 10px

$pagination-simple-input-width = 55px
$pagination-jumper-input-width = 100px
$pagination-select-width = 100px
$pagination-ellipsis-width = 22px

$pagination-size-hash = {
  default: {
    height: $height-default,
    font-size: $font-size-default,
    padding-horizontal: 8px,
  },
  small: {
    height: $height-small,
    font-size: $font-size-small,
    padding-horizontal: 6px,
  },
}
