$selector-progress = $selector-prefix + '-progress'
$selector-progress-vertical = $selector-progress + '-vertical'
$selector-progress-outer = $selector-progress + '-outer'
$selector-progress-inner = $selector-progress + '-inner'
$selector-progress-inner-text = $selector-progress + '-inner-text'
$selector-progress-bg = $selector-progress + '-bg'


$progress-inner-text-width = 60px
$progress-inner-text-font-size = 12px
$progress-inner-border-radius = 100px

$progress-brand-hash = {
    '': {
        bg-color: $brand-primary
    },
    'success': {
        bg-color: $brand-success
    },
    'error': {
        bg-color: $brand-error
    },
    'warning': {
        bg-color: $brand-warning
    },
    'danger': {
        bg-color: $brand-danger
    },
    'info': {
        bg-color: $brand-info
    }
}