$selector-progress = $selector-prefix + '-progress'
$selector-progress-active = $selector-progress + '-active'
$selector-progress-horizontal = $selector-progress + '-horizontal'
$selector-progress-vertical = $selector-progress + '-vertical'
$selector-progress-with-text = $selector-progress + '-with-text'
$selector-progress-outer = $selector-progress + '-outer'
$selector-progress-inner = $selector-progress + '-inner'
$selector-progress-text = $selector-progress + '-text'
$selector-progress-bar = $selector-progress + '-bar'

$progress-bg-color = #f3f3f3
$progress-text-font-size = 12px

$progress-brand-hash = {
  primary: {
    color: $brand-primary
  },
  success: {
    color: $brand-success
  },
  error: {
    color: $brand-error
  },
  warning: {
    color: $brand-warning
  },
  info: {
    color: $brand-info
  }
}