$selector-progress = $selector-prefix + '-progress'
$selector-progress-active = $selector-progress + '-active'
$selector-progress-horizontal = $selector-progress + '-horizontal'
$selector-progress-vertical = $selector-progress + '-vertical'
$selector-progress-inside = $selector-progress + '-inside'
$selector-progress-outside = $selector-progress + '-outside'
$selector-progress-with-text = $selector-progress + '-with-text'
$selector-progress-fluid = $selector-progress + '-fluid'
$selector-progress-track = $selector-progress + '-track'
$selector-progress-text = $selector-progress + '-text'
$selector-progress-bar = $selector-progress + '-bar'

$progress-bg-color = #f5f5f5
