$selector-radio-button = $selector-prefix + '-radio-button'

$radio-button-gap = 8px

$radio-button-brand-hash = {
  '': {
    bg-color: $brand-bg,
    bg-color-hover: $brand-primary,
    color: $brand-main,
    color-hover: $brand-primary
  },
  'success': {
    bg-color: $brand-bg,
    bg-color-hover: $brand-success,
    color: $brand-main,
    color-hover: $brand-success
  },
  'warning': {
    bg-color: $brand-bg,
    bg-color-hover: $brand-warning,
    color: $brand-main,
    color-hover: $brand-warning
  },
  'error': {
    bg-color: $brand-bg,
    bg-color-hover: $brand-error,
    color: $brand-main,
    color-hover: $brand-error
  },
  'danger': {
    bg-color: $brand-bg,
    bg-color-hover: $brand-danger,
    color: $brand-main,
    color-hover: $brand-danger
  },
  'info': {
    bg-color: $brand-bg,
    bg-color-hover: $brand-info,
    color: $brand-main,
    color-hover: $brand-info
  },
  'disabled': {
    bg-color: $brand-bg-disabled,
    bg-color-hover: $brand-bg-disabled,
    color: #ccc,
    color-hover: #ccc
  }
}

$radio-button-size-hash = {
  '': {
    font: 13px,
    padding: 0 18px,
    height: 32px
  },
  'large': {
    font: 14px,
    padding: 0 18px,
    height: 36px
  },

  'small': {
    font: 12px,
    padding: 0 12px,
    height: 24px
  }
}
