$selector-radio-button = $selector-prefix + '-radio-button'

$radio-button-brand-hash = {
  primary: {
    color-hover: $brand-primary-hover,
    color-active: $brand-primary-hover,
    shadow-color: $brand-primary-shadow
  },
  success: {
    color-hover: $brand-success-hover,
    color-active: $brand-success-hover,
    shadow-color: $brand-success-shadow
  },
  warning: {
    color-hover: $brand-warning-hover,
    color-active: $brand-warning-hover,
    shadow-color: $brand-warning-shadow
  },
  error: {
    color-hover: $brand-error-hover,
    color-active: $brand-error-hover,
    shadow-color: $brand-error-shadow
  },
  info: {
    color-hover: $brand-info-hover,
    color-active: $brand-info-hover,
    shadow-color: $brand-info-shadow
  }
}

$radio-button-size-hash = {
  default: $size-default,
  large: $size-large,
  small: $size-small,
}
