$radius-base = 4px

$radius-tiny = 3px

$radius-small = 3px

$radius-large = 4px

$radius-huge = 6px

$radius-circle = 50%

$radius-round = 32px

$radius-hash = {

  '': $radius-base,

  'tiny': $radius-tiny,
  'small': $radius-small,
  'large': $radius-large,
  'huge': $radius-huge,
  'circle': $radius-circle,
  'round': $radius-round

}

