$radius-base = 4px

$radius-tiny = 1px

$radius-small = 2px

$radius-large = 8px

$radius-huge = 10px

$radius-circle-half = 100%

$radius-circle = 32px

$radius-hash = {

    '': $radius-base,

    'tiny': $radius-tiny,
    'small': $radius-small,
    'large': $radius-large,
    'huge': $radius-huge,
    'circle-harf': $radius-circle-half,
    'circle': $radius-circle

}

