$radius-base = {
    '': 0,
    round: 4px,
    radius: 4px
}

$radius-tiny = {
    '': 0,
    round: 1px,
    radius: 1px
}

$radius-small = {
    '': 0,
    round: 2px,
    radius: 2px
}

$radius-large = {
    '': 0,
    round: 8px,
    radius: 8px
}

$radius-huge = {
    '': 0,
    round: 10px,
    radius: 10px
}
$radius-circle = {
    '': 0,
    round: 32px,
    radius: 50%
}

$radius-hash = {

    '': $radius-base,

    'border-tiny': $radius-tiny,
    'border-small': $radius-small,
    'border-large': $radius-large,
    'border-huge': $radius-huge,
    'border-circle': $radius-circle

}

