$selector-radio = $selector-prefix + '-radio';
$selector-radio-group = $selector-radio + '-group';

$radio-inner-size = 14px;
$radio-label-padding-left = 20px;
$radio-font-size = 12px;
$radio-wrapper-margin-top = 4px;
$radio-margin-gap = 10px;

$radio-brand-hash = {
    '': {
        color: $brand-border,
        bg-color: $brand-bg,
        color-hover: $brand-primary,
        color-active: $brand-primary,
        border-color: $brand-primary,
        box-shadow: 0 0 0 2px $brand-primary-box-shadow-color
    },
    'success': {
        color: $brand-border,
        bg-color: $brand-bg,
        color-hover: $brand-success,
        color-active: $brand-success,
        border-color: $brand-success,
        box-shadow: 0 0 0 2px $brand-success-box-shadow-color
    },
    'warning': {
        color: $brand-border,
        bg-color: $brand-bg,
        color-hover: $brand-warning,
        color-active: $brand-warning,
        box-shadow: 0 0 0 2px $brand-warning-box-shadow-color
    },
    'error': {
        color: $brand-border,
        bg-color: $brand-bg,
        color-hover: $brand-error,
        color-active: $brand-error,
        box-shadow: 0 0 0 2px $brand-error-box-shadow-color
    },
    'danger': {
        color: $brand-border,
        bg-color: $brand-bg,
        color-hover: $brand-danger,
        color-active: $brand-danger,
        box-shadow: 0 0 0 2px $brand-danger-box-shadow-color
    },
    'info': {
        color: $brand-border,
        bg-color: $brand-bg,
        color-hover: $brand-info,
        color-active: $brand-info,
        box-shadow: 0 0 0 2px $brand-info-box-shadow-color
    },
    'disabled': {
        color: $brand-border,
        bg-color: $brand-bg,
        color-hover: $brand-border,
        color-active: $brand-border,
        box-shadow: none
    }
};