$selector-radio = $selector-prefix + '-radio'
$selector-radio-group = $selector-radio + '-group'

$radio-inner-size = 16px
$radio-label-padding-left = 24px
$radio-font-size = 12px
$radio-wrapper-margin-top = 4px
$radio-margin-gap = 10px
$radio-height = 30px

$radio-border-color = #dcdee2

$radio-brand-hash = {
  '': {
    bg-color: $brand-bg,
    hover-color: $brand-primary,
    active-color: $brand-primary,
    box-shadow: 0 0 0 2px $brand-primary-box-shadow-color
  },
  'success': {
    bg-color: $brand-bg,
    hover-color: $brand-success,
    active-color: $brand-success,
    box-shadow: 0 0 0 2px $brand-success-box-shadow-color
  },
  'warning': {
    bg-color: $brand-bg,
    hover-color: $brand-warning,
    active-color: $brand-warning,
    box-shadow: 0 0 0 2px $brand-warning-box-shadow-color
  },
  'error': {
    bg-color: $brand-bg,
    hover-color: $brand-error,
    active-color: $brand-error,
    box-shadow: 0 0 0 2px $brand-error-box-shadow-color
  },
  'danger': {
    bg-color: $brand-bg,
    hover-color: $brand-danger,
    active-color: $brand-danger,
    box-shadow: 0 0 0 2px $brand-danger-box-shadow-color
  },
  'info': {
    bg-color: $brand-bg,
    hover-color: $brand-info,
    active-color: $brand-info,
    box-shadow: 0 0 0 2px $brand-info-box-shadow-color
  },
  'disabled': {
    bg-color: #f3f3f3,
    hover-color: $brand-border,
    active-color: $brand-border,
    box-shadow: none
  }
}