$selector-radio-button = $selector-prefix + '-radio-button';
$radio-button-gap = 8px;

$radio-button-brand-hash = {
    '': {
        bg-color: $brand-bg,
        bg-color-hover: $brand-primary,
        color: $brand-main,
        color-hover: $brand-primary,
        color-active: $brand-bg
    },
    'success': {
        bg-color: $brand-bg,
        bg-color-hover: $brand-success,
        color: $brand-main,
        color-hover: $brand-success,
        color-active: $brand-bg
    },
    'warning': {
        bg-color: $brand-bg,
        bg-color-hover: $brand-warning,
        color: $brand-main,
        color-hover: $brand-warning,
        color-active: $brand-bg
    },
    'error': {
        bg-color: $brand-bg,
        bg-color-hover: $brand-error,
        color: $brand-main,
        color-hover: $brand-error,
        color-active: $brand-bg
    },
    'danger': {
        bg-color: $brand-bg,
        bg-color-hover: $brand-danger,
        color: $brand-main,
        color-hover: $brand-danger,
        color-active: $brand-bg
    },
    'info': {
        bg-color: $brand-bg,
        bg-color-hover: $brand-info,
        color: $brand-main,
        color-hover: $brand-info,
        color-active: $brand-bg
    },
    'disabled': {
        bg-color: $brand-bg-disabled,
        bg-color-hover: $brand-bg-disabled,
        color: $brand-border-disabled,
        color-hover: $brand-border-disabled,
        color-active: $brand-border-disabled
    }
};

$radio-button-size-hash = {
    '': {
        font: 13px,
        padding: 4px 18px
    },
    'large': {
        font: 14px,
        padding: 6px 18px
    },

    'small': {
        font: 12px,
        padding: 3px 12px
    }
};
