$selector-radio = $selector-prefix + '-radio'
$selector-radio-group = $selector-radio + '-group'
$selector-radio-icon = $selector-radio + '-icon'
$selector-radio-input = $selector-radio + '-input'
$selector-radio-enabled = $selector-radio + '-enabled'
$selector-radio-disabled = $selector-radio + '-disabled'
$selector-radio-active = $selector-radio + '-active'
$selector-radio-focus = $selector-radio + '-focus'
$selector-radio-vertical = $selector-radio + '-vertical'

$radio-brand-hash = {
  'primary': {
    color: $brand-primary,
    shadow-color: $brand-primary-shadow,
  },
  'success': {
    color: $brand-success,
    shadow-color: $brand-success-shadow,
  },
  'warning': {
    color: $brand-warning,
    shadow-color: $brand-warning-shadow,
  },
  'error': {
    color: $brand-error,
    shadow-color: $brand-error-shadow,
  },
  'info': {
    color: $brand-info,
    shadow-color: $brand-info-shadow,
  }
}

$radio-size-hash = {
  'default': {
    box-size: 14px,
    dot-size: 8px,
    font-size: 12px,
  },
  'small': {
    box-size: 12px,
    dot-size: 6px,
    font-size: 12px,
  },
  'large': {
    box-size: 16px,
    dot-size: 10px,
    font-size: 14px,
  },
}