$selector-rate = $selector-prefix + '-rate';
$selector-rate-star-full = $selector-prefix + '-rate-star-full';
$selector-rate-star-content = $selector-prefix + '-rate-star-content';
$selector-rate-text = $selector-prefix + '-rate-text';

$selector-rate-font-size = 20px;
$selector-rate-hover-font-size = 21px;
$selector-rate-star-box-size = 21px;
$selector-rate-margin-gap = 2px;
$selector-rate-text-font-size = 12px;

$rate-color-hash = {
    '': {
        color-default: $brand-muted,
        color-hover: $brand-primary,
        color-active: $brand-primary,
        text-color: $brand-secondary
    },
    'success': {
        color-default: $brand-muted,
        color-hover: $brand-success,
        color-active: $brand-success,
        text-color: $brand-secondary
    },
    'error': {
        color-default: $brand-muted,
        color-hover: $brand-error,
        color-active: $brand-error,
        text-color: $brand-secondary
    },
    'info': {
        color-default: $brand-muted,
        color-hover: $brand-info,
        color-active: $brand-info,
        text-color: $brand-secondary
    },
    'warning': {
        color-default: $brand-muted,
        color-hover: $brand-warning,
        color-active: $brand-warning,
        text-color: $brand-secondary
    },
    'danger': {
        color-default: $brand-muted,
        color-hover: $brand-danger,
        color-active: $brand-danger,
        text-color: $brand-secondary
    },
    'disabled': {
        color-default: $brand-muted,
        color-hover: $brand-text-disabled,
        color-active: $brand-text-disabled,
        text-color: $brand-secondary
    }
};