$selector-rate = '.bell-rate';
$selector-rate-star-full = '.bell-rate-star-full';
$selector-rate-star-content = '.bell-rate-star-content';
$selector-rate-text = '.bell-rate-text';

$selector-rate-color-default = $brand-muted;
$selector-rate-color-hover = $brand-warning;
$selector-rate-color-active = $brand-warning;

$selector-rate-font-size = 20px;

