$selector = '.bell'

$selector-hover = '&.hover, &:hover, &.bell-hover'
$selector-active = '&.active, &:active, &.bell-active'
$selector-focus = '&.focus, &:focus, &.bell-focus'
$selector-disabled = '&.disabled, &[disabled], &.bell-disabled'
$selector-checked = '&.checked, &[checked], &.bell-checked'
$selector-first-child = '&.first-child, &:first-child'
$selector-last-child = '&.last-child, &:last-child'


$selector-rounded = '.rounded'
$selector-radius = '.radius'
$selector-fluid = '.fluid'
$selector-justified = '.justified'
$selector-opened = '.opened'
$selector-tight = '.tight'

$selector-icon = '.icon'
$selector-inline = '.inline'
$selector-block = '.block'
$selector-floated = '.floated'
$selector-outline = '.outline'
$selector-bordered = '.bordered'
$selector-unstyled = '.unstyled'


$selector-column = '.column'
$selector-row = '.row'
