$selector-select = '.bell-select'
$selector-select-button = '.bell-select-button'

$select-font-color = $brand-secondary
$select-background = $brand-bg

$select-button-border-active-shadow = 0 0 0 2px rgba(45,140,240,.2);
$select-button-border-radius = 4px;

$select-size-hash = {
    '': {
        height: 32px,
        max-height: 200px,
        font: 12px,
        value-padding: 0px 15px,
        list-padding: 5px 0,
        item-padding: 4px 15px,
        dropdown-bottom: 40px
    },
    'small': {
        height: 24px,
        max-height: 200px,
        font: 12px,
        value-padding: 0px 15px,
        list-padding: 5px 0,
        item-padding: 0px 15px,
        dropdown-bottom: 30px
    },
    'large': {
        height: 36px,
        max-height: 200px,
        font: 14px,
        value-padding: 0px 15px,
        list-padding: 5px 0,
        item-padding: 8px 15px,
        dropdown-bottom: 42px
    }
}