$selector-prefix = '.bell'

$selector-hover = '&:hover, &.bell-hover'


$selector-disabled = '&[disabled], &.bell-disabled'
$selector-checked = '&[checked], &.bell-checked'
$selector-first-child = '&.first-child, &:first-child'
$selector-last-child = '&.last-child, &:last-child'

$selector-focus = '.bell-focus'
$selector-active = '.bell-active'

$selector-rounded = '.rounded'
$selector-radius = '.radius'
$selector-fluid = '.fluid'
$selector-justified = '.justified'
$selector-opened = '.opened'
$selector-tight = '.tight'

$selector-icon = '.icon'
$selector-inline = '.inline'
$selector-block = '.block'
$selector-floated = '.floated'
$selector-outline = '.outline'
$selector-bordered = '.bordered'
$selector-unstyled = '.unstyled'


$selector-column = '.column'
$selector-row = '.row'
