// 多个相同 UI 的水平间距
$ui-horizontal-gap = 8px
// 多个相同 UI 的垂直间距
$ui-vertical-gap = 10px
// hover 或 focus 状态下的阴影大小
$ui-shadow-radius = 2px
// 图标和文本的间距
$ui-icon-text-gap = 5px
// 字体基准大小
$ui-font-size = 14px
// 图标基准大小
$ui-icon-size = 14px
// 多行行高 14 * 1.57 = 22
$ui-multiple-line-height = 1.57
// 单行行高 14 * 1.15 = 16
$ui-single-line-height = 1.15
// disabled 的透明度
$ui-opacity-disabled = 0.5
// mask 的透明度
$ui-opacity-mask = 0.5
// 表单元素的默认宽度
$ui-form-element-width = 210px


$height-tiny = 20px
$font-size-tiny = 12px
$padding-vertical-tiny = 2px
$padding-horizontal-tiny = 6px
$border-radius-tiny = 3px

$height-small = 24px
$font-size-small = 12px
$padding-vertical-small = 3px
$padding-horizontal-small = 7px
$border-radius-small = 3px

$height-default = 32px
$font-size-default = $ui-font-size
$padding-vertical-default = 5px
$padding-horizontal-default = 12px
$border-radius-default = 4px

$height-large = 40px
$font-size-large = 16px
$padding-vertical-large = 8px
$padding-horizontal-large = 15px
$border-radius-large = 4px

$height-huge = 48px
$font-size-huge = 18px
$padding-vertical-huge = 10px
$padding-horizontal-huge = 20px
$border-radius-huge = 6px

$border-radius-round = 100px
$border-radius-circle = 50%

$close-icon-size = 16px