// 多个相同 UI 的水平间距
$ui-horizontal-gap = 14px
// 多个相同 UI 的垂直间距
$ui-vertical-gap = 8px
// hover 或 focus 状态下的阴影大小
$ui-shadow-radius = 2px
// 图标和文本的间距
$ui-icon-text-gap = 6px
// 字体基准大小
$ui-font-size = 14px
// 多行行高
$ui-multiple-line-height = 1.6
// 单行行高
$ui-single-line-height = 1.2

$size-default = {
    font: $ui-font-size,
    height: 32px,
    line-height: 1.477,
    margin-horizontal: 8px,
    margin-vertical: 8px,
    padding-horizontal: 12px,
    padding-vertical: 5px,
    border-radius: $radius-base,
}

$size-tiny = {
    font: 12px,
    height: 20px,
    line-height: 1.3333333333333333,
    margin-horizontal: 4px,
    margin-vertical: 4px,
    padding-horizontal: 4px,
    padding-vertical: 1px,
    border-radius: $radius-tiny,
}

$size-small = {
    font: 12px,
    height: 26px,
    line-height: 1.5714285714285714,
    margin-horizontal: 6px,
    margin-vertical: 6px,
    padding-horizontal: 7px,
    padding-vertical: 3px,
    border-radius: $radius-small,
}

$size-large = {
    font: 16px,
    height: 44px,
    line-height: 1.625,
    margin-horizontal: 12px,
    margin-vertical: 12px,
    padding-horizontal: 16px,
    padding-vertical: 8px,
    border-radius: $radius-large,
}

$size-huge = {
    font: 18px,
    height: 50px,
    line-height: 2,
    margin-horizontal: 14px,
    margin-vertical: 14px,
    padding-horizontal: 20px,
    padding-vertical: 10px,
    border-radius: $radius-huge,
}

$size-hash = {

    default: $size-default,

    tiny: $size-tiny,
    small: $size-small,
    large: $size-large,
    huge: $size-huge

}