$selector-slider = $selector-prefix + '-slider'
$selector-slider-vertical = $selector-slider + '-vertical'
$selector-slider-horizontal = $selector-slider + '-horizontal'
$selector-slider-enabled = $selector-slider + '-enabled'
$selector-slider-disabled = $selector-slider + '-disabled'
$selector-slider-dragging = $selector-slider + '-dragging'
$selector-slider-block = $selector-slider + '-block'
$selector-slider-track = $selector-slider + '-track'
$selector-slider-bar = $selector-slider + '-bar'
$selector-slider-stop = $selector-slider + '-stop'
$selector-slider-thumb = $selector-slider + '-thumb'

$slider-bg-color = #e8eaec

$slider-thickness = 4px
$slider-thumb-size = 12px
$slider-tooltip-gap = 5px
