$selector-slider = $selector-prefix + '-slider'
$selector-slider-bg = $selector-slider + '-bg'
$selector-slider-fill = $selector-slider + '-fill'
$selector-slider-thumb = $selector-slider + '-thumb'
$selector-slider-dragging = '.dragging'


$slider-height = 4px
$slider-thumb-size = 10px

$slider-brand-hash = {
  '': {
    color: $brand-primary
  },
  'success': {
    color: $brand-success
  },
  'error': {
    color: $brand-error
  },
  'warning': {
    color: $brand-warning
  },
  'danger': {
    color: $brand-danger
  },
  'info': {
    color: $brand-info
  },
  'disabled': {
    color: $brand-border
  }
}