$selector-slider = '.bell-slider';
$selector-slider-bg = '.bell-slider-bg';
$selector-slider-fill = '.bell-slider-fill';
$selector-slider-thumb = '.bell-slider-thumb';
$selector-slider-dragging = '.dragging';


$slider-brand-hash = {
    '': {
        color: $brand-primary
    },
    'success': {
        color: $brand-success
    },
    'error': {
        color: $brand-error
    },
    'warning': {
        color: $brand-warning
    },
    'danger': {
        color: $brand-danger
    },
    'info': {
        color: $brand-info
    },
    'disabled': {
        color: $brand-border
    }
};