$selector-spin = $selector-prefix + '-spin'
$selector-spin-fixed = $selector-spin + '-fixed'
$selector-spin-legacy = $selector-spin + '-legacy'

$selector-spin-content = $selector-spin + '-content'
$selector-spin-icon = $selector-spin + '-icon'
$selector-spin-text = $selector-spin + '-text'

$spin-brand-hash = {
  primary: {
    color: $brand-primary
  },
  success: {
    color: $brand-success
  },
  info: {
    color: $brand-info
  },
  error: {
    color: $brand-error
  },
  warning: {
    color: $brand-warning
  }
}

$spin-size-hash = {
  default: {
    icon-size: 20px,
    font-size: $font-size-default,
  },
  small: {
    icon-size: 16px,
    font-size: $font-size-small,
  },
  large: {
    icon-size: 30px,
    font-size: $font-size-large,
  }
}