$spinner-bell-icon-font = 18px;
$spinner-small-bell-icon-font = 22px;
$spinner-large-bell-icon-font = 28px;

$spinner-height = 60px;
$spinner-width = 60px;
$spinner-item-height = 50px;
$spinner-item-width = 4px;
$spinner-item-border-radius = 2px;
$spinner-item-part-gap = 15;
$spinner-item-gap = 2px;
$spinner-text-font = 14px;


$spinner-small-height = 40px;
$spinner-small-width = 60px;
$spinner-small-item-height = 25px;
$spinner-small-item-width = 4px;
$spinner-small-item-border-radius = 2px;
$spinner-small-item-part-gap = 10;
$spinner-small-item-gap = 2px;
$spinner-small-text-font = 12px;

$spinner-large-height = 80px;
$spinner-large-width = 80px;
$spinner-large-item-height = 70px;
$spinner-large-item-width = 6px;
$spinner-large-item-border-radius = 4px;
$spinner-large-item-part-gap = 30;
$spinner-large-item-gap = 2px;
$spinner-large-text-font = 16px;

$spinner-item-color = #38B8F3;
$spinner-item-part-color = #5CC6F5;
