$selector-spinner = $selector-prefix + '-spinner'
$selector-spinner-fixed = $selector-spinner + '-fixed'

$selector-spinner-content = $selector-spinner + '-content'
$selector-spinner-dot = $selector-spinner + '-dot'
$selector-spinner-text = $selector-spinner + '-text'

$spinner-mask-color = rgba(255,255,255,.8)

$spinner-brand-hash = {
  'primary': {
    color: $brand-primary
  },
  'success': {
    color: $brand-success
  },
  'info': {
    color: $brand-info
  },
  'error': {
    color: $brand-error
  },
  'warning': {
    color: $brand-warning
  }
}

$spinner-size-hash = {
  'default': {
    width: 20px,
    height: 20px,
    font-size: 14px,
    padding: 10px,
  },
  'small': {
    width: 16px,
    height: 16px,
    font-size: 13px,
    padding: 15px,
  },
  'large': {
    width: 30px,
    height: 30px,
    font-size: 16px,
    padding: 12px,
  }
}