$selector-spinner = $selector-prefix + '-spinner'
$selector-spinner-fixed = $selector-spinner + '-fixed'

$selector-spinner-content = $selector-spinner + '-content'
$selector-spinner-dot = $selector-spinner + '-dot'
$selector-spinner-text = $selector-spinner + '-text'

$spinner-mask-color = rgba(255,255,255,.8)

$spinner-brand-hash = {
  primary: {
    color: $brand-primary
  },
  success: {
    color: $brand-success
  },
  info: {
    color: $brand-info
  },
  error: {
    color: $brand-error
  },
  warning: {
    color: $brand-warning
  }
}

$spinner-size-hash = {
  default: {
    size: 20px,
    font-size: $font-size-default,
  },
  small: {
    size: 16px,
    font-size: $font-size-small,
  },
  large: {
    size: 30px,
    font-size: $font-size-large,
  }
}