$style-primary = {
    color: '#1c90f3';
}
$style-info = {
    color: '#57a3f3';
}
$style-success = {
    color: '#19be6b';
}
$style-warning = {
    color: '#ff9900';
}
$style-error = {
    color: '#ed3f14';
}
