$ui-prefix = ''

// 是否支持 flex 布局
$support-flex = false

// 是否支持响应式
$support-responsive = false

// 是否支持鼠标操作（可去掉 hover 状态）
$support-mouse = true

// 是否支持 IE（可避免 IE 全系列都有的问题）
$support-ie = true

// 是否支持 IE8（最低从 IE8 开始支持）
$support-ie8 = true

// 是否支持 IE9
$support-ie9 = true

// 是否支持 IE10
$support-ie10 = true