$selector-switch =  $selector-prefix + '-switch'
$selector-switch-button =  $selector-prefix + '-switch-button'

$switch-margin-gap = 8px;


$switch-size-hash = {
    '' : {
        width: 48px,
        height: 24px,
        after-size: 20px,
        after-left: 25px,
        font-size: 12px
    },
    'small': {
        width: 24px,
        height: 14px,
        after-size: 10px,
        after-left: 12px,
        font-size: 12px
    },
    'large': {
        width: 60px,
        height: 24px,
        after-size: 20px,
        after-left: 37px,
        font-size: 12px
    }
};

$switch-brand-hash = {
    '': {
        border-color: #ccc,
        bg-color: #ccc,
        active-border-color: $brand-primary,
        active-bg-color: $brand-primary,
        after-bg-color: #fff,
        color: #fff
    },
    'success': {
        border-color: #ccc,
        bg-color: #ccc,
        active-border-color: $brand-success,
        active-bg-color: $brand-success,
        after-bg-color: #fff,
        color: #fff
    },
    'error': {
        border-color: #ccc,
        bg-color: #ccc,
        active-border-color: $brand-error,
        active-bg-color: $brand-error,
        after-bg-color: #fff,
        color: #fff
    },
    'warning': {
        border-color: #ccc,
        bg-color: #ccc,
        active-border-color: $brand-warning,
        active-bg-color: $brand-warning,
        after-bg-color: #fff,
        color: #fff
    },
    'danger': {
        border-color: #ccc,
        bg-color: #ccc,
        active-border-color: $brand-danger,
        active-bg-color: $brand-danger,
        after-bg-color: #fff,
        color: #fff
    },
    'info': {
        border-color: #ccc,
        bg-color: #ccc,
        active-border-color: $brand-info,
        active-bg-color: $brand-info,
        after-bg-color: #fff,
        color: #fff
    },
    'disabled': {
        border-color: $brand-border-disabled,
        bg-color: $brand-bg-disabled,
        active-border-color: $brand-border-disabled,
        active-bg-color: #ccc,
        after-bg-color: $brand-border-disabled,
        color: #fff
    }
};