$selector-switch =  $selector-prefix + '-switch'
$selector-switch-loading =  $selector-switch + '-loading'
$selector-switch-enabled =  $selector-switch + '-enabled'
$selector-switch-disabled =  $selector-switch + '-disabled'
$selector-switch-active =  $selector-switch + '-active'
$selector-switch-label =  $selector-switch + '-label'

$switch-bg-color = #ccc

// thumb 到边框的距离
$switch-thumb-gap = 2px

// 文本到两侧的距离
$switch-thumb-label-gap = 4px
$switch-label-gap = 8px

$switch-size-hash = {
  default: {
    width: 44px,
    height: 22px,
    thumb-loading-gap: 3px,
  },
  small: {
    width: 28px,
    height: 16px,
    thumb-loading-gap: 2px,
  }
}