$selector-table = $selector-prefix + '-table'
$selector-table-stripe = $selector-table + '-stripe'
$selector-table-bordered = $selector-table + '-bordered'
$selector-table-header = $selector-table + '-header'
$selector-table-body = $selector-table + '-body'
$selector-table-empty = $selector-table + '-empty'
$selector-table-left = $selector-table + '-left'
$selector-table-center = $selector-table + '-center'
$selector-table-right = $selector-table + '-right'

$table-header-cell-padding-vertical = 12px
$table-header-cell-padding-horizontal = 18px
$table-body-cell-padding-vertical = 13px
$table-body-cell-padding-horizontal = 18px

$table-empty-padding-vertical = 100px

$table-row-highlight = #ebf7ff