$selector-table = $selector-prefix + '-table'
$selector-table-header = $selector-prefix + '-table-header'
$selector-table-body = $selector-prefix + '-table-body'
$selector-table-stripe = $selector-prefix + '-table-stripe'
$selector-table-border = $selector-prefix + '-table-border'
$selector-table-fixed = $selector-prefix + '-table-fixed'
$selector-table-fixed-left = $selector-prefix + '-table-fixed-left'
$selector-table-fixed-right = $selector-prefix + '-table-fixed-right'
$selector-table-fixed-header = $selector-prefix + '-table-fixed-header'
$selector-table-hidden = $selector-prefix + '-table-hidden'