$selector-tabs = $selector-prefix + '-tabs';
$selector-tabs-labels = $selector-tabs + '-labels';
$selector-tabs-label = $selector-tabs + '-label';
$selector-tabs-contents = $selector-tabs + '-contents';
$selector-tabs-panel = $selector-tabs + '-panel';
