$selector-tabs = $selector-prefix + '-tabs'
$selector-tabs-bar = $selector-tabs + '-bar'
$selector-tabs-nav-container = $selector-tabs + '-nav-container'
$selector-tabs-extra-container = $selector-tabs + '-extra-container'
$selector-tabs-nav = $selector-tabs + '-nav'
$selector-tabs-tab = $selector-tabs + '-tab'
$selector-tabs-content = $selector-tabs + '-content'
$selector-tabs-panel = $selector-tabs + '-panel'

$tabs-size = 14px
$tabs-color = rgba(0,0,0,.65)
$tabs-disabled-color = rgba(0,0,0,.25)
$tabs-border-color = #e8e8e8

$tabs-bar-margin = 0 0 16px
$tabs-tab-active-color = #096dd9
$tabs-tab-close-size = 20px

$tabs-bar-size-hash = {
  '': {
    padding: 10px 16px,
    size: 14px
  },
  'tiny': {
    padding: 6px 8px,
    size: 12px
  },
  'small': {
    padding: 8px 10px,
    size: 14px
  },
  'large': {
    padding: 16px 16px,
    size: 16px
  }
}