$selector-tabs = '.bell-tabs';
$selector-tabs-labels = '.bell-tabs-labels';
$selector-tabs-label = '.bell-tabs-label';
$selector-tabs-contents = '.bell-tabs-contents';
$selector-tabs-panel = '.bell-tabs-panel';
