$selector-tag = $selector-prefix + '-tag'
$selector-tag-dot = $selector-tag + '-dot'
$selector-tag-close-icon = $selector-tag + '-close-icon'
$selector-tag-border = $selector-tag + '-border'
$selector-tag-unborder = $selector-tag + '-unborder'
$selector-tag-checked = $selector-tag + '-checked'
$selector-tag-checkable = $selector-tag + '-checkable'
$selector-tag-closable = $selector-tag + '-closable'

$tag-bg-color = $brand-bg-disabled
$tag-border-color = $brand-border
$tag-text-color = $brand-text

$tag-radius = 3px
$tag-font-size = 12px

$tag-border-bg-color = $brand-white
$tag-border-border-color = $brand-border

$tag-dot-color = #ccc
$tag-close-color = #ccc
$tag-close-color-hover = #aaa


$tag-size-hash = {
  'default': {
    height: 22px,
    dot-size: 8px,
    close-width: 24px,
    padding-horizontal: 8px,
  },
  'large': {
    height: 32px,
    dot-size: 12px,
    close-width: 34px,
    padding-horizontal: 12px,
  }
}

$tag-brand-hash = {
  'primary': {
    color: $brand-primary,
    light-color: $brand-primary-hover,
    text-color: $brand-white,
  },
  'success': {
    color: $brand-success,
    light-color: $brand-success-hover,
    text-color: $brand-white,
  },
  'error': {
    color: $brand-error,
    light-color: $brand-error-hover,
    text-color: $brand-white,
  },
  'info': {
    color: $brand-info,
    light-color: $brand-info-hover,
    text-color: $brand-white,
  },
  'warning': {
    color: $brand-warning,
    light-color: $brand-warning-hover,
    text-color: $brand-white,
  },
}
