$selector-tag = $selector-prefix + '-tag';
$selector-tag-text = $selector-tag + '-text';
$selector-tag-close-icon = $selector-tag + '-close-icon';
$selector-tag-border = $selector-tag + '-border';
$selector-tag-checked = $selector-tag + '-checked';

$selector-tag-size-hash = {
    'large': {
        padding: 6px 10px,
        font-size: 12px,
    },
    '': {
        padding: 5px 10px,
        font-size: 12px,
    },
    'small': {
        padding: 3px 10px,
        font-size: 12px,
    },
    'tiny': {
        padding: 2px 10px,
        font-size: 12px,
    }
};

$selector-tag-color-hash = {
    '': {
        border-color: $brand-divider,
        background-color: $brand-divider,
        color: $brand-secondary
    },
    'success': {
        border-color: $brand-success,
        background-color: $brand-success
        color: $brand-white
    },
    'error': {
        border-color: $brand-error,
        background-color: $brand-error
        color: $brand-white
    },
    'info': {
        border-color: $brand-info,
        background-color: $brand-info
        color: $brand-white
    },
    'primary': {
        border-color: $brand-primary,
        background-color: $brand-primary
        color: $brand-white
    },
    'warning': {
        border-color: $brand-warning,
        background-color: $brand-warning
        color: $brand-white
    },
    'danger': {
        border-color: $brand-danger,
        background-color: $brand-danger
        color: $brand-white
    }
};
