$selector-text = $selector-prefix + '-text'

$text-brand-hash = {
  white: $brand-white,
  primary: $brand-primary,
  success: $brand-success,
  error: $brand-error,
  info: $brand-info,
  warning: $brand-warning,
  title: $brand-title,
  content: $brand-content,
  muted: $brand-muted,
}

$text-size-hash = {
  default: {
    font-size: $font-size-default,
    line-height: 1.477,
  },
  tiny: {
    font-size: $font-size-tiny,
    line-height: 1.3333333333333333,
  },
  small: {
    font-size: $font-size-small,
    line-height: 1.3846
  },
  large: {
    font-size: $font-size-large,
    line-height: 1.625
  },
  huge: {
    font-size: $font-size-huge,
    line-height: 2
  }
}
