$selector-textarea = $selector-prefix + '-textarea'
$selector-textarea-block = $selector-textarea + '-block'
$selector-textarea-disabled = $selector-textarea + '-disabled'

$selector-textarea-el = $selector-textarea + '-el'
