$selector-thumbnail = $selector-prefix + '-thumbnail'
$selector-thumbnail-loading = $selector-thumbnail + '-loading'
$selector-thumbnail-image = $selector-thumbnail + '-image'
$selector-thumbnail-placeholder = $selector-thumbnail + '-placeholder'
$selector-thumbnail-mask = $selector-thumbnail + '-mask'

$thumbnail-padding = 2px
$thumbnail-border-radius = 4px
$thumbnail-image-border-radius = 3px
$thumbnail-image-background-color = $brand-bg-light
$thumbnail-icon-size = 16px
$thumbnail-icon-gap = 12px