$selector-timeline = $selector-prefix + '-timeline'
$selector-timeline-item = $selector-timeline + '-item'

$timeline-content-padding = 1px 1px 10px 24px
$timeline-font-size = 12px
$timeline-dot-size = 13px

$timeline-custom-width = 40px
$timeline-custom-margin-top = 8px
$timeline-custom-padding = 3px 0
$timeline-custom-left = -13px