$selector-timeline = $selector-prefix + '-timeline'
$selector-timeline-item = $selector-timeline + '-item'
$selector-timeline-dot = $selector-timeline + '-dot'
$selector-timeline-custom = $selector-timeline + '-custom'
$selector-timeline-content = $selector-timeline + '-content'
$selector-timeline-pending = $selector-timeline + '-pending'

$timeline-item-gap = 20px

$timeline-line-width = 2px
$timeline-line-color = #e8eaec
$timeline-line-left = 6px

$timeline-dot-size = 14px

$timeline-content-top = -4px
$timeline-content-padding-left = 24px