$selector-timeline = $selector-prefix + '-timeline'
$selector-timeline-item = $selector-timeline + '-item'
$selector-timeline-dot = $selector-timeline + '-dot'
$selector-timeline-custom = $selector-timeline + '-custom'
$selector-timeline-content = $selector-timeline + '-content'
$selector-timeline-pending = $selector-timeline + '-pending'

$timeline-item-gap = 20px

$timeline-dot-size = 13px
$timeline-dot-bg-color = #fff

$timeline-custom-width = 40px
$timeline-custom-left = -13px
$timeline-custom-bg-color = #fff

$timeline-content-font-size = 12px
$timeline-content-padding-left = 24px