$selector-tooltip = $selector-prefix + '-tooltip'
$selector-tooltip-dark = $selector-tooltip + '-dark'
$selector-tooltip-light = $selector-tooltip + '-light'
$selector-tooltip-visible = $selector-tooltip + '-visible'
$selector-tooltip-fade = $selector-tooltip + '-fade'

$selector-tooltip-disabled = $selector-tooltip + '-disabled'

$selector-tooltip-popup = $selector-tooltip + '-popup'
$selector-tooltip-arrow = $selector-tooltip + '-arrow'
$selector-tooltip-content = $selector-tooltip + '-content'

$tooltip-padding = 8px 12px
$tooltip-padding-inner = 8px

$tooltip-dark-color = $brand-white
$tooltip-dark-bg-color = #606060
$tooltip-dark-border-color = #555

$tooltip-light-color = $brand-content
$tooltip-light-bg-color = $brand-white
$tooltip-light-border-color = $brand-border


$tooltip-arrow-offset = -2px
// 箭头与 tooltip 两侧的距离
$tooltip-arrow-gap = 10px
$tooltip-arrow-size = 5px
