$selector-tooltip = $selector-prefix + '-tooltip'
$selector-tooltip-dark = $selector-tooltip + '-dark'
$selector-tooltip-light = $selector-tooltip + '-light'
$selector-tooltip-visible = $selector-tooltip + '-visible'
$selector-tooltip-fade = $selector-tooltip + '-fade'

$selector-tooltip-disabled = $selector-tooltip + '-disabled'

$selector-tooltip-popup = $selector-tooltip + '-popup'
$selector-tooltip-arrow = $selector-tooltip + '-arrow'
$selector-tooltip-content = $selector-tooltip + '-content'

$tooltip-font-size = 12px
$tooltip-max-width = 250px
$tooltip-padding = 8px 12px
$tooltip-box-shadow = 0 1px 6px rgba(0,0,0,.2)
$tooltip-padding-inner = 8px

$tooltip-color-dark = $brand-white
$tooltip-bg-color-dark = rgba(70,76,91,.9)

$tooltip-color-light = $brand-text
$tooltip-bg-color-light = $brand-white


$tooltip-arrow-offset = -2px
// 箭头与 tooltip 两侧的距离
$tooltip-arrow-gap = 10px
$tooltip-arrow-size = 5px
