$zindex-tiny = 1
$zindex-small = 2
$zindex-medium = 3
$zindex-large = 4
$zindex-huge = 5

$zindex-menu = $zindex-tiny
$zindex-spinner = 8
$zindex-backtop = 10
$zindex-affix = 10
$zindex-badge = 10
$zindex-dialog = 20
$zindex-select = 900
$zindex-dropdown = 900
$zindex-msgbox = 1000
$zindex-message = 1010
$zindex-notification = 1010
$zindex-loadingbar = 1010
$zindex-tooltip      = 1060
$zindex-transfer     = 1060
$zindex-spinner-fullscreen = 2010
