$checkbox-icon-top = 1px
$checkbox-icon-left = 4px
$checkbox-icon-width = 4px
$checkbox-icon-height = 8px

$checkbox-gap-horizontal = 16px

{$selector-class-prefix + '-checkbox'}
  display inline-flex
  align-items center
  line-height $ui-multiple-line-height
  user-select none
  box-sizing border-box
  ui-focusable($selector-class-prefix + '-checkbox-icon')

{$selector-class-prefix + '-checkbox-with-label'}
  height $height-default
  color $brand-content
  font-size $font-size-default
  white-space nowrap

  > {$selector-class-prefix + '-checkbox-icon'}
    margin-right $ui-icon-text-gap

{$selector-class-prefix + '-checkbox-checked'}
  > {$selector-class-prefix + '-checkbox-icon'}:after
    transform rotate(45deg) scale(1)

{$selector-class-prefix + '-checkbox-indeterminate'}
  > {$selector-class-prefix + '-checkbox-icon'}:after
    background-color $brand-primary
    border 0
    transform translate(-50%, -50%) rotate(0deg) scale(1)

    top 50%
    left 50%
    width 0.5 * $font-size-default
    height 0.5 * $font-size-default

{$selector-class-prefix + '-checkbox-icon'}
  position relative
  width $font-size-default
  height $font-size-default
  box-sizing border-box
  border 1px solid $brand-border
  background-color $brand-bg
  transition background-color $form-control-transition-duration,
            border-color $form-control-transition-duration,
            box-shadow $form-control-transition-duration

  if $border-radius-small > 0
    border-radius $border-radius-small

  &:after
    content ''

    position absolute
    top $checkbox-icon-top
    left $checkbox-icon-left
    width $checkbox-icon-width
    height $checkbox-icon-height

    border 1px solid $brand-white
    box-sizing border-box
    border-top 0
    border-left 0

    transform scale(0)

{$selector-class-prefix + '-checkbox-checked'}
  > {$selector-class-prefix + '-checkbox-icon'}
    background-color $brand-primary
    border-color $brand-primary

{$selector-class-prefix + '-checkbox-enabled'}
  ui-clickable()

  :hover
    > {$selector-class-prefix + '-checkbox-icon'}
      border-color $brand-primary

{$selector-class-prefix + '-checkbox-disabled'}
  ui-disabled()
  color $brand-disabled

  > {$selector-class-prefix + '-checkbox-icon'}
    background-color $brand-bg-disabled
    border-color $brand-border

    &:after
      border-color $brand-disabled

{$selector-class-prefix + '-checkbox-group'}
  display inline-block

  &{$selector-class-prefix + '-checkbox-horizontal'}
    > {$selector-class-prefix + '-checkbox'}
      margin-right $checkbox-gap-horizontal

  &{$selector-class-prefix + '-checkbox-vertical'}
    > {$selector-class-prefix + '-checkbox'}
      display flex
