<div
class="${prefix}message
{{#if status}} ${prefix}message-{{status}}{{/if}}
{{#if closable}} ${prefix}message-with-close{{/if}}"
>
  <Icon
    name="{{
      status === RAW_TYPE_SUCCESS
        ? 'checkbox-circle-fill'
        : status === RAW_TYPE_WARNING
          ? 'error-warning-fill'
          : status === RAW_TYPE_ERROR
            ? 'close-circle-fill'
            : 'information-fill'
    }}"
    className="${prefix}message-icon"
  />

  <div class="${prefix}message-content">
    {{content}}
  </div>

  {{#if closable}}
    <div class="${prefix}message-close">
      <Icon
        name="close-line"
        className="${prefix}message-close-icon"
        on-click.native="hide()"
      />
    </div>
  {{/if}}
</div>