<div
class="${prefix}message
{{#if status}} ${prefix}message-{{status}}{{/if}}
{{#if closable}} ${prefix}message-with-close{{/if}}"
>

  <div class="${prefix}message-indicator">
    <Icon
      name="{{iconName}}"
    />
  </div>

  <div class="${prefix}message-content">
    {{content}}
  </div>

  {{#if closable}}
    <div class="${prefix}message-close">
      <Icon
        name="close-line"
        className="${prefix}message-close-icon"
        on-click.native="hide()"
      />
    </div>
  {{/if}}
</div>