{{#if loading}}
  <div
    class="${prefix}skeleton
    {{#if active}} ${prefix}skeleton-active{{/if}}
    {{#if imageSize}} ${prefix}skeleton-with-image{{/if}}
    {{#if className}} {{className}}{{/if}}"

    {{#if style}}
      style="{{style}}"
    {{/if}}
  >

    {{#if imageSize}}
      <div class="${prefix}skeleton-header">
        <div
          class="${prefix}skeleton-image ${prefix}skeleton-image-{{imageShape}}"
          style="{{ {
            width: imageSize,
            height: imageSize,
          } }}"
        ></div>
      </div>
    {{/if}}

    <div class="${prefix}skeleton-content">
      {{#if computedText}}
        <ul
          class="${prefix}skeleton-text"
        >
          {{#each computedText:index}}
            <li
              class="${prefix}skeleton-text-row"
              style="{{ {
                width: this.width
              } }}"
            ></li>
          {{/each}}
        </ul>
      {{/if}}
    </div>

  </div>
{{else}}
  <slot />
{{/if}}