<div
class="${prefix}menu-item
{{#if isActive}} ${prefix}menu-item-active{{/if}}
{{#if disabled}} ${prefix}menu-item-disabled
{{else}} ${prefix}menu-item-enabled
{{/if}}
{{#if className}} {{className}}{{/if}}"

style="{{style}}"
on-click="click.menuItem"
>
  <slot name="children" />
</div>