<div
class="${prefix}menu-item
{{#if isActive}} ${prefix}menu-item-active{{/if}}
{{#if disabled}} ${prefix}menu-item-disabled
{{else}} ${prefix}menu-item-enabled
{{/if}}
{{#if className}} {{className}}{{/if}}"

{{#if style}}
  style="{{style}}"
{{/if}}

{{#if !disabled}}
  on-click="click.menuItem"
{{/if}}
>
  <slot name="children" />
</div>