<li 
class="${prefix}submenu 
  {{#if className}} {{className}}{{/if}}
  {{#if isOpen}} ${prefix}menu-open{{/if}}
  {{#if isActive}} ${prefix}menu-active{{/if}}
"
{{#if style}} style="{{style}}"{{/if}}
{{#if isCollapsed}}
  on-mouseenter="set('isOpen', true)"
  on-mouseleave="set('isOpen', false)"
  lazy-mouseleave="300"
{{/if}}
> 
  <div class="${prefix}submenu-title" on-click="click()">
    <slot name="title" />
    <Icon className="${prefix}submenu-title-icon" type="arrow-down" />
  </div>

  {{#if mode != 'inline'}}
    <div class="${prefix}menu-dropdown">
      <slot name="children" />
    </div>
  {{else}}
    <Menu ref="menu" mode="{{mode}}" theme="{{theme}}">
      <slot name="children" />
    </Menu>
  {{/if}}
</li>