<div
class="${prefix}upload
{{#if isFileHover}} ${prefix}upload-file-hover{{/if}}
{{#if className}} {{className}}{{/if}}"

on-click="handleClick()"

{{#if draggable}}
  on-dragenter="handleDragenter()"
  on-dragleave="handleDragleave()"
  on-dragover="handleDragover()"
  on-drop="handleDrop()"
{{/if}}

{{#if style}}
  style="{{style}}"
{{/if}}
>
  <slot />
  <form ref="form">
    <input
      ref="input"
      type="file"
      multiple="{{multiple}}"
      accept="{{accept}}"
      on-change="handleChange()"
    >
  </form>
</div>