.bell-button {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  line-height: 1.5;
  padding: 6px 15px;
  margin-bottom: 0;
  font-size: 12px;
  border: 1px solid transparent;
  cursor: pointer;
  background-image: none;
  vertical-align: middle;
  touch-action: manipulation;
  white-space: nowrap;
  user-select: none;
  border-radius: 4px;
  transition: color 0.2s linear, background-color 0.2s linear, border 0.2s linear;
  color: #495060;
  background-color: #f7f7f7;
  border-color: #dddee1;
}
.bell-button + .bell-button {
  margin-left: 10px;
}
.bell-button:hover {
  color: #57a3f3;
  background-color: #fff;
  border-color: #57a3f3;
}
.bell-button.bell-ghost {
  color: #495060;
  background-color: transparent;
  border-color: #dddee1;
}
.bell-button.bell-ghost:hover {
  color: #57a3f3;
  background-color: #fff;
  border-color: #57a3f3;
}
.bell-button.bell-dashed {
  color: #495060;
  background-color: transparent;
  border: 1px dashed #dddee1;
}
.bell-button.bell-dashed:hover {
  color: #57a3f3;
  background-color: #fff;
  border: 1px dashed #57a3f3;
}
.bell-button.bell-text {
  color: #495060;
  background-color: transparent;
  border-color: transparent;
}
.bell-button.bell-text:hover {
  color: #57a3f3;
  border-color: transparent;
}
.bell-button.bell-info {
  color: #fff;
  background-color: #57a3f3;
  border-color: #57a3f3;
}
.bell-button.bell-info:hover {
  color: #fff;
  background-color: #57c5f7;
  border-color: #57c5f7;
}
.bell-button.bell-success {
  color: #fff;
  background-color: #19be6b;
  border-color: #19be6b;
}
.bell-button.bell-success:hover {
  color: #fff;
  background-color: #47cb89;
  border-color: #47cb89;
}
.bell-button.bell-warning {
  color: #fff;
  background-color: #f90;
  border-color: #f90;
}
.bell-button.bell-warning:hover {
  color: #fff;
  background-color: #ffad33;
  border-color: #ffad33;
}
.bell-button.bell-error {
  color: #fff;
  background-color: #ed3f14;
  border-color: #ed3f14;
}
.bell-button.bell-error:hover {
  color: #fff;
  background-color: #f16543;
  border-color: #f16543;
}
.bell-button.bell-primary {
  color: #fff;
  background-color: #1c90f3;
  border-color: #1c90f3;
}
.bell-button.bell-primary:hover {
  color: #fff;
  background-color: #57a3f3;
  border-color: #57a3f3;
}
.bell-button.bell-circle {
  border-radius: 32px;
}
.bell-button .bell-icon {
  margin: 0 4px;
}
.bell-button.bell-large {
  padding: 6px 15px 7px;
  font-size: 14px;
}
.bell-button.bell-large.bell-circle {
  border-radius: 36px;
}
.bell-button.bell-small {
  padding: 2px 7px;
  font-size: 12px;
  border-radius: 3px;
}
.bell-button.bell-small.bell-circle {
  border-radius: 36px;
}
.bell-button.bell-long {
  width: 100%;
}
.bell-button.bell-disabled,
.bell-button.bell-disabled:hover {
  cursor: not-allowed;
  color: #bbbec4;
  background-color: #f7f7f7;
  border-color: #dddee1;
}
.bell-layout {
  text-align: center;
  background: #f5f7f9;
  color: #fff;
  user-select: none;
}
.bell-layout .bell-footer,
.bell-layout .bell-header {
  box-shadow: 0 0 5px rgba(28, 34, 43, 0);
  height: 64px;
  line-height: 64px;
  background-color: #1D232B;
}
.bell-layout .bell-footer {
  background-color: #1D232B;
}
.bell-layout .bell-sider,
.bell-layout .bell-content {
  overflow: hidden;
  background: #212831;
}
.bell-layout .bell-content {
  overflow: auto;
  background-color: #f8f8f8;
}
.bell-layout.bell-has-sider {
  text-align: left;
  position: relative;
}
.bell-layout.bell-has-sider > .bell-sider,
.bell-layout.bell-has-sider > .bell-content {
  display: inline-block;
  box-sizing: border-box;
}
.bell-layout.bell-has-sider > .bell-sider {
  width: 20%;
  height: 100%;
}
.bell-layout.bell-has-sider > .bell-content,
.bell-layout.bell-has-sider > .bell-layout {
  width: 80%;
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
}
.bell-layout .bell-header {
  position: relative;
}
.bell-layout .bell-header .bell-logo {
  padding: 15px 20px;
  width: 100px;
  height: 64px;
  float: left;
  box-sizing: border-box;
}
.bell-layout .bell-header .bell-title {
  position: absolute;
  left: 100px;
}
.bell-layout .bell-header .bell-menu {
  display: inline-block;
  height: 64px;
}
.bell-layout .bell-header .bell-menu .bell-menu-item {
  display: inline-block;
  padding: 0 20px;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  height: 64px;
  box-sizing: border-box;
}
.bell-layout .bell-header .bell-menu .bell-menu-item:hover {
  border-bottom-color: #1c90f3;
}
.bell-layout .bell-sider .bell-user-info {
  text-align: center;
  padding: 20px;
}
.bell-layout .bell-sider .bell-user-info > .bell-user-title {
  text-align: left;
  margin-bottom: 20px;
}
.bell-layout .bell-sider .bell-user-info > img {
  overflow: hidden;
  border-radius: 100px;
}
.bell-layout .bell-sider .bell-user-info > .bell-user-name {
  color: #f6f6f7;
  display: block;
  margin-top: 5px;
  text-decoration: none;
}
.bell-layout .bell-sider .bell-user-info > .bell-user-name:hover {
  text-decoration: underline;
}
.bell-layout .bell-sider .bell-user-info > .bell-user-company {
  margin-top: 5px;
  color: #888C92;
}
.bell-layout .bell-sider .bell-menu .bell-menu-item {
  height: 50px;
  line-height: 50px;
  border-right: 2px solid transparent;
  padding: 0 15px;
  box-sizing: border-box;
  cursor: pointer;
}
.bell-layout .bell-sider .bell-menu .bell-menu-item:hover {
  background-color: #49505F;
  border-right-color: #1c90f3;
  color: #1c90f3;
}
.bell-layout .bell-card {
  background: #fff;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.2;
  color: #495060;
  border: 1px solid #e9eaec;
  margin: 15px;
  padding: 15px;
  transition: all 0.2s ease-in-out;
}
.bell-layout .bell-card:hover {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  border-color: #eee;
}
.bell-input-wrapper {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  width: 180px;
}
.bell-input-wrapper .bell-input-icon {
  width: 32px;
  height: 32px;
  line-height: 32px;
  font-size: 16px;
  text-align: center;
  color: #80848f;
  position: absolute;
  right: 0;
  z-index: 3;
}
.bell-input-wrapper .bell-input-label {
  padding: 0 10px;
  line-height: 32px;
  text-align: center;
  color: #80848f;
  position: absolute;
  right: 0;
  z-index: 3;
  cursor: pointer;
  user-select: none;
  border-left: 1px solid #dddee1;
}
.bell-input-wrapper .bell-input-label:hover {
  color: #57a3f3;
}
.bell-input-wrapper .bell-textarea,
.bell-input-wrapper .bell-input {
  display: inline-block;
  width: 100%;
  height: 32px;
  line-height: 1.5;
  padding: 4px 7px;
  font-size: 12px;
  border: 1px solid #dddee1;
  border-radius: 4px;
  color: #495060;
  outline: none;
  background-color: #fff;
  background-image: none;
  position: relative;
  cursor: text;
  transition: border 0.2s ease-in-out, background 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
.bell-input-wrapper .bell-textarea:hover,
.bell-input-wrapper .bell-input:hover {
  border-color: #57a3f3;
}
.bell-input-wrapper .bell-textarea:focus,
.bell-input-wrapper .bell-input:focus {
  box-shadow: 0 0 0 2px rgba(45, 140, 240, 0.2);
}
.bell-input-wrapper .bell-input-large {
  font-size: 14px;
  padding: 6px 7px;
  height: 36px;
}
.bell-input-wrapper .bell-input-small {
  padding: 1px 7px;
  height: 24px;
  border-radius: 3px;
}
.bell-input-wrapper .bell-textarea {
  font-size: 14px;
  width: 250px;
}
.bell-input-wrapper .bell-input[disabled],
.bell-input-wrapper .bell-textarea[disabled] {
  background-color: #f8f8f9;
  opacity: 1;
  cursor: not-allowed;
  color: #dddee1;
}
.bell-input-wrapper .bell-input[disabled]:hover,
.bell-input-wrapper .bell-textarea[disabled]:hover {
  border-color: #dddee1;
}
.bell-bread-crumb {
  padding: 15px;
}
.bell-bread-crumb .bell-bread-crumb-gap {
  display: inline-block;
  margin: 0 10px;
  color: #999;
}
.bell-bread-crumb .bell-bread-crumb-link {
  cursor: pointer;
  text-decoration: none;
  color: #999;
}
.bell-bread-crumb .bell-bread-crumb-item:last-child .bell-bread-crumb-link {
  font-weight: bold;
  color: #000;
}
.bell-bread-crumb .bell-bread-crumb-item:last-child .bell-bread-crumb-gap {
  display: none;
}
.bell-select {
  display: inline-block;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  vertical-align: middle;
  color: #495060;
  font-size: 14px;
  line-height: 1.2;
  user-select: none;
}
.bell-select .bell-select-button {
  display: block;
  box-sizing: border-box;
  outline: 0;
  cursor: pointer;
  position: relative;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #dddee1;
  height: 32px;
  line-height: 32px;
  transition: all 0.2s ease-in-out;
}
.bell-select .bell-select-button:hover {
  border-color: #57a3f3;
}
.bell-select .bell-select-button.bell-active {
  border-color: #57a3f3;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(45, 140, 240, 0.2);
}
.bell-select .bell-select-button .bell-select-value,
.bell-select .bell-select-button .bell-select-placeholder {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 32px;
  line-height: 32px;
  font-size: 12px;
  padding: 0px 15px;
  color: #bbbec4;
}
.bell-select .bell-select-button .bell-select-value.bell-hide,
.bell-select .bell-select-button .bell-select-placeholder.bell-hide {
  display: none;
}
.bell-select .bell-select-button .bell-select-value {
  font-size: 14px;
  color: #495060;
}
.bell-select .bell-select-button .bell-select-arrow {
  position: absolute;
  top: 50%;
  right: 8px;
  line-height: 1;
  margin-top: -7px;
  font-size: 14px;
  color: #80848f;
  transition: all 0.2s ease-in-out;
}
.bell-select .bell-select-button .bell-select-arrow:before {
  content: "\F104";
}
.bell-select .bell-select-dropdown {
  width: 100%;
  overflow: auto;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  left: 0;
  z-index: 900;
  max-height: 200px;
  top: 36px;
}
.bell-select .bell-select-dropdown.bell-hide {
  display: none;
}
.bell-select .bell-select-dropdown .bell-select-dropdown-list {
  list-style: none;
  padding: 0;
  margin: 0;
  padding: 5px 0;
}
.bell-select .bell-select-dropdown .bell-select-dropdown-list .bell-select-dropdown-item {
  clear: both;
  white-space: nowrap;
  list-style: none;
  cursor: pointer;
  padding: 8px 15px;
  color: #495060;
  font-size: 12px;
}
.bell-select .bell-select-dropdown .bell-select-dropdown-list .bell-select-dropdown-item:hover {
  background-color: #f3f3f3;
}
.bell-select .bell-select-dropdown .bell-select-dropdown-list .bell-select-dropdown-item.bell-focus {
  background-color: #f3f3f3;
}
.bell-select .bell-select-dropdown .bell-select-dropdown-list .bell-select-dropdown-item.bell-active {
  color: #fff;
  background: rgba(45, 140, 240, 0.9);
}
.bell-select-small .bell-select-button {
  height: 24px;
  line-height: 24px;
}
.bell-select-small .bell-select-button .bell-select-value,
.bell-select-small .bell-select-button .bell-select-placeholder {
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  padding: 0px 15px;
}
.bell-select-small .bell-select-dropdown {
  max-height: 200px;
  top: 28px;
}
.bell-select-small .bell-select-dropdown .bell-select-dropdown-list {
  padding: 5px 0;
}
.bell-select-small .bell-select-dropdown .bell-select-dropdown-list .bell-select-dropdown-item {
  padding: 8px 15px;
}
.bell-select-large .bell-select-button {
  height: 36px;
  line-height: 36px;
}
.bell-select-large .bell-select-button .bell-select-value,
.bell-select-large .bell-select-button .bell-select-placeholder {
  height: 36px;
  line-height: 36px;
  font-size: 14px;
  padding: 0px 15px;
}
.bell-select-large .bell-select-button .bell-select-value {
  font-size: 14px;
}
.bell-select-large .bell-select-dropdown {
  max-height: 200px;
  top: 40px;
}
.bell-select-large .bell-select-dropdown .bell-select-dropdown-list {
  padding: 5px 0;
}
.bell-select-large .bell-select-dropdown .bell-select-dropdown-list .bell-select-dropdown-item {
  padding: 8px 15px;
  font-size: 14px;
}
body {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}
