<div
class="${prefix}message
{{#if status}} ${prefix}message-{{status}}{{/if}}
{{#if center}} ${prefix}message-center{{/if}}
{{#if closable}} ${prefix}message-with-close{{/if}}"
>
  <Icon
    name="{{
      status === RAW_TYPE_SUCCESS
        ? 'checkmark-circle'
        : status === RAW_TYPE_WARNING
          ? 'alert'
          : status === RAW_TYPE_ERROR
            ? 'close-circle'
            : 'information-circle'
    }}"
    size="0"
    className="${prefix}message-icon"
  />

  <span class="${prefix}message-text">
    {{content}}
  </span>

  {{#if closable}}
    <Icon
      name="close"
      size="0"
      className="${prefix}message-close"
      on-click.native="hide()"
    />
  {{/if}}
</div>