$alert-padding-horizontal = 15px
$alert-padding-vertical = 8px

$alert-title-content-gap = 4px

$alert-close-size = floor($font-size-default * $ui-multiple-line-height)
$alert-close-size-with-title = floor($font-size-large * $ui-multiple-line-height)

$alert-status-icon-gap = 8px
$alert-status-icon-top = 2px

$alert-status-icon-gap-with-title = 10px
$alert-status-icon-top-with-title = 2px

alert-brand-style(style)
  ui-set('border-color', style['border-color'])
  ui-set('background-color', style['bg-color'])

  {$selector-class-prefix + '-alert-status-icon'}
    ui-set('color', style['color'])

{$selector-class-prefix + '-alert'}
  border 1px solid
  position relative
  box-sizing border-box
  border-radius $border-radius-default
  line-height $ui-multiple-line-height
  padding $alert-padding-vertical $alert-padding-horizontal
  transition opacity $form-control-transition-duration

  ui-connect(
    hash: $status-brand-hash,
    each: alert-brand-style
  )

{$selector-class-prefix + '-alert-banner'}
  border 0
  border-radius 0

{$selector-class-prefix + '-alert-status-icon'}
  position absolute
  left $alert-padding-horizontal
  top $alert-padding-vertical + $alert-status-icon-top
  font-size $message-status-icon-size-default

{$selector-class-prefix + '-alert-with-title'}
  > {$selector-class-prefix + '-alert-status-icon'}
    top $alert-padding-vertical + $alert-status-icon-top-with-title
    font-size $message-status-icon-size-large

  > {$selector-class-prefix + '-alert-close'}
    height $alert-close-size-with-title
    min-width $alert-close-size-with-title

{$selector-class-prefix + '-alert-with-icon'}
  padding-left $alert-padding-horizontal + $message-status-icon-size-default + $alert-status-icon-gap

  &{$selector-class-prefix + '-alert-with-title'}
    padding-left $alert-padding-horizontal + $message-status-icon-size-large + $alert-status-icon-gap-with-title

{$selector-class-prefix + '-alert-title'}
  color $brand-title
  font-size $font-size-large
  white-space nowrap

  + {$selector-class-prefix + '-alert-content'}
    margin-top $alert-title-content-gap

{$selector-class-prefix + '-alert-content'}
  color $brand-content
  font-size $font-size-default

{$selector-class-prefix + '-alert-close'}
  position absolute
  right $alert-padding-horizontal
  top $alert-padding-vertical

  color $brand-close-color
  font-size $font-size-small
  height $alert-close-size
  min-width $alert-close-size

  display flex
  justify-content flex-end
  align-items center

  transition color $form-control-transition-duration

  user-select none
  ui-clickable()

  &:hover
    color $brand-close-color-hover

{$selector-class-prefix + '-alert-close-icon'}
  font-size $message-close-icon-size

{$selector-class-prefix + '-alert-with-close'}
  > {$selector-class-prefix + '-alert-title'}
    margin-right $alert-close-size-with-title + $ui-icon-text-gap

  > {$selector-class-prefix + '-alert-content'}
    margin-right $alert-close-size + $ui-icon-text-gap

  > {$selector-class-prefix + '-alert-title'} + {$selector-class-prefix + '-alert-content'}
    margin-right 0
