
<div class="${prefix}color-picker-rgb-input">
  <Input
    block
    size="small"
    value="{{red}}"
    align="center"
    on-change="onChange($event, 'redText', $data.value)"
    on-blur="onSubmit()"
    on-enter="onSubmit()"
  />
  <Input
    block
    size="small"
    value="{{green}}"
    align="center"
    on-change="onChange($event, 'greenText', $data.value)"
    on-blur="onSubmit()"
    on-enter="onSubmit()"
  />
  <Input
    block
    size="small"
    value="{{blue}}"
    align="center"
    on-change="onChange($event, 'blueText', $data.value)"
    on-blur="onSubmit()"
    on-enter="onSubmit()"
  />
  {{#if alpha != null}}
    <Input
      block
      size="small"
      value="{{alphaPercent}}"
      align="center"
      on-change="onChange($event, 'alphaText', $data.value)"
      on-blur="onSubmit()"
      on-enter="onSubmit()"
    />
  {{/if}}
</div>