@import '../../../env'

$avatar-bg-color = #ccc

{$selector-class-prefix + '-avatar'}
  display inline-flex
  align-items center
  justify-content center
  overflow hidden
  position relative
  background-color $avatar-bg-color
  border-radius $border-radius-default
  transition background-color .2s

  > img
    width 100%
    height 100%

{$selector-class-prefix + '-avatar-image'}
  background-color transparent

{$selector-class-prefix + '-avatar-clickable'}
  ui-clickable()

{$selector-class-prefix + '-avatar-text'}
  color $brand-white
  position absolute
  left 50%
  white-space nowrap
  transform-origin 0 center

{$selector-class-prefix + '-avatar-circle'}
  border-radius $border-radius-circle