.make-row {
    position: relative;
    margin-left: 0;
    margin-right: 0;
    height: auto;
    .clearfix;
}

.grid-col-span(@class) {
    .col(@index) {
        @item: ~".bell-col-span@{class}-@{index}";
        .col((@index + 1), @item);
    }
    .col(@index, @list) when (@index =< @grid-columns) {
        @item: ~".bell-col-span@{class}-@{index}";
        .col((@index + 1), ~"@{list}, @{item}");
    }
    .col(@index, @list) when (@index > @grid-columns) {
        @{list} {
            float: left;
            flex: 0 0 auto;
        }
    }
    .col(1);
}

.loop-grid-col(@index, @class) when (@index > 0) {
    .bell-col-span@{class}-@{index} {
        display: block;
        width: percentage((@index / @grid-columns));
    }
    .bell-col@{class}-push-@{index} {
        left: percentage((@index / @grid-columns));
    }
    .bell-col@{class}-pull-@{index} {
        right: percentage((@index / @grid-columns));
    }
    .bell-col@{class}-offset-@{index} {
        margin-left: percentage((@index / @grid-columns));
    }
    .bell-col@{class}-order-@{index} {
        order: @index;
    }
    .loop-grid-col((@index - 1), @class);
}

.loop-grid-col(@index, @class) when (@index = 0) {
    .bell-col-span-span@{class}-@{index} {
        display: none;
    }
    .bell-col-span@{class}-push-@{index} {
        left: auto;
    }
    .bell-col-span@{class}-pull-@{index} {
        right: auto;
    }
}

.make-grid(@class: ~'') {
    .grid-col-span(@class);
    .loop-grid-col(@grid-columns, @class);
}

