@import '../../../env'

$backtop-size = 40px
$backtop-icon-size = 24px

{$selector-class-prefix + '-backtop'}
  position fixed
  right $layout-padding-horizontal
  bottom $layout-padding-vertical
  opacity 0
  display none
  text-align center
  box-shadow $brand-message-shadow
  width $backtop-size
  height $backtop-size
  line-height $backtop-size
  border-radius $border-radius-default
  transition opacity .3s, background-color .3s
  box-sizing border-box

  user-select none
  ui-clickable()

  background-color $brand-text-mask-bg-color

  &:hover
    background-color $brand-text-mask-bg-color-hover

  {$selector-class-prefix + '-icon'}
    color $brand-white
    font-size $backtop-icon-size
    line-height inherit

{$selector-class-prefix + '-backtop-visible'}
  display block

{$selector-class-prefix + '-backtop-fade'}
  opacity 1



