@import '../../../env'

{$selector-class-prefix + '-row'}
  display flex
  flex-flow row nowrap

{$selector-class-prefix + '-row-auto-wrap'}
  flex-wrap wrap

{$selector-class-prefix + '-row-justify-start'}
  justify-content flex-start

{$selector-class-prefix + '-row-justify-end'}
  justify-content flex-end

{$selector-class-prefix + '-row-justify-center'}
  justify-content center

{$selector-class-prefix + '-row-justify-space-around'}
  justify-content space-around

{$selector-class-prefix + '-row-justify-space-between'}
  justify-content space-between

{$selector-class-prefix + '-row-align-top'}
  align-items flex-start

{$selector-class-prefix + '-row-align-middle'}
  align-items center

{$selector-class-prefix + '-row-align-bottom'}
  align-items flex-end