@import '../../../env'

$cascader-options-min-width = 111px
$cascader-options-min-height = 180px

select-size-style(size)

  ui-set('font-size', size['font-size'])
  ui-set('min-height', size['height'])
  ui-set('padding-right', $ui-horizontal-gap + $select-close-icon-size + size['icon-right'])

  {$selector-class-prefix + '-cascader-value'},
  {$selector-class-prefix + '-cascader-placeholder'}
    ui-set('padding-left', size['padding-horizontal'])

  {$selector-class-prefix + '-cascader-arrow-icon'},
  {$selector-class-prefix + '-cascader-clear-icon'}
    ui-set('right', size['icon-right'])

select-brand-style(style)
  ui-form-button-brand(
    style,
    $selector-class-prefix + '-cascader-enabled',
    $selector-class-prefix + '-cascader-opened'
  )

{$selector-class-prefix + '-cascader'}
  width $ui-form-element-width
  box-sizing border-box
  user-select none
  text-align left

  ui-focusable()

  ui-connect(
    hash: $form-button-size-hash,
    each: select-size-style
  )
  ui-connect(
    hash: $status-brand-hash,
    each: select-brand-style
  )

{$selector-class-prefix + '-cascader-overlay'}
  {$selector-class-prefix + '-empty'}
    margin $empty-content-margin-vertical 0

{$selector-class-prefix + '-cascader-options'}
  min-width $cascader-options-min-width
  min-height $cascader-options-min-height
  max-height $overlay-max-height

{$selector-class-prefix + '-cascader-block'}
  ui-flex-block()

{$selector-class-prefix + '-cascader-overlay'}
  display flex

{$selector-class-prefix + '-cascader-options'}
  + {$selector-class-prefix + '-cascader-options'}
    border-left 1px solid $brand-divider

{$selector-class-prefix + '-cascader-option'}
  display flex
  justify-content space-between
  align-items center

{$selector-class-prefix + '-cascader-option-text'}
  display flex
  align-items center

{$selector-class-prefix + '-cascader-option-expand'},
{$selector-class-prefix + '-cascader-option-loading'}
  font-size inherit
  margin-left $ui-icon-text-gap

{$selector-class-prefix + '-cascader-option-loading'}
  color $brand-primary

{$selector-class-prefix + '-cascader-options-empty'}
  width 100%
  display flex
  justify-content center
  align-items center

ui-form-button(
  $selector-class-prefix + '-cascader',
  $selector-class-prefix + '-cascader-enabled',
  $selector-class-prefix + '-cascader-disabled',
  $selector-class-prefix + '-cascader-opened',
  $selector-class-prefix + '-cascader-with-clear',
  $selector-class-prefix + '-cascader-reversed',
  '',
  $selector-class-prefix + '-cascader-value',
  $selector-class-prefix + '-cascader-placeholder',
  $selector-class-prefix + '-cascader-arrow-icon',
  $selector-class-prefix + '-cascader-clear-icon',
  $selector-class-prefix + '-cascader-arrow-icon',
  $select-close-icon-size
)

ui-dropdown-overlay(
  $selector-class-prefix + '-cascader-overlay',
  $selector-class-prefix + '-cascader-options',
  $selector-class-prefix + '-cascader-option',
  $selector-class-prefix + '-cascader-option-checked',
  $selector-class-prefix + '-cascader-option-enabled',
  $selector-class-prefix + '-cascader-option-disabled',
  '',
  $brand-primary,
  $brand-bg-active
)