@import '../../../env'

$cascader-options-min-width = 111px
$cascader-options-min-height = 180px

select-size-style(size)

  ui-set('font-size', size['font-size'])
  ui-set('min-height', size['height'])
  ui-set('padding-right', $ui-horizontal-gap + size['icon-size'] + size['icon-right'])

  {$selector-class-prefix + '-cascader-value'},
  {$selector-class-prefix + '-cascader-placeholder'},
  {$selector-class-prefix + '-cascader-search-normal-input'}
    ui-set('padding-left', size['padding-horizontal'])

  {$selector-class-prefix + '-cascader-search-append-input'},
  {$selector-class-prefix + '-cascader-value-tag'}
    ui-set('height', size['tag-height'])

  {$selector-class-prefix + '-cascader-values'}
    ui-set('gap', size['tag-gap-vertical'] size['tag-gap-horizontal'])
    ui-set('padding', size['padding-vertical'] 0 size['padding-vertical'] $ui-horizontal-gap)

  {$selector-class-prefix + '-cascader-arrow-icon'},
  {$selector-class-prefix + '-cascader-clear-icon'}
    ui-set('font-size', size['icon-size'])
    ui-set('right', size['icon-right'])

select-brand-style(style)
  ui-form-button-brand(
    style,
    $selector-class-prefix + '-cascader-enabled',
    $selector-class-prefix + '-cascader-opened'
  )

{$selector-class-prefix + '-cascader'}
  width $ui-form-element-width
  box-sizing border-box
  user-select none
  text-align left

  ui-focusable()

  ui-connect(
    hash: $form-button-size-hash,
    each: select-size-style
  )
  ui-connect(
    hash: $status-brand-hash,
    each: select-brand-style
  )

{$selector-class-prefix + '-cascader-search-normal-input'},
{$selector-class-prefix + '-cascader-search-append-input'}
  ui-input-el()
  border 0
  padding 0
  max-width 100%

{$selector-class-prefix + '-cascader-search-normal-input'}
  display block

{$selector-class-prefix + '-cascader-search-append-input'}
  width 4px

{$selector-class-prefix + '-cascader-search-append-input'},
{$selector-class-prefix + '-cascader-value-tag'}
  vertical-align top

{$selector-class-prefix + '-cascader-search-input-mirror'}
  position fixed
  top -1000px
  left -1000px

{$selector-class-prefix + '-cascader-search-list'}
  flex 1

{$selector-class-prefix + '-cascader-search-item'}
  display flex
  align-items center

{$selector-class-prefix + '-cascader-search-item-single'}
  justify-content space-between

{$selector-class-prefix + '-cascader-search-checkbox'}
  margin-right $ui-icon-text-gap

{$selector-class-prefix + '-cascader-search-check-icon'}
  color $brand-primary

{$selector-class-prefix + '-cascader-search-empty'}
  display flex
  justify-content center
  flex 1

{$selector-class-prefix + '-cascader-values'}
  display flex
  flex-wrap wrap

{$selector-class-prefix + '-cascader-overlay'}
  {$selector-class-prefix + '-empty'}
    margin $empty-content-margin-vertical 0

{$selector-class-prefix + '-cascader-options'}
  min-width $cascader-options-min-width
  min-height $cascader-options-min-height
  max-height $overlay-max-height

{$selector-class-prefix + '-cascader-block'}
  ui-flex-block()

{$selector-class-prefix + '-cascader-overlay'}
  display flex

{$selector-class-prefix + '-cascader-options'}
  + {$selector-class-prefix + '-cascader-options'}
    border-left 1px solid $brand-divider

{$selector-class-prefix + '-cascader-option'}
  display flex
  justify-content space-between
  align-items center

{$selector-class-prefix + '-cascader-option-text'}
  display flex
  align-items center

  {$selector-class-prefix + '-checkbox'}
    margin-right $ui-icon-text-gap

{$selector-class-prefix + '-cascader-option-expand'},
{$selector-class-prefix + '-cascader-option-loading'}
  font-size inherit
  margin-left $ui-icon-text-gap

{$selector-class-prefix + '-cascader-option-loading'}
  color $brand-primary

{$selector-class-prefix + '-cascader-options-empty'}
  width 100%
  display flex
  justify-content center
  align-items center

ui-form-button(
  $selector-class-prefix + '-cascader',
  $selector-class-prefix + '-cascader-enabled',
  $selector-class-prefix + '-cascader-disabled',
  $selector-class-prefix + '-cascader-opened',
  $selector-class-prefix + '-cascader-with-clear',
  $selector-class-prefix + '-cascader-reversed',
  $selector-class-prefix + '-cascader-values',
  $selector-class-prefix + '-cascader-value',
  $selector-class-prefix + '-cascader-placeholder',
  $selector-class-prefix + '-cascader-arrow-icon',
  $selector-class-prefix + '-cascader-clear-icon',
  $selector-class-prefix + '-cascader-arrow-icon'
)

{$selector-class-prefix + '-cascader-searchable'}
  &{$selector-class-prefix + '-cascader-enabled'}
    cursor text

ui-dropdown-overlay(
  $selector-class-prefix + '-cascader-overlay',
  $selector-class-prefix + '-cascader-options',
  $selector-class-prefix + '-cascader-option',
  $selector-class-prefix + '-cascader-option-selected',
  $selector-class-prefix + '-cascader-option-enabled',
  $selector-class-prefix + '-cascader-option-disabled',
  '',
  $brand-primary,
  $brand-bg-active
)

ui-dropdown-overlay-list(
  $selector-class-prefix + '-cascader-search-list',
  $selector-class-prefix + '-cascader-search-item',
  $selector-class-prefix + '-cascader-search-item-selected',
  $selector-class-prefix + '-cascader-search-item-enabled',
  $selector-class-prefix + '-cascader-search-item-disabled',
  '',
  $brand-primary,
  $brand-bg-active
)