{{#if visible}}
  <portal>
    <div
      transition="drawer"
      class="${prefix}drawer
      {{#if placement}} ${prefix}drawer-{{placement}}{{/if}}
      {{#if className}} {{className}}{{/if}}"

      {{#if style}}
        style="{{style}}"
      {{/if}}
    >

      {{#if showMask}}
        <div
          class="${prefix}drawer-mask"
          {{#if maskClosable}}
            on-click="close()"
          {{/if}}
        ></div>
      {{/if}}

      <div
        ref="wrapper"
        class="${prefix}drawer-wrapper"
        style="{{wrapperStyle}}"
      >
        {{#if @title || @extra || closable}}
          <div class="${prefix}drawer-header">
            <div class="${prefix}drawer-title-wrapper">
              {{#if closable}}
                <Icon
                  name="close-line"
                  className="${prefix}drawer-close"
                  on-click.native="close()"
                />
              {{/if}}
              <div class="${prefix}drawer-title">
                <slot name="title" />
              </div>
            </div>
            {{#if @extra}}
              <div class="${prefix}drawer-extra">
                <slot name="extra" />
              </div>
            {{/if}}
          </div>
        {{/if}}

        <div class="${prefix}drawer-body">
          <slot name="content" />
        </div>
      </div>

    </div>
  </portal>
{{/if}}