<div
class="${prefix}dropdown-item
{{#if divided}} ${prefix}dropdown-item-divided{{/if}}
{{#if active}} ${prefix}dropdown-item-active{{/if}}
{{#if disabled}} ${prefix}dropdown-item-disabled
{{else}} ${prefix}dropdown-item-enabled
{{/if}}
{{#if className}} {{className}}{{/if}}"

{{#if style}}
  style="{{style}}"
{{/if}}

{{#if !disabled}}
  on-click="click.dropdownItem"
{{/if}}
>
  <slot />
</div>