<Popover
  placement="{{placement}}"
  trigger="{{trigger}}"
  visible="{{visible}}"
  gap="5"
>
  <slot />

  <div
    slot="overlay"
    class="${prefix}dropdown-overlay"
    {{#if height > 0}}
      style="max-height: {{height}}px;"
    {{/if}}
  >
    <slot name="overlay" />
  </div>
</Popover>