<Popover
  ref="popover"
  placement="{{placement}}"
  trigger="{{trigger}}"
  visible="{{visible}}"
  gap="5"
>
  <slot />

  <div
    slot="overlay"
    class="${prefix}dropdown-overlay
    {{#if className}} {{className}}{{/if}}"

    {{#if maxHeight || style}}
      style="{{[
        maxHeight
          ? { maxHeight: maxHeight + 'px' }
          : undefined,
        style
      ]}}"
    {{/if}}
  >
    <slot name="overlay" />
  </div>
</Popover>